@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.75;
  background: #fff;
  min-width: 800px;
  -webkit-font-smoothing: antialiased;
}
.break-word {
  word-break: break-word;
}
.center {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
@media (max-width: 960px) {
  .center {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 800px) {
  .center {
    padding-left: 20px;
    padding-right: 20px;
  }
}
a {
  color: #EE350F;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding-left: 30px;
}
li {
  margin: 5px 0;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 500;
}
h1,
.h1 {
  font-size: 38px;
  line-height: 1.2;
}
h1:first-child,
.h1:first-child {
  margin-top: 0;
}
h2,
.h2 {
  font-size: 32px;
  line-height: 1.3;
  margin: 25px 0 15px;
}
h3,
.h3 {
  font-size: 26px;
  line-height: 1.4;
  margin: 15px 0;
}
h4,
.h4 {
  font-size: 20px;
  margin: 15px 0;
  line-height: 1.4;
}
h5,
.h5 {
  font-size: 18px;
  line-height: 1.3;
}
h1.code,
h2.code,
h3.code,
h4.code,
h5.code,
h1 .code,
h2 .code,
h3 .code,
h4 .code,
h5 .code {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: normal !important;
}
blockquote {
  font-style: italic;
  margin: 2em 0;
  padding: 10px 0 10px 20px;
  border-left: 3px solid #000;
}
main {
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
main img {
  max-width: 100%;
}
.centered,
.text-align-center {
  text-align: center;
}
.large-text {
  font-size: 18px;
}
.row {
  display: flex;
}
.row .col-50 {
  width: 50%;
}
.github-buttons {
  font-size: 0;
  line-height: 18px;
}
.github-buttons img {
  width: auto;
  height: 18px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.github-buttons a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 10px;
}
.github-buttons a span {
  font-size: 15px;
}
.github-buttons a:hover {
  opacity: 0.7;
}
.github-buttons a:first-child {
  margin-left: 0px;
}
.important-note {
  padding: 5px 10px 5px 15px;
  background: #fde9e5;
  color: #000;
  border-left: 3px solid #EE350F;
  transition-duration: 400ms;
}
.important-note ul {
  margin: 0;
  padding-left: 20px;
}
.color-example {
  display: inline-block;
  border: 1px solid #eee;
  width: 100px;
  height: 44px;
}
.carbon {
  width: 300px;
  font-size: 13px;
  line-height: 1.4;
  padding: 8px 10px 8px;
  overflow: hidden;
  border-radius: 3px;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-height: 103px;
}
.carbon a {
  color: #333;
  display: block;
  text-decoration: none;
}
.carbon img {
  display: block;
  width: 130px;
  height: 100px;
}
.carbon .carbon-img {
  display: block;
  float: left;
}
.carbon .carbon-text {
  margin-top: 3px;
  margin-left: 140px;
}
.carbon .carbon-poweredby {
  opacity: 0.8;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 140px;
}
.carbon-placeholder {
  text-align: left;
  padding-top: 30px;
}
#carbonads + .carbon-placeholder {
  display: none;
}
.f7-demo-icons {
  display: flex;
  flex-wrap: wrap;
}
.f7-demo-icons .f7-demo-icon-cell {
  float: left;
  width: 20%;
  text-align: center;
  margin-bottom: 40px;
}
.f7-demo-icons .f7-demo-icon {
  height: 28px;
}
.f7-demo-icons .f7-demo-icon-label {
  font-size: 11px;
  margin-top: 10px;
}
.patreon-button {
  color: #fff;
  font-size: 0;
  line-height: 22px;
  padding: 0 10px;
  display: inline-block;
  border-radius: 11px;
  background: rgba(255, 255, 255, 0.1);
  transition: 200ms;
}
.patreon-button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.patreon-button .patreon-logo {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
.patreon-button .patreon-logo:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.2px;
  height: 16px;
  content: '';
  background: #052D49;
}
.patreon-button .patreon-logo:after {
  width: 12px;
  height: 12px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  content: '';
  right: 0;
  top: 0;
}
.patreon-button .patreon-text {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin-left: 5px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
header {
  background: #EE350F;
  font-size: 14px;
  line-height: 1.5;
}
header .logo {
  background: url('../i/logo.svg') no-repeat center;
  background-size: contain;
  display: block;
}
header .carbon {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.02);
}
header .carbon a {
  color: #fff;
}
.internal-header {
  height: 160px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  z-index: 500;
}
.internal-header > .center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.internal-header > .center:before {
  position: absolute;
  content: '';
  border-left: 180px solid transparent;
  border-right: 500px solid transparent;
  border-top: 160px solid #FB3E17;
  left: 150px;
  bottom: 0;
  transform-origin: left bottom;
  z-index: -1;
}
.internal-header .logo-holder {
  width: 160px;
  margin-right: 30px;
}
.internal-header .logo {
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  transition: 600ms;
  transition-property: box-shadow, transform;
  border: 4px solid #fff;
}
.internal-header .logo:hover {
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.internal-header .header-content {
  width: 100%;
  flex-shrink: 10;
  margin-right: 10px;
}
.internal-header .title {
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
}
.internal-header .title .version {
  vertical-align: super;
  font-size: 12px;
  font-weight: 500;
  display: inline;
}
.internal-header ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: -10px;
}
.internal-header ul.nav li {
  margin: 0;
  position: relative;
}
.internal-header ul.nav li:hover ul {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(-50%) translateY(0px);
}
.internal-header ul.nav ul {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  z-index: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 5px;
  left: 50%;
  transition: 200ms;
  transform: translateX(-50%) translateY(10px);
  top: 100%;
  margin-top: 10px;
}
.internal-header ul.nav ul:before {
  content: '';
  height: 10px;
  bottom: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
.internal-header ul.nav ul:after {
  content: '';
  width: 0;
  height: 0;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
}
.internal-header ul.nav ul li + li {
  margin-top: 6px;
}
.internal-header ul.nav ul a {
  color: #555;
  text-decoration: none;
}
.internal-header ul.nav ul a:hover {
  color: #EE350F;
}
.internal-header ul.nav > li + li {
  margin-left: 5px;
}
.internal-header ul.nav > li > a {
  color: inherit;
  text-decoration: none;
  padding: 0 10px;
  display: block;
  border-radius: 10px;
}
.internal-header ul.nav > li:hover > a,
.internal-header ul.nav > li.active > a {
  background: rgba(0, 0, 0, 0.1);
}
.internal-header .carbon {
  margin-left: auto;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
}
.internal-header .patreon-github {
  display: flex;
  margin-top: 20px;
  margin-bottom: -10px;
}
.internal-header .patreon-github .patreon-button {
  margin-left: -10px;
}
.internal-header .patreon-github .patreon-button:not(:hover) {
  background: none;
}
.internal-header .patreon-github .github-buttons {
  margin-left: 20px;
  line-height: 22px;
}
.internal-header .patreon-github .github-buttons a span {
  font-size: 12px;
}
.bsa-cpc {
  background: #d6300d;
  height: 30px;
  position: relative;
  z-index: 100;
}
.bsa-cpc #_default_ {
  margin: 0px auto;
  box-sizing: border-box;
  height: 30px;
  position: relative;
  padding: 0 40px;
  padding-left: 230px;
  max-width: 1200px;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.bsa-cpc .default-ad {
  display: none;
}
.bsa-cpc ._default_ {
  display: inline;
  overflow: hidden;
  line-height: 1;
}
.bsa-cpc ._default_ > * {
  vertical-align: middle;
}
.bsa-cpc a {
  color: #fff;
  text-decoration: none;
}
.bsa-cpc a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.bsa-cpc .default-image {
  display: none;
}
.bsa-cpc .default-title:after {
  content: " — ";
}
.bsa-cpc .default-title,
.bsa-cpc .default-description {
  display: inline;
}
.bsa-cpc .default-title {
  position: relative;
  margin-left: 0;
}
.bsa-cpc .default-title:before {
  position: relative;
  top: -1px;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: #fff;
  color: #EE350F;
  content: "Sponsor";
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  margin-right: 8px;
  display: inline-block;
}
@media (max-width: 960px) {
  .internal-header {
    height: auto;
  }
  .internal-header > .center {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .internal-header > .center:before {
    left: 50px;
  }
  .internal-header .header-content {
    max-width: 100%;
    min-width: 0;
    width: auto;
  }
  .internal-header .logo-holder {
    width: 120px;
  }
  .internal-header .logo {
    width: 120px;
    height: 120px;
    margin-top: 0;
  }
  .internal-header .title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .internal-header .patreon-github {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .bsa-cpc {
    z-index: 100;
    position: relative;
  }
  .bsa-cpc #_default_ {
    padding-left: 180px;
  }
}
@media (max-width: 900px) {
  .internal-header > .center {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .internal-header > .center:before {
    left: 50px;
  }
  .internal-header .patreon-github {
    display: block;
  }
  .internal-header .patreon-github .github-buttons {
    margin-left: 0;
    margin-top: 5px;
  }
  .bsa-cpc {
    z-index: 100;
    position: relative;
  }
  .bsa-cpc #_default_ {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.home-main {
  text-align: center;
  margin-top: 0 !important;
  font-size: 18px;
}
.home-main .logo {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../i/logo.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.home-main h1 {
  font-size: 47px;
}
.home-main .buttons a {
  text-decoration: none;
  border-radius: 22px;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  margin: 0 20px;
  background: #ee350f;
  color: #fff;
  transition: 200ms;
}
.home-main .carbon {
  text-align: left;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
body.body-docs .center {
  max-width: none;
}
body.body-docs main > .center {
  max-width: none;
  display: flex;
}
.docs-content {
  flex-shrink: 10;
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  width: 100%;
}
.docs-content h1 {
  margin-top: 0;
}
.docs-content .with-device {
  padding-right: 360px;
}
.docs-content .with-device .device-spacer {
  height: 400px;
}
.docs-content h2[id],
.docs-content h3[id] {
  cursor: pointer;
}
.ios-only,
.md-only {
  background: #f4f4f4;
  padding: 10px 10px;
  font-weight: bold;
  line-height: 1;
  border-left: 3px solid #000;
}
.ios-only:before,
.md-only:before {
  width: 16px;
  height: 16px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
}
.ios-only:before {
  background: url(../i/logo-apple-black.png) no-repeat center;
  background-size: 100% auto;
  top: -2px;
}
.md-only:before {
  background: url(../i/logo-android-black.png) no-repeat center;
  background-size: 100% auto;
  top: -1px;
}
span.ios-only,
span.md-only,
b.md-only,
b.ios-only {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
span.ios-only:before,
span.md-only:before,
b.md-only:before,
b.ios-only:before {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  top: -1px;
}
.docs-demo-device {
  position: absolute;
  right: 20px;
  top: 0;
  background: #111;
  z-index: 1000;
  margin-top: 40px;
}
.docs-demo-device:not(.docs-inline-device) {
  display: none;
}
.docs-demo-device:not(.docs-inline-device).visible {
  display: block;
}
.docs-demo-device.docs-demo-device-ios {
  padding: 80px 15px;
  border-radius: 55px;
  box-shadow: 0px 0px 0px 5px #aaa;
}
.docs-demo-device.docs-demo-device-ios iframe {
  width: 320px;
  height: 548px;
}
.docs-demo-device.docs-demo-device-ios:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  bottom: 20px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 3px solid #333;
}
.docs-demo-device.docs-demo-device-ios:before {
  content: '';
  width: 60px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  background: #333;
  top: 50px;
}
.docs-demo-device.docs-demo-device-android {
  padding: 30px 10px 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 2px #aaa;
}
.docs-demo-device.docs-demo-device-android .docs-demo-device-iframe {
  border-radius: 12px;
}
.docs-demo-device.docs-demo-device-android iframe {
  width: 330px;
  height: 600px;
}
.docs-demo-device.docs-demo-device-android:before {
  content: '';
  width: 60px;
  height: 5px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  background: #333;
  top: 12px;
}
.docs-demo-device.docs-demo-device-android .docs-demo-device-android-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 0;
}
.docs-demo-device.docs-demo-device-android .docs-demo-device-android-buttons > div {
  margin: 0 30px;
}
.docs-demo-device.docs-demo-device-android .circle,
.docs-demo-device.docs-demo-device-android .square,
.docs-demo-device.docs-demo-device-android .triangle {
  display: inline-block;
  vertical-align: middle;
}
.docs-demo-device.docs-demo-device-android .circle,
.docs-demo-device.docs-demo-device-android .square {
  width: 20px;
  height: 20px;
  border: 2px solid #666;
}
.docs-demo-device.docs-demo-device-android .circle {
  border-radius: 50%;
}
.docs-demo-device.docs-demo-device-android .square {
  border-radius: 2px;
}
.docs-demo-device.docs-demo-device-android .triangle {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #666;
  position: relative;
  transform: rotate(-90deg);
  border-radius: 2px;
}
.docs-demo-device.docs-demo-device-android .triangle:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #000;
  position: absolute;
  left: 0px;
  top: 4px;
  transform: translate(-50%, 0%);
  border-radius: 2px;
}
.docs-demo-device .docs-demo-device-buttons {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-bottom: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 0;
  white-space: nowrap;
  transform: translateX(-50%);
}
.docs-demo-device .docs-demo-device-buttons a {
  width: 80px;
  background: #f3f3f3;
  color: #555;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  transition: 200ms;
  cursor: pointer;
  text-decoration: none;
}
.docs-demo-device .docs-demo-device-buttons a:first-child {
  border-radius: 10px 0 0 10px;
}
.docs-demo-device .docs-demo-device-buttons a:last-child {
  border-radius: 0 10px 10px 0;
}
.docs-demo-device .docs-demo-device-buttons a:hover {
  background: rgba(238, 53, 15, 0.1);
}
.docs-demo-device .docs-demo-device-buttons a.active {
  background-color: #EE350F;
  color: #fff;
}
.docs-demo-device .docs-demo-device-iframe {
  position: relative;
  overflow: hidden;
}
.docs-demo-device iframe {
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 4px;
  overflow: hidden;
}
.docs-demo-device .fade-overlay {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 200ms;
  pointer-events: none;
  z-index: 100;
}
.docs-demo-device .fade-overlay.visible {
  transition: 0ms;
  opacity: 1;
  visibility: visible;
}
.docs-demo-device.docs-inline-device {
  width: 320px;
  position: relative;
}
.method-wrap {
  padding: 20px;
  margin: 1em 0px;
  border-left: 3px solid #ccc;
  background: #fafafa;
}
.method-wrap + .method-wrap {
  margin-top: 30px;
}
.method-wrap p:first-child {
  margin-top: 0;
}
.method-wrap p:last-child,
.method-wrap ul:last-child {
  margin-bottom: 0;
}
.method-wrap .method-parameters {
  font-size: 14px;
}
.method-wrap .method-parameters + .method-returns {
  margin-top: -10px;
}
.method-wrap .method-returns {
  font-style: normal;
  font-style: italic;
  font-size: 14px;
}
p.method,
span.method {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #000;
  font-weight: 500;
}
p.method span,
span.method span {
  color: #b72f20;
}
ul.method-parameters {
  margin-top: -10px;
  margin-bottom: 20px;
  padding-left: 30px;
}
ul.method-parameters .parameter {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #b72f20;
  font-weight: 500;
}
ul.method-parameters .parameter-type {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #006700;
  font-weight: 500;
}
.method-returns {
  list-style: none;
}
.docs-index {
  font-size: 14px;
  border-left: 2px solid #666;
  margin: 1em 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  font-weight: 500;
}
.docs-index:empty {
  padding: 0;
  border: none;
}
.docs-index li {
  margin: 5px 0;
  padding-left: 10px;
  position: relative;
}
.docs-index li:before {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background: #000;
  border-radius: 50%;
  opacity: 0.5;
}
.docs-index li:first-child {
  margin-top: 0;
}
.docs-index li:last-child {
  margin-bottom: 0;
}
.docs-index a {
  color: #333;
}
.docs-index ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  margin-left: 20px;
}
.docs-nav {
  width: 200px;
  margin-left: -40px;
  padding-left: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  color: #615353;
  background: #f7f1f1;
  background: #ffffff;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -40px;
  margin-bottom: -40px;
  margin-right: 30px;
}
@media (max-width: 960px) {
  .docs-nav {
    margin-left: -230px;
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    z-index: 50;
  }
  .docs-nav.docs-nav-visible {
    transform: translateX(100%);
    box-shadow: 20px 0 50px rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 800px) {
  .docs-nav {
    margin-left: -220px;
    margin-right: 20px;
  }
}
.docs-nav .title {
  color: #181818;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}
.docs-nav .subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
}
.docs-nav > ul {
  position: relative;
}
.docs-nav > ul > li {
  margin-top: 30px;
}
.docs-nav > ul > li:first-child {
  margin-top: 0;
}
.docs-nav ul {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  list-style: none;
  font-size: 14px;
  transition: 400ms;
}
.docs-nav ul ul ul {
  margin-left: 10px;
}
.docs-nav li {
  margin-bottom: 10px;
  position: relative;
}
.docs-nav li.active:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1000px;
  height: 100%;
  padding: 5px 0;
  background: #EE350F;
  top: 50%;
  transform: translateY(-50%);
}
.docs-nav a {
  color: #3a2b2b;
  text-decoration: none;
  display: block;
  padding-right: 10px;
  position: relative;
}
.docs-nav a:hover {
  color: #EE350F;
}
.docs-nav a.active {
  font-weight: 500;
  color: #fff;
}
.docs-nav .inactive {
  opacity: 0.4;
}
.docs-nav .inactive .inactive {
  opacity: 1;
}
.docs-nav-searchbar {
  margin-left: -10px;
  margin-right: 10px;
  position: relative;
  margin-top: -20px;
  margin-bottom: 20px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 10px;
  z-index: 10;
}
.docs-nav-searchbar .disable-search {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  top: 0;
  z-index: 300;
  display: none;
}
.docs-nav-searchbar .disable-search:after,
.docs-nav-searchbar .disable-search:before {
  content: '';
  display: block;
  height: 2px;
  width: 16px;
  background: #aaa;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -1px;
  transition: 300ms;
}
.docs-nav-searchbar .disable-search:after {
  transform: rotate(45deg);
}
.docs-nav-searchbar .disable-search:before {
  transform: rotate(-45deg);
}
.docs-nav-searchbar input.with-query + .disable-search {
  display: block;
}
.docs-nav-searchbar input[type="search"] {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background: #fff;
  outline: 0;
  display: block;
  height: 30px;
  padding: 0 10px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  border-radius: 15px;
  color: #000;
  transition: 400ms;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  z-index: 200;
  position: relative;
}
.docs-nav-searchbar input[type="search"]:focus,
.docs-nav-searchbar input[type="search"].with-query {
  border-color: transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
.docs-nav-toggle {
  position: absolute;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 0;
  background: #d6300d;
  cursor: pointer;
  width: 36px;
  height: 30px;
  z-index: 100;
  top: 0px;
  margin-left: 100%;
  margin-top: -40px;
  margin-bottom: 10px;
}
@media (min-width: 961px) {
  .docs-nav-toggle {
    display: none;
  }
}
.docs-nav-toggle span {
  display: block;
  height: 3px;
  width: 60%;
  background: #fff;
  position: relative;
  border-radius: 4px;
  top: 6px;
  left: 20%;
  transition: 300ms;
}
.docs-nav-toggle span + span {
  margin-top: 4px;
}
.docs-nav-toggle span:first-child {
  transform-origin: left top;
}
.docs-nav-toggle span:last-child {
  transform-origin: left bottom;
}
.docs-nav-visible .docs-nav-toggle span:first-child {
  transform: translate(4px, -1px) rotate(45deg);
}
.docs-nav-visible .docs-nav-toggle span:last-child {
  transform: translate(4px, 0px) rotate(-45deg);
}
.docs-nav-visible .docs-nav-toggle span:nth-child(2) {
  opacity: 0;
}
.improve-docs-link {
  float: right;
}
.improve-docs-link a {
  color: #000;
  font-size: 16px;
  display: block;
  line-height: 20px;
  height: 20px;
  opacity: 0.4;
  text-decoration: none;
  transition: 200ms;
}
.improve-docs-link a:hover {
  opacity: 1;
}
.improve-docs-link a:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../i/gh-logo.svg) no-repeat center;
  background-size: 18px auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}
table {
  width: 100%;
  color: #333;
  font-size: 14px;
  margin: 1em 0 2em;
}
table th,
table td {
  padding: 8px 5px;
}
table thead {
  text-align: left;
  font-size: 16px;
}
table tbody th,
table tbody td {
  border-top: 1px solid #e4e4e4;
}
table thead + tbody tr:first-child th,
table thead + tbody tr:first-child td {
  border-top-width: 2px;
}
table pre {
  white-space: pre-wrap;
}
table.params-table {
  line-height: 1.4;
}
table.params-table th,
table.params-table td {
  vertical-align: top;
}
table.params-table tbody td:first-child:not([colspan]),
table.params-table tbody td:nth-child(2),
table.params-table tbody td:nth-child(3):not(:last-child) {
  color: #b72f20;
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 500;
}
table.params-table tbody td:nth-child(2) {
  color: #006700;
}
table.params-table tbody td:nth-child(n + 3) {
  word-break: break-word;
}
table.params-table tbody th[colspan="4"],
table.params-table tbody th[colspan="3"] {
  background: #fff;
  text-align: left;
  font-size: 14px;
  background: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
}
table.params-table tbody th[colspan="4"] small,
table.params-table tbody th[colspan="3"] small {
  font-size: 14px;
  font-weight: 500;
}
table.params-table tbody td:last-child:nth-child(3),
table.params-table tbody td:last-child:nth-child(4) {
  width: 50%;
}
table.params-table td p:first-child {
  margin-top: 0;
}
table.params-table td p:last-child {
  margin-bottom: 0;
}
table.params-table tr.subparam-open-row td,
table.params-table tr.subparam-close-row td {
  font-weight: 700;
}
table.params-table tr.subparam-open-row + tr td {
  border-top: none;
}
table.params-table tr.subparam-close-row td {
  border-top: none;
}
table.params-table tr.subparam-row td:first-child {
  padding-left: 2em;
}
table.methods-table {
  line-height: 1.4;
}
table.methods-table th,
table.methods-table td {
  vertical-align: top;
}
table.methods-table tbody td:first-child:not(:last-child) {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #000;
  white-space: nowrap;
  font-weight: 500;
}
table.methods-table tbody td:first-child:not(:last-child) span {
  color: #b72f20;
}
table.methods-table .parameter-type {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #006700;
}
table.methods-table ul.method-parameters {
  margin: 0;
  padding-left: 20px;
}
table.methods-table .method-returns {
  font-style: normal;
  font-style: italic;
}
table.methods-table th[colspan="2"] {
  background: #fff;
  text-align: left;
  font-size: 14px;
  background: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
}
table.methods-table th[colspan="2"] small {
  font-size: 14px;
  font-weight: 500;
}
table.methods-table td p:first-child {
  margin-top: 0;
}
table.methods-table td p:last-child {
  margin-bottom: 0;
}
table.methods-table.dom7-table td {
  vertical-align: top;
}
table.methods-table.dom7-table tbody td:first-child:not(:last-child) {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #000;
  white-space: normal;
  font-weight: 500;
}
table.methods-table.dom7-table tbody td:first-child:not(:last-child) span {
  color: #b72f20;
}
table.methods-table code,
table.params-table code {
  white-space: pre-wrap;
}
table.events-table tbody td:nth-child(2) span,
table.events-table tbody td:nth-child(3) span {
  white-space: nowrap;
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #b72f20;
  font-weight: 500;
  display: block;
}
table.events-table tbody td:nth-child(3) span {
  display: inline-block;
  white-space: normal;
}
table.events-table tbody td:first-child:not([colspan]) {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #000;
  white-space: nowrap;
  font-weight: 500;
}
table.events-table tbody th[colspan] {
  background: #fff;
  text-align: left;
  font-size: 14px;
  background: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
}
table.events-table tbody th[colspan] small {
  font-size: 14px;
  font-weight: 500;
}
table.props-table tbody td:first-child {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
  color: #000;
  white-space: nowrap;
  font-weight: 500;
}
table.double-events-table tr:nth-child(4n - 6) td {
  border: none;
}
table.double-events-table tr:nth-child(4n - 5) {
  background: #fafafa;
}
table.double-events-table tr:nth-child(4n - 4) {
  background: #fafafa;
}
table.double-events-table tr:nth-child(4n - 4) td {
  border: none;
}
pre,
code {
  font-family: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  font-size: 14px;
  color: #333;
  font-weight: normal;
  background: #f5f5f5;
  color: #000;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 500;
}
pre {
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}
pre code {
  padding: 20px;
  background: #253238;
  color: #fff;
  display: block;
  overflow-x: auto;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
.nowrap {
  white-space: nowrap;
}
.important-note code {
  background: rgba(255, 255, 255, 0.8);
}
.important-note pre code {
  background: #253238;
}
.with-device pre code {
  font-size: 13px;
  line-height: 19px;
}
.important-note pre code,
table pre code {
  padding: 5px;
  font-size: 13px;
  line-height: 19px;
  border-radius: 4px;
}
table pre:first-child {
  margin-top: 0;
}
table pre:last-child {
  margin-bottom: 0;
}
code .punctuation {
  color: #86DDFF;
}
code .operator {
  color: #C88FEC;
}
code .keyword {
  color: #C88FEC;
}
code .keyword-block {
  color: #86DDFF;
}
code .function {
  color: #80A8FF;
}
code .string {
  color: #C2E988;
}
code .tag {
  color: #F27076;
}
code .attr-name {
  color: #FFCC63;
  font-style: italic;
}
code .script {
  color: #fff;
}
code .spread {
  color: #fff;
}
code .attr-value {
  color: #C2E988;
}
code .class-name {
  color: #FFCC63;
}
code .comment {
  color: #6c8e9e;
  font-style: italic;
}
code .number,
code .boolean {
  color: #F98C68;
}
code .constant {
  color: #F27076;
}
code .context {
  color: #FF506E;
  font-style: italic;
}
code .built-in {
  color: #FFCC63;
}
code .literal {
  color: #F98C68;
}
code .selector {
  color: #FFCC63;
}
code .property {
  color: #B1CCD7;
}
code .doctype {
  color: #aaa;
}
code.less .variable {
  color: #86DDFF;
}
code.less .url {
  color: #C2E988;
}
