extends ../_internal-template

block vars
  - var activeLink = 'contribute';
  - var title = 'Contribute To Framework7';

block content
  h1 Contribute To Framework7
  p There are few ways how you can help in the development of Framework7 and make it even better:
  h2 Contribute to GitHub project
  p You are always welcome on <a href="https://github.com/framework7io/framework7" target="_blank">Framework7 GitHub project</a> if you may improve Framework7 or any of its parts.
  p Don't hesitate to let us know if you see any way to improve Framework7 or if you found any issue by <a href="https://github.com/framework7io/framework7/issues/new" target="_blank">submitting an issue</a> on GitHub
  h2 Demo Apps & Templates
  p You can create interesting <a href="../templates/">demo apps and templates</a> that may be used as a great start by other developers.
  h2 Advertise Your Service
  p If you are the SaaS company, then the best way to advertise your products and to contribute to Framework7 will be <a href="../templates/">demo apps or templates</a> that use your services
  h2#donate Donate
  h3 Recurring Pledges
  p Recurring pledges come with exclusive perks, e.g. having your name listed in the Framework7 GitHub repository, or have your company logo placed on <a href="/sponsors/">this website</a>, etc:
  ul
    li <a href="https://www.patreon.com/vladimirkharlampidi" target="_blank">Become a backer or sponsor via Patreon</a>
  h3 One-time Donations
  p If you are not comfortable with recurring pledges, we also accept one-time donations via direct wire transfer and crypto currencies:
    ul
      li Our BTC wallet: <b>14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU</b>
      li For direct wire transfer, please contact <a href="mailto:nolimits4web@gmail.com?subject=Framework7 Donation">Vladimir</a> directly
