ul
  li.title 核心库
  li
    a(href="dom.html") DOM7
  li
    a(href="app-layout.html") APP 基本HTML结构
  li
    a(href="rtl-layout.html") 从右向左布局
  li
    a(href="init-app.html") 初始化应用
  li
    a(href="views.html") 视图(Views)
  li
    a(href="pages.html") 页面(Pages)
  li
    a(href="page-callbacks.html") 页面回调
  li
    a(href="linking-pages.html") 页面链接和跳转
  li
    a(href="linking-views.html") 视图链接和跳转
  li.title 组件
  li
    | 导航栏和工具栏 
    ul
      li 
        a(href="navbar-toolbar-layouts.html") 布局类型
      li
        a(href="navbar.html") 导航栏
      li 
        a(href="dynamic-navbar.html") 动态导航栏
      li
        a(href="toolbar.html") 工具栏
      li
        a(href="tabbar.html") 带图标工具栏
  li
    a(href="searchbar.html") 搜索栏
  li
    a(href="status-bar.html") 状态栏
  li
    a(href="side-panels.html") 边栏
  li
    a(href="content-block.html") 内容区
  li
    a(href="grid.html") 栅格
  li
    | 弹层
    ul
      li
        a(href="modal.html") Modal
      li
        a(href="popup.html") Popup
      li
        a(href="popover.html") Popover
      li
        a(href="action-sheet.html") Action Sheet
      li
        a(href="login-screen.html") Login Screen
  li
    a(href="preloader.html") Preloader Indicator
  li 
    | 列表(表格)
    ul
      li
        a(href="list-view.html") 列表
      li
        a(href="contacts-list.html") 联系人列表
      li
        a(href="media-list-view.html") Media List View
      li
        a(href="swipeout.html") 滑动操作
      li
        a(href="sortable-list.html") 可排序列表
  li
    a(href="accordion.html") Accordion / Collapsible
  li
    a(href="buttons.html") 折叠
  li 
    | 表单
    ul
      li
        a(href="form-elements.html") 表单布局
      li
        a(href="checkboxes-radios.html") 单选复选按钮
      li
        a(href="smart-select.html") Smart Select
      li
        a(href="disabled-elements.html") 禁用元素
      li
        a(href="form-data.html") 表单数据
      li
        a(href="form-storage.html") 表单数据存储
      li
        a(href="form-ajax-submit.html") Ajax异步提交
      
  li 
    a(href="tabs.html") 标签页
  li
    a(href="slider.html") 幻灯片
  li
    a(href="photo-browser.html") 图片浏览器
  li
    a(href="pull-to-refresh.html") 下拉刷新
  li
    a(href="infinite-scroll.html") 无限滚动
  li
    a(href="messages.html") 消息
  li
    a(href="messagebar.html") 消息栏
  li
    a(href="notifications.html") 通知
  li.title 
    a(href="color-themes.html") 皮肤颜色
  li.title 工具
  li  
    a(href="device-api.html") 设备API
  li  
    a(href="support-api.html") API
  li.title 
    a(href="custom-build.html") 自定义下载
  li.title 
    a(href="plugins-api.html") 插件API
