config.codekit
forum
apps/todo7
apps/weather7
apps/Framework7-Contacts7-MVC
apps/Bug-Reporter7
examples/split-view
examples/split-view-panel
examples/tab-bar
plugins/3dpanels
node_modules/

# tmp file
*.swp
.DS_Store
