doctype
html
  head
    meta(charset="utf-8")
    title Framework7 - Full Featured HTML Framework For Building iOS Apps
    meta(property="og:image", content="http://idangero.us/framework7/i/f7-banner.jpg")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/main.css")
    link(rel="shortcut icon" href="favicon.png")
    script(src="js/vendor/modernizr-2.7.1.min.js")
  body
    header
      .center
        .left
          a(href="./").logo
          .title Framework7
          .slogan Full Featured HTML Framework<br>For Building iOS Apps
          .buttons
            a(href="https://github.com/nolimits4web/Framework7/archive/v0.9.5.zip") Download
            a(href="./get-started/") Get Started
          .release-info MIT Licensed, v0.9.5 released on August 15, 2014 | 
            a(href="https://github.com/nolimits4web/Framework7/blob/master/CHANGELOG.md", target="_blank") Changelog
          .links
            a(href="./docs/") Docs
            a(href="./forum/") Forum
            a(href="./examples/") Examples
            a(href="./apps/") Demo Apps
            a(href="./showcase/") Showcase
          //- .small-links
            a(href="./tutorials/") Tutorials
            a(href="./plugins/") Plugins
            a(href="./contribute/") Contribute
          .github-buttons
            | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=watch&count=true" width="100" height="20"></iframe>
            | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=fork&count=true" width="100" height="20"></iframe>
        .phone
          iframe(src="kitchen-sink/", frameborder="0", scrolling="no")
          a(href="kitchen-sink/", target="_blank").fullscreen Fullscreen preview
    .share-line
      .center 
        .share
          | <!-- AddThis Button BEGIN -->
          | <div class="addthis_toolbox addthis_default_style ">
          | <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          | <a class="addthis_button_tweet"></a>
          | <a class="addthis_button_twitter_follow_native" tw:screen_name="idangerous"></a>
          | <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          | <a class="addthis_counter addthis_pill_style"></a>
          | </div>
          | <!-- AddThis Button END -->
        .flattr-button 
          a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
            img(src="https://api.flattr.com/button/flattr-badge-large.png")
        .clearfix
    .content.center
      h1 Framework7
      .row
        .col-80
          p Framework7 - is a free and open source HTML mobile framework to develop hybrid mobile apps or web apps with iOS 7 native look and feel. It is also an indispensable prototyping apps tool to show working app prototype as soon as possible in case you need to.
          p The main approach of the Framework7 is to give you an opportunity to create iOS 7 apps with HTML, CSS and JavaScript easily and clear. Framework7 is full of freedom. It doesn't limit your imagination or offer ways of any solutions somehow. Framework7 gives you freedom!
          p Framework7 is not compatible with all platforms. It is focused only on iOS 7 to bring the best experience and simplicity.
          p.hf-cite Framework7 is definitely for you if you decide to build iOS 7 hybrid app (PhoneGap) or web app that looks like and feels as great native iOS 7 apps.
        .col-20
          

      h2 Features

      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left.no-border
              img(src="i/feats/html.jpg", alt="", height="310")
          .feat-text
            h3 Ultra Easy To Use. Not Harder Than Website!
            p To create iOS 7 apps using Framework7 is so easy as website creation. Try to start and you will be surprised how easy is it. All you need to make it work is a simple HTML layout and attached framework's CSS and JS files! Framework7 doesn't force you to write some custom tags that will be converted by JavaScript to something else. It doesn't force you to write and describe all your content in JavaScript (or JSON). Just plain HTML and you always get exactly the same that you expect to get when you write this HTML.
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left.no-border
              img(src="i/feats/ios.jpg", alt="", width="320")
          .feat-text
            h3 iOS 7 Specific
            p As said above Framework7 is iOS 7 specific framework. From the very beginning it was carefully thought-out to give you easy ways to realize all incredible features  from all necessary UI elements visualization to complicated animation and touch interactions that characterize the platform. That is why Framework7 is the only solution to realize precisely pixel-perfect iOS 7 native app's interface.
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
              img(data-src="i/feats/ui.jpg", alt="", width="480", height="420").lazy
          .feat-text
            h3 UI Components
            p Framework7 comes with a bunch of ready to use UI elements and widgets like modals, popup, action sheet, popover, list views, media lists, tabs, side panels, layout grid, preloader (activity indicator), form elements, etc. The awesome point is that you don't need JavaScript at all for the most of mentioned widgets.
        .col-40
      .row.feat-row
        .col-50
          h3 Library Agnostic
          p Framework7 doesn't use and does not depend on any third party libraries. That is why it is ultra lightweight, performance and flexible.
      
        .col-50
          h3 Clear JS API
          p No need to learn something new With Framework7. It has ultra clear and easy JavaScript API methods to control every part of your app. For example, if you need to call alert modal you just do <code>app.alert('Hello World!')</code>
      .row.feat-row
        .col-50
          h3 High-performance Animation
          p It is all about performance and Framework7 uses only high performance hardware accelerated css animations and transitions to achieve the best result.        
        .col-50
          h3 Pages Animation
          p One of the main target of Framework7 is to have native look and feeling of iOS7 application. And Framework7 is the only framework that solves it and offers 1:1 page animation with smooth parallax effect, changing opacity and shadow when loading new page.
        
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
            img(data-src="i/feats/swipe-back.gif", alt="", width="320", height="524").lazy
          .feat-text
            h3 Swipe Back
            p One of Framework7' killing feature is supporting of iOS 7 well known swipe back gesture from left border of screen when you want to get to the previous page. It simply works, and works perfectly as you expect it to do. Just swipe from left (or drag with mouse) area of the page to see smooth transition to the previous page. It is not just A-B transition. It really follows your finger with parallax animation while touch!
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
            img(data-src="i/feats/navbar.gif", alt="", width="320", height="310").lazy
          .feat-text
            h3 Dynamic Navbar
            p As was mentioned already Framework7 makes everything to give you a feel of native iOS 7 app. And one of the significant feature that improves this feeling is the dynamic navigation bar (navbar). You can see how its elements sliding and fading during pages transition and when you swipe back.
      .row.feat-row
        .col-100
          h3 Native Scrolling
          p It can sound even curious but one of the most important Framework7 feature is that it uses only native scrolling. Moreover - it multiplies its advantages! So you can still have this awesome scrolling with momentum and resistance bounce without any scrolling issues!
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
            img(data-src="i/feats/ptr.gif", alt="", width="320", height="310").lazy
          .feat-text
            h3 Pull To Refresh
            p Framework7 is probably the first and only framework that has this great feature realized on pure native scrolling! That is why pull to refresh behavior is perfect as possible and works totally equal in many native iOS 7 apps!
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
            img(data-src="i/feats/swipe-delete.gif", alt="", width="320", height="310").lazy
          .feat-text
            h3 Swipe To Delete
            p Do you remember how you swipe left on the message in the Mail app if you want to delete it? Yep, Framework7 has totally the same functionality for any list elements, with the same smooth animation and touch interaction!
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
            img(data-src="i/feats/messages.gif", alt="", width="320", height="568").lazy
          .feat-text
            h3 Messages
            p Framework7 comes with great realized "messages" widget that you can easily customize and integrate into your app for messaging between users or devices using some realtime sync data service like 
              a(href="http://framework.realtime.co/", target="_blank") Realtime Framework
              |  or 
              a(href="http://firebase.com/", target="_blank") Firebase
              | .
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left
              img(data-src="i/feats/split-view.jpg", alt="", height="320", width="568").lazy
          .feat-text
            h3 Multiple Views (Split View)
            p Framework7 supports unlimited number of different isolated views. And the fun thing is that you can easily control each single view without any line of JavaScript just using "data-view" attribute on links.      
      
      .row.feat-row
        .col-100
          h3 XHR + Caching + History + Preloading
          p This is an unbeatable combination to make your app routing as perfect as possible. Framework7 is ready to route your app pages using XHR (Ajax) with its own internal methods and internal HTML configurable caching that allow to load pages faster and save a lot of time and traffic for your users! It loads page via Ajax only ones per specified caching period (10 minutes by default), other times it just gets it from memory. It allows to make further requests immediately!
          p Navigating deeper and deeper you may face a problem about how to get back in the same order? Framework7 solves this problem by collecting own navigation history. It is especially good if your users may come to the same page from different routes. And with Framework7 it is enough just to add "back" class to your link and it will recognize what page to load and will do other job for you.
          p Framework7 automatically preloads previous page (when available) so your users can always do the nice swipe back gesture to get that page immediately.
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left.no-border
            img(data-src="i/feats/colors.jpg", width="450", height="394").lazy
          .feat-text
            h3 Easy To Customize
            p With Framework7 everything is simple, all styles are divided by parts into small <code>.less</code> files, so you can really easy bring your own custom styles to your app.
      .row.feat-row
        .col-100
          .feat-pic.feat-pic-left.feat-pic-small.no-border
              img(data-src="i/feats/dom.jpg", alt="", height="155", width="320").lazy
          .feat-text
            h3 Custom Dom Library
            p As said above Framework7 doesn't use any third party library, even for DOM operation, even jQuery. It has its own custom DOM library that utilizes most edge and high-performance methods for DOM manipulation. You can also use it and you don’t need to learn something new for that, it has the same syntax as well known jQuery library with support of the most popular and widely used methods and jQuery-like chaining.
    .share-line
      .center 
        .share
          | <!-- AddThis Button BEGIN -->
          | <div class="addthis_toolbox addthis_default_style ">
          | <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          | <a class="addthis_button_tweet"></a>
          | <a class="addthis_button_twitter_follow_native" tw:screen_name="idangerous"></a>
          | <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          | <a class="addthis_counter addthis_pill_style"></a>
          | </div>
          | <!-- AddThis Button END -->
        .github-buttons
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=watch&count=true" width="100" height="20"></iframe>
          | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nolimits4web&repo=framework7&type=fork&count=true" width="100" height="20"></iframe>
        .clearfix
    footer
      .center
        .links
          a(href="./") Framework7
          a(href="./contribute/") Contribute
          a(href="./get-started/") Get Started
          a(href="./docs/") Docs
          a(href="./tutorials/") Tutorials
          a(href="./forum/") Forum
          a(href="./examples/") Examples
          a(href="./apps/") Demo Apps
          a(href="./showcase/") Showcase
        .copy 2014 © Framework7 by iDangero.us

    script.
      var addthis_config = {"data_track_addressbar":true};
      var addthis_share = {url:'http://www.idangero.us/framework7/'};
    script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c9b0605d63191c")
    script(src="js/vendor/jquery-1.11.0.min.js")
    script(src="js/plugins.js")
    script(src="js/main.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-13289120-8', 'idangero.us');
      ga('send', 'pageview');      

    