extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Active State | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 Active State
      p Framework7 uses so called "active state" to highlight links and buttons when you tap them. It is done to make F7 app behave like native app, not like web app.
      p Active state is a part of built-in <b>Fast Clicks</b> library, so Fast Clicks should be also enabled.
      p It works almost in the same way as CSS <code>:active</code> selector, it adds <code>active-state</code> class to links and buttons when you tap them. The only difference is that it adds this class after small time interval, this prevents false highlights during page scrolling.
      p When Active state is enabled it is also adds <code>watch-active-state</code> class to <code>&lt;html&gt;</code> element.
      p So when you write your CSS styles you should write active states like:
      pre
        code
            | /* Usual state */
            | .my-button {
            |     color: red;
            | }
            | /* Active/tapped state */
            | .my-button.active-state {
            |     color: blue;
            | }          
      p If you want to provide fallback compatibility (when Active state or Fast clicks are disabled) you may also add:
      pre
        code
          | /* Usual state */
          | .my-button {
          |     color: red;
          | }
          | /* Active/tapped state */
          | .my-button.active-state {
          |     color: blue;
          | }
          | /* Fallback, when active state is disabled */
          | html:not(.watch-active-state) .my-button:active {
          |     color: blue;   
          | }          
      