extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Content block | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Content block
        p Content blocks designed (mostly) to add extra formatting and required spacing for text content: 
      pre(data-device-preview="../docs-demos/content-block.html")
        code
          | ...
          | &lt;div class="page-content"&gt;
          |     &lt;p&gt;This paragraph is outside of content block. Not cool, but useful for any custom elements with custom styling.&lt;/p&gt;
          | 
          |     &lt;!-- Content block --&gt;
          |     &lt;div class="content-block"&gt;
          |         &lt;p&gt;Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. &lt;/p&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;!-- We can wrap content with additional "content-block-inner" element for additional highlighting --&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="content-block-inner"&gt;Here comes another text block additionaly wrapped with "content-block-inner". Praesent nec imperdiet diam. Maecenas vel lectus porttitor, consectetur magna nec, viverra sem. Aliquam sed risus dolor. Morbi tincidunt ut libero id sodales. Integer blandit varius nisi quis consectetur. &lt;/div&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;!-- Add ".content-block-title" to add block's title --&gt;
          |     &lt;div class="content-block-title"&gt;Content block title&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |         &lt;p&gt;Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. &lt;/p&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;div class="content-block-title"&gt;Another ultra long content block title&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="content-block-inner"&gt;
          |         &lt;p&gt;Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. &lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;div class="content-block-title"&gt;Inset&lt;/div&gt;
          |     &lt;!-- Inset content block --&gt;
          |     &lt;div class="content-block inset"&gt;
          |       &lt;div class="content-block-inner"&gt;
          |         &lt;p&gt;Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. &lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;div class="content-block-title"&gt;Tablet Inset&lt;/div&gt;
          |     &lt;!-- This block will be inset only on tablets --&gt;
          |     &lt;div class="content-block tablet-inset"&gt;
          |       &lt;div class="content-block-inner"&gt;
          |         &lt;p&gt;Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. &lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          | 
          | &lt;/div&gt;
          | 
          | ...          
      
      .important-note
        p Note that "content-block-title" can be used only right before "content-block" or "list-block"!
      