extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Dynamic Navbar | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Dynamic Navbar
        p.ios-only Dynamic Navbar is supported only in iOS Theme
        p One of the iOS awesome features is the dynamic navigation bar (navbar). Navbar's elements will slide and fade during pages transition and swipe back when dynamic navbar is enabled.
        .important-note
          ul
            li 
              p It works only with Through-type layout
            li 
              p It should be enabled during <a href="views.html">View initialization</a> by passing <strong>dynamicNavbar: true</strong> parameter

        h2 Dynamic Navbar Layout
        p Dynamic Navbar layout is the same as for usual Navbar, the only difference is that you can add additional classes to Navbar parts (Left, Center, Right) to tell which type of transition effect you want on this part.
        .important-note
          ul
            li
              p By default (if there is no additional classes) each Navbar part has <b>"Fade"</b> transition effect
            li
              p If you add <b>"sliding"</b> class to any of Navbar parts then it will have <b>"Sliding"</b> effect
            li
              p For better look you should to keep identic transition type for the same Navbar parts through different pages
      h3(data-device-preview="../docs-demos/dynamic-navbar-fade.html") Default (Fade) transition
      pre
        code
          | &lt;!-- Navbar on index page --&gt;
          | &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |         &lt;div class="left"&gt;
          |             &lt;a href="#" class="link"&gt;Home Left&lt;/a&gt;
          |         &lt;/div&gt;
          |         &lt;div class="center"&gt;Home&lt;/div&gt;
          |         &lt;div class="right"&gt;
          |             &lt;a href="#" class="link"&gt;Home Right&lt;/a&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
          | 
          | &lt;!-- Navbar on about page --&gt;
          | &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |         &lt;div class="left"&gt;
          |             &lt;a href="#" class="link"&gt;About Left&lt;/a&gt;
          |         &lt;/div&gt;
          |         &lt;div class="center"&gt;About&lt;/div&gt;
          |         &lt;div class="right"&gt;
          |             &lt;a href="#" class="link"&gt;About Right&lt;/a&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
      h3(data-device-preview="../docs-demos/dynamic-navbar-sliding.html") Sliding transition
      p Sliding transitions should be used wisely because they should reflect app's navigation chain
      pre
        code
          | &lt;!-- Navbar on index page --&gt;
          | &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |         &lt;!-- Left part doesn't related to other pages, let's fade it out --&gt;
          |         &lt;div class="left"&gt;
          |             &lt;a href="#" class="link"&gt;Home Left&lt;/a&gt;
          |         &lt;/div&gt;
          | 
          |         &lt;!-- Center and Right parts reflect page title and page links, let's slide them --&gt;
          |         &lt;div class="center sliding"&gt;Home&lt;/div&gt;
          |         &lt;div class="right sliding"&gt;
          |             &lt;a href="about.html" class="link"&gt;About&lt;/a&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
          | 
          | &lt;!-- Navbar on about page --&gt;
          | &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |         &lt;!-- Now, Left and Center parts reflect page title and page links, let's slide them --&gt;
          |         &lt;div class="left sliding"&gt;
          |             &lt;a href="#" class="link back"&gt;Home&lt;/a&gt;
          |         &lt;/div&gt;
          |         &lt;div class="center sliding"&gt;About&lt;/div&gt;
          | 
          |         &lt;!-- Right part doesn't related to other pages --&gt;
          |         &lt;div class="right"&gt;
          |             &lt;a href="#" class="link icon-only"&gt;
          |                 &lt;i class="icon icon-bars"&gt;&lt;/i&gt;
          |             &lt;/a&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          | &lt;/div&gt;
      .full-width.stop-scroll-device
        h3 Animate back-link icon
        p If you use default back-links (icon + "Back" word) you can enable additional animation for these links to have more iOS 7 look. To make it work you need to add <code>animateNavBackIcon: true</code> parameter on <a href="init-app.html">App initialization</a> and to have link with "back" class and icon in Left Navbar part. Nothing different in layout, here is example:
        h3 Demos
        .row
          .col-50 
            h4 Usual Sliding
            .docs-demo-device.docs-inline-device
              iframe(width="320", height="548", frameborder="0", scrolling="on", src="../docs-demos/dynamic-navbar-nobacklink.html")
          .col-50 
            h4 With animateNavBackIcon
            .docs-demo-device.docs-inline-device
              iframe(width="320", height="548", frameborder="0", scrolling="on", src="../docs-demos/dynamic-navbar-backlink.html")
          .clearfix
        .device-spacer(style="height:50px")
        h2 Dynamic Navbar Events
        p Dynamic navbar has the following events:
        table.events-table
          thead
            tr
              th Event
              th Target
              th Description
          tbody
            tr
              td navbarBeforeInit
              td Navbar Inner element <span>&lt;div class="navbar-inner"&gt;</span>
              td Event will be triggered when Framework7 just inserts new navbar inner to DOM
            tr
              td navbarInit
              td Navbar Inner element <span>&lt;div class="navbar-inner"&gt;</span>
              td Event will be triggered after Framework7 initialize navbar
            tr
              td navbarReinit
              td Navbar Inner element <span>&lt;div class="navbar-inner"&gt;</span>
              td This event will be triggered when cached navbar inner becomes visible. It is only applicaple for Inline Pages (DOM cached pages)
            tr
              td navbarBeforeRemove
              td Navbar Inner element <span>&lt;div class="navbar-inner"&gt;</span>
              td Event will be triggered right before navbar inner will be removed from DOM. This event could be very useful if you need to detach some events / destroy some plugins to free memory
        p Each event data containes useful information with <code>navbar</code> elements and <a href="pages.html#page-data">Page Data</a> of related page. For example
        pre
          code.js
            | $$(document).on('navbarInit', function (e) {
            |   var navbar = e.detail.navbar;
            |   var page = e.detail.page
            | });
        p Now, in the example above we have initialized Navbar elements in <code>navbar</code> variable and related  Page Data in <code>page</code> variable. Lets look on properties of <code>navbar</code> object:
        table.methods-table
          tbody
            tr
              th(colspan="2") Navbar Properties
            tr
              td navbar.navbarContainer
              td Link to parent Navbar <span class="parameter-type">HTMLElement</span>
            tr
              td navbar.navbarInnerContainer
              td Link to target Navbar Inner <span class="parameter-type">HTMLElement</span>