extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Fast Clicks | Framework7 v1 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 Fast Clicks
      p Fast clicks is a built-in library that removes click delay from links and form elements in mobile browser while you click them. You can disable this built-in library if you want to use other third party fast clicks script by using <code>fastClicks:false</code> App parameter
      h2 no-fastclick
      p If you want to disable Fast Clicks on some specific element then just add <b>"no-fastclick"</b> class to the required element
      pre
        code
          | &lt;a href=&quot;#&quot;&gt;Fast Click&lt;/a&gt;
          | &lt;a href=&quot;#&quot; class=&quot;no-fastclick&quot;&gt;Usual Click&lt;/a&gt;