extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Ajax Form Submit | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 Ajax Form Submit
      p Framework7 allows automatically send form data using Ajax. 
      p It could be done in two ways
      ul
        li when user submits it (when he clicks on "submit" button) or when "submit" event triggered on form programmatically
        li when user change any form field or when "change" event triggered on form (or form field) programmatically

      h2 Send form data on submit
      p To enable Ajax form and send data automatically on submit, we just need to add "ajax-submit" class to form:
      pre      
        code
          | &lt;form action="send-here.html" method="GET" class="ajax-submit"&gt;
          |     ...
          | &lt;/form&gt; 
      p And when user will submit this form, it automatically will be sended using Ajax with the following rules:
      .important-note
        ul
          li
            p Form data will be sended to the file/url specified in form's <b>"action" attribute</b>
          li
            p Request method will be the same as specified in form's <b>"method" attribute</b>
          li
            p Content type will be the same as specified in form's <b>"enctype" attribute</b>. By default (if not specified), it is <b>application/x-www-form-urlencoded</b>

      h2 Send form data on input change
      p Mostly we don't use "submit" buttons in apps, so in this cases we need to submit form data when user changes any form fields. For this case we need to use "ajax-submit-onchange" class:
      pre      
        code
          | &lt;form action="send-here.html" method="GET" class="ajax-submit-onchange"&gt;
          |     ...
          | &lt;/form&gt; 
      p And when user will change any form filed, form data automatically will be sended using Ajax with the same rules as in previous case.

      h2 Ajax submit event
      p Sometimes we need to get actual XHR repsonse from the file/url where we send form data with Ajax. We can use special event for that:
      table.events-table
        thead
          tr
            th Event
            th Target
            th Description
        tbody
          tr
            td submitted
            td Form Element<span>&lt;form class="ajax-submit"&gt;</span>
            td Event will be triggered after successful Ajax request 
          tr
            td beforeSubmit
            td Form Element<span>&lt;form class="ajax-submit"&gt;</span>
            td Event will be triggered right before Ajax request 
          tr
            td submitError
            td Form Element<span>&lt;form class="ajax-submit"&gt;</span>
            td Event will be triggered on Ajax request error 
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('form.ajax-submit').on('submitted', function (e) {
          |   var xhr = e.detail.xhr; // actual XHR object
          | 
          |   var data = e.detail.data; // Ajax response from action file
          |   // do something with response data
          | });

