extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Hairlines | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 Hairlines / Borders
      p Since 1.x release all hairlines (borders) reworked to <code>:after</code> and <code>:before</code> pseudo elements instead of usual CSS borders. This method allows to have true 0.5px (for iOS Retina) and 0.33px (for iPhone 6 Plus) hairlines
      p The rule is simple:
      ul
        li "bottom" and "right" hairlines are made using <code>:after</code> pseudo elements
        li "left" and "top" hairlines are made using <code>:before</code> pseudo elements
      p So, for example, if you want to change navbar's bottom hairline color, you need to change <b>background-color</b> of <code>:after</code> element:
      pre
        code
          | .navbar:after {
          |   background-color: red;
          | }
      p To remove bottom hairline on navbar and top hairline on toolbar:
      pre
        code
          | .navbar:after {
          |   display:none;
          | }
          | 
          | .toolbar:before {
          |   display:none;
          | }
      h2 "no-border" class
      p There is also helper <b>"no-border"</b> class that can be used to remove hairlines. Currently it is supported on Navbar, Toolbar, Card and its elements (card header, footer).
      P To remove hairline from navbar:
      pre
        code
          | &lt;div class="navbar no-border"&gt;
          |     ...
          | &lt;/div&gt;          

        