extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'List View (Table View) | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 List View (Table View)
        p List views are versatile and powerful user interface compontents frequently found in iOS apps. A list view presents data in a scrollable list of multiple rows that may be divided into sections/groups.
        p List views have many purposes:
        ul
          li To let users navigate through hierarchically structured data
          li To present an indexed list of items
          li To display detail information and controls in visually distinct groupings
          li To present a selectable list of options
        h2 List View layout
        p Now let's look at the common layout of list view.
        h3 List block
        p List block is your list view elements wrapper, almost the same as <a href="content-block.html">content block</a> but for list elements.
        p So first of all, all your list view elements should be wrapped with list-block element:
        pre
          code
            | &lt;div class="list-block"&gt;
            |     &lt;ul&gt;
            |         ... list elements here ...
            |     &lt;/ul&gt;
            | &lt;/div&gt;
        .important-note 
          p Don't put "list-block" inside of "<a href="content-block.html">content-block</a>"!
        h3 List block label
        p You can also add add list block label at the end of list block:
        pre
          code
            | &lt;div class="list-block"&gt;
            |     &lt;ul&gt;
            |         ... list elements here ...
            |     &lt;/ul&gt;
            |     &lt;div class="list-block-label"&gt;List block label text&lt;/div&gt;
            | &lt;/div&gt;
        h3 List item/element    
        p Single list element has pretty complex but flexible layout:
        pre
          code
            | &lt;li&gt;
            |     &lt;div class="item-content"&gt;
            |         &lt;div class="item-media"&gt;
            |             &lt;i class="icon my-icon"&gt;&lt;/i&gt;
            |         &lt;/div&gt;
            |         &lt;div class="item-inner"&gt;
            |             &lt;div class="item-title"&gt;
            |                 List element title
            |             &lt;/div&gt;
            |             &lt;div class="item-after"&gt;
            |                 List element label
            |             &lt;/div&gt;
            |         &lt;/div&gt;
            |     &lt;/div&gt;
            | &lt;/li&gt;
        p Where:
        ul
          li
            p <code>item-content</code> - main flex wrapper for <code>item-media</code> and <code>item-inner</code>. <strong>Requred</strong> element.
          ul
            li
              p <code>item-media</code> - container for your media element like icon, image, etc. <strong>Optional</strong> element.
            li
              p <code>item-inner</code> - main flex wrapper for <code>item-title</code> and <code>item-after</code>. <strong>Requred</strong> element.
            ul
              li
                p <code>item-title</code> - single-line list item title. <strong>Required</strong> element.
              li
                p <code>item-after</code> - list item label. Could countain any additional HTML elements, like label text, or badge, or switch/toggle or button, etc. <strong>Optional</strong> element.
        .important-note
          ul
            li
              p Because .item-content is actually CSS flex-box element, note that <strong>"item-media" and "item-inner" should be direct children of "item-content"</strong>!
            li
              p For the same reason <strong>"item-title" and "item-after" should be direct children of "item-inner"</strong>!
        p Also note that if your list item have nothing additional, you can user "item-content" class in <code>&lt;li&gt;</code> element:
        pre
          code
            | &lt;li class="item-content"&gt;
            |     &lt;div class="item-media"&gt;
            |         &lt;i class="icon my-icon"&gt;&lt;/i&gt;
            |     &lt;/div&gt;
            |     &lt;div class="item-inner"&gt;
            |         &lt;div class="item-title"&gt;
            |             List element title
            |         &lt;/div&gt;
            |         &lt;div class="item-after"&gt;
            |             List element label
            |         &lt;/div&gt;
            |     &lt;/div&gt;
            | &lt;/li&gt;
      h4(data-device-preview="../docs-demos/list-view.html") Example
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block-title"&gt;Full Layout&lt;/div&gt;
          |     &lt;div class="list-block"&gt;
          |       &lt;ul&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |             &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |             &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |             &lt;div class="item-after"&gt;Another label&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |       &lt;/ul&gt;
          |       &lt;div class="list-block-label"&gt;List block label text goes here&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="content-block-title"&gt;Only titles&lt;/div&gt;
          |     &lt;div class="list-block"&gt;
          |       &lt;ul&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |       &lt;/ul&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;
      h3(data-device-preview="../docs-demos/list-view-links.html") Link Elements
      p Of course in most cases we need to use list view elements as links (&lt;a&gt;) to other pages or data. In this case we need to wrap "item-content" with &lt;a class="item-link"&gt; element:
      pre
        code
          | &lt;a href="#" class="item-link"&gt;
          |   &lt;div class="item-content"&gt;
          |     &lt;div class="item-media"&gt;...&lt;/div&gt;
          |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/a&gt;          
      p If your links contains nothing except "item-content" then we can just use link as "item-content":
      pre
        code
          | &lt;a href="#" class="item-link item-content"&gt;
          |   &lt;div class="item-media"&gt;...&lt;/div&gt;
          |   &lt;div class="item-inner"&gt;...&lt;/div&gt;
          | &lt;/a&gt; 
      p 
        strong Note that "item-inner" has additional right padding and chevron icon when it is in "item-link"
      h4 Example
      pre
        code
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Another label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;div class="list-block-label"&gt;List block label text goes here&lt;/div&gt;
          | &lt;/div&gt;


      h3(data-device-preview="../docs-demos/list-view-divider.html") List Divider
      p List divider is a simple list element with title to visually divide one list items from another:
      pre
        code
          | &lt;li class="item-divider"&gt;Divider title here&lt;/li&gt;
      pre
        code
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |         &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Title&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     
          |     &lt;!-- Divider --&gt;
          |     &lt;li class="item-divider"&gt;Divider title here&lt;/li&gt;
          |     
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |         &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |         &lt;div class="item-after"&gt;Another label&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;div class="list-block-label"&gt;List block label text goes here&lt;/div&gt;
          | &lt;/div&gt;
      h3(data-device-preview="../docs-demos/list-view-grouped.html") Grouped Lists
      p Sometimes we need to group list view elements inside of single list block. In this case we need to additional group elements:
      pre
        code
          | &lt;div class="list-block"&gt;
          |   &lt;!-- First group--&gt;
          |   &lt;div class="list-group"&gt;
          |     &lt;ul&gt;
          |       &lt;li class="list-group-title"&gt;First group&lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       ...
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          | 
          |   &lt;!-- Second group--&gt;
          |   &lt;div class="list-group"&gt;
          |     &lt;ul&gt;
          |       &lt;li class="list-group-title"&gt;Second Group&lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       ...
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;                  
      p You may ask what is the difference from simple dividers? With list groups, group titles have sticky position during scroll within single group.
      h3(data-device-preview="../docs-demos/list-view-inset.html") Inset List Block
      p List blocks also could have inset (not fullwidth) styling. To make inset lost block just add "inset" class to "list-block":
      pre
        code
          | &lt;div class="list-block inset"&gt;
          |   &lt;ul&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;          
      p It is also possible to make list inset only on iPad and keep it usual on iPhone. We need to use "tablet-inset" class for that:
      pre
        code
          | &lt;div class="list-block tablet-inset"&gt;
          |   &lt;ul&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;          

      .device-spacer
    





      