extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Picker Modal | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Picker Modal
        p Picker Modal is a special overlay type which is similar to Picker/Calendar's overlay. Such modal allows to create custom picker overlays with custom content
        h2 Picker Modal HTML Layout
        p Picker Modal layout is pretty simple, just add it somewhere in the end of the <code>&lt;body&gt;</code>
        pre
          code 
            | &lt;body&gt;
            |   ...
            |   &lt;!-- Picker Modal Container --&gt;
            |   &lt;div class="picker-modal"&gt;
            |     &lt;!-- Picker Modal Toolbar, optional --&gt;
            |     &lt;div class="toolbar"&gt;
            |       &lt;div class="toolbar-inner"&gt;
            |         &lt;div class="left"&gt;&lt;/div&gt;
            |         &lt;div class="right"&gt;
            |           &lt;a href="#" class="link close-picker"&gt;Done&lt;/a&gt;
            |         &lt;/div&gt;
            |       &lt;/div&gt;
            |     &lt;/div&gt;
            |     &lt;!-- Picker Modal Inner --&gt;
            |     &lt;div class="picker-modal-inner"&gt;
            |       &lt;!-- Picker content --&gt;
            |       &lt;div class="content-block"&gt;
            |         &lt;p&gt;Integer mollis nulla id nibh elementum finibus...&lt;/p&gt;
            |       &lt;/div&gt;
            |     &lt;/div&gt;
            |   &lt;/div&gt;
            | 
            | &lt;/body&gt;
      h2 Open and Close Picker Modal
      h3(data-device-preview="../docs-demos/picker-modal.html") From HTML
      p It is possible to open and close required Picker Modal using special classes and data attributes on links:
      .important-note
        ul
          li
            p To open picker we need to add <strong>"open-picker"</strong> class to any HTML element (prefered to link)
          li
            p To close picker we may add <strong>"close-picker"</strong> class to any HTML element (prefered to link)
          li
            p If you have more than one picker in app, you need to specify appropriate picker via additional <strong>data-picker=".my-picker-modal"</strong> attribute on this HTML element  
      pre
        code
          | &lt;body&gt;
          |   &lt;div class="views"&gt;
          |     &lt;div class="view view-main"&gt;
          |       &lt;div class="pages"&gt;
          |         &lt;div data-page="home" class="page navbar-fixed"&gt;
          |           &lt;div class="navbar"&gt;
          |             &lt;div class="navbar-inner"&gt;
          |               &lt;!-- In data-picker attribute we specify CSS selector of picker we need to open--&gt;
          |               &lt;div class="left"&gt;&lt;/div&gt;
          |               &lt;div class="center"&gt;Picker Modal&lt;/div&gt;
          |               &lt;div class="right"&gt;
          |                 &lt;a href="#" data-picker=".picker-1" class="link open-picker"&gt;Picker&lt;/a&gt;
          |               &lt;/div&gt;
          |             &lt;/div&gt;
          |           &lt;/div&gt;
          |           &lt;div class="page-content"&gt;
          |             &lt;div class="content-block"&gt;
          |               &lt;!-- In data-picker attribute we specify CSS selector of picker we need to open--&gt;
          |               &lt;p&gt;&lt;a href="#" data-picker=".picker-1" class="open-picker"&gt;Open Picker &lt;/a&gt;&lt;/p&gt;
          |               &lt;!-- Link to close picker--&gt;
          |               &lt;p&gt;&lt;a href="#" data-picker=".picker-1" class="close-picker"&gt;Close Picker &lt;/a&gt;&lt;/p&gt;
          |             &lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Picker --&gt;
          |   &lt;div class="picker-modal picker-1"&gt;
          |     &lt;div class="toolbar"&gt;
          |       &lt;div class="toolbar-inner"&gt;
          |         &lt;div class="left"&gt;&lt;/div&gt;
          |         &lt;div class="right"&gt;&lt;a href="#" class="close-picker"&gt;Done&lt;/a&gt;&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="picker-modal-inner"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;h4&gt;Info 1&lt;/h4&gt;
          |         &lt;p&gt;Lorem ipsum dolor...&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;

      h3(data-device-preview="../docs-demos/picker-modal-js.html") Using JavaScript
      p We can also open and close Picker Modal with JavaScript, for this we need to look at related App methods:
      p
        span.method myApp.pickerModal(<span>picker</span>)</span> - open specified Picker Modal
      ul.method-parameters
        li
          span.parameter picker
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of Picker to open. Requred
        li.method-returns This method returns Picker's HTMLElement
      p
        span.method myApp.closeModal(<span>picker</span>)</span> - close Picker
      ul.method-parameters
        li
          span.parameter picker
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). Optional. If not specified, any opened Picker will be closed
      pre
        code
          | &lt;body&gt;
          |   &lt;div class="views"&gt;
          |     &lt;div class="view view-main"&gt;
          |       &lt;div class="pages"&gt;
          |         &lt;div data-page="home" class="page navbar-fixed"&gt;
          |           &lt;div class="navbar"&gt;
          |             &lt;div class="navbar-inner"&gt;
          |               &lt;div class="left"&gt;&lt;/div&gt;
          |               &lt;div class="center"&gt;Picker Modal&lt;/div&gt;
          |               &lt;div class="right"&gt;
          |                 &lt;a href="#" class="link open-info"&gt;Info&lt;/a&gt;
          |               &lt;/div&gt;
          |             &lt;/div&gt;
          |           &lt;/div&gt;
          |           &lt;div class="page-content"&gt;
          |             &lt;div class="content-block"&gt;
          |               &lt;p&gt;&lt;a href="#" class="open-info"&gt;Open Info &lt;/a&gt;&lt;/p&gt;
          |               &lt;p&gt;&lt;a href="#" class="close-info"&gt;Close Info &lt;/a&gt;&lt;/p&gt;
          |             &lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="picker-modal picker-info"&gt;
          |     &lt;div class="toolbar"&gt;
          |       &lt;div class="toolbar-inner"&gt;
          |         &lt;div class="left"&gt;&lt;/div&gt;
          |         &lt;div class="right"&gt;&lt;a href="#" class="close-picker"&gt;Done&lt;/a&gt;&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="picker-modal-inner"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;h4&gt;Info 1&lt;/h4&gt;
          |         &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;          
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.open-info').on('click', function () {
          |   myApp.pickerModal('.picker-info')
          | });
          | $$('.close-info').on('click', function () {
          |   myApp.closeModal('.picker-info')
          | });          
      h2(data-device-preview="../docs-demos/picker-modal-dynamic.html") Dynamic Picker Modal
      p Framework7 allows you to create Picker Modals dynamically by passing its HTML to related App methods:
      p
        span.method myApp.pickerModal(<span>pickerHTML</span>, <span>removeOnClose</span>)</span> - open Picker with <strong>pickerHTML</strong>
      ul.method-parameters
        li
          span.parameter pickerHTML
          |  - <span class="parameter-type">string</span>. HTML string of picker 
        li
          span.parameter removeOnClose
          |  - <span class="parameter-type">boolean</span>. Optional, by default - true. If true then Picker will be removed from DOM when closed
        li.method-returns This method returns dynamically created Picker's HTMLElement
      pre
        code
          | &lt;div class="page-content"&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;p&gt;&lt;a href="#" class="create-picker"&gt;Create Picker&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" class="close-picker"&gt;Close Picker&lt;/a&gt;&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.create-picker').on('click', function () {
          |   // Check first, if we already have opened picker
          |   if ($$('.picker-modal.modal-in').length &gt; 0) {
          |     myApp.closeModal('.picker-modal.modal-in');
          |   }
          |   myApp.pickerModal(
          |     '&lt;div class="picker-modal"&gt;' +
          |       '&lt;div class="toolbar"&gt;' +
          |         '&lt;div class="toolbar-inner"&gt;' +
          |           '&lt;div class="left"&gt;&lt;/div&gt;' +
          |           '&lt;div class="right"&gt;&lt;a href="#" class="close-picker"&gt;Close&lt;/a&gt;&lt;/div&gt;' +
          |         '&lt;/div&gt;' +
          |       '&lt;/div&gt;' +
          |       '&lt;div class="picker-modal-inner"&gt;' +
          |         '&lt;div class="content-block"&gt;' +
          |           '&lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;' +
          |         '&lt;/div&gt;' +
          |       '&lt;/div&gt;' +
          |     '&lt;/div&gt;'
          |   )
          | });                  
      .full-width.stop-scroll-device
        h2 Picker Events
        p Picker has the same events as any <a href="modal.html">Modal</a>
        table.events-table
          thead
            tr
              th Event
              th Target
              th Description
          tbody
            tr
              td open
              td Picker Element<span>&lt;div class="picker-modal"&gt;</span>
              td Event will be triggered when Picker starts its opening animation
            tr
              td opened
              td Picker Element<span>&lt;div class="picker-modal"&gt;</span>
              td Event will be triggered after Picker completes its opening animation
            tr
              td close
              td Picker Element<span>&lt;div class="picker-modal"&gt;</span>
              td Event will be triggered when Picker starts its closing animation
            tr
              td closed
              td Picker Element<span>&lt;div class="picker-modal"&gt;</span>
              td Event will be triggered after Picker completes its closing animation      