extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Popup | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Popup
        p Popup is a popup window with any HTML content that pops up over App's main content. Popup as all other overlays is part of so called "Temporary Views".
        h2 Popup Layout
        p Popup layout is pretty simple. All you need to do is to put <code>&lt;div class="popup"&gt; Any popup content here &lt;/div&gt;</code> right in the body:
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;div class="popup"&gt;
            |     Any HTML content goes here
            |   &lt;/div&gt;
            | &lt;/body&gt;            
        h2 Popup Size
        p By default Popup has a bit different size on phones and tablets (iPad). On phones it is fullscreen while on tablets it is 630px width and height. If you want to make it fullscreen size on tablets, you should add additional "tablet-fullscreen" class to the required popup:
        pre
          code
            | &lt;body&gt;
            |   ...
            |   &lt;!-- This popup has fullscreen size on tablets --&gt;
            |   &lt;div class="popup tablet-fullscreen"&gt;
            |     Any HTML content goes here
            |   &lt;/div&gt;
            | &lt;/body&gt;            
        h2 Open and close Popup
      h3(data-device-preview="../docs-demos/popup.html") From HTML
      p It is possible to open and close required popups using special classes and data attributes on links:
      .important-note
        ul
          li
            p To open popup we need to add <strong>"open-popup"</strong> class to any HTML element (prefered to link)
          li
            p To close popup we need to add <strong>"close-popup"</strong> class to any HTML element (prefered to link)
          li
            p If you have more than one popups in app, you need to specify appropriate popup via additional <strong>data-popup=".my-popup"</strong> attribute on this HTML element
      p According to above note:
      pre
        code
          | &lt;body&gt;
          |   ...
          |     &lt;div class="page-content"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;!-- In data-popup attribute we specify CSS selector of popup we need to open --&gt;
          |         &lt;p&gt;&lt;a href="#" data-popup=".popup-about" class="open-popup"&gt;Open About Popup &lt;/a&gt;&lt;/p&gt;
          |         &lt;p&gt;&lt;a href="#" data-popup=".popup-services" class="open-popup"&gt;Open Services Popup &lt;/a&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   ...
          |   &lt;!-- About Popup --&gt;
          |   &lt;div class="popup popup-about"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;About&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Services Popup --&gt;
          |   &lt;div class="popup popup-services"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;Services&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;                    
      h3(data-device-preview="../docs-demos/popup-js.html") Using JavaScript
      p We can also open and close Popups with JavaScript, for this we need to look at related App methods:
      p
        span.method myApp.popup(<span>popup</span>)</span> - open Popup
      ul.method-parameters
        li
          span.parameter popup
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of Popup to open. Requred
      p
        span.method myApp.closeModal(<span>popup</span>)</span> - close Popup
      ul.method-parameters
        li
          span.parameter popup
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). Optional. If not specified, any opened Popup/Modal will be closed
      pre
        code
          | &lt;body&gt;
          |   ...
          |     &lt;div class="page-content"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;&lt;a href="#" class="open-about"&gt;Open About Popup &lt;/a&gt;&lt;/p&gt;
          |         &lt;p&gt;&lt;a href="#" class="open-services"&gt;Open Services Popup &lt;/a&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   ...
          |   &lt;!-- About Popup --&gt;
          |   &lt;div class="popup popup-about"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;About&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Services Popup --&gt;
          |   &lt;div class="popup popup-services"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;Services&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.open-about').on('click', function () {
          |   myApp.popup('.popup-about');
          | });
          | 
          | $$('.open-services').on('click', function () {
          |   myApp.popup('.popup-services');
          | });          
      h2(data-device-preview="../docs-demos/popup-events.html") Popup Events
      p Popup has the same events as Modals, they could be useful when you need to do something in JavaScript when Popup opened/closed
      table.events-table
        thead
          tr
            th Event
            th Target
            th Description
        tbody
          tr
            td open
            td Popup Element<span>&lt;div class="popup"&gt;</span>
            td Event will be triggered when Popup starts its opening animation
          tr
            td opened
            td Popup Element<span>&lt;div class="popup"&gt;</span>
            td Event will be triggered after Popup completes its opening animation
          tr
            td close
            td Popup Element<span>&lt;div class="popup"&gt;</span>
            td Event will be triggered when Popup starts its closing animation
          tr
            td closed
            td Popup Element<span>&lt;div class="popup"&gt;</span>
            td Event will be triggered after Popup completes its closing animation
      pre
        code
          | &lt;body&gt;
          |   ...
          |     &lt;div class="page-content"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;!-- In data-popup attribute we specify CSS selector of popup we need to open --&gt;
          |         &lt;p&gt;&lt;a href="#" data-popup=".popup-about" class="open-popup"&gt;Open About Popup &lt;/a&gt;&lt;/p&gt;
          |         &lt;p&gt;&lt;a href="#" data-popup=".popup-services" class="open-popup"&gt;Open Services Popup &lt;/a&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   ...
          |   &lt;!-- About Popup --&gt;
          |   &lt;div class="popup popup-about"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;About&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Services Popup --&gt;
          |   &lt;div class="popup popup-services"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;Services&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor ...&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt; 
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.popup-about').on('opened', function () {
          |   console.log('About Popup opened')
          | });
          | $$('.popup-about').on('close', function () {
          |   console.log('About Popup is closing')
          | });
          | $$('.popup-services').on('open', function () {
          |   console.log('Services Popup is opening')
          | });
          | $$('.popup-services').on('closed', function () {
          |   console.log('Services Popup is closed')
          | });          
      h2(data-device-preview="../docs-demos/popup-dynamic.html") Dynamic Popup
      p Framework7 allows you to create Popup dynamically by passing its HTML to related App methods:
      p
        span.method myApp.popup(<span>popupHTML</span>, <span>removeOnClose</span>)</span> - open Popup
      ul.method-parameters
        li
          span.parameter popupHTML
          |  - <span class="parameter-type">string</span>. HTML string of popup content
        li
          span.parameter removeOnClose
          |  - <span class="parameter-type">boolean</span>. Optional, by default - true. If true then Popup will be removed from DOM when closed
      pre
        code
          | &lt;body&gt;
          |   ...
          |     &lt;div class="page-content"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;&lt;a href="#" class="create-popup"&gt;Create Popup&lt;/a&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   ...
          | &lt;/body&gt; 
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.create-popup').on('click', function () {
          |   var popupHTML = '&lt;div class="popup"&gt;'+
          |                     '&lt;div class="content-block"&gt;'+
          |                       '&lt;p&gt;Popup created dynamically.&lt;/p&gt;'+
          |                       '&lt;p&gt;&lt;a href="#" class="close-popup"&gt;Close me&lt;/a&gt;&lt;/p&gt;'+
          |                     '&lt;/div&gt;'+
          |                   '&lt;/div&gt;'
          |   myApp.popup(popupHTML);
          | });          
      div(style="height:100px")

