extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'RTL Layout | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 RTL Layout
      p Framework7 has full support for RTL (right to left) languages like Arabic and Hebrew. To enable RTL mode you simply need to include additional CSS file with RTL additions right after main Framework7's CSS library:
      pre
        code
          | &lt;!DOCTYPE html&gt;
          | &lt;html&gt;
          |   &lt;head&gt;
          |     ...
          |     &lt;title&gt;My App&lt;/title&gt;
          |     &lt;!-- Path to Framework7 Library CSS--&gt;
          |     &lt;link rel="stylesheet" href="path/to/framework7.[theme].min.css"&gt;
          |     
          |     &lt;!-- Enable RTL by including additional RTL styles: --&gt;
          |     &lt;link rel="stylesheet" href="path/to/framework7.[theme].rtl.min.css"&gt;
          |     
          |     &lt;!-- Path to your custom app styles--&gt;
          |     &lt;link rel="stylesheet" href="path/to/my-app.css"&gt;
          |     ...
      p Where <b>[theme]</b> is the theme you use: <code>ios</code> or <code>material</code>
      .important-note
        p Note that all RTL "mirrors" in RTL mode are made using CSS only, so you should not change order of HTML elements and keep it in LTR way. 
