extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Sortable List | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Sortable List
        p Sortable lists is an extension of <a href="list-view.html">list view</a> that allows you to sort list view elements.
        p Let's look on layout structure of sortable lists in your list views:
        pre
          code
            | &lt;!-- Additional "sortable" class on list-block --&gt;
            | &lt;div class="list-block sortable"&gt;
            |     &lt;li&gt;
            |         &lt;div class="item-content"&gt;
            |             &lt;div class="item-media"&gt;...&lt;/div&gt;
            |             &lt;div class="item-inner"&gt;...&lt;/div&gt;
            |         &lt;/div&gt;
            |         &lt;!-- Sortable handler element --&gt;
            |         &lt;div class="sortable-handler"&gt;&lt;/div&gt;
            |     &lt;/li&gt;
            | &lt;/div&gt; 
        p Where:
        ul
          li <code>sortable-handler</code> - "draggable" element (hidden by default) that allows you to sort current list view element
        p As you may see it is pretty simple, all you need is to add "sortable" class to "list-block" and put "sortable-handler" as a direct child of &lt;li&gt;
      h2 Enable and diable Sortable
      p After we have our sortable list we need somehow to enable/disable it.

      h3(data-device-preview="../docs-demos/sortable.html") From HTML
      p It is possible to enable and disable sortable mode using special classes and data attributes on links:
      .important-note
        ul
          li
            p To enable sortable mode we need to add <strong>"open-sortable"</strong> class to any HTML element (prefered to link)
          li
            p To disable sortable mode we need to add <strong>"close-sortable"</strong> class to any HTML element (prefered to link)
          li
            p To toggle sortable mode we need to add <strong>"toggle-sortable"</strong> class to any HTML element (prefered to link)
          li
            p If you have more than one sortable list in app, you need to specify appropriate sortable list via additional <strong>data-sortable=".sortable"</strong> attribute on this HTML element with CSS selector of required sortable list
      pre
        code
          | &lt;div class="content-block"&gt;
          |     &lt;!-- We specify target sortable list in data-sortable attribute  --&gt;
          |     &lt;p&gt;&lt;a href="#" data-sortable=".sortable" class="open-sortable"&gt;Enable sortable&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" data-sortable=".sortable" class="close-sortable"&gt;Disable sortable&lt;/a&gt;&lt;/p&gt;
          |     &lt;p&gt;&lt;a href="#" data-sortable=".sortable" class="toggle-sortable"&gt;Toggle sortable&lt;/a&gt;&lt;/p&gt;
          | &lt;/div&gt;
          | &lt;!-- Sortable list  --&gt;
          | &lt;div class="list-block sortable"&gt;
          |     &lt;ul&gt;
          |       &lt;li&gt;
          |         &lt;div class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item 1&lt;/div&gt;
          |             &lt;div class="item-after"&gt;$10&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |         &lt;!-- Sortable handler  --&gt;
          |         &lt;div class="sortable-handler"&gt;&lt;/div&gt;
          |       &lt;/li&gt;
          |       &lt;li&gt;
          |         &lt;div class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item 2&lt;/div&gt;
          |             &lt;div class="item-after"&gt;$20&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |         &lt;div class="sortable-handler"&gt;&lt;/div&gt;
          |       &lt;/li&gt;
          |       ...
          |     &lt;/ul&gt;
          | &lt;/div&gt;


      h3(data-device-preview="../docs-demos/sortable-js.html") Using JavaScript
      p It is possible using appropriate App methods:
      p
        span.method myApp.sortableOpen(<span>sortableContainer</span>)</span> - enable "sorting" mode on specified sortable container
      ul.method-parameters
        li
          span.parameter sortableContainer
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of sortable container (&lt;div class="list-block sortable"&gt;). Optional. If not specified, Framework7 will try to find first &lt;div class="list-block sortable"&gt; element.
      p
        span.method myApp.sortableClose(<span>sortableContainer</span>)</span> - disable "sorting" mode on specified sortable container
      ul.method-parameters
        li
          span.parameter sortableContainer
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of sortable container (&lt;div class="list-block sortable"&gt;). Optional. If not specified, Framework7 will try to find first &lt;div class="list-block sortable"&gt; element.
      p
        span.method myApp.sortableToggle(<span>sortableContainer</span>)</span> - toggle "sorting" mode on specified sortable container
      ul.method-parameters
        li
          span.parameter sortableContainer
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of sortable container (&lt;div class="list-block sortable"&gt;). Optional. If not specified, Framework7 will try to find first &lt;div class="list-block sortable"&gt; element.
      pre
        code
          | &lt;p&gt;&lt;a href="#" class="open"&gt;Enable sortable&lt;/a&gt;&lt;/p&gt;
          | &lt;p&gt;&lt;a href="#" class="close"&gt;Disable sortable&lt;/a&gt;&lt;/p&gt;
          | &lt;p&gt;&lt;a href="#" class="toggle"&gt;Toggle sortable&lt;/a&gt;&lt;/p&gt;          
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.open').on('click', function () {
          |   myApp.sortableOpen('.sortable');
          | });
          | $$('.close').on('click', function () {
          |   myApp.sortableClose('.sortable');
          | });
          | $$('.toggle').on('click', function () {
          |   myApp.sortableToggle('.sortable');
          | });
      .full-width
        h2.stop-scroll-device Sortable Events
        table.events-table
          thead
            tr
              th Event
              th Target
              th Description
          tbody
            tr
              td open
              td Sortable Container<span>&lt;div class="list-block sortable"&gt;</span>
              td Event will be triggered when sortable mode is enabled
            tr
              td close
              td Sortable Container<span>&lt;div class="list-block sortable"&gt;</span>
              td Event will be triggered when sortable mode is disabled
            tr
              td sort
              td List view element<span>&lt;li&gt;</span>
              td Event will be triggered after user release currently sorting element in new position