extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Templates Auto Compilation | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 Templates Auto Compilation
      p Framework7 may automatically compile all of your Template7 templates if they are specified in <code>&lt;script&gt;</code> tag with special attributes:
      pre
        code
          | &lt;script type="text/template7" id="myTemplate"&gt;
          |     &lt;p&gt;Hello, my name is {{name}} and i am {{age}} years old&lt;/p&gt;
          | &lt;/script&gt;  
      p Where
      ul
        li
          p <code>type="text/template7"</code> required script type that tell Framework7 that this is a Template7 template that could be compiled automatically
        li
          p <code>id="myTemplate"</code> required template id. It makes template accessible later by this id
      p To enable automatic compilation you also need to enable it on <a href="init-app.html">App initialization</a> by passing the following parameter:
      pre
        code
          | var myApp = new Framework7({
          |     //Tell Framework7 to compile templates on app init
          |     precompileTemplates: true,
          | });
      h2 Template7.templates / myApp.templates
      p After app initialization all automatically compiled templates will be accessible as properties of <code>Template7.templates</code> object and its alias <code>myApp.templates</code> where "myApp" is an initialized app instance. Name of required template/propery will be the same as "id" attribute of <code>&lt;script&gt;</code> with this template.
      p So if we have the fllowing templates in our <code>index.html</code> file:
      pre
        code
          | &lt;script type="text/template7" id="personTemplate"&gt;
          |     &lt;p&gt;Hello, my name is {{name}} and i am {{age}} years old&lt;/p&gt;
          |     &lt;p&gt;I work as {{position}} at {{company}}&lt;/p&gt;
          | &lt;/script&gt;
          | 
          | &lt;script type="text/template7" id="carTemplate"&gt;
          |     &lt;p&gt;I have a great car, it is {{vendor}} {{model}}, made in {{year}} year.&lt;/p&gt;
          |     &lt;p&gt;It has {{power}} hp engine with {{speed}} km/h maximum speed.&lt;/p&gt;
          | &lt;/script&gt; 
      p We can access them in our JavaScript <b>after</b> App initialization:
      pre
        code
          | var myApp = new Framework7({
          |     //Tell Framework7 to compile templates on app init
          |     precompileTemplates: true
          | });
          | 
          | // Render person template to HTML, its template is already compiled and accessible as Template7.templates.personTemplate
          | var personHTML = Template7.templates.personTemplate({
          |     name: 'John Doen',
          |     age: 33,
          |     position: 'Developer',
          |     company: 'Apple'
          | });
          | 
          | // Compile car template to HTML, its template is already compiled and accessible as Template7.templates.carTemplate
          | var carHTML = Template7.templates.carTemplate({
          |     vendor: 'Ford',
          |     model: 'Mustang',
          |     power: 300,
          |     speed: 280
          | });
      .important-note
        p If you use custom Template7 helpers and templates auto compilation, make sure that you have registered them <b>before</b> you initialize App!