extends ../_internal-template

block vars
  - var activeLink = 'tutorials';
  - var title = 'Framework7 Tutorials';

block content
  h1 Framework7 Tutorials
  p 
    b Let us know if you wrote any tutorial about Framework7 and we will feature it here.
  ul.tutorials
    li
      .tutorial-title
        a(href="http://www.timo-ernst.net/blog/2015/11/05/video-screencast-how-to-use-framework7-with-angularjs/", target="_blank") Video Screencast: How to use Framework7 with AngularJS
        span.video
      .tutorial-meta 
        span.tutorial-date November 5, 2015 
        a(href="http://www.timo-ernst.net", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="maintain-both-ios-and-material-themes-in-single-app.html") Maintain both iOS and Material Themes in single app
      .tutorial-meta 
        span.tutorial-date August 1, 2015
    li
      .tutorial-title
        a(href="tips-to-migrate-ios-theme-app-to-material-theme.html") Tips to migrate iOS Theme app to Material Theme
      .tutorial-meta 
        span.tutorial-date August 1, 2015
    li
      .tutorial-title
        a(href="http://ekhlakov.blogspot.ru/2015/05/phonegap.html", target="_blank") Multilanguage application for Phonegap with Gettext, Jad and po2json (on Russian)
      .tutorial-meta 
        span.tutorial-date May 31, 2015,  
        a(href="http://ekhlakov.blogspot.com/", target="_blank").tutorial-author Oleg Ekhlakov
    li
      .tutorial-title
        a(href="http://www.htmlcenter.com/blog/framework7-and-parse-for-user-login/", target="_blank") Framework7 and Parse for User login
      .tutorial-meta 
        span.tutorial-date April 11, 2015,  
        a(href="http://www.htmlcenter.com/", target="_blank").tutorial-author Saul Zukauskas (HTML Center)
    li
      .tutorial-title
        a(href="http://www.timo-ernst.net/2015/04/a-movie-list-demo-app-built-with-framework7-and-angular/", target="_blank") A movie-list demo app built with Framework7 and Angular
      .tutorial-meta 
        span.tutorial-date April 5, 2015,  
        a(href="http://www.timo-ernst.net/", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="http://www.timo-ernst.net/2015/04/a-framework7-template-with-typescript-angularjs-sass-and-grunt/", target="_blank") Framework7 template with TypeScript, AngularJS, SASS and Grunt
      .tutorial-meta 
        span.tutorial-date April 5, 2015,  
        a(href="http://www.timo-ernst.net/", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="./mobile-mvc-apps-with-framework7-requirejs-and-handlerbars.html") Mobile MVC Apps With Framework7, RequireJS and Handlebars
      .tutorial-meta by 
        a(href="https://github.com/philipshurpik", target="_blank").tutorial-author Philip Shurpik
    li
      .tutorial-title
        a(href="http://thejackalofjavascript.com/framework7-phonegap-getting-started/", target="_blank") Framework7 & PhoneGap – Getting Started
      .tutorial-meta by 
        a(href="http://thejackalofjavascript.com/", target="_blank").tutorial-author The Jackal of Javascript
    li
      .tutorial-title
        a(href="http://codemy.net/posts/integrating-framework7-into-rails", target="_blank") Integrating Framework7 into Rails
        span.video 
      .tutorial-meta by 
        a(href="http://codemy.net/", target="_blank").tutorial-author Codemy.net
    li
      .tutorial-title
        a(href="http://codemy.net/posts/filling-out-mobile-site-ui", target="_blank") Filling out Mobile Site UI (Variants + Framework7)
        span.video 
      .tutorial-meta by 
        a(href="http://codemy.net/", target="_blank").tutorial-author Codemy.net
    li
      .tutorial-title
        a(href="http://codemy.net/posts/optimizing-mobile-site", target="_blank") Optimizing Rails App for Framework7
        span.video 
      .tutorial-meta by 
        a(href="http://codemy.net/", target="_blank") Codemy.net

    
  