extends ../_internal-template

block vars
  - var activeLink = 'tutorials';
  - var title = 'Framework7 Tutorials';

block content
  h1 Framework7 Tutorials
  p
    b If you wrote any tutorial or video about Framework7, don't hesitate to <a href="https://github.com/nolimits4web/Framework7-Website" target="_blank">send PR</a> to this website section with information about your tutorial.
  ul.tutorials
    li
      .tutorial-title
        a(href="http://phonegap.com/blog/2016/04/21/introducing-star-track-by-phonegap/", target="_blank") Introducing: Star Track by PhoneGap
      .tutorial-meta
        span.tutorial-date December 4, 2016 
        a(href="https://github.com/devgeeks", target="_blank").tutorial-author Tommy-Carlos Williams / PhoneGap
    li
      .tutorial-title
        a(href="http://hollyschinsky.github.io/pgday-eu-star-track/index.html", target="_blank") PhoneGap Day EU Essentials Workshop 2016
      .tutorial-meta
        span.tutorial-date December 4, 2016 
        a(href="http://devgirl.org/", target="_blank").tutorial-author Holly Schinsky / PhoneGap
    li
      .tutorial-title
        a(href="https://www.tutorialspoint.com/framework7/index.htm", target="_blank") Framework7 Tutorials
      .tutorial-meta
        span.tutorial-date December 4, 2016 
        a(href="https://www.tutorialspoint.com/index.htm", target="_blank").tutorial-author tutorialspoint
    li
      .tutorial-title
        a(href="https://www.youtube.com/playlist?list=PLnBvgoOXZNCM2C5hoDiLuRC2ufb-2LG9j", target="_blank") Framework7 Video Tutorials
        span.video
      .tutorial-meta
        span.tutorial-date December 4, 2016 
        a(href="https://www.youtube.com/channel/UCfjlsXMcayeWoqQzE_8ALaQ", target="_blank").tutorial-author Braintem
    li
      .tutorial-title
        a(href="https://www.timo-ernst.net/blog/2016/11/13/how-to-get-started-with-framework7-vuejs-and-webpack/", target="_blank") Video Screencast: How to get started with Framework7, VueJS and Webpack
        span.video
      .tutorial-meta
        span.tutorial-date December 4, 2016 
        a(href="http://www.timo-ernst.net", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="http://www.timo-ernst.net/blog/2015/11/05/video-screencast-how-to-use-framework7-with-angularjs/", target="_blank") Video Screencast: How to use Framework7 with AngularJS
        span.video
      .tutorial-meta 
        span.tutorial-date November 5, 2015 
        a(href="http://www.timo-ernst.net", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="maintain-both-ios-and-material-themes-in-single-app.html") Maintain both iOS and Material Themes in single app
      .tutorial-meta 
        span.tutorial-date August 1, 2015
    li
      .tutorial-title
        a(href="tips-to-migrate-ios-theme-app-to-material-theme.html") Tips to migrate iOS Theme app to Material Theme
      .tutorial-meta 
        span.tutorial-date August 1, 2015
    li
      .tutorial-title
        a(href="http://ekhlakov.blogspot.ru/2015/05/phonegap.html", target="_blank") Multilanguage application for Phonegap with Gettext, Jad and po2json (on Russian)
      .tutorial-meta 
        span.tutorial-date May 31, 2015,  
        a(href="http://ekhlakov.blogspot.com/", target="_blank").tutorial-author Oleg Ekhlakov
    li
      .tutorial-title
        a(href="http://www.htmlcenter.com/blog/framework7-and-parse-for-user-login/", target="_blank") Framework7 and Parse for User login
      .tutorial-meta 
        span.tutorial-date April 11, 2015,  
        a(href="http://www.htmlcenter.com/", target="_blank").tutorial-author Saul Zukauskas (HTML Center)
    li
      .tutorial-title
        a(href="http://www.timo-ernst.net/2015/04/a-movie-list-demo-app-built-with-framework7-and-angular/", target="_blank") A movie-list demo app built with Framework7 and Angular
      .tutorial-meta 
        span.tutorial-date April 5, 2015,  
        a(href="http://www.timo-ernst.net/", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="http://www.timo-ernst.net/2015/04/a-framework7-template-with-typescript-angularjs-sass-and-grunt/", target="_blank") Framework7 template with TypeScript, AngularJS, SASS and Grunt
      .tutorial-meta 
        span.tutorial-date April 5, 2015,  
        a(href="http://www.timo-ernst.net/", target="_blank").tutorial-author Timo Ernst
    li
      .tutorial-title
        a(href="./mobile-mvc-apps-with-framework7-requirejs-and-handlerbars.html") Mobile MVC Apps With Framework7, RequireJS and Handlebars
      .tutorial-meta by 
        a(href="https://github.com/philipshurpik", target="_blank").tutorial-author Philip Shurpik
    li
      .tutorial-title
        a(href="http://thejackalofjavascript.com/framework7-phonegap-getting-started/", target="_blank") Framework7 & PhoneGap – Getting Started
      .tutorial-meta by 
        a(href="http://thejackalofjavascript.com/", target="_blank").tutorial-author The Jackal of Javascript
    li
      .tutorial-title
        a(href="http://codemy.net/posts/integrating-framework7-into-rails", target="_blank") Integrating Framework7 into Rails
        span.video 
      .tutorial-meta by 
        a(href="http://codemy.net/", target="_blank").tutorial-author Codemy.net
    li
      .tutorial-title
        a(href="http://codemy.net/posts/filling-out-mobile-site-ui", target="_blank") Filling out Mobile Site UI (Variants + Framework7)
        span.video 
      .tutorial-meta by 
        a(href="http://codemy.net/", target="_blank").tutorial-author Codemy.net
    li
      .tutorial-title
        a(href="http://codemy.net/posts/optimizing-mobile-site", target="_blank") Optimizing Rails App for Framework7
        span.video 
      .tutorial-meta by 
        a(href="http://codemy.net/", target="_blank") Codemy.net
    li
      .tutorial-title
        a(href="https://github.com/daniegarcia254/Framework7-Vue-Webpack-Cordova", target="_blank") Login app template with Framework7-Vue + Webpack hot reload + Cordova + Icon/Splash screen generation
      .tutorial-meta 
	span.tutorial-date June 6, 2017, 
        a(href="https://github.com/daniegarcia254/", target="_blank").tutorial-author Daniel García

    
  
