extends ../_internal-template

block vars
  - var activeLink = 'tutorials';
  - var title = 'Tips to migrate iOS Theme app to Material Theme | Framework7 Tutorials';

block content
  h1 Tips to migrate iOS Theme app to Material Theme
  p With release of Material theme you'll probably want to make Material version of your app for Android devices. 
  p In this article we'll look at main difference between these themes to make migration of iOS app to Material theme easier.
  h2 Difference
  h3 1. CSS Files
  p First of all we need to include Material specific CSS files instead of iOS ones:
  pre
    code
      | &lt;head&gt;
      |     ...
      |     &lt;link rel="stylesheet" href="path/to/framework7.material.min.css"&gt;
      |     &lt;link rel="stylesheet" href="path/to/framework7.material.colors.min.css"&gt;
      | &lt;/head&gt;
  h3 2. Enable Material
  p Then we need to enable Material theme specific JS logic by passing <code>material:true</code> parameter on <a href="../docs/init-app.html">App initialization</a>:
  pre
    code
      | var myApp = new Framework7({
      |   material: true //enable Material theme
      | })      
  h3 3. No Swipe Back
  p Material theme doesn't support Swipe Back gesture. And if your app contains pages or views which are highly related on this feature, you'll have to change it or provide additional "back" button. 
  p You don't need to disable this feature in App or View parameters. It will be ignored automatically when Material is enabled on App initialization.
  h3 4. No Through-Type Toolbars Layout
  p Material theme doesn't support <a href="../docs/navbar-toolbar-layouts.html#through-layout">such layout</a> as well as <a href="../docs/dynamic-navbar.html">Dynamic Navbar</a>, so we have to change our pages/toolbars layout to <a href="../docs/navbar-toolbar-layouts.html#fixed-layout">Fixed layout</a>.
  p In iOS Theme, we have:
  pre
    code
      | &lt;!-- Main Page View --&gt;
      | &lt;div class="view navbar-through"&gt;
      |     &lt;div class="navbar"&gt;
      |         &lt;div class="navbar-inner"&gt;
      |             &lt;div class="center"&gt;Page Title&lt;/div&gt;
      |         &lt;/div&gt;
      |     &lt;/div&gt;    
      |     &lt;div class="pages"&gt;
      |         &lt;div class="page"&gt;
      |             &lt;div class="page-content"&gt;
      |                 &lt;!-- Page content here --&gt;        
      |             &lt;/div&gt;
      |         &lt;/div&gt;
      |     &lt;/div&gt;
      | &lt;/div&gt;
      | 
      | &lt;!-- Internal Page --&gt;
      | &lt;div class="navbar"&gt;
      |     &lt;div class="navbar-inner"&gt;
      |         &lt;div class="center"&gt;Page Title&lt;/div&gt;
      |     &lt;/div&gt;
      | &lt;/div&gt;
      | &lt;div class="page"&gt;
      |     &lt;div class="page-content"&gt;
      |         &lt;!-- Page content here --&gt;
      |     &lt;/div&gt;
      | &lt;/div&gt;      
  p In Material Theme, we need to <b>put navbar inside of page</b>, so change it to:
  pre
    code
      | &lt;!-- Main Page View --&gt;
      | &lt;div class="view navbar-fixed"&gt;
      |     &lt;div class="pages"&gt;
      |         &lt;div class="page"&gt;
      |             &lt;div class="navbar"&gt;
      |                 &lt;div class="navbar-inner"&gt;
      |                     &lt;div class="center"&gt;Page Title&lt;/div&gt;
      |                 &lt;/div&gt;
      |             &lt;/div&gt;    
      |             &lt;div class="page-content"&gt;
      |                 &lt;!-- Page content here --&gt;        
      |             &lt;/div&gt;
      |         &lt;/div&gt;
      |     &lt;/div&gt;
      | &lt;/div&gt;
      | 
      | &lt;!-- Internal Page --&gt;
      | &lt;div class="page"&gt;
      |     &lt;div class="navbar"&gt;
      |         &lt;div class="navbar-inner"&gt;
      |             &lt;div class="center"&gt;Page Title&lt;/div&gt;
      |         &lt;/div&gt;
      |     &lt;/div&gt;
      |     &lt;div class="page-content"&gt;
      |         &lt;!-- Page content here --&gt;
      |     &lt;/div&gt;
      | &lt;/div&gt;      
  h3 5. Form Radios
  p If you use <a href="../docs/checkboxes-radios.html">Checkboxes and radios</a> in your app, pay attention to <a href="../docs/checkboxes-radios.html#radios-group-material">Radios Group Material</a> layout. It is a bit different and uses additional radio icon.
  h3 6. Tab Bar Application
  p If your app is a Tab Bar application layout (where each Tab contains separate View), then you will probably need to reconsider such layout as it is not very popular and not widely used in Material apps.
  h2 Maintain Both Themes
  p As we see there is no much critical difference in these themes layout and it is not hard to convert your iOS app to Material theme app. Also, there is a way to <a href="maintain-both-ios-and-material-themes-in-single-app.html">maintain both iOS and Material themes</a> in single app.