extends _layout
block content
  .view.view-main
    .page
      .navbar
        .navbar-inner
          .left
          .title Accordion
          .right
      .page-content
        .block-title List View Accordion
        .list.accordion-list
          ul
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 1
              .accordion-item-content
                .block
                  p Item 1 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 2
              .accordion-item-content
                .block
                  p Item 2 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 3
              .accordion-item-content
                .block
                  p Item 3 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 4
              .accordion-item-content
                .block
                  p Item 4 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.

        // Separate collapsibles - omit "accordion-list" class
        .block-title Separate Collapsibles
        .list
          ul
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 1
              .accordion-item-content
                .block
                  p Item 1 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 2
              .accordion-item-content
                .block
                  p Item 2 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 3
              .accordion-item-content
                .block
                  p Item 3 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
            li.accordion-item
              a(href="#").item-content.item-link
                .item-inner
                  .item-title Item 4
              .accordion-item-content
                .block
                  p Item 4 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
        .block-title Custom Accordion
        .block.accordion-list.custom-accordion
          .accordion-item
            .accordion-item-toggle
              i.icon.icon-plus +
              i.icon.icon-minus -
              span Item 1
            .accordion-item-content
              p Item 1 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
          .accordion-item
            .accordion-item-toggle
              i.icon.icon-plus +
              i.icon.icon-minus -
              span Item 2
            .accordion-item-content
              p Item 2 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.
          .accordion-item
            .accordion-item-toggle
              i.icon.icon-plus +
              i.icon.icon-minus -
              span Item 3
            .accordion-item-content
              p Item 3 content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim viverra velit sed euismod. Mauris sed quam vehicula, dapibus ante a, aliquet augue.


block scripts
  style.
    .custom-accordion {
      padding-left: 0;
      padding-right: 0;
    }
    .custom-accordion .accordion-item-toggle {
      padding: 0px 15px;
      height: 44px;
      line-height: 44px;
      font-size: 17px;
      color: #000;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
    .custom-accordion .accordion-item-toggle:active {
      background: rgba(0, 0, 0, 0.15);
    }
    .custom-accordion .accordion-item-toggle span {
      display: inline-block;
      margin-left: 15px;
    }
    .custom-accordion .accordion-item:last-child .accordion-item-toggle {
      border-bottom: none;
    }
    .custom-accordion .icon-plus,
    .custom-accordion .icon-minus {
      display: inline-block;
      width: 22px;
      height: 22px;
      border: 1px solid #000;
      border-radius: 100%;
      line-height: 20px;
      text-align: center;
    }
    .custom-accordion .icon-minus {
      display: none;
    }
    .custom-accordion .accordion-item-opened .icon-minus {
      display: inline-block;
    }
    .custom-accordion .accordion-item-opened .icon-plus {
      display: none;
    }
    .custom-accordion .accordion-item-content {
      padding: 0px 15px;
    }
  script.
    var myApp = new Framework7();
