extends _layout
block vars
  - var includeF7Icons = true;
  - var includeMaterialIcons = true;
block content
  .view.view-main.view-init
    .page
      .navbar
        .navbar-inner
          .left
          .title Badge
          .right
            a.link.icon-only
              <i class="icon f7-icons ios-only">person_fill<span class="badge color-red">5</span></i>
              <i class="icon material-icons md-only">person<span class="badge color-red">5</span></i>
      .toolbar.tabbar.tabbar-labels
        .toolbar-inner
          <a href="#tab-1" class="tab-link tab-link-active">
            <i class="icon icon-fill f7-icons ios-only">email_fill<span class="badge color-green">5</span></i>
            <i class="icon material-icons md-only">email<span class="badge color-green">5</span></i>
            <span class="tabbar-label">Inbox</span>
          </a>
          <a href="#tab-2" class="tab-link">
            <i class="icon f7-icons ios-only">today<span class="badge color-red">7</span></i>
            <i class="icon material-icons md-only">today<span class="badge color-red">7</span></i>
            <span class="tabbar-label">Calendar</span>
          </a>
          <a href="#tab-3" class="tab-link">
            <i class="icon f7-icons ios-only">cloud<span class="badge color-red">1</span></i>
            <i class="icon material-icons md-only">file_upload<span class="badge color-red">1</span></i>
            <span class="tabbar-label">Upload</span>
          </a>
      .page-content
        <div class="list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Foo Bar</div>
                  <div class="item-after"><span class="badge">0</span></div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Ivan Petrov</div>
                  <div class="item-after"><span class="badge color-blue">CEO</span></div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">John Doe</div>
                  <div class="item-after"><span class="badge color-green">5</span></div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title">Jane Doe</div>
                  <div class="item-after"><span class="badge color-orange">NEW</span></div>
                </div>
              </div>
            </li>
          </ul>
        </div>


block scripts
  script.
    var app = new Framework7();
