extends _layout
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Calendar
              .right 
          .page-content
            .content-block-title Default setup
            .list-block
              ul
                li
                  .item-content
                    .item-inner 
                      .item-input
                        input(type="text", placeholder="Your birth date", readonly)#calendar-default
            .content-block-title Custom date format
            .list-block
              ul
                li
                  .item-content
                    .item-inner 
                      .item-input
                        input(type="text", placeholder="Select date", readonly)#calendar-date-format
            .content-block-title Multiple Values
            .list-block
              ul
                li
                  .item-content
                    .item-inner 
                      .item-input
                        input(type="text", placeholder="Select multiple dates", readonly)#calendar-multiple
            .content-block-title With Events
            .list-block
              ul
                li
                  .item-content
                    .item-inner 
                      .item-input
                        input(type="text", placeholder="Select date", readonly)#calendar-events
            .content-block-title Disabled Dates
            .list-block
              ul
                li
                  .item-content
                    .item-inner 
                      .item-input
                        input(type="text", placeholder="Select date", readonly)#calendar-disabled
            .content-block-title Inline with custom toolbar
            .content-block
              .content-block-inner(style="padding:0; margin-right:-15px; width:auto")
                #calendar-inline-container
block scripts
  style.
    #picker-date-container .picker-item {
      color: #999;
    }
    #picker-date-container .picker-selected {
      color: #000;
    }
    @media (max-width: 767px) {
      #picker-date-container .picker-items {
        font-size: 21px;
      }
      #picker-date-container .picker-item {
        height: 36px;
        line-height: 36px;
        padding: 0 6px;
      }
    }
  script.
    var myApp = new Framework7();

    // Default
    var calendarDefault = myApp.calendar({
        input: '#calendar-default',
    });
    // With custom date format
    var calendarDateFormat = myApp.calendar({
        input: '#calendar-date-format',
        dateFormat: 'DD, MM dd, yyyy'
    });
    // With multiple values
    var calendarMultiple = myApp.calendar({
        input: '#calendar-multiple',
        dateFormat: 'M dd yyyy',
        multiple: true
    });
    // With events
    var today = new Date();
    var weekLater = new Date().setDate(today.getDate() + 7);
    var calendarEvents = myApp.calendar({
        input: '#calendar-events',
        dateFormat: 'M dd yyyy',
        events: {
          from: today,
          to: weekLater
        }
    });
    // Disabled
    var today = new Date();
    var weekLater = new Date().setDate(today.getDate() + 7);
    var calendarDisabled = myApp.calendar({
        input: '#calendar-disabled',
        dateFormat: 'M dd yyyy',
        disabled: {
          from: today,
          to: weekLater
        }
    });
    // Inline with custom toolbar
    var $$ = Dom7;
    var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August' , 'September' , 'October', 'November', 'December'];
    var calendarInline = myApp.calendar({
        container: '#calendar-inline-container',
        value: [new Date()],
        weekHeader: false,
        toolbarTemplate: 
            '<div class="toolbar calendar-custom-toolbar">' +
                '<div class="toolbar-inner">' +
                    '<div class="left">' +
                        '<a href="#" class="link icon-only"><i class="icon icon-back"></i></a>' +
                    '</div>' +
                    '<div class="center"></div>' +
                    '<div class="right">' +
                        '<a href="#" class="link icon-only"><i class="icon icon-forward"></i></a>' +
                    '</div>' +
                '</div>' +
            '</div>',
        onOpen: function (p) {
            $$('.calendar-custom-toolbar .center').text(monthNames[p.currentMonth] +', ' + p.currentYear);
            $$('.calendar-custom-toolbar .left .link').on('click', function () {
                calendarInline.prevMonth();
            });
            $$('.calendar-custom-toolbar .right .link').on('click', function () {
                calendarInline.nextMonth();
            });
        },
        onMonthYearChangeStart: function (p) {
            $$('.calendar-custom-toolbar .center').text(monthNames[p.currentMonth] +', ' + p.currentYear);
        }
    });