extends _layout
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Custom Controls
              .right 
          .page-content
            .slider-custom
              .slider-container
                .slider-pagination
                .slider-wrapper
                  - for (var i = 1; i < 8; i++)
                    .slider-slide
                      span Slide #{i}
              a(href="#").slider-prev-button 
                i.icon.icon-prev-blue
              a(href="#").slider-next-button
                i.icon.icon-next-blue


block scripts
  style.
    .slider-custom {
      position:relative;
      height:100%;
    }
    .slider-slide {
      background: #fff;
    }
    .slider-slide span {
      text-align:center;
      display:block;
      margin: 20px;
      font-size:21px;
    }
    .slider-prev-button, .slider-next-button {
      position: absolute;
      width:44px;
      background: rgba(0,0,0,0.7);
      top: 50%;
      margin-top: -22px;
      line-height: 44px;
      text-align:center;
    }
    .slider-prev-button {
      left:0;
    }
    .slider-next-button {
      right:0;
    }
    .slider-pagination-bullet {
      width: 10px;
      height: 10px;
      background: none;
      border:1px solid #aaa;
      border-radius: 0 0 0 0;
      opacity:1;
      cursor: pointer;
    }
    .slider-pagination-active {
      background: #007aff;
      border-color: #007aff;
    }
  script.
    var myApp = new Framework7(); 

    var mySlider = myApp.slider('.slider-container', {
      pagination: '.slider-pagination',
      paginationHide: false,
      nextButton: '.slider-next-button',
      prevButton: '.slider-prev-button',
      indexButton: '.slider-pagination-bullet'
    });