extends _layout
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Swipeout
              .right 
          .page-content
            .list-block
              ul
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  .swipeout-actions
                    .swipeout-actions-inner
                      a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  .swipeout-actions
                    .swipeout-actions-inner
                      a(href="#").action1 Action 1
                      a(href="#").action2 Action 2
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
                  .swipeout-actions
                    .swipeout-actions-inner
                      a(href="#").action1 Action 1
                      a(href="#").action2 Action 2

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.action1').on('click', function () {
      myApp.alert('Action 1');
    });
    $$('.action2').on('click', function () {
      myApp.alert('Action 2');
    });
