extends ../_internal-template

block vars
  - var activeLink = 'contribute';
  - var title = 'Contribute To Framework7';

block content
  h1 Contribute To Framework7
  p There are few ways how you can help in the development of Framework7 and make it even better:
  h3 Contribute to GitHub project
  p You are always wellcome on <a href="https://github.com/nolimits4web/Framework7" target="_blank">Framework7 GitHub project</a> if you may improve Framework7 or any of its parts.
  p Don't hesitate to let us know if you see any way to improve Framework7 or if you found any issue by <a href="https://github.com/nolimits4web/Framework7/issues/new" target="_blank">submitting an issue</a> on GitHub
  h3 Demo Apps & Examples
  p You can create interesting <a href="../apps/">Demo Apps</a> and <a href="../examples/">Examples</a> that may be used as a great start by other developers.
  h3 Advertise Your Service
  p If you are the SaaS company, then the best way to advertise your products and to contribute to Framework7 will be <a href="../apps/">Demo</a> app or <a href="../examples/">Example</a> app for Framework7 that uses your services
  h3 Donate
  p If you like Framework7 you can also help with <a href="../donate/">Donation</a>
