extends ../jade/_internal-template

block vars
  - var activeLink = 'plugins';
  - var title = 'Framework7 Plugins';

block content
  h1 Framework7 Plugins
  
  .example
    .device.device-left.device-v
      iframe(width="320", height="568", scrolling="no", frameborder="0", src="./keypad/demo/index.html")
    .info
      h2 Keypad
      .example-author by <a href="http://www.idangero.us" target="_blank">iDangero.us</a>
      p Keypad plugin extends Framework7 with additional custom keyboards. By default it comes with predefined Numpad and Calculator keyboards, but also can be used to create custom keyboards with custom buttons
      p.buttons 
        a(href="https://github.com/nolimits4web/Framework7-Keypad", target="_blank").button Plugin Page
    .clearfix

  .example
    .device.device-left.device-v
      iframe(width="320", height="568", scrolling="no", frameborder="0", src="http://boynet.github.io/boynet/")
    .info
      h2 Indexed List
      .example-author by <a href="https://github.com/boynet" target="_blank">boynet</a>
      p This plugin is for indexed scroll list like in iOS (and Android), currently works only with Contacts List
      p.buttons 
        a(href="https://github.com/boynet/Framework7-Indexed-List-plugin", target="_blank").button Plugin Page
    .clearfix

  .example
    .device.device-left.device-v
      iframe(width="320", height="568", scrolling="no", frameborder="0", src="./feeds/demo/")
    .info
      h2 Feeds
      .example-author by <a href="http://www.idangero.us" target="_blank">iDangero.us</a>
      p Framework7 Feeds plugin brings easy RSS feeds integration into Framework7 app
      p Plugin comes with easy and powerful JS API to integrate and customize RSS feeds. But in most cases you will not need to use JavaScript at all
      p It is also fully compatible with Pull To Refresh component, and will automatically refresh feed on pull to refresh action. No additional actions or code are required
      p.buttons 
        a(href="https://github.com/nolimits4web/Framework7-Feeds", target="_blank").button Plugin Page
    .clearfix

  .example
    .device.device-left.device-v
      iframe(width="320", height="568", scrolling="no", frameborder="0", src="./3dpanels/demo/")
    .info
      h2 3D Panels
      .example-author by <a href="http://www.idangero.us" target="_blank">iDangero.us</a>
      p 3D Panels plugin converts "reveal"-effect panels to great looking 3D panels which are also available as a swipe-panels 
      p.buttons 
        a(href="https://github.com/nolimits4web/Framework7-3D-Panels", target="_blank").button Plugin Page
    .clearfix

  