extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Accordion Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Accordion Vue Component
    .docs-index
    p Accordion Vue component represents Framework7's <a href="../docs/accordion.html">Accordion</a> component.
    h2 Accordion Components
    p There are following components included:
    ul
      li <code><b>f7-accordion</b></code>
      li <code><b>f7-accordion-item</b></code>
      li <code><b>f7-accordion-toggle</b></code>
      li <code><b>f7-accordion-content</b></code>
    h2 Accordion Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-accordion-item&gt; properties
        tr
          td opened
          td boolean
          td
          td Makes accordion item opened

    h2 Accordion Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-accordion-item&gt; events
        tr
          td accordion:open
          td Event will be triggered when accordion content starts its opening animation.
        tr
          td accordion:opened
          td Event will be triggered after accordion content completes its opening animation.
        tr
          td accordion:close
          td Event will be triggered when accordion content starts its closing animation.
        tr
          td accordion:closed
          td Event will be triggered after accordion content completes its closing animation.

    h2 Accordion List
    p Accordion List is not a separate component, but just a particular case of using <code><a href="list-view.html">&lt;f7-list&gt;</a></code>, <code><a href="list-item.html">&lt;f7-list-item&gt;</a></code> and <code>&lt;f7-accordion-content&gt;</code> components.
    p In this case accordion events will be fired on <code>f7-list-item</code>.
    h2 Examples
    h4 Accordion
    pre
      code.html
        :code
          <f7-accordion>
            <!-- Item 1 -->
            <f7-accordion-item>
              <f7-accordion-toggle>Item 1</f7-accordion-toggle>
              <f7-accordion-content>
                Item 1 content...
              </f7-accordion-content>
            </f7-accordion-item>
            <!-- Item 2 -->
            <f7-accordion-item>
              <f7-accordion-toggle>Item 2</f7-accordion-toggle>
              <f7-accordion-content>
                Item 2 content...
              </f7-accordion-content>
            </f7-accordion-item>
          </f7-accordion>
    p Renders to:
    pre
      code.html
        :code
          <div class="accordion-list">
            <!-- Item 1 -->
            <div class="accordion-item">
              <div class="accordion-item-toggle">Item 1</div>
              <div class="accordion-item-content">
                Item 1 content...
              </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
              <div class="accordion-item-toggle">Item 2</div>
              <div class="accordion-item-content">
                Item 2 content...
              </div>
            </div>
          </div>
    h4 Separate Collapsible
    p If you want to use single separate collapsible element you may just omit <code>f7-accordion</code> wrapper element:
    pre
      code.html
        :code
          <!-- Single collapsible element -->
          <f7-accordion-item>
            <f7-accordion-toggle>Item 1</f7-accordion-toggle>
            <f7-accordion-content>
              Item 1 content...
            </f7-accordion-content>
          </f7-accordion-item>

          <!-- Another separate collapsible element -->
          <f7-accordion-item>
            <f7-accordion-toggle>Item 2</f7-accordion-toggle>
            <f7-accordion-content>
              Item 2 content...
            </f7-accordion-content>
          </f7-accordion-item>
    p Renders to:
    pre
      code.html
        :code
          <!-- Single collapsible element -->
          <div class="accordion-item">
            <div class="accordion-item-toggle">Item 1</div>
            <div class="accordion-item-content">
              Item 1 content...
            </div>
          </div>

          <!-- Another separate collapsible element -->
          <div class="accordion-item">
            <div class="accordion-item-toggle">Item 2</div>
            <div class="accordion-item-content">
              Item 2 content...
            </div>
          </div>
    h4 Accordion List
    p In this case we need to enable accordion list on <code>&lt;f7-list&gt;</code> by passing <code>accordion</code> boolean prop. And enable accordion item on <code>&lt;f7-list-item&gt;</code> by passing <code>accordion-item</code> boolean prop:
    pre
      code.html
        :code
          <f7-list accordion>
            <f7-list-item accordion-item title="Accordion Item 1">
              <f7-accordion-content>
                <f7-block>
                  <p>Accordion Item 1 Content</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu felis volutpat, rutrum ex quis, lobortis ex. Curabitur quis mattis lorem. Nullam magna lacus, interdum vel maximus nec, vestibulum non quam. Phasellus ornare efficitur porttitor. Quisque neque diam, imperdiet in fermentum nec, congue vitae ante. Nullam imperdiet maximus commodo. Morbi pharetra id purus ac ultrices. Duis non posuere libero.</p>
                </f7-block>
              </f7-accordion-content>
            </f7-list-item>
            <f7-list-item accordion-item title="Accordion Item 2">
              <f7-accordion-content>
                <f7-block>
                  <p>Accordion Item 2 Content</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu felis volutpat, rutrum ex quis, lobortis ex. Curabitur quis mattis lorem. Nullam magna lacus, interdum vel maximus nec, vestibulum non quam. Phasellus ornare efficitur porttitor. Quisque neque diam, imperdiet in fermentum nec, congue vitae ante. Nullam imperdiet maximus commodo. Morbi pharetra id purus ac ultrices. Duis non posuere libero.</p>
                </f7-block>
              </f7-accordion-content>
            </f7-list-item>
          </f7-list>
    p Renders to:
    pre
      code.html
        :code
          <div class="list accordion-list">
            <ul>
              <li class="accordion-item">
                <a href="#" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Accordion Item 1</div>
                    </div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Accordion Item 1 Content</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu felis volutpat, rutrum ex quis, lobortis ex. Curabitur quis mattis lorem. Nullam magna lacus, interdum vel maximus nec, vestibulum non quam. Phasellus ornare efficitur porttitor. Quisque neque diam, imperdiet in fermentum nec, congue vitae ante. Nullam imperdiet maximus commodo. Morbi pharetra id purus ac ultrices. Duis non posuere libero.</p>
                  </div>
                </div>
              </li>
              <li class="accordion-item">
                <a href="#" class="item-link">
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Accordion Item 2</div>
                    </div>
                  </div>
                </a>
                <div class="accordion-item-content">
                  <div class="block">
                    <p>Accordion Item 2 Content</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu felis volutpat, rutrum ex quis, lobortis ex. Curabitur quis mattis lorem. Nullam magna lacus, interdum vel maximus nec, vestibulum non quam. Phasellus ornare efficitur porttitor. Quisque neque diam, imperdiet in fermentum nec, congue vitae ante. Nullam imperdiet maximus commodo. Morbi pharetra id purus ac ultrices. Duis non posuere libero.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
