extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Accordion Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Accordion Vue Component
    ul.docs-index
    p Accordion Vue component represents Framework7's <a href="../docs/accordion.html">Accordion</a> component.
    h2 Accordion Components
    p There are following components included:
    ul
      li <code><b>f7-accordion</b></code>
      li <code><b>f7-accordion-item</b></code>
      li <code><b>f7-accordion-toggle</b></code>
      li <code><b>f7-accordion-content</b></code>
    h2 Accordion Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-accordion-item&gt; properties
        tr
          td opened
          td boolean
          td
          td Makes accordion item opened

    h2 Accordion Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-accordion-item&gt; events
        tr
          td accordion:open
          td Event will be triggered when accordion content starts its opening animation.
        tr
          td accordion:opened
          td Event will be triggered after accordion content completes its opening animation.
        tr
          td accordion:close
          td Event will be triggered when accordion content starts its closing animation.
        tr
          td accordion:closed
          td Event will be triggered after accordion content completes its closing animation.

    h2 Accordion List
    p Accordion List is not a separate component, but just a particular case of using <code><a href="list-view.html">&lt;f7-list&gt;</a></code>, <code><a href="list-item.html">&lt;f7-list-item&gt;</a></code> and <code>&lt;f7-accordion-content&gt;</code> components.
    p In this case accordion events will be fired on <code>f7-list-item</code>.
    .with-device
      h2(data-device-preview="../docs-demos/vue/accordion.html") Examples
      :code(lang="html")
            <f7-block-title>List View Accordion</f7-block-title>
            <f7-list accordion-list>
              <f7-list-item accordion-item title="Lorem Ipsum">
                <f7-accordion-content>
                  <f7-block>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
                    </p>
                  </f7-block>
                </f7-accordion-content>
              </f7-list-item>
              <f7-list-item accordion-item title="Nested List">
                <f7-accordion-content>
                  <f7-list>
                    <f7-list-item title="Item 1"></f7-list-item>
                    <f7-list-item title="Item 2"></f7-list-item>
                    <f7-list-item title="Item 3"></f7-list-item>
                    <f7-list-item title="Item 4"></f7-list-item>
                  </f7-list>
                </f7-accordion-content>
              </f7-list-item>
              <f7-list-item accordion-item title="Integer semper">
                <f7-accordion-content>
                  <f7-block>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
                    </p>
                  </f7-block>
                </f7-accordion-content>
              </f7-list-item>
            </f7-list>

            <f7-block-title>Inset Accordion</f7-block-title>
            <f7-list accordion-list inset>
              <f7-list-item accordion-item title="Lorem Ipsum">
                <f7-accordion-content>
                  <f7-block>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
                    </p>
                  </f7-block>
                </f7-accordion-content>
              </f7-list-item>
              <f7-list-item accordion-item title="Nested List">
                <f7-accordion-content>
                  <f7-list>
                    <f7-list-item title="Item 1"></f7-list-item>
                    <f7-list-item title="Item 2"></f7-list-item>
                    <f7-list-item title="Item 3"></f7-list-item>
                    <f7-list-item title="Item 4"></f7-list-item>
                  </f7-list>
                </f7-accordion-content>
              </f7-list-item>
              <f7-list-item accordion-item title="Integer semper">
                <f7-accordion-content>
                  <f7-block>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. Integer semper arcu nibh, non mollis arcu tempor vel. Sed pharetra tortor vitae est rhoncus, vel congue dui sollicitudin. Donec eu arcu dignissim felis viverra blandit suscipit eget ipsum.
                    </p>
                  </f7-block>
                </f7-accordion-content>
              </f7-list-item>
            </f7-list>

            <f7-block-title>Custom Collapsible</f7-block-title>
            <f7-block inner accordion-list>
              <f7-accordion-item v-for="n in 3" :key="n">
                <f7-accordion-toggle><b>Item {{n}}</b></f7-accordion-toggle>
                <f7-accordion-content>Content {{n}}</f7-accordion-content>
              </f7-accordion-item>
            </f7-block>