extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Appbar Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Appbar Vue Component
    ul.docs-index
    p Appbar Vue component represents <a href="../docs/appbar.html">Appbar</a> element.
    p It is the main app bar with actions on top of the whole app. It is designed to be used in desktop apps with Aurora theme.
    h2 Appbar Components
    p There are following components included:
    ul
      li `f7-appbar`
    h2 Appbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-appbar&gt; properties
        tr
          td inner
          td boolean
          td true
          td When enabled (by default), it will put all the content within internal `appbar-inner` element. Disable it only in case you want to put totally custom layout inside
        tr
          td no-shadow
          td boolean
          td false
          td Disable shadow rendering for MD theme
        tr
          td no-hairline
          td boolean
          td false
          td Disable appbar bottom thin border (hairline) for iOS theme
        tr
          td inner-class
          td string
          td
          td Adds additional class to `appbar-inner` element
        tr
          td inner-class-name
          td string
          td
          td Alias for `inner-class` prop
    .with-device
      h2(data-device-preview="../docs-demos/vue/appbar.html") Examples
      include:vueSource ../docs-demos/vue/appbar.vue
