extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Badge Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Badge Vue Component
    .docs-index
    p Badge Vue component represents <a href="../docs/badge.html">Badge</a> element that can be used in lists, links, navigation bars, etc.
    h2 Badge Components
    p There are following components included:
    ul
      li <code><b>f7-badge</b></code>
    h2 Examples
    pre
      code
        | &lt;f7-badge&gt;5&lt;/f7-badge&gt;
        | &lt;!--
        | Renders to:
        | &lt;span class="badge"&gt;5&lt;/span&gt;
        | --&gt;
        |
        | &lt;f7-badge color="red"&gt;5&lt;/f7-badge&gt;
        | &lt;!--
        | Renders to:
        | &lt;span class="badge color-red"&gt;5&lt;/span&gt;
        | --&gt;
