extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Block Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Block Vue Component
    ul.docs-index
    p Block Vue component represents <a href="../docs/block.html">Block / Content Block</a> element designed (mostly) to add extra formatting and required spacing for text content.
    h2 Block Components
    p There are following components included:
    ul
      li <code><b>f7-block</b></code> - main block element
      li <code><b>f7-block-title</b></code> - block title. Can be used before Block or List View
      li <code><b>f7-block-header</b></code> - extra header element. Can be used both inside and outside of block elements
      li <code><b>f7-block-footer</b></code> - extra footer element. Can be used both inside and outside of block elements
    h2 Block Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-block&gt; properties
        tr
          td inset
          td boolean
          td
          td Makes block inset
        tr
          td tablet-inset
          td boolean
          td
          td Makes block inset on tablets, but not on phones
        tr
          td strong
          td boolean
          td
          td Adds extra highlighting and padding block content
        tr
          td accordion-list
          td boolean
          td
          td Makes block wrapper for accordion items
        tr
          td tabs
          td boolean
          td
          td Adds additional "tabs" class to make the block tabs wrapper
        tr
          td tab
          td boolean
          td
          td Adds additional "tab" class when block should be used as a Tab
        tr
          td tab-active
          td boolean
          td
          td Adds additional "tab-active" class when block used as a Tab and makes it active tab
        tr
          td no-hairlines
          td boolean
          td
          td Removes outer <a href="../docs/hairlines.html">hairlines</a>
        tr
          td no-hairlines-md
          td boolean
          td
          td Removes outer <a href="../docs/hairlines.html">hairlines</a> for MD theme
        tr
          td no-hairlines-ios
          td boolean
          td
          td Removes outer <a href="../docs/hairlines.html">hairlines</a> for iOS theme
    .with-device
      h2(data-device-preview="../docs-demos/vue/block.html") Examples
      :code(lang="html")
            <f7-page>
              <f7-navbar title="Content Block"></f7-navbar>
              <p>This paragraph is outside of content block. Not cool, but useful for any custom elements with custom styling.</p>

              <f7-block>
                <p>Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>

              <f7-block strong>
                <p>Here comes another text block with additional "block-strong" class. Praesent nec imperdiet diam. Maecenas vel lectus porttitor, consectetur magna nec, viverra sem. Aliquam sed risus dolor. Morbi tincidunt ut libero id sodales. Integer blandit varius nisi quis consectetur. </p>
              </f7-block>

              <f7-block-title>Block title</f7-block-title>
              <f7-block>
                <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>

              <f7-block-title>Another ultra long content block title</f7-block-title>
              <f7-block strong>
                <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>

              <f7-block-title>Inset</f7-block-title>
              <f7-block strong inset>
                <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>

              <f7-block-title>Tablet Inset</f7-block-title>
              <f7-block strong tablet-inset>
                <p>Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>

              <f7-block-title>With Header & Footer</f7-block-title>
              <f7-block>
                <f7-block-header>Block Header</f7-block-header>
                <p>Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
                <f7-block-footer>Block Footer</f7-block-footer>
              </f7-block>

              <f7-block-header>Block Header</f7-block-header>
              <f7-block>
                <p>Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>
              <f7-block-footer>Block Footer</f7-block-footer>

              <f7-block strong>
                <f7-block-header>Block Header</f7-block-header>
                <p>Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
                <f7-block-footer>Block Footer</f7-block-footer>
              </f7-block>

              <f7-block-header>Block Header</f7-block-header>
              <f7-block strong>
                <p>Here comes paragraph within content block. Donec et nulla auctor massa pharetra adipiscing ut sit amet sem. Suspendisse molestie velit vitae mattis tincidunt. Ut sit amet quam mollis, vulputate turpis vel, sagittis felis. </p>
              </f7-block>
              <f7-block-footer>Block Footer</f7-block-footer>
            </f7-page>