extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Form Storage Vue Component | Framework7 Vue Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    .motion-docs-page-title
      h1 Form Storage Vue Component
      script(async src="/js/motion/inputs.js")
      f7-motion-inputs(motion)

    p There is no specific Form Storage Vue Component, you need to use core <a href="../docs/form.html">Form Storage component</a>.
    h2 Examples
    +examplePreview('vue', 'form-storage.vue', 'form-storage')
