extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Grid Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Grid Vue Component
    ul.docs-index
    p Grid Vue component represents Framework7's <a href="../docs/grid.html">Layout Grid</a>.
    h2 Grid Components
    p There are following components included:
    ul
      li <code><b>f7-row</b></code> - grid row
      li <code><b>f7-col</b></code> - grid column (cell)

    h2 Grid Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-row&gt; properties
        tr
          td no-gap
          td boolean
          td false
          td Removes spacing between columns
        tr
          td tag
          td string
          td div
          td Defines which tag must be used to render row element
        tr
          th(colspan="4") &lt;f7-col&gt; properties
        tr
          td width
          td number<br>string
          td auto
          td Column width. Check available <a href="../docs/grid.html#column-sizes">Column Sizes</a>
        tr
          td tablet-width
          td number<br>string
          td
          td Column width for large screen tablets (when width &gt;= 768px)
        tr
          td desktop-width
          td number<br>string
          td
          td Column width for larger screen tablets (when width &gt;= 1025px)
    .with-device
      h2(data-device-preview="../docs-demos/vue/grid.html") Examples
      :code(lang="html")
            <f7-block>
              <p>Columns within a row are automatically set to have equal width. Otherwise you can define your column with percentage of screen you want.</p>
            </f7-block>

            <f7-block-title>Columns with gap</f7-block-title>
            <f7-block>
              <f7-row>
                <f7-col>50% (.col)</f7-col>
                <f7-col>50% (.col)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col>25% (.col)</f7-col>
                <f7-col>25% (.col)</f7-col>
                <f7-col>25% (.col)</f7-col>
                <f7-col>25% (.col)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col>33% (.col)</f7-col>
                <f7-col>33% (.col)</f7-col>
                <f7-col>33% (.col)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col width="33">33% (.col-33)</f7-col>
                <f7-col width="66">66% (.col-66)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col width="25">25% (.col-25)</f7-col>
                <f7-col width="25">25% (.col-25)</f7-col>
                <f7-col width="50">50% (.col-50)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col width="75">75% (.col-75)</f7-col>
                <f7-col width="25">25% (.col-25)</f7-col>
              </f7-row>
              <f7-row>
                <f7-col width="80">80% (.col-80)</f7-col>
                <f7-col width="20">20% (.col-20)</f7-col>
              </f7-row>
            </f7-block>

            <f7-block-title>No gap between columns</f7-block-title>
            <f7-block>
              <f7-row no-gap>
                <f7-col>50% (.col)</f7-col>
                <f7-col>50% (.col)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col>25% (.col)</f7-col>
                <f7-col>25% (.col)</f7-col>
                <f7-col>25% (.col)</f7-col>
                <f7-col>25% (.col)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col>33% (.col)</f7-col>
                <f7-col>33% (.col)</f7-col>
                <f7-col>33% (.col)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
                <f7-col>20% (.col)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col width="33">33% (.col-33)</f7-col>
                <f7-col width="66">66% (.col-66)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col width="25">25% (.col-25)</f7-col>
                <f7-col width="25">25% (.col-25)</f7-col>
                <f7-col width="50">50% (.col-50)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col width="75">75% (.col-75)</f7-col>
                <f7-col width="25">25% (.col-25)</f7-col>
              </f7-row>
              <f7-row no-gap>
                <f7-col width="80">80% (.col-80)</f7-col>
                <f7-col width="20">20% (.col-20)</f7-col>
              </f7-row>
            </f7-block>

            <f7-block-title>Nested</f7-block-title>
            <f7-block>
              <f7-row>
                <f7-col>50% (.col)
                  <f7-row>
                    <f7-col>50% (.col)</f7-col>
                    <f7-col>50% (.col)</f7-col>
                  </f7-row>
                </f7-col>
                <f7-col>50% (.col)
                  <f7-row>
                    <f7-col width="33">33% (.col-33)</f7-col>
                    <f7-col width="66">66% (.col-66)</f7-col>
                  </f7-row>
                </f7-col>
              </f7-row>
            </f7-block>

            <f7-block-title>Responsive Grid</f7-block-title>
            <f7-block>
              <p>Grid cells have different size on Phone/Tablet</p>
              <f7-row>
                <f7-col width="100" tablet-width="50">.col-100.tablet-50</f7-col>
                <f7-col width="100" tablet-width="50">.col-100.tablet-50</f7-col>
              </f7-row>
              <f7-row>
                <f7-col width="50" tablet-width="25">.col-50.tablet-25</f7-col>
                <f7-col width="50" tablet-width="25">.col-50.tablet-25</f7-col>
                <f7-col width="50" tablet-width="25">.col-50.tablet-25</f7-col>
                <f7-col width="50" tablet-width="25">.col-50.tablet-25</f7-col>
              </f7-row>
              <f7-row>
                <f7-col width="100" tablet-width="40">.col-100.tablet-40</f7-col>
                <f7-col width="50" tablet-width="60">.col-50.tablet-60</f7-col>
                <f7-col width="50" tablet-width="66">.col-50.tablet-66</f7-col>
                <f7-col width="100" tablet-width="33">.col-100.tablet-33</f7-col>
              </f7-row>
            </f7-block>
