extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Icon Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Icon Vue Component
    ul.docs-index
    p Icon Vue component represents Icon element. It is ready to be used with custom icons, <a href="../icons/" target="_blank">Framework7 Icons</a> and <a href="https://material.io/icons/" target="_blank">Material Icons</a>.
    h2 Icon Components
    p There are following components included:
    ul
      li `f7-icon`
    h2 Icon Properties
    table.params-table.cols-3
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          td size
          td number<br>string
          td Icon size in px
        tr
          td icon
          td string
          td Custom icon class
        tr
          td f7
          td string
          td Name of F7 Icons font icon
        tr
          td material
          td string
          td Name of Material Icons font icon
        tr
          td ios
          td string
          td Icon to be used in case of iOS theme is used. Consists of icon family and icon name divided by colon, e.g. `f7:house`
        tr
          td md
          td string
          td Icon to be used in case of Material theme is used. Consists of icon family and icon name divided by colon, e.g. `material:home`
        tr
          td aurora
          td string
          td Icon to be used in case of Aurora theme is used. Consists of icon family and icon name divided by colon, e.g. `f7:house`
        tr
          td tooltip
          td string
          td Icon <a href="../docs/tooltip.html">tooltip</a> text to show on icon hover/press
        tr
          td tooltip-trigger
          td string
          td hover
          td Defines how to trigger (open) Tooltip. Can be `hover` or `click`. If `hover` tooltip will be toggled on mouse hover on desktop, and with tap and hold on touch devices
    h2 Examples
    :code(lang="html")
      <!-- Default back icon -->
      <f7-icon icon="icon-back"></f7-icon>

      <!-- Some custom icon -->
      <f7-icon icon="icon-home"></f7-icon>

      <!-- F7 Icons font icon -->
      <f7-icon f7="house"></f7-icon>

      <!-- Material Icons font icon -->
      <f7-icon material="home"></f7-icon>

      <!-- F7 icons font icon with custom size and color -->
      <f7-icon f7="house" size="44px" color="blue"></f7-icon>

      <!-- Conditional icon -->
      <f7-icon ios="f7:house" aurora="f7:house" md="material:home"></f7-icon>
