extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Framework7 Vue';

block content
  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    .home-block.home-vue
      .text
        h1 Framework7 Vue
        p Bring components-syntax, structured data and data bindings to Framework7 with power and simplicity of Vue.js
      .pic
        img(src=cdn + "/i/vue-intro.png", style="max-width: 680px; width: 100%")
      br
      p
        a(href="introduction.html").button Get Started

