extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Installation | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Installation
    ul.docs-index

    h2 Framework7 CLI
    p The most recommended way to start with new Framework7 app is to use <a href="/cli/">Framework7 CLI</a>, it provides most complete amount of combinations with different templates, target devices/platforms, frameworks and some of best practices.

    h2 Ready To Use Templates
    p You can also check the #[a(href="/templates/") starter app templates and tools] section to start straight away from some pre-setup app.

    h2 Manual Installation
    h4 1. Install Framework7
    p First of all we need to <a href="../docs/installation.html">install Framework7</a> library itself.
    h4 2. Install Vue
    p Read about how to install Vue on the official <a href="https://v3.vuejs.org/guide/installation.html" target="_blank">Vue Installation Guide</a>.
    h4 3. Install Framework7-Vue Plugin
    p Now we need the Framework7-Vue plugin for Vue, we can install it from NPM:
    :code
      $ npm install framework7-vue

