extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Introduction | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Introduction to Framework7 Vue
    .important-note
      p It is highly recommended for you to be familiar with basics of both Framework7 and Vue.js before getting started.
    p Framework7 Vue combines power and simplicity of great <a href="https://vuejs.org">Vue.js</a> framework with flexibility and UI of Framework7 mobile framework to build mobile apps in even more easy and quick way.
    p Framework7 Vue helps to keep data and content in more structured way and use data-bindings and simplify layout difference for iOS and Material themes (or handle this difference more easily).
    p Framework7 Vue plugin provides a set of almost all Framework7 elements and components with integration of Framework7 Router to render pages in the "Vue-way".
    .important-note
      p This documentation provides reference for Framework7 Vue components (their usage examples and properties). For their appearance and how do they work it is recommended to check <a href="../docs/">Framework7 Core Documentation</a>.
