extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Migration from Framework7 v5 | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Migration from Framework7 v5
    ul.docs-index
    p In this article we will walk through most of the breaking changes to check what needs to be done to migrate your app from Framework7 v5 to Framework7 v6.
    h2 Framework7 Core
    p First of all, let's check what has been changed in core version.

    h3 Package
    p Core version has <a href="../docs/package.html">new package structure</a>, and you may need to tweak your imports for `lite` and `bundle` versions:
    ul
      li `framework7/framework7.esm.js` is now `framework7`
      li `framework7/framework7.esm.bundle.js` is now `framework7/bundle`
      li `framework7/framework7-lite.esm.js` is now `framework7/lite`
      li `framework7/framework7-lite.esm.bundle.js` is now `framework7/lite-bundle`
    p So if you have something like this in v5:
    ```js
      import Framework7 from 'framework7/framework7-lite.esm.bundle.js'
    ```
    p it should be changed to:
    ```js
      import Framework7 from 'framework7/lite-bundle'
    ```

    h3 Dom7
    p Framework7 v6 uses new Dom7 v3. It has breaking changes for all "iteration" methods like `.each()` and `.map()`. Specifically, order of arguments has been swapped to match native JavaScript array iterators:
    ```js
      // in v5 (Dom7 v2)
      $('p').each((index, el) => {
        // ...
      })

      // in v6 (Dom7 v3) - arguments are swapped, element is now always the first argument
      $('p').each((el, index) => {
        // ...
      })
    ```

    h3 Template7
    p Template7 template library has been completely removed from Framework7. If your app still needs it, just install it manually:
    ```
      npm i template7
    ```
    ```js
      import Template7 from 'template7';

      Template7.compile('...');
    ```

    h3 Request
    p Request library's import has been renamed from `Request` to `request`. Also now it uses Promises for all methods. Check updated <a href="../docs/request.html">Request documentation</a>.
    ```js
      // import renamed
      import { request } from 'framework7/lite';

      // not it always uses Promises
      request.get('some-url').then((res) => {
        console.log(res.data);
      });
    ```

    h3 Device & Support
    p Device & Support imports are also changed. Now only getters functions are available for imports.
    p In v5 we had:
    ```js
      import { Device, Support } from 'framework7';

      if (Device.android) {
        console.log('it is Android');
      }

      if (Support.touch) {
        console.log('touch is supported');
      }
    ```
    p In v6 we should use different approach:
    ```js
      import { getDevice, getSupport } from 'framework7';

      const device = getDevice();
      const support = getSupport();

      if (device.android) {
        console.log('it is Android');
      }

      if (support.touch) {
        console.log('touch is supported');
      }
    ```

    h3 Utils
    p Utils import has been renamed from `Utils` to `utils`:
    ```js
      // in v5
      import { Utils } from 'framework7';

      // in v6
      import { utils } from 'framework7';
    ```

    h3 View/Router
    p Route's `beforeEnter`, `beforeLeave`, `redirect` and `async` methods now receive a single object with following props:
    ul
      li `to`
      li `from`
      li `resolve`
      li `reject`
      li `direction` (new in v6 - can be `forward` or `backward`)
      li `router` (new in v6 - current router instance)
      li `app` (new in v6 - f7 app instance)
    p Check updated <a href="../docs/routes.html">Routes documentation</a> for more details and examples.

    h2 Framework7 Vue

    h3 Vue.js 3
    p Framework7 Vue v6 compatible only with new Vue.js v3. So first of all you will also need to migrate your app to Vue 3. You can check <a href="https://v3.vuejs.org/guide/migration/introduction.html">official Vue.js migration guide</a>.

    h3 App Component
    p Main `<f7-app>` component now receives all Framework7 parameters as separate props.
    ```html
      <!-- in v5 -->
      <f7-app :params="{ id: 'app-id', name: 'app-name' }"> ... </f7-app>

      <!-- in v6 -->
      <f7-app id="app-id" name="app-name"> ... </f7-app>
    ```

    h3 App `data` & `methods`
    p App `data` and `methods` parameters for storing "global" app state are completely removed.
    p Now Framework7 comes with new Store library for managing app state. Check <a href="store.html">new Store documentation</a> and how to use in Framework7 Vue.

    h3 View/Router
    p `push-state` parameters renamed to `browser-history`:
    ```html
      <!-- in v5 -->
      <View push-state push-state-separator=""> ... </View>

      <!-- in v6 -->
      <View browser-history browser-history-separator=""> ... </View>
    ```

    h3 Vue Component Extensions
    p Framework7 Vue v6 rewritten with Vue functional components, and <b>all Vue component prototype extensions have been removed</b>:
    ul
      li `this.$$`
      li `this.$f7`
      li `this.$f7ready`
      li `this.$f7route`
      li `this.$f7router`
      li `this.$utils`
      li `this.$device`
      li `this.$theme`
      li `this.$request`
    p Now, Framework7 instance, `f7ready` and `theme` can be directly imported from `framework7-vue` package:
    ```js
      import { f7, f7ready, theme } from 'framework7-vue';

      f7ready(() => {
        if (theme.ios) {
          f7.dialog.alert('It is iOS theme');
        }
      });
    ```
    p `f7route` and `f7router` are available in router component props:
    ```html
      <template>
        <f7-page>
          ...
        </f7-page>
      </template>

      <script>
        export default {
          props: {
            f7route: Object,
            f7router: Object,
          },
          setup(props) {
            const { f7route, f7router } = props;

            console.log(f7route.url);

            const goBack = () => {
              f7router.back();
            }

            //...
          }
        }
      </script>
    ```
    p `utils`, `device` and `request` can be imported directly from `framework7`:
    ```js
      import { utils, getDevice, request } from 'framework7';

      // ...
    ```

    h3 Modals & Panel
    p All modals components (Popup, Popover, LoginScreen, Actions, Sheet) and Panel now don't have `.open()` and `.close()` methods. Their state should be controlled via boolean `opened` prop.

    h3 Swiper
    p Framework7 v6 uses all new Swiper v6 with its official Vue components which has a bit different API, usage and some new features. For the full new API documentation and more examples check out the official <a href="https://swiperjs.com/vue/" target="_blank">Swiper for Vue documentation</a>.

    h3 Skeleton Elements
    p Skeleton Elements now also integrated as a standalone library. For the full API documentation and more examples check out the official <a href="https://skeleton-elements.dev/vue/" target="_blank">Skeleton Elements for Vue documentation</a>.


