extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Navbar Vue Component | Framework7 Vue Documentation';

block content

    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Navbar Vue Component
      p Navbar is a fixed (with Fixed and Through layout types) area at the top of a screen that contains Page title and navigation elements.
      p Navbar Vue component represents <a href="../docs/navbar.html">Navbar</a> component.
      h2 Usage examples
      h4 Minimal layout
      pre
        code
          :code
            <f7-navbar title="My App"></f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div class="navbar-inner">
                <div class="center">My App</div>
              </div>
            </div>
      h4 Minimal layout with back link
      pre
        code
          :code
            <f7-navbar title="My App" back-link="Back"></f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                  <a href="#" class="back link">
                    <i class="icon icon-back"></i>
                    <!-- Back link text rendered only for iOS theme -->
                    <span>Back</span>
                  </a>
                </div>
                <div class="center">My App</div>
              </div>
            </div>
      h4 With "sliding" transition effect (affects iOS theme only)
      pre
        code
          :code
            <f7-navbar title="My App" back-link="Back" sliding></f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left sliding">
                  <a href="#" class="back link">
                    <i class="icon icon-back"></i>
                    <!-- Back link text rendered only for iOS theme -->
                    <span>Back</span>
                  </a>
                </div>
                <div class="center sliding">My App</div>
              </div>
            </div>
      h4 With additional right link to open right panel
      pre
        code
          :code
            <f7-navbar title="My App" back-link="Back" sliding>
              <f7-nav-right>
                <f7-link icon="icon-bars" open-panel="right"></f7-link>
              </f7-nav-right>
            </f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left sliding">
                  <a href="#" class="back link">
                    <i class="icon icon-back"></i>
                    <!-- Back link text rendered only for iOS theme -->
                    <span>Back</span>
                  </a>
                </div>
                <div class="center sliding">My App</div>
                <div class="right">
                  <a href="#" class="link open-panel" data-panel="right">
                    <i class="icon icon-bars"></i>
                  </a>
                </div>
              </div>
            </div>
      h4 All three parts
      pre
        code
          :code
            <f7-navbar>
              <f7-nav-left back-link="Back" sliding></f7-nav-left>
              <f7-nav-center>My App</f7-nav-center>
              <f7-nav-right>
                <f7-link icon="icon-bars" open-panel="right"></f7-link>
              </f7-nav-right>
            </f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left" sliding>
                  <a href="#" class="back link">
                    <i class="icon icon-back"></i>
                    <!-- Back link text rendered only for iOS theme -->
                    <span>Back</span>
                  </a>
                </div>
                <div class="center">My App</div>
                <div class="right">
                  <a href="#" class="link open-panel" data-panel="right">
                    <i class="icon icon-bars"></i>
                  </a>
                </div>
              </div>
            </div>
      h4 Full custom layout
      pre
        code
          :code
            <f7-navbar>
              <f7-nav-left>
                <f7-link>Left Link</f7-link>
              </f7-nav-left>
              <f7-nav-center>My App</f7-nav-center>
              <f7-nav-right>
                <f7-link>Right Link</f7-link>
              </f7-nav-right>
            </f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                  <a href="#" class="link">Left Link</a>
                </div>
                <div class="center">My App</div>
                <div class="right">
                  <a href="#" class="link">Right Link</a>
                </div>
              </div>
            </div>
      h2 Slots
      p Navbar Vue component (&lt;f7-navbar&gt;) has additional slots for custom elements:
      ul
        li <b>before-inner</b> - element will be inserted right before &lt;div class="navbar-inner"&gt; element
        li <b>after-inner</b> - element will be inserted right after &lt;div class="navbar-inner"&gt; element
      pre
        code
          :code
            <f7-navbar title="My App">
              <div slot="before-inner">Before Inner</div>
              <div slot="after-inner">After Inner</div>
            </f7-navbar>
      p Renders to:
      pre
        code
          :code
            <div class="navbar">
              <div>Before Inner</div>
              <div class="navbar-inner">
                <div class="center">My App</div>
              </div>
              <div>After Inner</div>
            </div>
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Description
        tbody
          tr
            th(colspan="3") &lt;f7-navbar&gt; properties
          tr
            td title
            td string
            td Navbar title
          tr
            td back-link
            td boolean/string
            td Adds back-link with text (if string value is specified)
          tr
            td back-link-url
            td string
            td Custom back link URL
          tr
            td sliding
            td boolean
            td Enables "sliding" effect for nav elements. Affects only for back-link and title elements when they are specified via props
          tr
            td theme
            td string
            td Navbar theme color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td layout
            td string
            td Navbar layout theme. One of <a href="../docs/color-themes.html#layout-themes">default layout themes</a>
          tr
            td no-shadow
            td boolean
            td Disable shadow rendering for Material theme
          tr
            th(colspan="3") &lt;f7-nav-left&gt; properties
          tr
            td back-link
            td boolean/string
            td Adds back-link with text (if string value is specified)
          tr
            td back-link-url
            td string
            td Custom back link URL
          tr
            td sliding
            td boolean
            td Enables "sliding" effect
          tr
            th(colspan="3") &lt;f7-nav-center&gt; properties
          tr
            td title
            td string
            td Specifies element inner title text (affects if there is no child elements)
          tr
            td sliding
            td boolean
            td Enables "sliding" effect
          tr
            th(colspan="3") &lt;f7-nav-right&gt; properties
          tr
            td sliding
            td boolean
            td Enables "sliding" effect
      h2 Methods
      table.methods-table
        tr
          td .hide(<span>animated</span>)
          td Hide navbar
        tr
          td .show(<span>animated</span>)
          td Show navbar
        tr
          td .size()
          td Size navbar
        
      h2 Navbar Events
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td back-click
            td Event will be triggered when click on navbar back link
      h2 Dynamic Navbar Events
      p.ios-only Dynamic Navbar is supported only in iOS Theme
      p If you use <a href="../docs/dynamic-navbar.html">Dynamic Navbar</a> in your app then it will also have useful special events:
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td navbar:beforeinit
            td Event will be triggered when Framework7 just inserts new navbar inner to DOM
          tr
            td navbar:init
            td Event will be triggered after Framework7 initialize navbar
          tr
            td navbar:reinit
            td This event will be triggered when cached navbar inner becomes visible. It is only applicaple for Inline Pages (DOM cached pages)
          tr
            td navbar:beforeremove
            td Event will be triggered right before navbar inner will be removed from DOM. This event could be very useful if you need to detach some events / destroy some plugins to free memory