extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Picker Vue Component | Framework7 Vue Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    .motion-docs-page-title
      h1 Picker Vue Component
      script(async src="/js/motion/picker.js")
      f7-motion-picker(motion)
    p There is no specific Picker Vue Component, you need to use core <a href="../docs/picker.html">Picker component</a>.
    h2 Examples
    +examplePreview('vue', 'picker.vue', 'picker')
