extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Popover Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Popover Vue Component
    .docs-index
    p Popover compontent is used to manage the presentation of content in a popover. You use popovers to present information temporarily. The popover remains visible until the user taps outside of the popover window or you explicitly dismiss it.
    p Popover Vue component represents <a href="../docs/popover.html">Popover</a> component.
    h2 Popover Components
    p There are following components included:
    ul
      li <code><b>f7-popover</b></code>
    h2 Popover Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-popover&gt; properties
        tr
          td opened
          td boolean
          td Allows to open/close Popover and set its initial state
        tr
          td target
          td string<br>object
          td HTML element or string CSS selector of Popover target element
    h2 Popover Methods
    table.methods-table
      tr
        th(colspan="2") &lt;f7-popover&gt; methods
      tr
        td .open(<span>target</span>, <span>animate</span>)
        td Open popover around <code>target</code> element
      tr
        td .close(<span>animate</span>)
        td Close popover
    h2 Popover Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-popover&gt; events
        tr
          td popover:open
          td Event will be triggered when Popover starts its opening animation
        tr
          td popover:opened
          td Event will be triggered after Popover completes its opening animation
        tr
          td popover:close
          td Event will be triggered when Popover starts its closing animation
        tr
          td popover:closed
          td Event will be triggered after Popover completes its closing animation
    h2 Open And Close Popover
    p You can control Popover state, open and closing it:
    ul
      li using <a href="../docs/popover.html">Popover API</a>
      li by passing <code>true</code> or <code>false</code> to its <code>opened</code> prop
      li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>popover-open</code> property (to open it) and <code>popover-close</code> property to close it
    h2 Access To Popover Instance
    p You can access Popover initialized instance by accessing <code><b>.f7Popover</b></code> component's property.
    h2 Examples
    pre
      code.html
        :code
          <!-- Popover -->
          <f7-popover>
            <!-- Popover content goes here -->
          </f7-popover>
    p Renders to:
    pre
      code.html
        :code
          <!-- Popover -->
          <div class="popover">
            <div class="popover-angle"></div>
            <div class="popover-inner">
              <!-- Popover content goes here -->
            </div>
          </div>
