extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Popover Vue Component | Framework7 Vue Documentation';

block content

    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Popover Vue Component
      p Popover compontent is used to manage the presentation of content in a popover. You use popovers to present information temporarily. The popover remains visible until the user taps outside of the popover window or you explicitly dismiss it.
      p Popover Vue component represents <a href="../docs/popover.html">Popover</a> component.
      h2 Examples
      pre
        code
          :code
            <!-- Popover -->
            <f7-popover>
              <!-- Popover content goes here -->
            </f7-popover>
      p Renders to:
      pre
        code
          :code
            <!-- Popover -->
            <div class="popover">
              <div class="popover-angle"></div>
              <div class="popover-content">
                <!-- Popover content goes here -->
              </div>
            </div>
      h2 Properties
      p Popover component has no any properties
      //- table.params-table
        thead
          tr
            th Prop
            th Type
            th Description
        tbody
          tr
            td theme
            td string
            td Popover theme color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td layout
            td string
            td Popover layout theme. One of <a href="../docs/color-themes.html#layout-themes">default layout themes</a>
          tr
            td opened
            td boolean
            td Allows to open/close Popover and set its initial state
      h2 Methods
      table.methods-table
        tr
          td .open(<span>target</span>, <span>animated</span>)
          td Open popover around <b>target</b> element
        tr
          td .close(<span>animated</span>)
          td Close popover
      h2 Events
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td popover:open
            td Event will be triggered when Popover starts its opening animation
          tr
            td popover:opened
            td Event will be triggered after Popover completes its opening animation
          tr
            td popover:close
            td Event will be triggered when Popover starts its closing animation
          tr
            td popover:closed
            td Event will be triggered after Popover completes its closing animation
      h2 Open and close Popover
      p You can control Popover state, open and closing it:
      ul
        li using its <a href="../docs/popover.html#using-javascript">JavaScript API</a>
        li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>open-popover</code> property (to open it) and <code>close-popover</code> property to close it
