extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Preloader / Spinner Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Preloader / Spinner Vue Component
    ul.docs-index
    p Preloader / Spinner Vue component represents <a href="../docs/preloader.html">Preloader</a> element.
    h2 Preloader Components
    p There are following components included:
    ul
      li `f7-preloader`
    h2 Preloader Properties
    table.params-table.cols-3
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-preloader&gt; properties
        tr
          td size
          td string<br>number
          td Size of the preloader in px
    .with-device
      h2(data-device-preview="../docs-demos/vue/preloader.html") Examples
      include:vueSource ../docs-demos/vue/preloader.vue
