extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Preloader / Spinner Vue Component | Framework7 Vue Documentation';

block content
  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Preloader / Spinner Vue Component
    .docs-index
    p Preloader / Spinner Vue component represents <a href="../docs/preloader.html">Preloader</a> element.
    h2 Preloader Components
    p There are following components included:
    ul
      li <code><b>f7-preloader</b></code>
    h2 Preloader Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-preloader&gt; properties
        tr
          td size
          td string<br>number
          td Size of the preloader in px
    h2 Examples
    pre
      code.html
        :code
          <!-- Preloader -->
          <f7-preloader></f7-preloader>

          <!-- Red preloader -->
          <f7-preloader color="red"></f7-preloader>

          <!-- Blue with custom size -->
          <f7-preloader color="green" size="44px"></f7-preloader>
    p Renders to:
    pre
      code.html
        :code
          <!-- Preloader -->
          <span class="preloader"></span>

          <!-- Red preloader -->
          <span class="preloader color-red"></span>

          <!-- Blue with custom size -->
          <span class="preloader color-green" style="width:44px; height:44px"></span>


