extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Progressbar Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Progressbar Vue Component
    ul.docs-index
    p Progressbar Vue component represents <a href="../docs/progressbar.html">Progressbar</a> element.

    h2 Progressbar Components
    p There are following components included:
    ul
      li `f7-progressbar`

    h2 Progressbar Properties
    table.params-table.cols-3
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-progressbar&gt; properties
        tr
          td progress
          td number
          td Determinate progress (from 0 to 100)
        tr
          td infinite
          td boolean
          td Whether progressbar is infinite or not (determinate)

    h2 Progressbar Methods
    table.methods-table
      tr
        th(colspan="2") &lt;f7-progressbar&gt; methods
      tr
        td .set(<span>progress</span>, <span>duration</span>)
        td Set progressbar progress

    .with-device
      h2(data-device-preview="../docs-demos/vue/progressbar.html") Examples
      include:vueSource ../docs-demos/vue/progressbar.vue
