extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Segmented Vue Component | Framework7 Vue Documentation';

block docs-index

block content

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    .motion-docs-page-title
      h1 Segmented Vue Component
      script(async src="/js/motion/segmented.js")
      f7-motion-segmented(motion)
    p There are following components included:
    ul
      li `f7-segmented` - segmented wrapper for buttons

    h2 Button Properties
    p Button component has almost the same properties as the <a href="link.html">Link</a> component but with few additional button-specific properties:
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-segmented&gt; properties
        tr
          td raised
          td boolean
          td false
          td Makes segmented raised
        tr
          td raised-ios
          td boolean
          td false
          td Makes segmented raised only in iOS theme
        tr
          td raised-md
          td boolean
          td false
          td Makes segmented raised only in MD theme

        tr
          td round
          td boolean
          td false
          td Makes segmented round
        tr
          td round-ios
          td boolean
          td false
          td Makes segmented round only in iOS theme
        tr
          td round-md
          td boolean
          td false
          td Makes segmented round only in MD theme
        tr
          td strong
          td boolean
          td false
          td Makes strong segmented
        tr
          td strong-ios
          td boolean
          td false
          td Makes strong segmented only in iOS theme
        tr
          td strong-md
          td boolean
          td false
          td Makes strong segmented only in MD theme
        tr
          td tag
          td string
          td div
          td Tag used to render Segmented element

    h2 Examples
    +examplePreview('vue', 'segmented.vue', 'segmented')
