extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Sheet Modal Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Sheet Modal Vue Component
    ul.docs-index
    p Sheet Modal is a special overlay type which is similar to Picker/Calendar's overlay. Such modal allows to create custom picker overlays with custom content.
    p Sheet Modal Vue component represents <a href="../docs/sheet-modal.html">Sheet Modal</a> component.
    h2 Sheet Modal Components
    p There are following components included:
    ul
      li `f7-sheet` - sheet modal element
    h2 Sheet Modal Properties
    table.params-table.cols-3
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-sheet&gt; properties
        tr
          td position
          td string
          td Sheet position, can be `top` or `bottom`. By default is `bottom`
        tr
          td top
          td boolean
          td Same as `position="top"`
        tr
          td bottom
          td boolean
          td Same as `position="bottom"`
        tr
          td backdrop
          td boolean
          td Enable to render additional sheet modal backdrop when required
        tr
          td backdropEl
          td string<br>object
          td HTML element or string CSS selector of custom backdrop element
        tr
          td opened
          td boolean
          td Allows to open/close Sheet Modal and set its initial state
        tr
          td closeByBackdropClick
          td boolean
          td When enabled, sheet will be closed on backdrop click. By default inherits same app parameter value
        tr
          td closeByOutsideClick
          td boolean
          td When enabled, sheet will be closed on when click outside of it. By default inherits same app parameter value
        tr
          td closeOnEscape
          td boolean
          td When enabled, sheet will be closed on ESC keyboard key press
        tr
          td swipeToClose
          td boolean
          td Whether the Sheet can be closed with swipe gesture
        tr
          td swipeToStep
          td boolean
          td When enabled it will be possible to split opened sheet into two states: partially opened and fully opened that can be controlled with swipe
        tr
          td swipeHandler
          td HTMLElement<br>string
          td If not passed, then whole Sheet can be swiped to close. You can pass here HTML element or string CSS selector of custom element that will be used as a swipe target. (`swipeToClose` or `swipeToStep` must be also enabled)
        tr
          td push
          td boolean
          td When enabled it will push view behind on open. Works only when top safe area is in place. It can also be enabled by adding `sheet-modal-push` class to Sheet element.
    h2 Sheet Modal Methods
    table.methods-table
      tr
        th(colspan="2") &lt;f7-sheet&gt; methods
      tr
        td .open(<span>animate</span>)
        td Open sheet modal
      tr
        td .close(<span>animate</span>)
        td Close sheet modal
    h2 Sheet Modal Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-sheet&gt; events
        tr
          td sheet:open
          td Event will be triggered when Sheet Modal starts its opening animation
        tr
          td sheet:opened
          td Event will be triggered after Sheet Modal completes its opening animation
        tr
          td sheet:close
          td Event will be triggered when Sheet Modal starts its closing animation
        tr
          td sheet:closed
          td Event will be triggered after Sheet Modal completes its closing animation
        tr
          td sheet:stepopen
          td Event will be triggered on Sheet swipe step open/expand
        tr
          td sheet:stepclose
          td Event will be triggered on Sheet swipe step close/collapse
        tr
          td sheet:stepprogress
          td Event will be triggered on Sheet swipe step between step opened and closed state. As `event.detail` it receives step open progress number (from `0` to `1`)

    h2 Open And Close Sheet Modal
    p You can control Sheet Modal state, open and closing it:
    ul
      li using its <a href="../docs/sheet-modal.html">Sheet Modal API</a>
      li by passing `true` or `false` to its `opened` prop
      li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant `sheet-open` property (to open it) and `sheet-close` property to close it

    h2 Access To Sheet Modal Instance
    p You can access Sheet Modal initialized instance by accessing `.f7Sheet` component's property.

    .with-device
      h2(data-device-preview="../docs-demos/vue/sheet-modal.html") Examples
      :code(lang="html")
        <template>
          <f7-page @page:beforeremove="onPageBeforeRemove" @page:beforeout="onPageBeforeOut">
            <f7-navbar title="Sheet Modal"></f7-navbar>
            <f7-block>
              <p>
                <f7-button fill sheet-open=".demo-sheet">Open Sheet</f7-button>
              </p>
              <p>
                <f7-button fill @click="createSheet">Create Dynamic Sheet</f7-button>
              </p>
              <p>
                <f7-button fill @click="sheetOpened = true">Open Via Prop Change</f7-button>
              </p>
              <p>
                <f7-button fill sheet-open=".demo-sheet-swipe-to-close">Swipe To Close</f7-button>
              </p>
              <p>
                <f7-button fill sheet-open=".demo-sheet-swipe-to-step">Swipe To Step</f7-button>
              </p>
              <p>
                <f7-button fill sheet-open=".demo-sheet-push">Sheet Push</f7-button>
              </p>
            </f7-block>

            <f7-sheet class="demo-sheet" :opened="sheetOpened" @sheet:closed="sheetOpened = false">
              <f7-toolbar>
                <div class="left"></div>
                <div class="right">
                  <f7-link sheet-close>Close</f7-link>
                </div>
              </f7-toolbar>
              <!-- Scrollable sheet content -->
              <f7-page-content>
                <f7-block>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ducimus dolorum ipsa aliquid accusamus perferendis laboriosam delectus numquam minima animi, libero illo in tempora harum sequi corporis alias ex adipisci...</p>
                  <!-- ... -->
                </f7-block>
              </f7-page-content>
            </f7-sheet>

            <!-- Swipe to close demo sheet -->
            <f7-sheet
              class="demo-sheet-swipe-to-close"
              style="height:auto; --f7-sheet-bg-color: #fff;"
              swipe-to-close
              backdrop
            >
              <f7-page-content>
                <f7-block-title large>Hello!</f7-block-title>
                <f7-block>
                  <p>Eaque maiores ducimus, impedit unde culpa qui, explicabo accusamus, non vero corporis voluptatibus similique odit ab...</p>
                </f7-block>
              </f7-page-content>
            </f7-sheet>

            <!-- Swipe to step demo sheet -->
            <f7-sheet
              class="demo-sheet-swipe-to-step"
              style="height:auto; --f7-sheet-bg-color: #fff;"
              swipe-to-close
              swipe-to-step
              backdrop
            >
              <!-- Initial swipe step sheet content -->
              <div class="sheet-modal-swipe-step">
                <div class="display-flex padding justify-content-space-between align-items-center">
                  <div style="font-size: 18px"><b>Total:</b></div>
                  <div style="font-size: 22px"><b>$500</b></div>
                </div>
                <div class="padding-horizontal padding-bottom">
                  <f7-button large fill>Make Payment</f7-button>
                  <div class="margin-top text-align-center">Swipe up for more details</div>
                </div>
              </div>
              <!-- Rest of the sheet content that will opened with swipe -->
              <f7-block-title medium class="margin-top">Your order:</f7-block-title>
              <f7-list no-hairlines>
                <f7-list-item title="Item 1">
                  <b slot="after" class="text-color-black">$200</b>
                </f7-list-item>
                <f7-list-item title="Item 2">
                  <b slot="after" class="text-color-black">$180</b>
                </f7-list-item>
                <f7-list-item title="Delivery">
                  <b slot="after" class="text-color-black">$120</b>
                </f7-list-item>
              </f7-list>
            </f7-sheet>

            <!-- Sheet Push -->
            <f7-sheet class="demo-sheet-push" push>
              <f7-toolbar>
                <div class="left"></div>
                <div class="right">
                  <f7-link sheet-close>Close</f7-link>
                </div>
              </f7-toolbar>
              <f7-page-content>
                <f7-block>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </f7-block>
              </f7-page-content>
            </f7-sheet>
          </f7-page>
        </template>
      :code(lang="js")
        <script>
        export default {
          data() {
            return {
              sheetOpened: false,
            };
          },
          methods: {
            createSheet() {
              const self = this;
              const $ = self.$$;
              // Create sheet modal
              if (!self.sheet) {
                self.sheet = self.$f7.sheet.create({
                  content: `
                    <div class="sheet-modal">
                      <div class="toolbar">
                        <div class="toolbar-inner justify-content-flex-end">
                          <a href="#" class="link sheet-close">Close</a>
                        </div>
                      </div>
                      <div class="sheet-modal-inner">
                        <div class="page-content">
                          <div class="block">
                            <p>This sheet modal was created dynamically</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus mauris leo, eu bibendum neque congue non. Ut leo mauris, eleifend eu commodo a, egestas ac urna. Maecenas in lacus faucibus, viverra ipsum pulvinar, molestie arcu. Etiam lacinia venenatis dignissim...</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  `.trim(),
                });
              }
              // Close inline sheet
              if ($('.demo-sheet.modal-in').length > 0) self.$f7.sheet.close('.demo-sheet');
              // Open it
              self.sheet.open();
            },
            onPageBeforeOut() {
              const self = this;
              // Close opened sheets on page out
              self.$f7.sheet.close();
            },
            onPageBeforeRemove() {
              const self = this;
              // Destroy sheet modal when page removed
              if (self.sheet) self.sheet.destroy();
            },
          },
        };
        </script>
