extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Sheet Modal Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Sheet Modal Vue Component
    ul.docs-index
    p Sheet Modal is a special overlay type which is similar to Picker/Calendar's overlay. Such modal allows to create custom picker overlays with custom content.
    p Sheet Modal Vue component represents <a href="../docs/sheet-modal.html">Sheet Modal</a> component.
    h2 Sheet Modal Components
    p There are following components included:
    ul
      li <code><b>f7-sheet</b></code> - sheet modal element
    h2 Sheet Modal Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-sheet&gt; properties
        tr
          td backdrop
          td boolean
          td Enable to render additional sheet modal backdrop when required
        tr
          td opened
          td boolean
          td Allows to open/close Sheet Modal and set its initial state
        tr
          td closeByBackdropClick
          td boolean
          td true
          td When enabled, sheet will be closed on backdrop click. By default inherits same app parameter value
        tr
          td closeByOutsideClick
          td boolean
          td false
          td When enabled, sheet will be closed on when click outside of it. By default inherits same app parameter value
    h2 Sheet Modal Methods
    table.methods-table
      tr
        th(colspan="2") &lt;f7-sheet&gt; methods
      tr
        td .open(<span>animate</span>)
        td Open sheet modal
      tr
        td .close(<span>animate</span>)
        td Close sheet modal
    h2 Sheet Modal Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-sheet&gt; events
        tr
          td sheet:open
          td Event will be triggered when Sheet Modal starts its opening animation
        tr
          td sheet:opened
          td Event will be triggered after Sheet Modal completes its opening animation
        tr
          td sheet:close
          td Event will be triggered when Sheet Modal starts its closing animation
        tr
          td sheet:closed
          td Event will be triggered after Sheet Modal completes its closing animation

    h2 Open And Close Sheet Modal
    p You can control Sheet Modal state, open and closing it:
    ul
      li using its <a href="../docs/sheet-modal.html">Sheet Modal API</a>
      li by passing <code>true</code> or <code>false</code> to its <code>opened</code> prop
      li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>sheet-open</code> property (to open it) and <code>sheet-close</code> property to close it

    h2 Access To Sheet Modal Instance
    p You can access Sheet Modal initialized instance by accessing <code><b>.f7Sheet</b></code> component's property.

    .with-device
      h2(data-device-preview="../docs-demos/vue/sheet-modal.html") Examples
      :code(lang="html")
            <template>
              <f7-page @page:beforeremove="onPageBeforeRemove" @page:beforeout="onPageBeforeOut">
                <f7-navbar title="Sheet Modal"></f7-navbar>
                <f7-block>
                  <f7-row tag="p">
                    <f7-button class="col" raised sheet-open=".demo-sheet">Open Sheet</f7-button>
                    <f7-button class="col" raised @click="createSheet">Create Dynamic Sheet</f7-button>
                  </f7-row>
                  <p>
                    <f7-button class="col" raised @click="sheetOpened = true">Open Via Prop Change</f7-button>
                  </p>
                </f7-block>
                <f7-sheet class="demo-sheet" :opened="sheetOpened" @sheet:closed="sheetOpened = false">
                  <f7-toolbar>
                    <div class="left"></div>
                    <div class="right">
                      <f7-link sheet-close>Close</f7-link>
                    </div>
                  </f7-toolbar>
                  <!-- Scrollable sheet content -->
                  <f7-page-content>
                    <f7-block>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ducimus dolorum ipsa aliquid accusamus perferendis laboriosam delectus numquam minima animi, libero illo in tempora harum sequi corporis alias ex adipisci...</p>
                      <!-- ... -->
                    </f7-block>
                  </f7-page-content>
                </f7-sheet>
              </f7-page>
            </template>
      :code(lang="js")
            <script>
            export default {
              data() {
                return {
                  sheetOpened: false,
                };
              },
              methods: {
                createSheet() {
                  const self = this;
                  const $ = self.$$;
                  // Create sheet modal
                  if (!self.sheet) {
                    self.sheet = self.$f7.sheet.create({
                      content: `
                        <div class="sheet-modal">
                          <div class="toolbar">
                            <div class="toolbar-inner justify-content-flex-end">
                              <a href="#" class="link sheet-close">Close</a>
                            </div>
                          </div>
                          <div class="sheet-modal-inner">
                            <div class="page-content">
                              <div class="block">
                                <p>This sheet modal was created dynamically</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus mauris leo, eu bibendum neque congue non. Ut leo mauris, eleifend eu commodo a, egestas ac urna. Maecenas in lacus faucibus, viverra ipsum pulvinar, molestie arcu. Etiam lacinia venenatis dignissim...</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      `.trim(),
                    });
                  }
                  // Close inline sheet
                  if ($('.demo-sheet.modal-in').length > 0) self.$f7.sheet.close('.demo-sheet');
                  // Open it
                  self.sheet.open();
                },
                onPageBeforeOut() {
                  const self = this;
                  // Close opened sheets on page out
                  self.$f7.sheet.close();
                },
                onPageBeforeRemove() {
                  const self = this;
                  // Destroy sheet modal when page removed
                  if (self.sheet) self.sheet.destroy();
                },
              },
            };
            </script>
