extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Skeleton Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Skeleton Vue Component
    ul.docs-index
    p Skeleton elements (aka UI Skeletons, Skeleton Screens, Ghost Elements) are basically "gray box" representations of UI that will be available soon. They are designed to improve perceived performance.
    p Skeleton Vue component represents <a href="../docs/skeleton.html">Skeleton</a> component.
    h2 Skeleton Components
    p There are following components included:
    ul
      li `f7-skeleton-block`
      li `f7-skeleton-text`
    h2 Skeleton Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-skeleton-block&gt; properties
        tr
          td width
          td string<br>number
          td
          td Skeleton block width
        tr
          td height
          td string<br>number
          td
          td Skeleton block height
        tr
          td tag
          td string
          td div
          td Skeleton block tag

        tr
          th(colspan="4") &lt;f7-skeleton-text&gt; properties
        tr
          td width
          td string<br>number
          td
          td Skeleton text element width
        tr
          td height
          td string<br>number
          td
          td Skeleton text element height
        tr
          td tag
          td string
          td span
          td Skeleton text element tag

    .with-device
      h2(data-device-preview="../docs-demos/vue/skeleton.html") Examples
      include:vueSource ../docs-demos/vue/skeleton.vue
