extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Skeleton Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Skeleton Vue Component
    p Framework7 comes with Skeleton Elements library (aka UI Skeletons, Skeleton Screens, Ghost Elements) - UI for improved perceived performance.
    p Skeleton Elements library already integrated into Framework7 and you don't have to install it separately. For the full API documentation and more examples check out the official <a href="https://skeleton-elements.dev/vue/" target="_blank">Skeleton Elements for Vue documentation</a>.

    .with-device
      h2(data-device-preview="../docs-demos/vue/skeleton.html") Examples
      include:vueSource ../docs-demos/vue/skeleton.vue
