extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Statusbar Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Statusbar Vue Component
    ul.docs-index
    p Statusbar Vue component represents <a href="../docs/statusbar.html">Statusbar</a> in Framework7.
    h2 Statusbar Components
    p There are following components included:
    ul
      li <code><b>f7-statusbar</b></code>
    h2 Examples
    :code(lang="html")
          &lt;f7-app&gt;
            &lt;!-- Should be placed as the first child in the app root --&gt;
            &lt;f7-statusbar&gt;&lt;/f7-statusbar&gt;
            ...
          &lt;/f7-app&gt;
    p Renders to:
    :code(lang="html")
          &lt;div class="framework7-root"&gt;
            &lt;div class="statusbar"&gt;&lt;/div&gt;
            ...
          &lt;/div&gt;

