extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Statusbar Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Statusbar Vue Component
    .docs-index
    p Statusbar Vue component represents <a href="../docs/statusbar.html">Statusbar</a> in Framework7.
    h2 Statusbar Components
    p There are following components included:
    ul
      li <code><b>f7-statusbar</b></code>
    h2 Examples
    pre
      code
        | &lt;div id="app"&gt;
        |   &lt;!-- Should be placed as the first child in the app root --&gt;
        |   &lt;f7-statusbar&gt;&lt;/f7-statusbar&gt;
        |   ...
        | &lt;/div&gt;
    p Renders to:
    pre
      code
        | &lt;div id="app"&gt;
        |   &lt;div class="statusbar"&gt;&lt;/div&gt;
        |   ...
        | &lt;/div&gt;

