extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Subnavbar Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Subnavbar Vue Component
    ul.docs-index
    p Subnavbar is useful when you need to put any additional elements into Navbar, like Tab Links or Search Bar. It also remains visible when Navbar hidden.
    p Subnavbar Vue component represents <a href="../docs/subnavbar.html">Subnavbar</a> component.
    h2 Subnavbar Components
    p There are following components included:
    ul
      li <code><b>f7-subnavbar</b></code>
    h2 Subnavbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-subnavbar&gt; properties
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect
        tr
          td title
          td string
          td
          td Subnvabar title
        tr
          td inner
          td boolean
          td true
          td When enabled the additional "subnavbar-inner" wrapper element will be added
    .with-device
      h2(data-device-preview="../docs-demos/vue/subnavbar.html") Examples
      :code
            <f7-page :page-content="false">
              <f7-navbar title="Subnavbar">
                <f7-subnavbar>
                  <f7-segmented raised>
                    <f7-button tab-link="#tab1" tab-link-active>Tab 1</f7-button>
                    <f7-button tab-link="#tab2">Tab 2</f7-button>
                  </f7-segmented>
                </f7-subnavbar>
              </f7-navbar>
              <f7-tabs>
                <f7-tab id="tab1" tab-active class="page-content">
                  <f7-block>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi nisi, tincidunt ut eleifend non, sagittis a elit. Sed consequat odio at leo varius viverra...</p>
                  </f7-block>
                </f7-tab>
                <f7-tab id="tab2" class="page-content">
                  <f7-block>
                    <p>Donec iaculis posuere massa sed dignissim. Praesent id nibh nec massa mollis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas...</p>
                  </f7-block>
                </f7-tab>
              </f7-tabs>
            </f7-page>