extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Subnavbar Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Subnavbar Vue Component
    .docs-index
    p Subnavbar is useful when you need to put any additional elements into Navbar, like Tab Links or Search Bar. It also remains visible when Navbar hidden.
    p Subnavbar Vue component represents <a href="../docs/subnavbar.html">Subnavbar</a> component.
    h2 Subnavbar Components
    p There are following components included:
    ul
      li <code><b>f7-subnavbar</b></code>
    h2 Subnavbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-subnavbar&gt; properties
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect
        tr
          td title
          td string
          td
          td Subnvabar title
        tr
          td inner
          td boolean
          td true
          td When enabled the additional "subnavbar-inner" wrapper element will be added
    h2 Examples
    pre
      code.html
        :code
          <f7-subnavbar>
            <f7-segmented>
              <f7-button tab-link="#tab1" tab-link-active>Tab 1</f7-button>
              <f7-button tab-link="#tab2">Tab 2</f7-button>
            </f7-segmented>
          </f7-subnavbar>

          <!-- Renders to: -->

          <div class="subnavbar">
            <div class="subnavbar-inner">
              <div class="segmented">
                <a href="#" class="button tab-link tab-link-active" data-tab="#tab1">Tab 1</a>
                <a href="#" class="button tab-link" data-tab="#tab2">Tab 2</a>
              </div>
            </div>
          </div>
    h4 Inside of Navbar With Title
    pre
      code.html
        :code
          <f7-navbar back-link="Back">
            <f7-subnavbar title="Page Title"></f7-subnavbar>
          </f7-navbar>

          <!-- Renders to: -->

          <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="left">
                <a href="#" class="link back">
                  <i class="icon icon-back"></i>
                  <span>Back</span>
                </a>
              </div>
              <div class="subnavbar">
                <div class="subnavbar-inner">
                  <div class="title">Page Title</div>
                </div>
              </div>
            </div>
          </div>

