extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Subnavbar Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Subnavbar Vue Component
    ul.docs-index
    p Subnavbar is useful when you need to put any additional elements into Navbar, like Tab Links or Search Bar. It also remains visible when Navbar hidden.
    p Subnavbar Vue component represents <a href="../docs/subnavbar.html">Subnavbar</a> component.
    h2 Subnavbar Components
    p There are following components included:
    ul
      li `f7-subnavbar`
    h2 Subnavbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;f7-subnavbar&gt; properties
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect
        tr
          td title
          td string
          td
          td Subnvabar title
        tr
          td inner
          td boolean
          td true
          td When enabled the additional "subnavbar-inner" wrapper element will be added
    .with-device
      h2(data-device-preview="../docs-demos/vue/subnavbar.html") Examples
      include:vueSource ../docs-demos/vue/subnavbar.vue
