extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Swiper Vue Component | Framework7 Vue Documentation';

block content


  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    .motion-docs-page-title
      h1 Swiper Vue Component
      script(src="/js/motion/swiper.js")
      f7-motion-swiper(motion)

    p Framework7 comes with powerful and most modern touch slider ever - Swiper Slider with super flexible configuration and lot, lot of features.
    p Swiper library already integrated into Framework7 and you don't have to install it separately.
    p Swiper Vue components are not included in Framework7 in favor of <a href="https://swiperjs.com/element/" target="_blank">Swiper Element</a>.
    p For the full API documentation and more examples check out the official <a href="https://swiperjs.com/element/" target="_blank">Swiper Element documentation</a>.


    h2 Examples
    +examplePreview('vue', 'swiper-multiple.vue', 'swiper/swiper-multiple')
