extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Swiper Vue Component | Framework7 Vue Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    +improveDocsLink
    h1 Swiper Vue Component
    p Framework7 comes with powerful and most modern touch slider ever - Swiper Slider with super flexible configuration and lot, lot of features.
    p Swiper library already integrated into Framework7 and you don't have to install it separately. For the full API documentation and more examples check out the official <a href="https://swiperjs.com/vue/" target="_blank">Swiper for Vue documentation</a>.

    .with-device
      h2(data-device-preview="../docs-demos/vue/swiper.html") Examples
      include:vueSource ../docs-demos/vue/swiper.vue
