extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Tabs Vue Component | Framework7 Vue Documentation';

block content

  .docs-nav
    include ../_docs-vue-menu
  .docs-content
    +improveDocsLink
    h1 Tabs Vue Component
    .docs-index
    p Tabs allow to simply switch between different content. Tabs Vue component represents <a href="../docs/tabs.html">Tabs</a> component.
    h2 Tabs Components
    p There are following components included:
    ul
      li <code><b>f7-tabs</b></code>
      li <code><b>f7-tab</b></code>FAB
    h2 Tabs Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;f7-tabs&gt; properties
        tr
          td animated
          td boolean
          td Enables animated tabs
        tr
          td swipeable
          td boolean
          td Enables swipeable tabs
        tr
          td routable
          td boolean
          td Enables routable tabs
        tr
          th(colspan="3") &lt;f7-tab&gt; properties
        tr
          td tab-active
          td boolean
          td Defines currently active/visible tab
        tr
          td id
          td string
          td Tab ID
    h2 Tabs Methods
    table.methods-table
      tr
        th(colspan="2") &lt;f7-tab&gt; methods
      tr
        td .show(<span>animate</span>)
        td Show this tab
    h2 Tabs Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;f7-tab&gt; events
        tr
          td tab:show
          td Event will be triggered when Tab becomes visible/active
        tr
          td tab:hide
          td Event will be triggered when Tab becomes invisible/inactive
    h2 Switch Tabs
    p You can control/switch tabs:
    ul
      li by clicking on <a href="button.html">Button</a> or <a href="link.html">Link</a> specifying related tab's ID using <code>tab-link</code> prop
      li using <a href="../docs/tabs.html">Tabs API</a>
      li using <a href="../docs/tabs.html#routable-tabs">Routable Tabs</a>
    h2 Examples
    pre
      code.html
        :code
          <f7-tabs>
            <f7-tab id="tab1" tab-active>Tab 1 content...</f7-tab>
            <f7-tab id="tab2">Tab 2 content...</f7-tab>
          </f7-tabs>

          <!-- Renders to: -->

          <div class="tabs">
            <div id="tab1" class="tab tab-acitive">Tab 1 content...</div>
            <div id="tab2" class="tab">Tab 2 content...</div>
          </div>
    h4 Animated tabs
    pre
      code.html
        :code
          <f7-tabs animated>
            <f7-tab id="tab1" tab-active>Tab 1 content...</f7-tab>
            <f7-tab id="tab2">Tab 2 content...</f7-tab>
          </f7-tabs>

          <!-- Renders to: -->

          <div class="tabs-animated-wrap">
            <div class="tabs">
              <div id="tab1" class="tab tab-acitive">Tab 1 content...</div>
              <div id="tab2" class="tab">Tab 2 content...</div>
            </div>
          </div>
          </div>
    h4 Swipeable tabs
    pre
      code.html
        :code
          <f7-tabs swipeable>
            <f7-tab id="tab1" tab-active>Tab 1 content...</f7-tab>
            <f7-tab id="tab2">Tab 2 content...</f7-tab>
          </f7-tabs>

          <!-- Renders to: -->

          <div class="tabs-swipeable-wrap">
            <div class="tabs">
              <div id="tab1" class="tab tab-active">Tab 1 content...</div>
              <div id="tab2" class="tab">Tab 2 content...</div>
            </div>
          </div>
