extends ../_docs-template

block vars
  - var activeLink = 'vue';
  - var title = 'Timeline Vue Component | Framework7 Vue Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-vue
  .docs-content
    .motion-docs-page-title
      h1 Timeline Vue Component
      script(async src="/js/motion/timeline.js")
      f7-motion-timeline(motion)
    p There is no specific Timeline Vue Component, you need to use core <a href="../docs/timeline.html">Timeline component</a>.
    .important-note
      p <strong>Framework7 v9:</strong> Horizontal Timeline has been removed. Only vertical timeline layout is now supported.
    h2 Examples
    h3 Timeline
    +examplePreview('vue', 'timeline.vue', 'timeline')
