//- .header-sponsor
  a.header-sponsor-image(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir_carbon_1" target="_blank" rel="noopener")
    img(src="/i/sponsors/codersrank-image-1.png")
  a.header-sponsor-text(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir_carbon_1" target="_blank" rel="noopener") Show Off Your Experience, Find Your Dream Job, And Improve Your Skills, In A Personalized Way.
  span.header-sponsor-label Sponsor

.carbon
  <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIE5QJ&placement=framework7io" id="_carbonads_js"></script>
