.docs-nav-toggle
  span
  span
  span
.docs-nav-searchbar
  input(type="search", placeholder="Search")
  span.disable-search
ul
  li
    .title Get Started
    ul
      li
        a(href="introduction.html") Introduction
      li
        a(href="kitchen-sink.html") Kitchen Sink
      li
        a(href="installation.html") Installation
      li
        a(href="app-layout.html") App HTML Layout
      li
        a(href="rtl-layout.html") RTL Layout
      li
        a(href="init-app.html") Initialize App
  li
    .title Events
    ul
      li
        a(href="events.html") Events
  li
    .title Router / Navigation
    ul
      li
        a(href="routes.html") Routes
      li
        a(href="router-component.html") Router Component
      li
        a(href="view.html#router-api-methods-properties") Router API
  li
    .title Components
    ul
      li
        a(href="app.html") App / Core
      li
        a(href="accordion.html") Accordion / Collapsible
      li
        a(href="action-sheet.html") Action Sheet / Actions
      li
        a(href="autocomplete.html") Autocomplete
      li
        a(href="badge.html") Badge
      li
        a(href="block.html") Block / Content Block
      li
        a(href="button.html") Button
      li
        a(href="calendar.html") Calendar / Datepicker
      li
        a(href="cards.html") Cards
      li
        a(href="checkbox.html") Checkbox
      li
        a(href="chips.html") Chips / Tags
      li
        a(href="contacts-list.html") Contacts List
      li
        a(href="data-table.html") Data Table
      li
        a(href="dialog.html") Dialog
      li
        a(href="elevation.html") Elevation
      li
        a(href="floating-action-button.html") Floating Action Button / FAB
      li
        a(href="form.html") Form Data / Storage
      li
        a(href="gauge.html") Gauge
      li
        a(href="grid.html") Grid / Layout Grid
      li
        a(href="icons.html") Icons
      li
        a(href="infinite-scroll.html") Infinite Scroll
      li
        a(href="inputs.html") Inputs / Form Inputs
      li
        a(href="lazy-load.html") Lazy Load
      li
        a(href="link.html") Link
      li
        a(href="list-view.html") List View
      li
        a(href="list-index.html") List Index
      li
        a(href="login-screen.html") Login Screen
      li
        a(href="messagebar.html") Messagebar
      li
        a(href="messages.html") Messages
      li
        a(href="navbar.html") Navbar
      li
        a(href="notification.html") Notification
      li
        a(href="page.html") Page
      li
        a(href="panel.html") Panel / Side Panels
      li
        a(href="photo-browser.html") Photo Browser
      li
        a(href="picker.html") Picker
      li
        a(href="popover.html") Popover
      li
        a(href="popup.html") Popup
      li
        a(href="preloader.html") Preloader
      li
        a(href="progressbar.html") Progressbar
      li
        a(href="pull-to-refresh.html") Pull to Refresh
      li
        a(href="radio.html") Radio
      li
        a(href="range-slider.html") Range Slider
      li
        a(href="searchbar.html") Searchbar
      li
        a(href="sheet-modal.html") Sheet Modal
      li
        a(href="smart-select.html") Smart Select
      li
        a(href="sortable-list.html") Sortable List
      li
        a(href="statusbar.html") Statusbar
      li
        a(href="stepper.html") Stepper
      li
        a(href="subnavbar.html") Subnavbar
      li
        a(href="swiper.html") Swiper
      li
        a(href="swipeout.html") Swipeout
      li
        a(href="tabs.html") Tabs
      li
        a(href="timeline.html") Timeline
      li
        a(href="toast.html") Toast
      li
        a(href="toggle.html") Toggle
      li
        a(href="toolbar-tabbar.html") Toolbar / Tabbar
      li
        a(href="tooltip.html") Tooltip
      li
        a(href="vi.html") Video Intelligence (vi)
      li
        a(href="view.html") View / Router
      li
        a(href="virtual-list.html") Virtual List
  li
    .title Framework7 Icons
    ul
      li
        a(href="/icons/") Framework7 Icons Cheatsheet
  li
    .title Styling
    ul
      li
        a(href="iphone-x.html") iPhone X
      li
        a(href="color-themes.html") Color Themes
      li
        a(href="typography.html") Typography
      li
        a(href="hairlines.html") Hairlines
  li
    .title Dom7
    ul
      li
        a(href="dom7.html") Dom7
  li
    .title Template7
    ul
      li
        a(href="template7.html") Template7
  li
    .title Fast Clicks
    ul
      li
        a(href="fast-clicks.html") Fast Clicks
      li
        a(href="active-state.html") Active State
      li
        a(href="tap-hold.html") Tap Hold Event (Long Tap)
      li
        a(href="touch-ripple.html") Touch Ripple (MD Theme)
  li
    .title Utilities
    ul
      li
        a(href="request.html") Request / Ajax
      li
        a(href="utils.html") Utils
      li
        a(href="device.html") Device
      li
        a(href="support.html") Support
  li
    .title Plugins API
    ul
      li
        a(href="plugins-api.html") Plugins API
  li
    .title Lazy Modules
    ul
      li
        a(href="lazy-modules.html") Lazy Modules
  li
    .title Custom Build
    ul
      li
        a(href="custom-build.html") Custom Build
