block vars
include _mixins
doctype
html
  head
    meta(charset="utf-8")
    title=title
    meta(property="og:image", content="/i/share-banner.jpg")
    meta(name="viewport", content="width=device-width, viewport-fit=cover")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@framework7io")
    meta(name="twitter:creator", content="@framework7io")
    meta(name="twitter:title", content=title)
    meta(name="twitter:image", content="https://framework7.io/i/share-banner.jpg")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
  body.body-docs
    include _internal-header
    main
      .center
        block content
    include _footer
    include _footer-scripts
    block scripts
