.docs-nav-frameworks
  a(href="/docs/")
    img(src="/i/frameworks/js.svg")
  a(href="/vue/")
    img(src="/i/frameworks/vue.svg")
  a(href="/react/")
    img(src="/i/frameworks/react.svg")
  a(href="/svelte/")
    img(src="/i/frameworks/svelte.svg")
