.docs-nav-toggle
  span
  span
  span
.docs-nav-searchbar
  input(type="search", placeholder="Search")
  span.disable-search
.docs-nav-menu
  include _docs-menu-sponsors
  ul
    li
      .title Framework7 CLI API
      ul
        li
          a(href="/cli/") Introduction
        li
          a(href="installation.html") Installation
        li
          a(href="create-app.html") Create App
        li
          a(href="generate-assets.html") Generate Assets
