.docs-nav-toggle
  span
  span
  span
.docs-nav-searchbar
  input(type="search", placeholder="Search")
  span.disable-search
ul
  li
    .title Get Started
    ul
      li
        a(href="introduction.html") Introduction
      li
        a(href="kitchen-sink.html") Kitchen Sink
      li
        a(href="installation.html") Installation
      li
        a(href="app-layout.html") App Layout
      li
        a(href="init-app.html") Initialize App
      li
        a(href="vue-component-extensions.html") Vue Component Extensions
      li
        a(href="navigation-router.html") Navigation / Router
      li
        a(href="colors.html") Color Properties
  li
    .title Vue Components
    ul
      li
        a(href="app.html") App
      li
        a(href="accordion.html") Accordion
      li
        a(href="action-sheet.html") Action Sheet / Actions
      li
        a(href="badge.html") Badge
      li
        a(href="block.html") Block / Content Block
      li
        a(href="button.html") Button
      li
        a(href="cards.html") Cards
      li
        a(href="checkbox.html") Checkbox
      li
        a(href="chips.html") Chips / Tags
      li
        a(href="contacts-list.html") Contacts List
      li
        a(href="floating-action-button.html") Floating Action Button / FAB
      li
        a(href="gauge.html") Gauge
      li
        a(href="grid.html") Grid / Layout Grid
      li
        a(href="icon.html") Icon
      li
        a(href="inputs.html") Inputs / Form Inputs
      li
        a(href="link.html") Link
      li
        a(href="list-view.html") List View
      li
        a(href="list-item.html") List Item
      li
        a(href="list-button.html") List Button
      li
        a(href="list-index.html") List Index
      li
        a(href="login-screen.html") Login Screen
      li
        a(href="messagebar.html") Messagebar
      li
        a(href="messages.html") Messages
      li
        a(href="navbar.html") Navbar
      li
        a(href="page.html") Page
      li
        a(href="panel.html") Panel / Side Panels
      li
        a(href="photo-browser.html") Photo Browser
      li
        a(href="popover.html") Popover
      li
        a(href="popup.html") Popup
      li
        a(href="preloader.html") Preloader
      li
        a(href="progressbar.html") Progressbar
      li
        a(href="radio.html") Radio
      li
        a(href="range-slider.html") Range Slider
      li
        a(href="searchbar.html") Searchbar
      li
        a(href="sheet-modal.html") Sheet Modal
      li
        a(href="smart-select.html") Smart Select
      li
        a(href="sortable.html") Sortable
      li
        a(href="statusbar.html") Statusbar
      li
        a(href="stepper.html") Stepper
      li
        a(href="subnavbar.html") Subnavbar
      li
        a(href="swiper.html") Swiper
      li
        a(href="swipeout.html") Swipeout
      li
        a(href="tabs.html") Tabs
      li
        a(href="toggle.html") Toggle
      li
        a(href="toolbar-tabbar.html") Toolbar / Tabbar
      li
        a(href="view.html") View
      li
        a(href="virtual-list.html") Virtual List
