.docs-nav-backdrop
.docs-nav-toggle
  span
  span
  span
.docs-nav-content
  .docs-nav-menu
    include _docs-menu-sponsors
    ul
      li
        .title Framework7 MCP Server
        ul
          li
            a(href="/mcp/") Introduction
          li
            a(href="setup.html") Setup
          li
            a(href="tools.html") Tools Reference
    include _docs-menu-ads
