.docs-nav-sponsors
  .title Sponsors
  a(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir", title="CodersRank - Ultimate Profile for Coders", target="_blank")
    img(src="/i/sponsors/codersrank-h.svg")
  include _patreon
