.docs-demo-device
  .docs-demo-device-buttons
    a(data-theme="ios").active
      i.f7-icons logo_apple
    a(data-theme="md")
      i.f7-icons logo_android
    a(data-theme="aurora")
      i.f7-icons device_desktop
  .docs-demo-device-iframe
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
