script(src="https://cdn.jsdelivr.net/npm/@docsearch/js@3")
script(src=`/js/main.${jsHash}.js`)
script(src="https://app.tinyadz.com/scripts/ads.js" site-id="6841d2ceabe5f5e57e1b9d73" async)

<script async src="https://www.googletagmanager.com/gtag/js?id=G-JP28Y9LMRE"></script>
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-JP28Y9LMRE');
  window.gtag = gtag;
