script(src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js")
script(src=cdn + "/js/main.js")
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-74282934-8")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-74282934-8');
script.
  (function(){
    var bsa = document.createElement('script');
       bsa.type = 'text/javascript';
       bsa.async = true;
       bsa.src = '//s3.buysellads.com/ac/bsa.js';
    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
  })();
script(src="//m.servedby-buysellads.com/monetization.js", type="text/javascript")
script.
  (function(){
    if(typeof _bsa !== 'undefined' && _bsa) {
    _bsa.init('default', 'CKYD627I', 'placement:framework7io', {
      target: '.bsa-cpc',
      align: 'horizontal',
      disable_css: 'true'
    });
      }
  })();
