.links
  .links-block
    .links-block-title Project
    ul
      li
        a(href="https://github.com/framework7io/framework7/releases" target="_blank") Download
      li
        a(href="/contribute/") Contribute
      li
        a(href="/sponsors/") Sponsors
      li
        a(href="http://blog.framework7.io", target="_blank") Blog
      li
        a(href="https://github.com/framework7io/framework7/blob/master/CHANGELOG.md" target="_blank") Changelog
  .links-block
    .links-block-title Docs
    ul
      li
        a(href="/docs/") Framework7 Core / API
      li
        a(href="/vue/") Framework7 Vue
      li
        a(href="/react/") Framework7 React
      li
        a(href="/docs/dom7.html") Dom7
      li
        a(href="http://idangero.us/template7/" target="_blank") Template7
      li
        a(href="http://v1.framework7.io") Framework7 v1
      li
        a(href="http://v2.framework7.io") Framework7 v2
  .links-block
    .links-block-title Resources
    ul
      li
        a(href="http://forum.framework7.io" target="_blank") Community Forum
      li
        a(href="/tutorials/") Tutorials
      li
        a(href="/templates/") Templates
      li
        a(href="/plugins/") Plugins
      li
        a(href="/showcase/") Apps Showcase
      li
        a(href="/icons/") Framework7 Icons
  .links-block
    .links-block-title Connect
    ul
      li
        a(href="https://twitter.com/framework7io", target="_blank") Twitter
      li
        a(href="https://github.com/framework7io", target="_blank") GitHub
      li
        a(href="https://facebook.com/framework7io", target="_blank") Facebook
  .footer-sponsors
    .footer-sponsors-title Sponsored by
    div(id="bsap_1306028" class="bsarocks bsap_692e54a1f79f00fb913f5a1c3ec9eaa5")
.copy
  .copy-left
    p Code licensed under <a href="https://github.com/nolimits4web/Framework7/blob/master/LICENSE" target="_blank">MIT</a>
    p 2016 © Framework7 is brought to you by <a href="https://twitter.com/nolimits4web" target="_blank">Vladimir Kharlampidi</a> from <a href="http://idangero.us">iDangero.us</a>.
  .copy-right
    p Proudly supported by <a href="https://www.keycdn.com/" class="keycdn-link" target="_blank"><img src="#{cdn}/i/keycdn-logo.svg" alt="KeyCDN" title="KeyCDN" class="keycdn-logo"></a>
  .clearfix
