.github-buttons
  a(href="https://github.com/framework7io/framework7/", target="_blank")
    i.f7-icons logo_github
  a(href="https://github.com/framework7io/framework7/", target="_blank").gh-stars
    span
    |  stars
  a(href="https://github.com/framework7io/framework7/", target="_blank").gh-forks
    span
    |  forks
