header.internal-header
  .center
    .logo-holder
      a(href="/").logo
    .header-content
      .title Framework7
        .version v#{release.version}
      ul.nav
        li
          a(href="/docs/") Docs
          ul
            li
              a(href="/docs/introduction.html") Getting Started
            li
              a(href="/docs/") Framework7 Core / API
            li
              a(href="/vue/") Framework7 Vue
            li
              a(href="/react/") Framework7 React
            li
              a(href="/docs/dom7.html") Dom7
            li
              a(href="http://idangero.us/template7/" target="_blank") Template7
            li
              a(href="http://v1.framework7.io/" target="_blank") Framework7 v1
            li
              a(href="http://v2.framework7.io/" target="_blank") Framework7 v2
            //- li
              a(href="/docs/cli/") CLI
        li
          a(href="#") Resources
          ul
            li
              a(href="http://forum.framework7.io" target="_blank") Community Forum
            li
              a(href="/tutorials/") Tutorials
            li
              a(href="/templates/") Templates
            li
              a(href="/plugins/") Plugins
            li
              a(href="/showcase/") Apps Showcase
            li
              a(href="/icons/") Framework7 Icons
        li
          a(href="http://blog.framework7.io" target="_blank") Blog
        li
          a(href="/contribute/") Contribute
      .patreon-github
        include _patreon
        include _github-buttons
    include _carbon
.bsa-cpc
