header.internal-header
  .center
    .logo-holder
      a(href="/").logo
    .header-content
      .title Framework7
        .version v#{release.version}
      ul.nav
        li
          a(href="/docs/") Docs
          ul
            li
              a(href="/docs/introduction.html") Getting Started
            li
              a(href="/docs/") Framework7 Core / API
            li
              a(href="/vue/") Framework7 Vue
            li
              a(href="/react/") Framework7 React
            li
              a(href="https://framework7.io/icons/", target="_blank") Framework7 Icons
            li
              a(href="/docs/dom7.html") Dom7
            li
              a(href="http://idangero.us/template7/" target="_blank") Template7

        li
          a(href="#") Resources
          ul
            li
              a(href="http://forum.framework7.io" target="_blank") Community Forum
            li
              a(href="https://framework7.io/tutorials/" target="_blank") Tutorials
            li
              a(href="https://framework7.io/templates/" target="_blank") Templates
            li
              a(href="https://framework7.io/plugins/" target="_blank") Plugins
            li
              a(href="https://framework7.io/showcase/" target="_blank") Apps Showcase
            li
              a(href="https://jobs.framework7.io" target="_blank") Jobs & Developers
        li
          a(href="http://blog.framework7.io" target="_blank") Blog
        li
          a(href="https://framework7.io/contribute/" target="_blank") Contribute
      .patreon-github
        include _patreon
        include _github-buttons
    include _carbon
.bsa-cpc
