header.internal-header
  .center
    .logo-holder
      a(href="/").logo
    .header-content
      .title
        img(src="/i/logo-text-red.svg")
        .version v#{release.version}
      ul.nav
        li
          a(href="/docs/") Docs
          ul
            li
              a(href="/docs/introduction.html") Getting Started
            li.divider
            li
              a(href="/docs/") Framework7 Core / API
            li
              a(href="/vue/") Framework7 Vue
            li
              a(href="/react/") Framework7 React
            li
              a(href="/svelte/") Framework7 Svelte
            li.divider
            li
              a(href="/cli/") Framework7 CLI
            li
              a(href="/icons/") Framework7 Icons
            li
              a(href="/docs/dom7.html") Dom7
            li
              a(href="https://idangero.us/template7/" target="_blank") Template7
            li.divider
            li
              a(href="/release-notes/") Release Notes
            li.divider
            li
              a(href="https://v1.framework7.io/" target="_blank") Framework7 v1
            li
              a(href="https://v2.framework7.io/" target="_blank") Framework7 v2
            li
              a(href="https://v3.framework7.io/" target="_blank") Framework7 v3
            li
              a(href="https://v4.framework7.io/" target="_blank") Framework7 v4

        li
          a(href="#") Resources
          ul
            li
              a(href="https://forum.framework7.io" target="_blank") Community Forum
            li
              a(href="/tutorials/") Tutorials
            li
              a(href="/templates/") Templates
            li
              a(href="/plugins/") Plugins
            li
              a(href="/showcase/") Apps Showcase
            li
              a(href="https://jobs.framework7.io" target="_blank") Jobs & Developers
        li
          a(href="https://blog.framework7.io" target="_blank") Blog
        li
          a(href="#") Contribute
          ul
            li
              a(href="/contribute/") Contribute
            li
              a(href="https://www.patreon.com/vladimirkharlampidi" target="_blank") Pledge on Patreon
            li
              a(href="https://teespring.com/stores/framework7" target="_blank") T-Shirt Shop
      .patreon-github
        include _patreon
        include _github-buttons
    include _carbon
include _internal-header-adline
