//- .internal-header-adline
  a(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir_carbon_2" target="_blank" rel="noopener")
    span SPONSOR
    | CodersRank - Create Your Ultimate Developer Profile
.bsa-cpc
