block vars
include _mixins
doctype
html
  head
    meta(charset="utf-8")
    title=title
    meta(name="viewport", content="width=device-width, viewport-fit=cover")
    meta(property="og:title", content=title)
    meta(property="og:image", content="/i/share-banner-v8.jpg")
    meta(property="og:site_name", content="Framework7")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@framework7io")
    meta(name="twitter:creator", content="@framework7io")
    meta(name="twitter:title", content=title)
    meta(name="twitter:image", content="https://framework7.io/i/share-banner-v8.jpg")
    meta(name="theme-color" content="#322624")
    link(rel="shortcut icon" href="/i/favicon.png")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/css/main-v8.css")
  body
    include _nav
    main
      .center
        block content
    include _footer
    include _footer-scripts
