header.internal-header
  .center
    .logo-holder
      a(href="/").logo
    .header-content
      .title
        img(src=cdn+"/i/logo-text-only-white.svg")
        .version v4
      ul.nav
        li
          a(href="/docs/") Docs
          ul
            li
              a(href="/docs/introduction.html") Getting Started
            li.divider
            li
              a(href="/docs/") Framework7 Core / API
            li
              a(href="/vue/") Framework7 Vue
            li
              a(href="/react/") Framework7 React
            li.divider
            li
              a(href="https://framework7.io/cli/" target="_blank") Framework7 CLI
            li
              a(href="/icons/" target="_blank") Framework7 Icons
            li
              a(href="https://framework7.io/docs/dom7.html" target="_blank") Dom7
            li
              a(href="https://idangero.us/template7/" target="_blank") Template7

        li
          a(href="#") Resources
          ul
            li
              a(href="https://forum.framework7.io" target="_blank") Community Forum
            li
              a(href="https://framework7.io/tutorials/" target="_blank") Tutorials
            li
              a(href="https://framework7.io/templates/" target="_blank") Templates
            li
              a(href="https://framework7.io/plugins/" target="_blank") Plugins
            li
              a(href="https://framework7.io/showcase/" target="_blank") Apps Showcase
            li
              a(href="https://jobs.framework7.io" target="_blank") Jobs & Developers
        li
          a(href="https://blog.framework7.io" target="_blank") Blog
        li
          a(href="#") Contribute
          ul
            li
              a(href="https://framework7.io/contribute/" target="_blank") Contribute
            li
              a(href="https://www.patreon.com/vladimirkharlampidi" target="_blank") Pledge on Patreon
            li
              a(href="https://teespring.com/stores/framework7" target="_blank") T-Shirt Shop
      .patreon-github
        include _patreon
        include _github-buttons
    include _carbon
.bsa-cpc
