doctype
html
  head
    meta(charset="utf-8")
    title Framework7 - Full Featured Framework For Building iOS, Android & Desktop Apps
    meta(name="viewport" content="width=device-width, viewport-fit=cover")
    meta(name="theme-color", content="#EE350F")
    meta(property="og:title" content="Framework7 - Full Featured Framework For Building iOS, Android & Desktop Apps")
    meta(property="og:description" content="Build full featured iOS, Android & Desktop apps")
    meta(property="og:image", content="/i/share-banner.jpg")
    meta(property="og:site_name", content="Framework7")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@framework7io")
    meta(name="twitter:creator", content="@framework7io")
    meta(name="twitter:title", content="Framework7")
    meta(name="twitter:description", content="Build full featured iOS, Android & Desktop apps")
    meta(name="twitter:image", content="https://framework7.io/i/share-banner.jpg")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
  body
    main.center
      .home-block.home-main
        .logo
        h1 Framework7 v5 Documentation
        .buttons
          a(href="/docs/") Framework7 Core
          a(href="/react/") Framework7 React
          a(href="/svelte/") Framework7 Svelte
          a(href="/vue/") Framework7 Vue
        include _carbon

    include _footer
    include _footer-scripts
