doctype
html
  head
    meta(charset="utf-8")
    title Framework7 - Full Featured Framework For Building iOS, Android & Desktop Apps
    meta(property="og:image", content=cdn + "/i/share-banner.jpg")
    meta(name="viewport" content="width=device-width, viewport-fit=cover")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@framework7io")
    meta(name="twitter:creator", content="@framework7io")
    meta(name="twitter:title", content="Framework7")
    meta(name="twitter:description", content="Full featured framework for building iOS, Android & Desktop apps")
    meta(name="twitter:image", content=cdn + "/i/logo.svg")
    link(rel="stylesheet", href=cdn + "/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
  body
    main.center
      .home-block.home-main
        .logo
        h1 Framework7 v4 Documentation
        .buttons
          a(href="/docs/") Framework7 Core
          a(href="/vue/") Framework7 Vue
          a(href="/react/") Framework7 React
        include _carbon

    include _footer-scripts
