extends ../jade/_internal-template

block vars
  - var activeLink = 'tutorials';
  - var title = 'Framework7 Tutorials';

block content
  h1 Framework7 Tutorials
  p Let us know if you wrote tutorial about Framework7 and will feature it here.
  ul.tutorials
    li
      .tutorial-title
        a(href="./mobile-mvc-apps-with-framework7-requirejs-and-handlerbars.html") Mobile MVC Apps With Framework7, RequireJS and Handlebars
      .tutorial-author by 
        a(href="https://github.com/philipshurpik", target="_blank").tutorial-author Philip Shurpik
    li
      .tutorial-title
        a(href="http://thejackalofjavascript.com/framework7-phonegap-getting-started/", target="_blank") Framework7 & PhoneGap – Getting Started
      .tutorial-author by 
        a(href="http://thejackalofjavascript.com/", target="_blank").tutorial-author The Jackal of Javascript
    li
      .tutorial-title
        a(href="http://codemy.net/posts/integrating-framework7-into-rails", target="_blank") Integrating Framework7 into Rails
        span.video video
      .tutorial-author by 
        a(href="http://codemy.net/", target="_blank").tutorial-author Codemy.net
    li
      .tutorial-title
        a(href="http://codemy.net/posts/filling-out-mobile-site-ui", target="_blank") Filling out Mobile Site UI (Variants + Framework7)
        span.video video
      .tutorial-author by 
        a(href="http://codemy.net/", target="_blank").tutorial-author Codemy.net
    li
      .tutorial-title
        a(href="http://codemy.net/posts/optimizing-mobile-site", target="_blank") Optimizing Rails App for Framework7
        span.video video
      .tutorial-author by 
        a(href="http://codemy.net/", target="_blank") Codemy.net

    
  