.apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;

  .app {
    position: relative;
    min-width: 0;
  }
  .app-icon {
    text-align: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 44px;
    position: relative;
    display: block;
    text-decoration: none;
    img {
      max-width: 100%;
      border-radius: inherit;
    }
    .img {
      height: 100%;
      width: 100%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 10px;
      font-size: 22px;
      font-weight: 500;
      border-radius: inherit;
      line-height: 1.1;
      font-weight: bold;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  .app-icon,
  .app-icon:after,
  .app-info {
    transition: 400ms;
    transition-property: transform, box-shadow;
  }
  .app-info {
    margin-top: 16px;
  }
  .app-author {
    font-size: 12px;
  }
  .app-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0px;
    line-height: 1.2;
  }
  .app-description {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.5;
  }
  .app-badges {
    position: absolute;
    right: 8px;
    top: 4px;
    text-align: right;
    display: flex;
    align-items: center;
    line-height: 1;
    span {
      .badge();
    }
  }
  .app-buttons {
    z-index: 10;
    margin-top: 16px;
    a {
      .button();
      font-weight: 600;
      + a {
        margin-left: 4px;
      }
    }
  }
  &.uiinitiative-apps {
    .app-title {
      line-height: inherit;
    }
    .app-subtitle {
      font-size: 14px;
    }
    .app-cover {
      display: block;
      &:hover {
        opacity: 0.75;
      }
      img {
        display: block;
        border-radius: 12px;
      }
    }
  }
}
@media (max-width: 1023px) {
  .apps {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .apps {
    .app-icon {
      width: 150px;
      height: 150px;
    }
    .app-icon {
      border-radius: 35px;
    }
    .app-title {
      font-size: 18px;
    }
    &.uiinitiative-apps {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 600px) {
  .apps {
    .app-buttons {
      flex-direction: column;
      a + a {
        margin-left: 0;
        margin-top: 4px;
      }
    }
    .app-icon {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      img {
        display: block;
      }
      .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 400px) {
  .apps {
    grid-template-columns: repeat(2, 1fr);
    .app-icon {
      border-radius: 8vw;
    }
    &.uiinitiative-apps {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
