.home-header {
  height: 700px;
  position: relative;
  box-sizing: border-box;
  position: relative;
  color:#000;
  z-index: 1;
  background: #fff;
  .mobile-preview-button {
    display: none;
  }
  > .center {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .logo-title {
    margin-bottom: auto;
    svg {
      width: 400px;
      height: auto;
      max-width: 107%;
      margin-top: -2%;
      margin-bottom: -6.5%;
      margin-right: -4%;
    }
  }
  .slogan {
    font-size: 44px;
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
    margin: 20px 0 20px;
  }
  .content {
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 10;
    width: 60%;
    height: 100%;
  }
  .buttons-links {
    align-self: flex-start;
    width: 100%;
  }
  .buttons {
    a {
      .solid-button();
      min-width: 200px;
      i {
        font-size: 34px;
        width: 1em;
        height: 1em;
        margin-right: 5px;
      }
    }
  }

  .links {
    margin: 20px 0;
    a {
      border: none;
      border-radius: 0;
      padding: 0;
      display: inline-block;
      text-decoration: none;
      border-radius: 50px;
      transition: 200ms;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      + a {
        margin-left: 15px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .phone {
    flex-shrink: 0;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    width: 375px + 10px;
    height: 680px;
    padding: 5px;
    border-radius: 25px;
    background: #000;
    align-self: center;
    margin-left: 60px;
    position: relative;
    margin-right: -10px;
    box-sizing: border-box;

    .iframe-wrapper {
      position: relative;
      border-radius: inherit;
      overflow: hidden;
      height: 100%;
      border-radius: 20px;
    }
    iframe {
      width: 100%;
      height: 100%;
      display: block;
      width: 100%;
      border-radius: 20px;
    }

    .theme-switch {
      position: absolute;
      right: 100%;
      top: 70px;
      white-space: nowrap;
      background: #fff;
      box-shadow: -8px 2px 7px rgba(0,0,0,0.1);
      border-radius: 5px 0 0 5px;
      padding: 3px;
      i {
        font-size: 22px;
        width: 22px;
        height: 22px;
        display: block;
      }
      a {
        text-align: center;
        background: #fff;
        text-decoration: none;
        color:#777;
        padding: 5px;
        display: block;
        font-size: 12px;
        position: relative;
        font-weight: bold;
        background: #ddd;
        span {
          display: block;
        }
        &:hover {
          background: #ddd;
          color: #555;
        }
        &:first-child {
          border-radius: 4px 4px 0 0;
        }
        &:last-child {
          border-radius: 0 0 4px 4px;
        }
        &.active {
          background: @redColor;
          color: #fff;
          box-shadow: 0px 0px 5px rgba(red(@redColor), green(@redColor), blue(@redColor), 0.5);
        }
        &.active:hover {
          .theme-icon {
            opacity: 0;
          }
          .fullscreen {
            opacity: 1;
          }
        }
      }
      .fullscreen {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 1;
        opacity: 0;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
      }
    }
  }

  .release-info {
    font-size: 12px;
    margin-top: auto;
    color: rgba(0, 0 ,0, 0.7);
    a {
      color:inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .patreon-github {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .github-buttons {
    margin-right: 20px;
  }
  .github-buttons,
  .patreon-button {
    flex-shrink: 0;
  }
}
@media (max-width: 959px) {
  .home-header {
    .phone {
      width: 320px;
      height: 600px;
    }
  }
}
@media (max-width: 900px) {
  .home-header {
    .slogan {
      font-size: 32px;
    }
  }
}
@media (max-width: 768px) {
  .home-header {
    height: auto;
    overflow: hidden;

    .release-info {
      text-align: center;
    }
    .content {
      width: 100%;
      align-items: center;
    }
    .logo-title {
      text-align: center;
      max-width: 500px;
      svg {
        max-width: 100%;
      }
    }
    .slogan {
      text-align: center;
      margin: 40px 0;
      font-size: 44px;
    }
    .buttons-links {
      align-self: center;
      text-align: center;
      margin-bottom: 40px;
    }
    .links {
      text-align: center;
    }
    .patreon-github {
      flex-wrap: wrap;
      justify-content: center;
    }
    .github-buttons,
    .patreon-button {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
    }
    .buttons {
      text-align: center;
    }
    .phone {
      position: absolute;
      left: ~"calc(100vw + 50%)";
      margin: 0;
      max-width: 320px;
      height: ~"calc(100% - 30px)";
      max-height: 600px;
      margin-left: 15px;
      transform: ~"translateX(-50%)";
    }
    &:not(.mobile-preview-enabled) {
      .phone {
        box-shadow: none;
        .theme-switch {
          opacity: 0;
        }
      }
    }
    .mobile-preview-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 2px;
      top: 40%;
      height: 34px;
      margin-top: -17px;
      width: 34px;
      background-color: @redColor;
      color: #fff;
      border-radius: 50%;
      box-shadow: 0px 5px 10px rgba(red(@redColor), green(@redColor), blue(@redColor), 0.3);
      cursor: pointer;
      i:first-child {
        position: absolute;
        font-size: 24px;
        right: 26px;
        color: @redColor;
      }
      i {
        font-size: 24px;
      }
    }
    .content,
    .phone,
    .mobile-preview-button,
    .mobile-preview-button i,
    .theme-switch {
      transition: 600ms;
      transition-property: transform, box-shadow, opacity;
    }
  }
  .mobile-preview-enabled {
    .content {
      transform: translateX(-100vw);
      opacity: 0;
    }
    .phone {
      transform: ~"translateX(calc(-100vw - 50%))";
    }
    .theme-switch {
      opacity: 1;
    }
    .mobile-preview-button {
      transform: ~"translateX(calc(-100vw + 40px))";
      i:first-child {
        transform: translateX(40px) rotate(180deg);
      }
    }
  }
}
@media (max-width: 480px) {
  .home-header {
    .logo-title {
      max-width: 320px;
    }
    .slogan {
      font-size: 34px;
    }
    .patreon-github {
      width: 100%;
      .github-buttons,
      .patreon-button {
        margin-left: 0;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
    .links {
      margin-bottom: 0;
    }
  }
}
