.home-header {
  height: 700px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  color:#fff;
  z-index: 1;
  background-image: linear-gradient(to bottom, @pinkColor, @redColor 30%);
  .mobile-preview-button {
    display: none;
  }
  > .center {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .rocket {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: @brownColor;
    opacity: 0.1;
    font-size: 800px;
  }
  .logo-title {
    display: flex;
    align-items: center;
    svg {
      width: 600px;
      height: auto;
      max-width: 90%;
    }
  }
  .slogan {
    font-size: 31px;
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0 60px;
  }
  .content {
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    flex-shrink: 10;
  }
  .buttons-links {
    align-self: flex-start;
  }
  .buttons {
    a {
      background: #fff;
      text-align: center;
      box-sizing: border-box;
      display: inline-block;
      line-height: 44px;
      width: 200px;
      height: 44px;
      font-size: 18px;
      text-decoration: none;
      border-radius: 44px;
      transition: 200ms;
      font-weight: bold;
      + a {
        margin-left: 20px;
      }
    }
    a:hover {
      background: rgba(255,255,255,0.8);
    }
    a:active {
      background: rgba(255,255,255,0.65);
    }
  }

  .links {
    margin: 20px 0;
    text-align: center;
    a {
      color:#fff;
      border: none;
      border-radius: 0;
      padding: 0;
      display: inline-block;
      text-decoration: none;
      border-radius: 50px;
      transition: 200ms;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      + a {
        margin-left: 15px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .phone {
    flex-shrink: 0;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    width: 375px;
    height: 667px;
    padding: 10px 7px;
    border-radius: 20px;
    background: @darkBrownColor;
    align-self: center;
    margin-left: 60px;
    position: relative;
    margin-right: -10px;

    .iframe-wrapper {
      position: relative;
      border-radius: inherit;
      overflow: hidden;
      height: 100%;
      border-radius: 12px;
    }
    iframe {
      width: 100%;
      height: 100%;
      display: block;
      width: 100%;
      border-radius: 12px;
    }

    .theme-switch {
      position: absolute;
      right: 100%;
      top: 70px;
      white-space: nowrap;
      i {
        font-size: 28px;
        width: 28px;
        height: 28px;
        display: block;
      }
      a {
        text-align: center;
        background: @darkBrownColor;
        text-decoration: none;
        color:#fff;
        padding: 5px 5px 5px 15px;
        border-radius: 35px 0 0 35px;
        display: block;
        font-size: 12px;
        transition: 200ms;
        opacity: 0.5;
        position: relative;
        box-shadow: -8px 2px 7px rgba(0,0,0,0.1);
        font-weight: bold;
        span {
          display: block;
        }
        &.active,
        &:hover {
          opacity: 1;
        }
        + a {
          margin-top: 10px;
        }
        &.active:hover {
          .theme-icon {
            opacity: 0;
          }
          .fullscreen {
            opacity: 1;
          }
        }
      }
      .theme-icon,
      .fullscreen {
        transition: 100ms;
      }
      .fullscreen {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 10px;
        line-height: 1;
        opacity: 0;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        padding-right: 5px;
        box-sizing: border-box;
      }
    }
  }



  .carbon {
    float: none;
    margin: 0;
    margin-top: auto;
    border: none;
    background: rgba(255,255,255,0.1);
  }

  .release-info {
    font-size: 14px;
    margin-top: 40px;
    color: #fff;
    a {
      color:inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .patreon-github {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: nowrap;
  }
  .github-buttons {
    margin-right: 20px;
  }
  .github-buttons,
  .patreon-button {
    flex-shrink: 0;
  }
}
@media (max-width: 959px) {
  .home-header {
    .phone {
      width: 320px;
      height: 600px;
    }
  }
}
@media (max-width: 900px) {
  .home-header {
    .slogan {
      font-size: 24px;
    }
    .buttons a {
      width: 160px;
    }
  }
}
@media (max-width: 767px) {
  .home-header {
    height: auto;

    .release-info {
      text-align: center;
    }
    .carbon {
      max-width: 100%;
      box-sizing: border-box;
    }
    .content {
      width: 100%;
      align-items: center;
    }
    .logo-title {
      justify-content: center;
    }
    .slogan {
      text-align: center;
      margin-bottom: 20px;
      line-height: 1.5;
    }
    .buttons-links {
      align-self: center;
    }
    .patreon-github {
      flex-wrap: wrap;
      justify-content: center;
    }
    .github-buttons,
    .patreon-button {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
    }
    .buttons {
      text-align: center;
      a {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        + a {
          margin-left: 10px;
        }
      }
    }
    .phone {
      position: absolute;
      left: ~"calc(100vw + 50%)";
      margin: 0;
      max-width: 320px;
      height: ~"calc(100% - 30px)";
      max-height: 600px;
      margin-left: 15px;
      transform: ~"translateX(-50%)";
    }
    &:not(.mobile-preview-enabled) {
      .phone {
        box-shadow: none;
        .theme-switch {
          opacity: 0;
        }
      }
    }
    .mobile-preview-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 40%;
      height: 40px;
      margin-top: -20px;
      width: 40px;
      color: @yellowColor;
      cursor: pointer;
      i:first-child {
        position: absolute;
        font-size: 24px;
        right: 30px;
      }
      i {
        font-size: 32px;
      }
    }
    .content,
    .phone,
    .mobile-preview-button,
    .mobile-preview-button i,
    .theme-switch {
      transition: 600ms;
      transition-property: transform, box-shadow, opacity;
    }
  }
  .mobile-preview-enabled {
    .content {
      transform: translateX(-100vw);
      opacity: 0;
    }
    .phone {
      transform: ~"translateX(calc(-100vw - 50%))";
    }
    .theme-switch {
      opacity: 1;
    }
    .mobile-preview-button {
      transform: ~"translateX(calc(-100vw + 40px))";
      i:first-child {
        transform: translateX(40px) rotate(180deg);
      }
    }
  }
}