.carbon.carbon-home {
    border: 1px solid #f2f2f2;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: static;
    min-height: 103px;
    margin-top: 40px;
    a, & {
        color: #333;
    }
}
.home-block {
    text-align: center;
    .logo {
        width: 150px;
        height: 150px;
        background: url(../i/logo.svg) no-repeat center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-size: 100% auto;
    }
    h1 {
        font-size: 47px;
        margin-bottom: 20px;
        font-weight: 4300;
        margin-top: 30px;
    }
    .buttons {
        margin-top: 30px;
        a {
            .button();
            font-size: 20px;
            height: auto;
            display: inline-block;
            line-height: 38px;
            width: auto;
            padding: 0 30px;
            border-radius: 20px;
            + a {
                margin-left: 20px;
            }
        }
    }
}