extends ../src/jade/_internal-template

block vars
  - var activeLink = 'react';
  - var title = 'Initialize App | Framework7 React Documentation';

block content
  .docs-wrap
    .docs-nav
      include ./_docs-react-menu
    .docs-content
      h1 Initialize App
      p As briefly shown in the <a href="app-layout.html">app layout</a> section, your root App.jsx component will typically have a top-level Framework7App component. This component is used to initialize your app, and you can pass in any Framework7 initialization parameter as a prop, along with props specific to Framework7 React.
      pre
        code.
          import {routes} from './routes';

          //App.jsx
          const App = () => (
            <Framework7App routes={routes} themeType="ios">
              ...
            </Framework7App>
          );

      p In addition, if you're using Create React App, Webpack or Browserify, you might typically have an root-level app.js or index.js file that mounts your root app component:
      pre
        code.
          import React from 'react';
          import ReactDOM from 'react-dom';
          import {App} from './components/App';

          ReactDOM.render(
            <App />,
            document.getElementById('root')
          );

     h2 Framework7App Props
      p In addition to passing Framework7 initialization parameters as props, you can also pass the following props:
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Default
            th Description
        tbody
          tr
            td routes
            td array
            td null
            td An array of route objects that make up the pages of the app
          tr
            td themeType
            td string
            td null
            td Either "ios" or "material", depending on the desired theme of your app
          tr
            td stateKernel
            td object
            td null
            td An instance of a Framework7 state kernel from <a href="https://github.com/bencompton/framework7-redux">Framework7 Redux</a>
      