extends ../jade/_internal-template

block vars
  - var activeLink = 'donate';
  - var title = 'Donate To Framework7';

block content
  h1 Donate To Framework7
  p If you like Framework7 you can always send us few cents by 
  ul
    li 
      p using Skrill (Moneybookers):  
        a(href="http://www.idangero.us/buy/donate-framework7.php", target="_blank", onclick="_gaq.push(['_trackEvent', 'Donate Framework7', 'Clicked'])").donate-button Donate
    li 
      p using Flattr: 
        a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
          img(src="https://api.flattr.com/button/flattr-badge-large.png", style="vertical-align:middle")
  h2 Support iDangero.us
  p Or you can support us by purchasing some of our nice premium templates or scripts at <a href="http://www.idangero.us">iDangero.us</a> marketplace
  