extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Checkboxes Group
              .right 
          .page-content
            .content-block-title Checkboxes group
            .list-block
              ul
                li
                  label.label-checkbox.item-content
                    input(type="checkbox", name="ks-checkbox", value="Books", checked=true)
                    .item-media
                      i.icon.icon-form-checkbox
                    .item-inner
                      .item-title Books
                li
                  label.label-checkbox.item-content
                    input(type="checkbox", name="ks-checkbox", value="Movies")
                    .item-media
                      i.icon.icon-form-checkbox
                    .item-inner
                      .item-title Movies
                li
                  label.label-checkbox.item-content
                    input(type="checkbox", name="ks-checkbox", value="Food")
                    .item-media
                      i.icon.icon-form-checkbox
                    .item-inner
                      .item-title Food
                li
                  label.label-checkbox.item-content
                    input(type="checkbox", name="ks-checkbox", value="Drinks")
                    .item-media
                      i.icon.icon-form-checkbox
                    .item-inner
                      .item-title Drinks

block scripts
  script.
    var myApp = new Framework7();            