extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Embedded Login Screen
              .right 
          .page-content
            .content-block
              p
                a(href="login-screen-page.html").open-login-screen Open page with Login Screen

block scripts
  script.
    var myApp = new Framework7();
    var $$ = Dom7;

    var mainView = myApp.addView('.view-main');
    
    myApp.onPageInit('login-screen', function (page) {
      var pageContainer = $$(page.container);
      pageContainer.find('.list-button').on('click', function () {
        var username = pageContainer.find('input[name="username"]').val();
        var password = pageContainer.find('input[name="password"]').val();
        // Handle username and password
        myApp.alert('Username: ' + username + ', Password: ' + password, function () {
          mainView.goBack();
        });
      });
    });
