extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed.toolbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Messages
              .right 
          .toolbar.messagebar
            .toolbar-inner
              textarea(placeholder="Message")
              a(href="#").link Send
          .page-content.messages-content
            .messages
              .messages-date Sunday, Feb 9 
                span 12:58
              .message.message-sent 
                .message-text Hello
              .message.message-sent 
                .message-text How are you?
              .message.message-received 
                .message-name Kate
                .message-text I am fine, thanks
                .message-avatar(style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)")
              .messages-date Sunday, Feb 3 
                span 11:58
              .message.message-sent 
                .message-text Nice photo?
              .message.message-sent
                .message-text
                  img(src="http://lorempixel.com/300/300/")
                .message-label Delivered
              .message.message-received 
                .message-name Kate
                .message-text Wow, awesome!
                .message-avatar(style="background-image:url(http://lorempixel.com/output/people-q-c-100-100-9.jpg)")

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    // Conversation flag
    var conversationStarted = false;
  
    // Init Messages
    var myMessages = myApp.messages('.messages', {
      autoLayout:true
    });

    // Init Messagebar
    var myMessagebar = myApp.messagebar('.messagebar');

    // Handle message
    $$('.messagebar .link').on('click', function () {
      // Message text
      var messageText = myMessagebar.value().trim();
      // Exit if empy message
      if (messageText.length === 0) return;
      
      // Empty messagebar
      myMessagebar.clear()
      
      // Random message type
      var messageType = (['sent', 'received'])[Math.round(Math.random())];

      // Avatar and name for received message
      var avatar, name;
      if(messageType === 'received') {
        avatar = 'http://lorempixel.com/output/people-q-c-100-100-9.jpg';
        name = 'Kate';
      }
      // Add message
      myMessages.addMessage({
        // Message text
        text: messageText,
        // Random message type
        type: messageType,
        // Avatar and name:
        avatar: avatar,
        name: name,
        // Day
        day: !conversationStarted ? 'Today' : false,
        time: !conversationStarted ? (new Date()).getHours() + ':' + (new Date()).getMinutes() : false
      })
      
      // Update conversation flag
      conversationStarted = true;
    });    
    