extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Preloader Modal
              .right 
          .page-content
            .content-block
              p
                a(href="#").open-preloader Open Preloader
              p
                a(href="#").open-preloader-title Open Preloader with custom title

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.open-preloader').on('click', function () {
        myApp.showPreloader();
        setTimeout(function () {
            myApp.hidePreloader();
        }, 2000);
    });
    $$('.open-preloader-title').on('click', function () {
        myApp.showPreloader('Custom Title')
        setTimeout(function () {
            myApp.hidePreloader();
        }, 2000);
    });