extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Login and Password
              .right 
          .page-content
            .content-block
              p
                a(href="#").login-modal Login Modal
              p
                a(href="#").password-modal Password Modal

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.login-modal').on('click', function () {
        myApp.modalLogin('Authentication required', function (username, password) {
            myApp.alert('Thank you! Username: ' + username + ', Password: ' + password);
        });
    });

    $$('.password-modal').on('click', function () {
        myApp.modalPassword('You password please:', function (password) {
            myApp.alert('Thank you! Your password is: ' + password);
        });
    });