extends _layout-ios
block content
  .panel-overlay
  .panel.panel-left.panel-reveal
    .content-block
      p Left Panel content here
      p
        a(href="#").close-panel Close me
      p
        a(href="#", data-panel="right").open-panel Open Right Panel
    
  .panel.panel-right.panel-cover
    .content-block
      p Right Panel content here
      p
        a(href="#").close-panel Close me
      p
        a(href="#", data-panel="left").open-panel Open Left Panel
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Panel Events
              .right 
          .page-content
            .content-block
              p 
                a(href="#").open-panel Open Left Panel
              p 
                a(href="#", data-panel="right").open-panel Open Right Panel

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.panel-left').on('opened', function () {
        myApp.alert('Left panel opened!');
    });
    $$('.panel-left').on('close', function () {
        myApp.alert('Left panel is closing!');
    });
    $$('.panel-right').on('open', function () {
        myApp.alert('Right panel is opening!');
    });
    $$('.panel-right').on('closed', function () {
        myApp.alert('Right panel closed!');
    });