extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Custom Controls
              .right 
          .page-content
            .swiper-custom
              .swiper-container
                .swiper-pagination
                .swiper-wrapper
                  - for (var i = 1; i < 8; i++)
                    .swiper-slide
                      span Slide #{i}
              .swiper-button-prev 
              .swiper-button-next


block scripts
  style.
    .swiper-custom {
      position:relative;
      height:100%;
    }
    .swiper-container {
      height:100%;
    }
    .swiper-slide {
      background: #fff;
    }
    .swiper-slide span {
      text-align:center;
      display:block;
      margin: 20px;
      font-size:21px;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: none;
      border:1px solid #aaa;
      border-radius: 0 0 0 0;
      opacity:1;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      background: #007aff;
      border-color: #007aff;
    }
  script.
    var myApp = new Framework7(); 

    var mySwiper = myApp.swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      paginationHide: false,
      paginationClickable: true,
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
    });