extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Nested Sliders
              .right 
          .page-content
            .swiper-container.swiper-init(data-pagination=".swiper-pagination-h")
              .swiper-pagination.swiper-pagination-h
              .swiper-wrapper
                  .swiper-slide <span>Horizontal Slide 1</span>
                  .swiper-slide 
                    .swiper-container.swiper-init(data-pagination=".swiper-pagination-v", data-direction="vertical")
                      .swiper-pagination.swiper-pagination-v
                      .swiper-wrapper
                        .swiper-slide <span>Vertical Slide 1</span>
                        .swiper-slide <span>Vertical Slide 2</span>
                        .swiper-slide <span>Vertical Slide 3</span>
                  .swiper-slide <span>Horizontal Slide 3</span>
                  .swiper-slide <span>Horizontal Slide 4</span>


block scripts
  style.
    .swiper-container {
      height: 100%;
    }
    .swiper-slide {
      background: #fff;
    }
    .swiper-slide span {
      text-align:center;
      display:block;
      margin: 20px;
      font-size:21px;
    }
  script.
    var myApp = new Framework7(); 