extends ../jade/_internal-template

block vars
  - var activeLink = 'showcase';
  - var title = 'Framework7 Showcase';

block content
  h1 Framework7 Apps Showcase
  p If you released Framework7 app on AppStore or GooglePlay, or you have interesting Framework7 web app, don't hesitate to send us information about it at info@idangero.us and your app will be featured in this section.
  .showcase-apps
    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/dietasjulia.png")
      .app-info
        h2 DietasJulia
        .app-author by <a href="https://play.google.com/store/apps/developer?id=Manuel+Carrillo+Almoguera" target="_blank">Manuel Carrillo Almoguera</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=manucaralmo.dietasjulia", target="_blank").google-button
        .app-about 
          p Hemos trabajado mucho hasta lograr una aplicación que se adaptara a tí.<br>Con ella podrás llevar un control completo de tu dieta y se convertirá en una herramienta indispensable.<br>En esta app podrás encontrar diferentes apartados que te faciliten el seguimiento de la dieta.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/dietasjulia1.jpg")
          img(src="../i/showcase/dietasjulia2.jpg")
          img(src="../i/showcase/dietasjulia3.jpg")
          img(src="../i/showcase/dietasjulia4.jpg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/klass9f.jpeg")
      .app-info
        h2 Klass 9F
        .app-author by <a href="http://axelboberg.se/" target="_blank">Axel Boberg</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/klass-9f-flah/id905020296?mt=8", target="_blank").appstore-button
        .app-about 
          p This app is specifically developed for class 9F, Flahultsskolan, Sweden. App shows homework and the timetable for the week. It also contains a simple chat window and what’s on the food menu.          
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/klass9f1.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/wonderpolls.jpeg")
      .app-info
        h2 Wonder Polls: Question Everything!
        .app-author by <a href="https://itunes.apple.com/us/artist/tim-busbee/id689029339" target="_blank">Tim Busbee</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/wonder-polls-question-everything!/id689029336?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.wonderpolls.android", target="_blank").google-button
            a(href="http://www.wonderpolls.com/", target="_blank").button App Website
        .app-about 
          p With over 1 MILLION downloads, Wonder Polls has lots of users and fresh content. Answer thousands of entertaining polls and Would You Rather type questions. Ask your own polls, then share them to get your friends anonymous answers. Create local polls that only those in your area can answer. Try to guess the #1 answer in the new game mode section. I could take more of your time explaining it, but you should really just download the app!
          ul
            li CREATE: Ask any question you want and get real answers.
            li LOCAL: Create polls that only those in your area can answer.
            li SHARE: Make questions just for your friends or share our featured and public polls.
            li GET ANSWERS: See instant results from your polls and polls you answer.
            li COMMENT: Chat with people about any poll in the comments section.
            li LAUGH: Enjoy answering some of the craziest questions ever asked.            
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/wonderpolls1.jpeg")
          img(src="../i/showcase/wonderpolls2.jpeg")
          img(src="../i/showcase/wonderpolls3.jpeg")
          img(src="../i/showcase/wonderpolls4.jpeg")
          img(src="../i/showcase/wonderpolls5.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/yapq.png")
      .app-info
        h2 yapQ - Worldwide audio city guides
        .app-author by <a href="https://itunes.apple.com/us/artist/igor-vynokur/id784765088" target="_blank">Igor Vynokur</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/yapq-worldwide-audio-city/id784765085?mt=8r", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.iv.yapq&hl=en", target="_blank").google-button
            a(href="http://yapq.com/", target="_blank").button App Website
        .app-about 
          p Turn your smartphone into a worldwide audio city guide.
          p YapQ is a fun and easy-to-use multi-language app that lets you travel at your own pace.<br>YapQ brings you audio city guides for over thousands of cities all over the world.<br>Use your mobile device, on the go, to expand your knowledge on places you are visiting.<br>
          p Just open the app and it will speak to you - wherever you are,.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/yapq1.jpeg")
          img(src="../i/showcase/yapq2.jpeg")
          img(src="../i/showcase/yapq3.jpeg")
      .clearfix
    
    .app
      .app-icon
        img(src="../i/showcase/rephrase.png")
      .app-info
        h2 Rephrase It! Sentence Reworder
        .app-author by <a href="http://megabyterain.weebly.com/" target="_blank">Megabyte Rain</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.megabyterain.rephraseit", target="_blank").google-button
        .app-about 
          p Rephrase It! Sentence Reworder is an a free app which can reword and rephrase any English sentence you input into it. This can be extremely useful for school papers or for a book you are writing.
          p Rephrase It! has two ways to rephrase your sentence: Basic and Advanced. Basic will try to rephrase your sentence without any help from you, while Advanced will ask you for the part of speech each word is.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/rephrase1.png")
          img(src="../i/showcase/rephrase2.png")
          img(src="../i/showcase/rephrase3.png")
          img(src="../i/showcase/rephrase4.png")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/folver.png")
      .app-info
        h2 Folver
        .app-author by <a href="http://megabyterain.weebly.com/" target="_blank">Megabyte Rain</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.megabyteraingmail.com.theformulasolver", target="_blank").google-button
            a(href="http://www.amazon.com/dp/B00NOHNDE6/ref=cm_sw_su_dp", target="_blank").amazon-button
            a(href="https://marketplace.firefox.com/app/folver-the-formula-solver/", target="_blank").firefox-button
        .app-about 
          p Folver is a formula calculator. Finally, you can solve all of those confusing formulas in your hand. No need to remember whether it's x plus or minus x1, Folver does that for you. 
          p This app is free and is great for algebra, geometry and other classes.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/folver1.png")
          img(src="../i/showcase/folver2.png")
          img(src="../i/showcase/folver3.png")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/delights.jpg")
      .app-info
        h2 Monday Delights
        .app-author by <a href="https://itunes.apple.com/us/artist/yevart/id797451621" target="_blank">Yevart</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/app/monday-delights/id797451618?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=ru.mondaydelights.mobile", target="_blank").google-button
        .app-about 
          p Cooking magazine app with lot of simple recipes and beautiful photos
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/delights1.jpeg")
          img(src="../i/showcase/delights2.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/be106.png")
      .app-info
        h2 BE106
        .app-author by <a href="https://play.google.com/store/apps/developer?id=BE106" target="_blank">BE106</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/be106/id924446294", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=be106.net", target="_blank").google-button
        .app-about 
          p BE106 is a local news site in more than 100 cities in Israel. App has sections of news, sports, business and economy, gossip, culture, articles, free board and more
          p App uses a lot of Framework7 features:
          ul
            li RTL Layout
            li Login screen (not as login)
            li Infinite slider with pull to refresh in each slide
            li Searchbar for ajax search with lazy loading
            li Contacts list (with Indexed List plugin)
            li Photo Browser
            li Messages as comments
            li handlebars templates
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/be1061.jpg")
          img(src="../i/showcase/be1062.jpg")
          img(src="../i/showcase/be1063.jpg")
          img(src="../i/showcase/be1064.jpg")
          img(src="../i/showcase/be1065.jpg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/hichat.jpg")
      .app-info
        h2 HiChat
        .app-author by <a href="https://itunes.apple.com/us/artist/zhipeng-liu/id912139107" target="_blank">Zhipeng Liu</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/hi-liao-gao-xiao-shu-dong/id917320045?mt=8", target="_blank").appstore-button
        .app-about 
          p HiChat is a Social Network like Twitter. It goes down well with the Chinese university students. But it only towards Chinese consumers, and only provides Chinese.
          ul
            li All university own their independent space.
            li The speak inside the App can be anonymous.
            li Anybody can explore help or release depression inside this App.
            li Enjoy a chat with users nearby.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/hichat1.jpeg")
          img(src="../i/showcase/hichat2.jpeg")
          img(src="../i/showcase/hichat3.jpeg")
          img(src="../i/showcase/hichat4.jpeg")
          img(src="../i/showcase/hichat5.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/laglistan.jpg")
      .app-info
        h2 Laglistan
        .app-author by <a href="https://itunes.apple.com/us/artist/meffecta/id697960416" target="_blank">Meffecta</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/en/app/laglistan/id859145140", target="_blank").appstore-button
        .app-about 
          p With the app "Laglistan" you get easy access to the Swedish legislation. Each law is just a couple of taps away. Follow references to other laws as you navigate through the legislation. All laws are kept updated with current changes every night.
          p App Features:
          ul
            li Create your own lists and populate them with the laws that you need easy and fast access to
            li Search the complete collection of laws in Sweden ("Svensk författningssamling")
            li Browse through the laws by year of publication
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/laglistan1.jpeg")
          img(src="../i/showcase/laglistan2.jpeg")
          img(src="../i/showcase/laglistan3.jpeg")
          img(src="../i/showcase/laglistan4.jpeg")
          img(src="../i/showcase/laglistan5.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/webtoon.jpg")
      .app-info
        h2 My lekha Webtoon
        .app-author by <a href="https://itunes.apple.com/us/artist/my-lekha-social-media/id901805470" target="_blank">My lekha Social Media</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/my-lekha-webtoon/id901805467?mt=8", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.mylekha.webtoon", target="_blank").google-button
        .app-about 
          p Cartoon –In full color and read in one long strip per chapter, cartoons are the distinctive style of web comics from Asia. As fans of such awesomeness, we like to translate these web comics into Khmer every now and then, and host them on this site, as well as web comics translated by other groups to share with you a nice collection. Do browse around and see which Cartoons you like.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/webtoon1.jpeg")
          img(src="../i/showcase/webtoon2.jpeg")
          img(src="../i/showcase/webtoon3.jpeg")
          img(src="../i/showcase/webtoon4.jpeg")
      .clearfix
    
    .app
      .app-icon
        img(src="../i/showcase/tv.png")
      .app-info
        h2 My lekha TV
        .app-author by <a href="https://play.google.com/store/apps/developer?id=My+lekha+Social+Media" target="_blank">My lekha Social Media</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.mylekha.tv", target="_blank").google-button
        .app-about 
          p Watch the Best and Unique video contents.Korean Drama & Movie with Khmer subtitle is available. Videos- Provides an intuitive and complete visual interface. For making and editing video websites. Video content building can be restricted to the administrators, chosen members (authors) or to all registered users. Submitting a new video takes a minute, and only requires that you know the video’s url on the external video sharing website
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/tv1.png")
          img(src="../i/showcase/tv2.png")
          img(src="../i/showcase/tv3.png")
          img(src="../i/showcase/tv4.png")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/music.png")
      .app-info
        h2 My lekha Music
        .app-author by <a href="https://play.google.com/store/apps/developer?id=My+lekha+Social+Media" target="_blank">My lekha Social Media</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.mylekha.music", target="_blank").google-button
        .app-about 
          p Mylekha Music is web based MP3 application and now released as App. We are the first app which can listen and download all music free so enjoy anywhere anytime!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/music1.png")
          img(src="../i/showcase/music2.png")
          img(src="../i/showcase/music3.png")
          img(src="../i/showcase/music4.png")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/itext.jpg")
      .app-info
        h2 iTEXT!
        .app-author by <a href="https://itunes.apple.com/us/artist/mohammed-al-noury/id568754708" target="_blank">Mohammed Al-Noury</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/itext!/id785455274", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.itextapp.itext", target="_blank").google-button
            a(href="http://itext-app.com/", target="_blank").button App Website
        .app-about 
          p Do you need the right words to send to him or her you care about? A message that really expresses what you feel? Or are you just looking for a funny joke? Cheeky comment? Maybe an evil punch-line to a friend? If you are so, then this app is just right for you!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/itext1.jpeg")
          img(src="../i/showcase/itext2.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/river.jpg")
      .app-info
        h2 River Thames Guide
        .app-author by <a href="https://itunes.apple.com/gb/artist/jeff-maynard/id320977741" target="_blank">Jeff Maynard</a> 
        .app-links
            a(href="https://itunes.apple.com/gb/app/river-thames-guide/id617269104?mt=8", target="_blank").appstore-button
        .app-about 
          p The complete planner and guide for travel and leisure on the River Thames including where you can go, how you get there and what’s on the way.
          p App Features:
          ul
            li Thames Map and Guide: Interactive River Map, Journey Planner, Locks, Bridges, Weather
            li Boating Advice: Rules for the River, Preventing Problems, Emergency Help and Guidance RNLI approved
            li Buying a Boat: A taster of high quality, handmade Dutch craft from Val Wyatt: Open day boats by INTERBOAT, Cabin Cruisers by INTERCRUISER, Steel Luxury Yachts by JETTEN, Used Craft
            li And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/river1.jpeg")
          img(src="../i/showcase/river2.jpeg")
          img(src="../i/showcase/river3.jpeg")
          img(src="../i/showcase/river4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/aquasella.jpg")
      .app-info
        h2 Aquasella
        .app-author by <a href="https://itunes.apple.com/us/artist/sergio-suarez-gil/id895509402" target="_blank">Sergio Suarez Gil</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/aquasella/id895509399?mt=8", target="_blank").appstore-button
        .app-about 
          p App oficial de Aquasella, uno de los festivales más importantes del panorama musical europeo que se celebra cada año en Arriondas, Principado de Asturias, España organizado por La Real Producciones. Ahora toda la información de tu festival favorito en el móvil! Regístrate en la aplicación para escuchar sesiones de los artistas que han pasado por el festival.
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/aquasella1.jpeg")
          img(src="../i/showcase/aquasella2.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/maharashtra.jpg")
      .app-info
        h2 Maharashtra Election Tour 2014
        .app-author by <a href="https://play.google.com/store/apps/developer?id=TechRatna" target="_blank">TechRatna</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.techratna.electiontourmh2014", target="_blank").google-button
        .app-about 
          p Full Coverage of Maharashtra Vidhan Sabha Election 2014
          p All Candidates (Declared as well as nondeclared) information: Detailed Profile with Updates from their respective facebook page, Review & Discussion for each candidate
          p All Constituencies Information: Detail Information with Updates from their respective facebook page, Candidates Information, Discussion on various issues in respective constituency
          p All Parties Information: Detail Information with Updates from their respective facebook page, Candidates Information, Discussions, Get All Updates from facebook without LOGIN or Without Liking page on Facebook !!!
          p And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/maharashtra1.jpg")
          img(src="../i/showcase/maharashtra2.jpg")
          img(src="../i/showcase/maharashtra3.jpg")
          img(src="../i/showcase/maharashtra4.jpg")
          img(src="../i/showcase/maharashtra5.jpg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/zebra.jpg")
      .app-info
        h2 Zebra Hooves OSCE Revision
        .app-author by <a href="https://itunes.apple.com/us/artist/matthew-roche/id909432736" target="_blank">Matthew Roche</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/zebra-hooves-osce-revision/id909432733?mt=8", target="_blank").appstore-button
        .app-about 
          p Learn how to perform OSCE stations to a standard ready for finals. Revise your OSCE skills. Test your friends and score yourself. 
          p Zebra Hooves OSCE revision is designed to help clinical medical students learn and revise their OSCE skills, then test their friends. We hope to get more clinical medical students involved in writing content for the app
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/zebra1.jpeg")
          img(src="../i/showcase/zebra2.jpeg")
          img(src="../i/showcase/zebra3.jpeg")
          img(src="../i/showcase/zebra4.jpeg")
      .clearfix
    
    //- .app
    //-   .app-icon.app-icon-rounded
    //-     img(src="../i/showcase/handbog.jpg")
    //-   .app-info
    //-     h2 Håndbog om tilstandsvurderinger
    //-     .app-author by <a href="https://itunes.apple.com/dk/artist/teknologisk-institut/id909615371" target="_blank">Teknologisk Institut</a> 
    //-     .app-links
    //-       p
    //-         a(href="https://itunes.apple.com/us/app/handbog-om-tilstandsvurderinger/id909615368?mt=8", target="_blank").appstore-button
    //-     .app-about 
    //-       p At gennemføre tilstandsvurderinger af betonkonstruktioner kræver megen og lang erfaring for at kunne identificere skader og skabe overblik over konstruktionens tilstand. 
    //-       p Teknologisk Institut har udarbejdet denne håndbog med det formål at bidrage til at tilstandsvurderinger også i fremtiden gennemføres optimalt med korrekt anvendelse af de mange nye undersøgelsesmetoder.
    //-     .app-show-shots
    //-       a(href="#") Screenshots
    //-     .app-shots
    //-       img(src="../i/showcase/handbog1.jpeg")
    //-       img(src="../i/showcase/handbog2.jpeg")
    //-       img(src="../i/showcase/handbog3.jpeg")
    //-   .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/polygen.jpg")
      .app-info
        h2 PolyGen - Polygon Wallpaper Generator
        .app-author by <a href="https://itunes.apple.com/us/artist/bartlomiej-niemtur/id873021586" target="_blank">Bartlomiej Niemtur</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/polygen-polygon-wallpaper/id896479944?ls=1&mt=8", target="_blank").appstore-button
        .app-about 
          p Would you like to have a new, fresh wallpaper? Something modern that still goes well with flat art style and blurry iOS backgrounds?
          p Meet PolyGen, the app for generating polygon-like wallpapers. Minimal, fresh and pretty, it will bring new life to your phone. Take a look at the screenshots and see on your own!
          p PolyGen app generates wallpapers randomly, according to a special formula. This way you can have your own unique pattern.

          p Install it and browse through as many backgrounds as you like. Choose your unique design and enjoy a refreshed look of your phone.
        
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/polygen1.jpeg")
          img(src="../i/showcase/polygen2.jpeg")
          img(src="../i/showcase/polygen3.jpeg")
          img(src="../i/showcase/polygen4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/datin.jpg")
      .app-info
        h2 Datingher.dk - Gratis dating
        .app-author by <a href="https://itunes.apple.com/no/artist/blerim-cazimi/id803948414" target="_blank">Blerim Cazimi</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/no/app/datingher.dk/id902047665", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.blerim.datingherdk", target="_blank").google-button
        .app-about 
          p Dating App. Available for Denmark, Sweden and Norway.
          p App Features:
          ul
            li Chat (user recevies a push-notification, when getting a new message)
            li Users nearby (like tinder)
            li Upload images from your photo-album or from your camera directly to your gallery
            li And many more...
        
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/datin1.jpeg")
          img(src="../i/showcase/datin2.jpeg")
          img(src="../i/showcase/datin3.jpeg")
          img(src="../i/showcase/datin4.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/puzzle.jpg")
      .app-info
        h2 Invert Puzzle
        .app-author by <a href="http://notengoganasdetrabajar.com/" target="_blank">Carlos Villuendas Zambrana</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/invert-puzzle/id903140561", target="_blank").appstore-button
            a(href="https://play.google.com/store/apps/details?id=com.carlosvillu.invert", target="_blank").google-button
        .app-about 
          p Interesting Inverter Puzzle game where start is very simple and very fast, but only the best will be able to beat level 5, and there are 20!
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/puzzle1.jpeg")
          img(src="../i/showcase/puzzle2.jpeg")
          img(src="../i/showcase/puzzle3.jpeg")
      .clearfix

    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/euro.jpg")
      .app-info
        h2 Eurosceptic
        .app-author by <a href="https://itunes.apple.com/gb/artist/jeff-maynard/id320977741" target="_blank">Jeff Maynard</a> 
        .app-links
            a(href="https://itunes.apple.com/gb/app/eurosceptic/id774790361", target="_blank").appstore-button
        .app-about 
          p Eurosceptic is the complete, mobile repository of information about the European Union and Britain's relationship with it. If you've ever fallen into an argument in the pub about Britain's place in the EU but couldn't quite come up with any figures or examples to back up your argument, this app is all you need. 
          p App Features:
          ul
            li How and why EFTA countries are better off.
            li A 'Frequently Asked Questions' section includes general material about the EU institutions, the EU structure and definitions of common terms.
            li A detailed profile is provided for each EU Member State. 
            li Quotations about Europe and/or the EU from luminaries of all ages (including statesmen, philosophers, politicians, business leaders, personalities and more).
            li And many more...
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/euro1.jpeg")
          img(src="../i/showcase/euro2.jpeg")
          img(src="../i/showcase/euro3.jpeg")
          img(src="../i/showcase/euro4.jpeg")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/dmx.png")
      .app-info
        h2 DMXzone Extension Manager for Dreamweaver
        .app-author by <a href="http://www.dmxzone.com/" target="_blank">DMXzone</a> 
        .app-links
          p
            a(href="http://www.dmxzone.com/go/22670/dmxzone-extension-manager-for-dreamweaver", target="_blank").button App Website
        .app-about 
          p DMXzone Extension Manager for Dreamweaver is a stand-alone desktop application from a new generation that will make your life easier. In a blink of an eye you can install, update and manage your extensions and templates for any Dreamweaver version above Dreamweaver 8.

          p App Features:
          ul
            li Fully blown stand-alone app for the greatest experience
            li Includes a special Windows and Mac OSX installer
            li Full support for all Dreamweaver versions
            li Super fast installation of extensions
            li Download and install multiple extensions and templates
            li Automatic install of updates
            li Explore new and existing extensions and templates
            li And many more...
        
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/dmx1.png")
          img(src="../i/showcase/dmx2.png")
          img(src="../i/showcase/dmx3.png")
          img(src="../i/showcase/dmx4.png")
      .clearfix
    .app
      .app-icon.app-icon-rounded
        img(src="../i/showcase/history.jpg")
      .app-info
        h2 History for iOS
        .app-author by <a href="http://www.matthewball.me/" target="_blank">Matthew Ball</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/history-for-ios/id879016024", target="_blank").appstore-button
            a(href="https://twitter.com/HistoryforiOS", target="_blank").button App Website
        .app-about 
          p History for iOS is the App Store's top resource for everything iOS. The app contains in-depth information on every iOS release Apple has pushed to the public. The app includes a news tab containing the latest iOS related updates, as well as a page displaying the current iOS firmware version.
          p App Features:
          ul
            li In-depth information on every iOS version ever released
            li Latest iOS related news and updates
            li View the newest firmware version pushed out by Apple
            li Optimized for iOS 7            
        
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/history1.jpeg")
          img(src="../i/showcase/history2.jpeg")
          img(src="../i/showcase/history3.jpeg")
          img(src="../i/showcase/history4.jpeg")
      .clearfix
    .app
      .app-icon
        img(src="../i/showcase/series7.png")
      .app-info
        h2 Series Seven
        .app-author by <a href="http://idangero.us" target="_blank">iDangero.us</a> 
        .app-links
          p
            a(href="https://itunes.apple.com/us/app/series-seven/id888005622", target="_blank").appstore-button
            a(href="http://idangero.us/series7/", target="_blank").button App Website
        .app-about 
          p Series Seven allows you to track your favorite TV shows and easily get all information about TV show. You’ll never miss new episode of your favorite show with Series Seven
          p App Features:
          ul
            li Huge TV shows database
            li Mark watched episodes
            li Calculate time spent watching TV shows
            li TV shows calendar/timeline
            li Each episode overview and comments
            li Push notifications when new episode out
            li Trending shows
            li Add shows to bookmarks
        
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/series71.png")
          img(src="../i/showcase/series72.png")
          img(src="../i/showcase/series73.png")
          img(src="../i/showcase/series74.png")
          img(src="../i/showcase/series75.png")
          img(src="../i/showcase/series76.png")
      .clearfix

    .app
      .app-icon
        img(src="../i/showcase/gunluc.png")
      .app-info
        h2 Günlük Burç (Astroloji)
        .app-author by <a href="http://3unlem.com/" target="_blank">Osman ERDOĞAN</a> 
        .app-links
          p
            a(href="https://play.google.com/store/apps/details?id=com.unlem.gunlukburc", target="_blank").google-button
            a(href="https://itunes.apple.com/us/app/gunluk-burc-astroloji/id791352919", target="_blank").appstore-button
            a(href="http://3unlem.com/", target="_blank").button App Website
        .app-about 
          p Turkey's best astrology application. Famous Astrologers are updated daily horoscope.
          p App Features:
          ul
            li Horoscope
            li Sign the love of harmony
            li Rising all the details about your horoscope
            li Attractive aspects and features of your horoscope
            li Features of your horoscope and stone
            li Special perfume suggestions about your horoscope
            li In addition, special dietary recommendations of your horoscope            
        
        .app-show-shots
          a(href="#") Screenshots
        .app-shots
          img(src="../i/showcase/gunluc1.png")
          img(src="../i/showcase/gunluc2.png")
          img(src="../i/showcase/gunluc3.png")
      .clearfix
        




  