extends _layout

block content
  style.
    /* Limit resizable panel width */
    .panel {
      min-width: 100px;
      max-width: 90vw;
    }
  script(type="text/babel").
    class AppComponent extends React.Component {
      constructor() {
        super();

        this.state = {

        };
      }
      render() {
        return (
          <App>
            <Panel resizable left reveal>
              <View>
                <Page>
                  <Block>Left panel content</Block>
                </Page>
              </View>
            </Panel>
            <Panel resizable right themeDark>
              <View>
                <Page>
                  <Block>Right panel content</Block>
                </Page>
              </View>
            </Panel>
            <View main>
              <Page>
                <Navbar title="Panel"></Navbar>

                <Block className="row">
                  <Col>
                    <Button raised fill panelOpen="left">Open left panel</Button>
                  </Col>
                  <Col>
                    <Button raised fill panelOpen="right">Open right panel</Button>
                  </Col>
                </Block>
              </Page>
            </View>
          </App>
        )
      }
    }
