extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Appbar React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content

    h1 Appbar React Component
    ul.docs-index
    p Appbar React component represents <a href="../docs/appbar.html">Appbar</a> element.
    p It is the main app bar with actions on top of the whole app. It is designed to be used in desktop apps with Aurora theme.
    h2 Appbar Components
    p There are following components included:
    ul
      li <code><b>Appbar</b></code> / <code><b>F7Appbar</b></code>
    h2 Appbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Appbar&gt; properties
        tr
          td inner
          td boolean
          td true
          td When enabled (by default), it will put all the content within internal `appbar-inner` element. Disable it only in case you want to put totally custom layout inside
        tr
          td noShadow
          td boolean
          td false
          td Disable shadow rendering for MD theme
        tr
          td noHairline
          td boolean
          td false
          td Disable appbar bottom thin border (hairline) for iOS theme
        tr
          td innerClass
          td string
          td
          td Adds additional class to <code>appbar-inner</code> element
    .with-device
      h2(data-device-preview="../docs-demos/react/appbar.html") Examples
      :code
        <App>
          <Appbar>
            <div className="left">
              <Button small panelToggle="left" className="display-flex" iconF7="bars" />
              <Button small className="display-flex margin-left-half" iconF7="reply_fill" />
              <Button small className="display-flex margin-left-half" iconF7="forward_fill" />
            </div>
            <div className="right">
              <Searchbar
                inline
                customSearch
                disableButton={false}
              />
            </div>
          </Appbar>
          <View main>
            <Page>
              <Navbar title="Appbar" />
              <Block strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed sagittis dui. Fusce nulla massa, scelerisque vitae auctor in, luctus in ipsum. Sed eu lectus vel magna malesuada lacinia. Ut at vestibulum sem. In semper, arcu pulvinar volutpat fermentum, felis magna fringilla felis, nec volutpat nisi nunc quis ante. Fusce elementum egestas tortor ut porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis id commodo elit. Sed massa dui, laoreet a orci sed, egestas vehicula tellus. Nulla pulvinar ornare justo sed finibus. Aliquam hendrerit dui at nulla eleifend, quis feugiat enim aliquam. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </Block>
            </Page>
          </View>
        </App>
