extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Appbar React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Appbar React Component
    ul.docs-index
    p Appbar React component represents <a href="../docs/appbar.html">Appbar</a> element.
    p It is the main app bar with actions on top of the whole app. It is designed to be used in desktop apps with Aurora theme.
    h2 Appbar Components
    p There are following components included:
    ul
      li `Appbar`
    h2 Appbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Appbar&gt; properties
        tr
          td inner
          td boolean
          td true
          td When enabled (by default), it will put all the content within internal `appbar-inner` element. Disable it only in case you want to put totally custom layout inside
        tr
          td noShadow
          td boolean
          td false
          td Disable shadow rendering for MD theme
        tr
          td noHairline
          td boolean
          td false
          td Disable appbar bottom thin border (hairline) for iOS theme
        tr
          td innerClass
          td string
          td
          td Adds additional class to `appbar-inner` element
        tr
          td innerClassName
          td string
          td
          td Alias for `innerClass` prop
    .with-device
      h2(data-device-preview="../docs-demos/react/appbar.html") Examples
      include:reactSource ../docs-demos/react/appbar.jsx
