extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Badge React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Badge React Component
    ul.docs-index
    p Badge React component represents <a href="../docs/badge.html">Badge</a> element that can be used in lists, links, navigation bars, etc.
    h2 Badge Components
    p There are following components included:
    ul
      li `Badge`
    h2 Badge Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Badge&gt; properties
        tr
          td tooltip
          td string
          td
          td <a href="../docs/tooltip.html">tooltip</a> text to show on hover/press
        tr
          td tooltipTrigger
          td string
          td hover
          td Defines how to trigger (open) Tooltip. Can be `hover`, `click` or `manual`
    .with-device
      h2(data-device-preview="../docs-demos/react/badge.html") Examples
      include:reactSource ../docs-demos/react/badge.jsx
