extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Data Table React Component | Framework7 React Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-react
  .docs-content
    .motion-docs-page-title
        h1 Data Table React Component
        script(async src="/js/motion/datatable.js")
        f7-motion-datatable(motion)
    p There is no specific Data Table React component, you need to use core <a href="../docs/data-table.html">Data Table component</a>.
    h2 Examples
    +examplePreview('react', 'data-table.jsx', 'data-table')
