extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Grid React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Grid React Component
    ul.docs-index
    p Grid React component represents Framework7's <a href="../docs/grid.html">Layout Grid</a>.
    h2 Grid Components
    p There are following components included:
    ul
      li `Row`  - grid row
      li `Col`  - grid column (cell)

    h2 Grid Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Row&gt; properties
        tr
          td noGap
          td boolean
          td false
          td Removes spacing between columns
        tr
          td tag
          td string
          td div
          td Defines which tag must be used to render row element
        tr
          td resizable
          td boolean
          td false
          td Makes row resizable
        tr
          td resizableAbsolute
          td boolean
          td false
          td Enables absolute resizing (in `px`)
        tr
          td resizableFixed
          td boolean
          td false
          td Keeps resizable row in fixed size (not resizable)
        tr
          td resizableHandler
          td boolean
          td true
          td Adds resize handler element (between rows) to resize them
        tr
          th(colspan="4") &lt;Col&gt; properties
        tr
          td tag
          td string
          td div
          td Defines which tag must be used to render column element
        tr
          td width
          td number<br>string
          td auto
          td Column width. Check available <a href="../docs/grid.html#column-sizes">Column Sizes</a>
        tr
          td xsmall
          td number<br>string
          td
          td Column width when app width >= 480px
        tr
          td small
          td number<br>string
          td
          td Column width when app width >= 568px
        tr
          td medium
          td number<br>string
          td
          td Column width when app width >= 768px
        tr
          td large
          td number<br>string
          td
          td Column width when app width >= 1024px
        tr
          td xlarge
          td number<br>string
          td
          td Column width when app width >= 1200px
        tr
          td resizable
          td boolean
          td false
          td Makes column resizable
        tr
          td resizableAbsolute
          td boolean
          td false
          td Enables absolute resizing (in `px`)
        tr
          td resizableFixed
          td boolean
          td false
          td Keeps resizable column in fixed size (not resizable)
        tr
          td resizableHandler
          td boolean
          td true
          td Adds resize handler element (between columns) to resize them
    h2 Grid Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;Row&gt; events
        tr
          td gridResize
          td Event will be triggered on resizable grid row resize
        tr
          th(colspan="2") &lt;Col&gt; events
        tr
          td gridResize
          td Event will be triggered on resizable grid column resize
    .with-device
      h2(data-device-preview="../docs-demos/react/grid.html") Examples
      include:reactSource ../docs-demos/react/grid.jsx
