extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Grid / Layout Grid React Component | Framework7 React Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-react
  .docs-content
    .motion-docs-page-title
        h1 Grid / Layout Grid React Component
        script(src="/js/motion/grid.js")
        f7-motion-grid(motion)
    p There is no specific Grid / Layout Grid React component, you need to use core <a href="../docs/grid.html">Grid / Layout Grid component</a>.
    h2 Examples
    +examplePreview('react', 'grid.jsx', 'grid')
