extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Icon React Component | Framework7 React Documentation';

block content

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Icon React Component
    ul.docs-index
    p Icon React component represents Icon element. It is ready to be used with custom icons, <a href="../icons/" target="_blank">Framework7 Icons</a>, <a href="https://material.io/icons/" target="_blank">Material Icons</a>, <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>, <a href="http://ionicons.com/" target="_blank">Ionicons</a>.
    h2 Icon Components
    p There are following components included:
    ul
      li <code><b>Icon</b></code> / <code><b>F7Icon</b></code>
    h2 Icon Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          td size
          td number<br>string
          td Icon size in px
        tr
          td icon
          td string
          td Custom icon class
        tr
          td f7
          td string
          td Name of F7 Icons font icon
        tr
          td material
          td string
          td Name of Material Icons font icon
        tr
          td fa
          td string
          td Name of Font Awesome font icon
        tr
          td ion
          td string
          td Name of Ionicons font icon
        tr
          td ios
          td string
          td Icon to be used in case of iOS theme is used. Consists of icon family and icon name divided by colon, e.g. <code>f7:home</code> or <code>ion:home</code>
        tr
          td md
          td string
          td Icon to be used in case of Material theme is used. Consists of icon family and icon name divided by colon, e.g. <code>material:home</code> or <code>fa:home</code>
        tr
          td tooltip
          td string
          td Icon <a href="../docs/tooltip.html">tooltip</a> text to show on icon hover/press
    h2 Examples
    :code(lang="jsx")
          {/*  Default back icon */}
          &lt;Icon icon="icon-back"&gt;&lt;/Icon&gt;

          {/*  Some custom icon */}
          &lt;Icon icon="icon-home"&gt;&lt;/Icon&gt;

          {/*  F7 Icons font icon */}
          &lt;Icon f7="home"&gt;&lt;/Icon&gt;

          {/*  Material Icons font icon */}
          &lt;Icon material="home"&gt;&lt;/Icon&gt;

          {/*  Font Awesome icons font icon */}
          &lt;Icon fa="home"&gt;&lt;/Icon&gt;

          {/*  Ionicons icons font icon */}
          &lt;Icon ion="home"&gt;&lt;/Icon&gt;

          {/*  F7 icons font icon with custom size and color */}
          &lt;Icon f7="home" size="44px" color="blue"&gt;&lt;/Icon&gt;

          {/*  Conditional icon */}
          &lt;Icon ios="f7:home" md="material:home"&gt;&lt;/Icon&gt;
