extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Framework7 React';

block content
  .docs-nav
    include ../_docs-menu-react
  .docs-content
    .home-block.home-react
      .text
        h1 Framework7 React
        p Bring components-syntax, structured data and data bindings to Framework7 with power and simplicity of React.js
      .pic
        img(src=cdn + "/i/react-intro.png", style="max-width: 680px; width: 100%")
      br
      p
        a(href="introduction.html").button Get Started

