extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Menu React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content

    h1 Menu React Component
    ul.docs-index
    p Menu component not so often seen in mobile apps. But it is proven to be extremely helpful when you need controls on top of the map, images, some text/code editor, etc.
    p Menu React component represents <a href="../docs/menu.html">Menu</a> component.
    h2 Menu Components
    p There are following components included:
    ul
      li <code><b>Menu</b></code> / <code><b>F7Menu</b></code>
      li <code><b>MenuItem</b></code> / <code><b>F7MenuItem</b></code>
      li <code><b>MenuDropdown</b></code> / <code><b>F7MenuDropdown</b></code>
      li <code><b>MenuDropdownItem</b></code> / <code><b>F7MenuDropdownItem</b></code>
    h2 Menu Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;MenuItem&gt; properties
        tr
          td text
          td string
          td
          td Menu item text
        tr
          td iconOnly
          td boolean
          td
          td Enable if menu item contains only icon
        tr
          td dropdown
          td boolean
          td
          td Enable if menu item contains menu dropdown
        tr
          td link
          td boolean
          td
          td Enable if to render menu item as link (#[code &lt;a&gt;]) element if you don't need to specific #[code href]
        tr
          th(colspan="4") &lt;MenuItem&gt; icon related properties
        +reactLinkIconProps
        tr
          th(colspan="4") &lt;MenuItem&gt; navigation/router related properties
        +reactLinkRouterProps
        tr
          th(colspan="4") &lt;MenuItem&gt; action related properties
        +reactLinkActionsProps

        tr
          th(colspan="4") &lt;MenuDropdown&gt; properties
        tr
          td contentHeight
          td string
          td
          td CSS value of dropdown #[code height] property. Specify only to limit dropdown height if there are a lot of items
        tr
          td position
          td string
          td
          td Dropdown position, can be #[code left], #[code center] or #[code right]
        tr
          td left
          td boolean
          td
          td Same as #[position="left"]
        tr
          td center
          td boolean
          td
          td Same as #[position="center"]
        tr
          td right
          td boolean
          td
          td Same as #[position="right"]
        tr
          th(colspan="4") &lt;MenuDropdownItem&gt; properties
        tr
          td text
          td string
          td
          td Menu dropdown item text
        tr
          td divider
          td boolean
          td
          td Render this item as divider (text will ignored in this case)
        tr
          td link
          td boolean
          td
          td Enable if to render menu item as link (#[code &lt;a&gt;]) element if you don't need to specific #[code href]
        tr
          th(colspan="4") &lt;MenuDropdownItem&gt; navigation/router related properties
        +reactLinkRouterProps
        tr
          th(colspan="4") &lt;MenuDropdownItem&gt; action related properties
        +reactLinkActionsProps


    h2 Menu Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;MenuItem&gt; events
        tr
          td click
          td Event will be triggered on menu item click
        tr
          td menuOpened
          td Event will be triggered right after menu dropdown will be opened
        tr
          td menuClosed
          td Event will be triggered right after menu dropdown will be closed
        tr
          th(colspan="2") &lt;MenuDropdownItem&gt; events
        tr
          td click
          td Event will be triggered on menu dropdown item click

    .with-device
      h2(data-device-preview="../docs-demos/react/menu.html") Examples

      h4 Plain Links
      :code(lang="html")
        <Menu>
          <MenuItem href="#" text="Item 1" />
          <MenuItem href="#" text="Item 2" />
          <MenuItem href="#" iconF7="edit" />
          <MenuItem href="#" iconF7="share" />
        </Menu>

      h4 Dropdowns
      :code(lang="html")
        <Menu>
          <MenuItem text="Left" dropdown>
            <MenuDropdown left>
              <MenuDropdownItem href="#" text="Menu Item 1" />
              <MenuDropdownItem href="#" text="Menu Item 2" />
              <MenuDropdownItem href="#" text="Menu Item 3" />
              <MenuDropdownItem href="#" text="Menu Item 4" />
              <MenuDropdownItem divider />
              <MenuDropdownItem href="#" text="Menu Item 5" />
              <MenuDropdownItem href="#" text="Menu Item 6" />
            </MenuDropdown>
          </MenuItem>

          <MenuItem text="Center" dropdown>
            <MenuDropdown center contentHeight="200px">
              <MenuDropdownItem href="#" text="Menu Item 1" />
              <MenuDropdownItem href="#" text="Menu Item 2" />
              <MenuDropdownItem href="#" text="Menu Item 3" />
              <MenuDropdownItem href="#" text="Menu Item 4" />
              <MenuDropdownItem divider />
              <MenuDropdownItem href="#" text="Menu Item 5" />
              <MenuDropdownItem href="#" text="Menu Item 6" />
              <MenuDropdownItem href="#" text="Menu Item 7" />
              <MenuDropdownItem divider />
              <MenuDropdownItem href="#" text="Menu Item 8" />
              <MenuDropdownItem href="#" text="Menu Item 9" />
              <MenuDropdownItem href="#" text="Menu Item 10" />
            </MenuDropdown>
          </MenuItem>

          <MenuItem text="Right" dropdown>
            <MenuDropdown right>
              <MenuDropdownItem href="#" text="Menu Item 1" />
              <MenuDropdownItem href="#" text="Menu Item 2" />
              <MenuDropdownItem href="#" text="Menu Item 3" />
              <MenuDropdownItem href="#" text="Menu Item 4" />
              <MenuDropdownItem divider />
              <MenuDropdownItem href="#" text="Menu Item 5" />
              <MenuDropdownItem href="#" text="Menu Item 6" />
            </MenuDropdown>
          </MenuItem>

          <MenuItem style={{marginLeft: 'auto'}} iconF7="share" dropdown>
            <MenuDropdown right>
              <MenuDropdownItem href="#">
                <span>Share on Facebook</span>
                <Icon className="margin-left" f7="logo_facebook" />
              </MenuDropdownItem>
              <MenuDropdownItem href="#">
                <span>Share on Twitter</span>
                <Icon className="margin-left" f7="logo_twitter" />
              </MenuDropdownItem>
            </MenuDropdown>
          </MenuItem>

          <MenuItem href="#" iconF7="edit" />
        </Menu>
