extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Navbar React Component | Framework7 React Documentation';

block content

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Navbar React Component
    ul.docs-index
    p Navbar is a fixed (with Fixed and Through layout types) area at the top of a screen that contains Page title and navigation elements.
    p Navbar React component represents <a href="../docs/navbar.html">Navbar</a> component.
    h2 Navbar Components
    p There are following components included:
    ul
      li `Navbar`
      li `NavLeft`
      li `NavRight`
      li `NavTitle`
      li `NavTitleLarge`
    h2 Navbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Navbar&gt; properties
        tr
          td title
          td string
          td
          td Navbar title
        tr
          td subtitle
          td string
          td
          td Navbar sub title
        tr
          td backLink
          td boolean<br>string
          td
          td Adds back-link with text (if `string` value is specified)
        tr
          td backLinkUrl
          td string
          td
          td Custom back link URL
        tr
          td backLinkForce
          td boolean
          td false
          td Force page to load and ignore previous page in history
        tr
          td backLinkShowText
          td boolean
          td
          td By default back link text disable for MD theme
        tr
          td sliding
          td boolean
          td true
          td Enables "sliding" effect for nav elements
        tr
          td noShadow
          td boolean
          td false
          td Disable shadow rendering for Material theme
        tr
          td noHairline
          td boolean
          td false
          td Disable navbar bottom thin border (hairline) for iOS theme
        tr
          td hidden
          td boolean
          td false
          td Makes navbar hidden
        tr
          td innerClass
          td string
          td
          td Adds additional class to `navbar-inner` element
        tr
          td innerClassName
          td string
          td
          td Alias for `innerClass` prop
        tr
          td large
          td boolean
          td
          td Enables navbar with large title
        tr
          td transparent
          td boolean
          td
          td Makes navbar transparent. Can be used in addition to `large` prop to make large navbar transparent.
        tr
          td titleLarge
          td string
          td
          td Navbar large title text. If not specified then will be equal to `title` prop
        tr
          th(colspan="4") &lt;NavLeft&gt; properties
        tr
          td backLink
          td boolean<br>string
          td
          td Adds back-link with text (if string value is specified)
        tr
          td backLinkUrl
          td string
          td
          td Custom back link URL
        tr
          td backLinkForce
          td boolean
          td false
          td Force page to load and ignore previous page in history
        tr
          td backLinkShowText
          td boolean
          td
          td By default back link text disable for MD theme
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect. By default inherits `sliding` prop of parent `Navbar`
        tr
          th(colspan="4") &lt;NavTitle&gt; properties
        tr
          td title
          td string
          td
          td Specifies element inner title text (affects if there is no child elements)
        tr
          td subtitle
          td string
          td
          td Sub title text
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect. By default inherits `sliding` prop of parent `Navbar`
        tr
          th(colspan="4") &lt;NavRight&gt; properties
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect. By default inherits `sliding` prop of parent `Navbar`
    h2 Navbar Methods
    table.methods-table
      tr
        th(colspan="2") &lt;Navbar&gt; methods
      tr
        td .hide(<span>animate</span>)
        td Hide navbar
      tr
        td .show(<span>animate</span>)
        td Show navbar
      tr
        td .size()
        td Size navbar

    h2 Navbar Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;Navbar&gt; events
        tr
          td backClick<br>clickBack
          td Event will be triggered after click on navbar back link
        tr
          td navbarHide
          td Event will be triggered when Navbar becomes hidden
        tr
          td navbarShow
          td Event will be triggered when Navbar becomes visible
        tr
          td navbarCollapse
          td Event will be triggered when Navbar with large title collapsed (from large navbar to usual navbar)
        tr
          td navbarExpand
          td Event will be triggered when Navbar with large title expanded (from usual navbar to large navbar)
        tr
          th(colspan="2") &lt;NavLeft&gt; events
        tr
          td backClick<br>clickBack
          td Event will be triggered after click on navbar back link

    h2 Navbar Slots
    p Navbar React component (`<Navbar>`) has additional slots for custom elements:
    ul
      li `default` - element will be inserted as a child of `<div class="navbar-inner">` element
      li `before-inner` - element will be inserted right before `<div class="navbar-inner">` element
      li `after-inner` - element will be inserted right after `<div class="navbar-inner">` element
      li `left` - element will be inserted in navbar's left element
      li `right` - element will be inserted in navbar's right element
      li `title` - element will be inserted in navbar's title element
      li `title-large` - element will be inserted in navbar's large title text element
    :code(lang="jsx")
      <Navbar title="My App">
        <a href="#" slot="left">Left Link</a>
        <a href="#" slot="right">Right Link</a>
        <div slot="before-inner">Before Inner</div>
        <div slot="after-inner">After Inner</div>
        <div>Default slot</div>
      </Navbar>

      {/* Renders to: */}

      <div class="navbar">
        <div class="navbar-bg"></div>
        <div>Before Inner</div>
        <div class="navbar-inner">
          <div class="left">
            <a href="#">Left Link</a>
          </div>
          <div class="title">My App</div>
          <div class="right">
            <a href="#">Right Link</a>
          </div>
          <div>Default slot</div>
        </div>
        <div>After Inner</div>
      </div>

    h2 Examples
    h4 Minimal layout
    :code(lang="jsx")
          <Navbar title="My App"></Navbar>

    h4 Minimal layout with back link
    :code(lang="jsx")
          <Navbar title="My App" backLink="Back"></Navbar>

    h4 Without "sliding" transition effect (affects iOS theme only)
    :code(lang="jsx")
          <Navbar title="My App" backLink="Back" sliding="{false}"></Navbar>

    h4 With additional right link to open right panel
    :code(lang="jsx")
      <Navbar title="My App" backLink="Back">
        <NavRight>
          <Link icon="icon-bars" panelOpen="right"></Link>
        </NavRight>
      </Navbar>

      {/* or */}

      <Navbar title="My App" backLink="Back">
        <Link slot="right" icon="icon-bars" panelOpen="right"></Link>
      </Navbar>

    h4 With large title
    :code(lang="jsx")
      <Navbar title="My App" backLink="Back" large></Navbar>

      {/* with different large title text */}

      <Navbar title="My App" backLink="Back" large titleLarge="Large Title"></Navbar>

    h4 All three parts
    :code(lang="jsx")
      <Navbar>
        <NavLeft backLink="Back"></NavLeft>
        <NavTitle>My App</NavTitle>
        <NavRight>
          <Link icon="icon-bars" panelOpen="right"></Link>
        </NavRight>
      </Navbar>

    h4 Full custom layout
    :code(lang="jsx")
      <Navbar>
        <NavLeft>
          <Link>Left Link</Link>
        </NavLeft>
        <NavTitle>My App</NavTitle>
        <NavRight>
          <Link>Right Link</Link>
        </NavRight>
      </Navbar>
