extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Popover React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Popover React Component
    ul.docs-index
    p Popover compontent is used to manage the presentation of content in a popover. You use popovers to present information temporarily. The popover remains visible until the user taps outside of the popover window or you explicitly dismiss it.
    p Popover React component represents <a href="../docs/popover.html">Popover</a> component.
    h2 Popover Components
    p There are following components included:
    ul
      li <code><b>Popover</b></code> / <code><b>F7Popover</b></code>
    h2 Popover Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;Popover&gt; properties
        tr
          td opened
          td boolean
          td Allows to open/close Popover and set its initial state
        tr
          td target
          td string<br>object
          td HTML element or string CSS selector of Popover target element
        tr
          td closeByBackdropClick
          td boolean
          td true
          td When enabled, popover will be closed on backdrop click. By default inherits same app parameter value
        tr
          td closeByOutsideClick
          td boolean
          td true
          td When enabled, popover will be closed on when click outside of it. By default inherits same app parameter value
    h2 Popover Methods
    table.methods-table
      tr
        th(colspan="2") &lt;Popover&gt; methods
      tr
        td .open(<span>target</span>, <span>animate</span>)
        td Open popover around <code>target</code> element
      tr
        td .close(<span>animate</span>)
        td Close popover
    h2 Popover Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;Popover&gt; events
        tr
          td popoverOpen
          td Event will be triggered when Popover starts its opening animation
        tr
          td popoverOpened
          td Event will be triggered after Popover completes its opening animation
        tr
          td popoverClose
          td Event will be triggered when Popover starts its closing animation
        tr
          td popoverClosed
          td Event will be triggered after Popover completes its closing animation
    h2 Open And Close Popover
    p You can control Popover state, open and closing it:
    ul
      li using <a href="../docs/popover.html">Popover API</a>
      li by passing <code>true</code> or <code>false</code> to its <code>opened</code> prop
      li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>popoverOpen</code> property (to open it) and <code>popoverClose</code> property to close it
    h2 Access To Popover Instance
    p You can access Popover initialized instance by accessing <code><b>.f7Popover</b></code> component's property.
    .with-device
      h2(data-device-preview="../docs-demos/react/popover.html") Examples
      :code(lang="jsx")
            export default () => (
              <Page>
                <Navbar title="Popover"></Navbar>
                <Toolbar bottomMd>
                  <Link>Dummy Link</Link>
                  <Link popoverOpen=".popover-menu">Open Popover</Link>
                </Toolbar>

                <Block>
                  <p><Button raised popoverOpen=".popover-menu">Open popover on me</Button></p>
                  <p>Mauris fermentum neque et luctus venenatis. Vivamus a sem rhoncus, ornare tellus eu, euismod mauris. In porta turpis at semper convallis. Duis adipiscing leo eu nulla lacinia, quis rhoncus metus condimentum. Etiam nec malesuada nibh. Maecenas quis lacinia nisl, vel posuere dolor. Vestibulum condimentum, nisl ac vulputate egestas, neque enim dignissim elit, rhoncus volutpat magna enim a est. Aenean sit amet ligula neque. Cras suscipit rutrum enim. Nam a odio facilisis, elementum tellus non, <Link popoverOpen=".popover-menu">popover</Link> tortor. Pellentesque felis eros, dictum vitae lacinia quis, lobortis vitae ipsum. Cras vehicula bibendum lorem quis imperdiet.</p>
                  <p>In hac habitasse platea dictumst. Etiam varius, ante vel ornare facilisis, velit massa rutrum dolor, ac porta magna magna lacinia nunc. Curabitur <Link popoverOpen=".popover-menu">popover!</Link> cursus laoreet. Aenean vel tempus augue. Pellentesque in imperdiet nibh. Mauris rhoncus nulla id sem suscipit volutpat. Pellentesque ac arcu in nisi viverra pulvinar. Nullam nulla orci, bibendum sed ligula non, ullamcorper iaculis mi. In hac habitasse platea dictumst. Praesent varius at nisl eu luctus. Cras aliquet porta est. Quisque elementum quis dui et consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sed laoreet purus. Pellentesque eget ante ante.</p>
                  <p>Duis et ultricies nibh. Sed facilisis turpis urna, ac imperdiet erat venenatis eu. Proin sit amet faucibus tortor, et varius sem. Etiam vitae lacinia neque. Aliquam nisi purus, interdum in arcu sed, ultrices rutrum arcu. Nulla mi turpis, consectetur vel enim quis, facilisis viverra dui. Aliquam quis convallis tortor, quis semper ligula. Morbi ullamcorper <Link popoverOpen=".popover-menu">one more popover</Link> massa at accumsan. Etiam purus odio, posuere in ligula vitae, viverra ultricies justo. Vestibulum nec interdum nisi. Aenean ac consectetur velit, non malesuada magna. Sed pharetra vehicula augue, vel venenatis lectus gravida eget. Curabitur lacus tellus, venenatis eu arcu in, interdum auctor nunc. Nunc non metus neque. Suspendisse viverra lectus sed risus aliquet, vel accumsan dolor feugiat.</p>
                </Block>
                <Popover className="popover-menu">
                  <List>
                    <ListItem link="#" popoverClose title="Dialog" />
                    <ListItem link="#" popoverClose title="Tabs" />
                    <ListItem link="#" popoverClose title="Side Panels" />
                    <ListItem link="#" popoverClose title="List View" />
                    <ListItem link="#" popoverClose title="Form Inputs" />
                  </List>
                </Popover>
              </Page>
            );