extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Preloader / Spinner React Component | Framework7 React Documentation';

block docs-index

block content
  

  .docs-nav
    include ../_docs-menu-react
  .docs-content

    h1 Preloader / Spinner React Component
    
    p Preloader / Spinner React component represents <a href="../docs/preloader.html">Preloader</a> element.
    h2 Preloader Components
    p There are following components included:
    ul
      li `Preloader`
    h2 Preloader Properties
    table.params-table.cols-3
      thead
        tr
          th Prop
          th Type
          th Description
      tbody
        tr
          th(colspan="3") &lt;Preloader&gt; properties
        tr
          td size
          td string<br>number
          td Size of the preloader in px
    h2 Examples
    +examplePreview('react', 'preloader.jsx', 'preloader')
