extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Pull To Refresh React Component | Framework7 React Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-react
  .docs-content
    .motion-docs-page-title
        h1 Pull To Refresh React Component
        script(async src="/js/motion/pulltorefresh.js")
        f7-motion-pulltorefresh(motion)
    p Pull To Refresh in React components is a part of the <a href="/react/page.html">Page React Component</a>.
    h2 Examples
    +examplePreview('react', 'pull-to-refresh.jsx', 'pull-to-refresh')
