extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Range Slider React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Range Slider React Component
    ul.docs-index
    p Range Slider React component represents <a href="../docs/range-slider.html">Range Slider</a> component.
    h2 Range Slider Components
    p There are following components included:
    ul
      li <code><b>Range</b></code> / <code><b>F7Range</b></code>
    h2 Range Slider Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Range&gt; properties
        tr
          td init
          td boolean
          td true
          td Initializes Range Slider
        tr
          td value
          td number<br>array<br>string
          td
          td Range Slider value, must be array in case of dual range slider
        tr
          td min
          td number<br>string
          td
          td Minimum value
        tr
          td max
          td number<br>string
          td
          td Maximum value
        tr
          td step
          td number<br>string
          td 1
          td Maximum value
        tr
          td label
          td boolean
          td false
          td Enables additional label around range slider knob
        tr
          td dual
          td boolean
          td false
          td Enables dual range slider
        tr
          td draggableBar
          td boolean
          td true
          td When enabled it is also possible to interact with range slider (change value) on range bar click and swipe.
        tr
          td disabled
          td boolean
          td false
          td Defines whether the range slider is disabled or not
        tr
          td id
          td string
          td
          td Range slider element ID attribute
        tr
          td input
          td boolean
          td false
          td If enabled, then it will render <code>input type="range"</code> element inside as well
        tr
          td inputId
          td string
          td
          td Input element ID attribute

    h2 Range Slider Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;Range&gt; events
        tr
          td rangeChange
          td Event will be triggered when Range Slider value has been changed
        tr
          td rangeChanged
          td Event will be triggered on slider knob release after value change
    h2 Range Slider Methods
    table.methods-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;Range&gt; methods
        tr
          td .setValue(<span>newValue</span>)
          td Set new range slider value
        tr
          td .getValue()
          td Returns range slider value
    .with-device
      h2(data-device-preview="../docs-demos/react/range-slider.html") Examples
      :code(lang="jsx")
            export default class extends React.Component {
              constructor(props) {
                super(props);

                this.state = {
                  priceMin: 200,
                  priceMax: 400,
                }
              }
              render() {
                return (
                  <Page>
                    <Navbar title="Range Slider"></Navbar>

                    <BlockTitle>Volume</BlockTitle>
                    <List simpleList>
                      <ListItem>
                        <ListItemCell className="width-auto flex-shrink-0">
                          <Icon ios="f7:volume_mute_fill" md="material:volume_mute"></Icon>
                        </ListItemCell>
                        <ListItemCell className="flex-shrink-3">
                          <Range
                            min={0}
                            max={100}
                            step={1}
                            value={10}
                          ></Range>
                        </ListItemCell>
                        <ListItemCell className="width-auto flex-shrink-0">
                          <Icon ios="f7:volume_fill" md="material:volume_up"></Icon>
                        </ListItemCell>
                      </ListItem>
                    </List>

                    <BlockTitle>Brightness</BlockTitle>
                    <List simpleList>
                      <ListItem>
                        <ListItemCell className="width-auto flex-shrink-0">
                          <Icon ios="f7:circle" md="material:brightness_low"></Icon>
                        </ListItemCell>
                        <ListItemCell className="flex-shrink-3">
                          <Range
                            min={0}
                            max={100}
                            step={1}
                            value={50}
                            label={true}
                            color="orange"
                          ></Range>
                        </ListItemCell>
                        <ListItemCell className="width-auto flex-shrink-0">
                          <Icon ios="f7:circle_half" md="material:brightness_high"></Icon>
                        </ListItemCell>
                      </ListItem>
                    </List>

                    <BlockTitle className="display-flex justify-content-space-between">Price Filter <span>${this.state.priceMin} - ${this.state.priceMax}</span></BlockTitle>
                    <List simpleList>
                      <ListItem>
                        <ListItemCell className="width-auto flex-shrink-0">
                          <Icon ios="f7:circle" md="material:brightness_low"></Icon>
                        </ListItemCell>
                        <ListItemCell className="flex-shrink-3">
                          <Range
                            min={0}
                            max={500}
                            step={1}
                            value={[this.state.priceMin, this.state.priceMax]}
                            label={true}
                            dual={true}
                            color="green"
                            onRangeChange={this.onPriceChange.bind(this)}
                          ></Range>
                        </ListItemCell>
                        <ListItemCell className="width-auto flex-shrink-0">
                          <Icon ios="f7:circle_half" md="material:brightness_high"></Icon>
                        </ListItemCell>
                      </ListItem>
                    </List>
                  </Page>
                )
              }
              onPriceChange(values) {
                this.setState({
                  priceMin: values[0],
                  priceMax: values[1],
                });
              }
            }

