extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Skeleton React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Skeleton React Component
    p Framework7 comes with Skeleton Elements library (aka UI Skeletons, Skeleton Screens, Ghost Elements) - UI for improved perceived performance.
    p Skeleton Elements library already integrated into Framework7 and you don't have to install it separately. For the full API documentation and more examples check out the official <a href="https://skeleton-elements.dev/react/" target="_blank">Skeleton Elements for React documentation</a>.

    .with-device
      h2(data-device-preview="../docs-demos/react/skeleton.html") Examples
      include:reactSource ../docs-demos/react/skeleton.jsx
