extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Smart Select React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Smart Select React Component
    ul.docs-index
    p Smart Select allows you to easily convert your usual form selects to dynamic pages with grouped radio inputs. You can see such feature in many native apps.
    p It is not a separate React component, but just a particular case of using <a href="list-view.html">&lt;List&gt;</a> and <a href="list-item.html">&lt;ListItem&gt;</a> components with Framework7's <a href="../docs/smart-select.html">Smart Select</a> component.

    h2 Smart Select Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;ListItem&gt;  properties
        tr
          td smartSelect
          td boolean
          td
          td Enables Smart Select behavior
        tr
          td smartSelectParams
          td object
          td
          td Object with <a href="../docs/smart-select.html#smart-select-parameters">Smart Select Parameters</a>

    h2 Access To Smart Select Instance
    p You can access Smart Select initialized instance by accessing <code><b>.f7SmartSelect</b></code> property of <code>&lt;ListItem&gt;</code> component.

    .with-device
      h2(data-device-preview="../docs-demos/react/smart-select.html") Examples
      :code(lang="jsx")
            <List>

              <ListItem
                title="Fruit"
                smartSelect
              >
                <select name="fruits" defaultValue="apple">
                  <option value="apple">Apple</option>
                  <option value="pineapple">Pineapple</option>
                  <option value="pear">Pear</option>
                  <option value="orange">Orange</option>
                  <option value="melon">Melon</option>
                  <option value="peach">Peach</option>
                  <option value="banana">Banana</option>
                </select>
              </ListItem>

              <ListItem
                title="Car"
                smartSelect
                smartSelectParams={{openIn: 'popup', searchbar: true, searchbarPlaceholder: 'Search car'}}
              >
                <select name="car" multiple defaultValue={['honda', 'audi', 'ford']}>
                  <optgroup label="Japanese">
                    <option value="honda">Honda</option>
                    <option value="lexus">Lexus</option>
                    <option value="mazda">Mazda</option>
                    <option value="nissan">Nissan</option>
                    <option value="toyota">Toyota</option>
                  </optgroup>
                  <optgroup label="German">
                    <option value="audi">Audi</option>
                    <option value="bmw">BMW</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="vw">Volkswagen</option>
                    <option value="volvo">Volvo</option>
                  </optgroup>
                  <optgroup label="American">
                    <option value="cadillac">Cadillac</option>
                    <option value="chrysler">Chrysler</option>
                    <option value="dodge">Dodge</option>
                    <option value="ford">Ford</option>
                  </optgroup>
                </select>
              </ListItem>

              <ListItem
                title="Mac or Windows"
                smartSelect
                smartSelectParams={{openIn: 'sheet'}}
              >
                <select name="mac-windows" defaultValue="mac">
                  <option value="mac">Mac</option>
                  <option value="windows">Windows</option>
                </select>
              </ListItem>

              <ListItem
                title="Super Hero"
                smartSelect
                smartSelectParams={{openIn: 'popover'}}
              >
                <select name="superhero" multiple defaultValue={['Batman']}>
                  <option value="Batman">Batman</option>
                  <option value="Superman">Superman</option>
                  <option value="Hulk">Hulk</option>
                  <option value="Spiderman">Spiderman</option>
                  <option value="Ironman">Ironman</option>
                  <option value="Thor">Thor</option>
                  <option value="Wonder Woman">Wonder Woman</option>
                </select>
              </ListItem>
            </List>