extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Statusbar React Component | Framework7 React Documentation';

block content

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Statusbar React Component
    ul.docs-index
    p Statusbar React component represents <a href="../docs/statusbar.html">Statusbar</a> in Framework7.
    h2 Statusbar Components
    p There are following components included:
    ul
      li <code><b>Statusbar</b></code> / <code><b>F7Statusbar</b></code>
    h2 Examples
    :code(lang="jsx")
          &lt;App&gt;
            {/* Should be placed as the first child in the app root */}
            &lt;Statusbar&gt;&lt;/Statusbar&gt;
            ...
          &lt;/App&gt;
    p Renders to:
    :code(lang="jsx")
          &lt;div class="framework7-root"&gt;
            &lt;div class="statusbar"&gt;&lt;/div&gt;
            ...
          &lt;/div&gt;

