extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Subnavbar React Component | Framework7 React Documentation';

block docs-index

block content


  .docs-nav
    include ../_docs-menu-react
  .docs-content
    .motion-docs-page-title
      h1 Subnavbar React Component
      script(src="/js/motion/subnavbar.js")
      f7-motion-subnavbar(motion)

    p Subnavbar is useful when you need to put any additional elements into Navbar, like Tab Links or Search Bar. It also remains visible when Navbar hidden.
    p Subnavbar React component represents <a href="../docs/subnavbar.html">Subnavbar</a> component.
    h2 Subnavbar Components
    p There are following components included:
    ul
      li `Subnavbar`
    h2 Subnavbar Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Subnavbar&gt; properties
        tr
          td sliding
          td boolean
          td
          td Enables "sliding" effect
        tr
          td title
          td string
          td
          td Subnvabar title
        tr
          td inner
          td boolean
          td true
          td When enabled the additional "subnavbar-inner" wrapper element will be added
    h2 Examples
    +examplePreview('react', 'subnavbar.jsx', 'subnavbar')
    +examplePreview('react', 'subnavbar-title.jsx', 'subnavbar-title')
