extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Swiper React Component | Framework7 React Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-react
  .docs-content
    +improveDocsLink
    h1 Swiper React Component
    ul.docs-index
    p Framework7 comes with powerful and most modern touch slider ever - Swiper Slider with super flexible configuration and lot, lot of features.
    p Swiper React component represents Framework7's <a href="../docs/swiper.html">Swiper</a> component.
    h2 Swiper Components
    p There are following components included:
    ul
      li <code><b>Swiper</b></code> / <code><b>F7Swiper</b></code> - main FAB element
      li <code><b>SwiperSlide</b></code> / <code><b>F7SwiperSlide</b></code> - wrapper for multiple FAB buttons used as Speed Dial FAB
    h2 Swiper Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Swiper&gt; properties
        tr
          td init
          td boolean
          td true
          td Initializes Swiper
        tr
          td params
          td object
          td
          td Object with Swiper API parameters
        tr
          td pagination
          td boolean
          td
          td Enables pagination
        tr
          td scrollbar
          td boolean
          td
          td Enables scrollbar
        tr
          td navigation
          td boolean
          td
          td Enables prev/next navigation buttons
        tr
          th(colspan="4") &lt;SwiperSlide&gt; properties
        tr
          td zoom
          td boolean
          td
          td Adds additional slide inner wrapping required for zoom-in functionality (should be also enabled via params on Swiper initialization)
    h2 Swiper Slots
    p Swiper React component (<code>&lt;Swiper&gt;</code>) has additional slots for custom elements:
    ul
      li <code><b>before-wrapper</b></code> - element will be inserted right before <code>&lt;div class="swiper-wrapper"&gt;</code> element
      li <code><b>after-wrapper</b></code> - element will be inserted right after <code>&lt;div class="swiper-wrapper"&gt;</code> element
    :code(lang="jsx")
          <Swiper>
            <div slot="before-wrapper">Before Wrapper</div>
            <div slot="after-wrapper">After Wrapper</div>
            <SwiperSlide>Default Slot</SwiperSlide>
          </Swiper>

          {/* Renders to: */}

          <div class="swiper-container">
            <div>Before Wrapper</div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">Default Slot</div>
            </div>
            <div>After Wrapper</div>
          </div>
    h2 Access To Swiper Instance
    p If you use automatic initalization to init Swiper (with <code>init={true}</code> prop) and need to use Swiper API you can access its initialized instance by accessing <code><b>.swiper</b></code> component's property.
    .with-device
      h2(data-device-preview="../docs-demos/react/swiper.html") Examples
      h4 Minimal layout
      :code(lang="jsx")
            <Swiper>
              <SwiperSlide>Slide 1</SwiperSlide>
              <SwiperSlide>Slide 2</SwiperSlide>
              <SwiperSlide>Slide 3</SwiperSlide>
            </Swiper>
      h4 With all controls
      :code(lang="jsx")
            <Swiper pagination navigation scrollbar>
              <SwiperSlide>Slide 1</SwiperSlide>
              <SwiperSlide>Slide 2</SwiperSlide>
              <SwiperSlide>Slide 3</SwiperSlide>
            </Swiper>

      h4 With additional parameters
      p You can pass any additional <a href="http://idangero.us/swiper/api" target="_blank">Swiper API</a> parameters using <code>params</code> property:
      :code(lang="jsx")
            <Swiper navigation params={{speed:500, slidesPerView: 3, spaceBetween: 20}}>
              <SwiperSlide>Slide 1</SwiperSlide>
              <SwiperSlide>Slide 2</SwiperSlide>
              <SwiperSlide>Slide 3</SwiperSlide>
            </Swiper>
