extends ../_docs-template

block vars
  - var activeLink = 'react';
  - var title = 'Tooltip React Component | Framework7 React Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-react
  .docs-content
    .motion-docs-page-title
        h1 Tooltip React Component
        script(src="/js/motion/tooltip.js")
        f7-motion-tooltip(motion)
    p There is no specific Tooltip React component, you need to use core <a href="../docs/tooltip.html">Tooltip component</a>.
    h2 Examples
    +examplePreview('react', 'tooltip.jsx', 'tooltip')
