extends ../_docs-template

block vars
  - var title = 'Generate Assets | Framework7 CLI';

block content
  .docs-nav
    include ../_docs-menu-cli
  .docs-content
    +improveDocsLink

    h1 Generate Assets
    ul.docs-index

    h2 Assets Source

    p In created project there is an `assets-src` directory. It contains required icons and splash screens source images.

    p Based on created project configration, `assets-src` can contain the following files:

    ul
      li `cordova-splash-screen.png` - cordova app splash screen image. Appears if your project targets iOS or Android mobile app
      li `cordova-ios-icon.png` - cordova iOS app icon. Appears if your project targets iOS mobile app
      li `cordova-android-icon.png` - cordova Android app icon. Appears if your project targets Android mobile app
      li `cordova-electron-app-icon.png` - cordova Electron app icon. Appears if your project targets desktop app with Electron
      li `cordova-electron-installer-icon.png` - cordova Electron installer icon. Appears if your project targets desktop app with Electron
      li `cordova-osx-icon.png` - cordova macOS icon. Appears if your project targets desktop macOs app
      li `web-icon.png` - web icon. Appears if your project targets "web app" or "PWA"
      li `apple-touch-icon.png` - iOS web icon. Appears if your project targets "web app" or "PWA"

    h2 Generate Assets

    p To generate your own icons and splash screen images, you will need to replace all assets in this directory with your own images (pay attention to image size and format), and run the following command in the project directory:

    ```shell
      $ framework7 assets
    ```

    p This command will generate all required sizes of icons and splash screens and place them automatically where they need to be.

    h2 Skip Update

    p On `assets` command CLI will first check for CLI update to always deliver latest and better experience. If, for some reason, you want to disable it, you can run command with `--skipUpdate` flag:

    ```shell
      $ framework7 assets --skipUpdate
    ```

    h2 User Interface

    p Framework7 CLI allows to launch assets generation process with the user interface.

    p To launch it with UI, run the `assets` command with `--ui` flag in the directory with your app.

    ```shell
      $ framework7 assets --ui
    ```

    p It will launch UI where you will be able to replace assets with custom ones and generate the required icons.

    p
      img(src="/i/docs/cli-assets-ui.png", style="width: 1000px; max-width: 100%: box-shadow: 0px 2px 5px rgba(0,0,0,0.1); border-radius: 5px; border: 1px solid rgba(0,0,0,0.1)")

    p By default it launches server on `localhost:3001` address. If you want to change the port then use `--port <n>` argument:

    ```shell
      $ framework7 assets --ui --port 8080
    ```

    h2 NPX

    p If you didn't install Framework7 CLI globally, you can generate assets using <a href="https://github.com/npm/npx" target="_blank">npx</a> command.

    p For example:

    ```shell
      $ npx framework7-cli assets --ui
    ```




