extends ../_docs-template

block vars
  - var title = 'Framework7 Command-Line Interface';

block content
  .docs-nav
    include ../_docs-menu-cli
  .docs-content
    +improveDocsLink
    h1 Framework7 Command-Line Interface (CLI)

    p Framework7 CLI is an extremely powerful tool and the most recommended way to start Framework7 app development.
    p It allows to create project using different variants to choose:
    ul
      li Framework: Framework7 Core, Framework7-Vue, Framework7-React, Framework7-Svelte
      li Target platform: Web app, PWA or Cordova app
      li Starter template: Single View, Tabs, Split View
      li Custom color theme
      li Generate required icons and splash screen
      li Many more

