extends ../_internal-template

block vars
  - var title = 'Framework7 Command-Line Interface';

block content
  .docs-content
    +improveDocsLink
    h1 Framework7 Command-Line Interface (CLI)
    ul.docs-index

    p Framework7 CLI is an extremely powerful tool and the most recommended way to start Framework7 app development.
    p It allows to create project using different variants to choose:
    ul
      li Framework: Framework7 Core, Framework7-Vue, Framework7-React
      li Target platform: Web app, PWA or Cordova app
      li Starter template: Single View, Tabs, Split View
      li Custom color theme
      li Generate required icons and splash screen

    h2 Installation

    p First of all make sure you have globally installed Cordova (may require "sudo"):
    :code(lang="shell")
      $ npm install -g cordova

    p Then install Framework7 CLI (may require "sudo"):
    :code(lang="shell")
      $ npm install -g framework7-cli

    p If you have issues with installation related to access errors, you may try to run the command with additional flags:
    :code(lang="shell")
      $ npm install -g framework7-cli --unsafe-perm=true --allow-root

    h2 Create App

    p To create Framework7 app, run the following command in the directory where you want to create app:
    :code(lang="shell")
      $ framework7 create

    p Program will prompt for few questions about framework and template you want to start with.

    h2 Create App User Interface

    p Run the following command in the directory where you want to create app:
    :code(lang="shell")
      $ framework7 create --ui

    p It will launch UI where you will be able to configure the project. By default it launches server on #[code localhost:3001] address. If you want to change the port then use #[code --port &lt;n&gt;] argument:
    :code(lang="shell")
      $ framework7 create --ui --port 8080

    h2 Generate Assets

    p In created project there is an #[code assets-src] directory. It contains required icons and splash screens source images. To generate your own icons and splash screen images, you will need to replace all assets in this directory with your own images (pay attention to image size and format), and run the following command in the project directory:
    :code(lang="shell")
      $ framework7 generate-assets

    p That is all, script will generate all required sizes of icons and splash screens and place them automatically where they need to be.

    h2 Generate Assets User Interface

    p Run the following command in the directory with Framework7 project:
    :code(lang="shell")
      $ framework7 generate-assets --ui

    p It will launch UI where you will be able to change icons and splash screens. By default it launches server on #[code localhost:3001] address. If you want to change the port then use #[code --port &lt;n&gt;] argument:
    :code(lang="shell")
      $ framework7 generate-assets --ui --port 8080

    h2 Cordova APIs

    p To run cordova related commands run the following command in the project root directory:
    :code(lang="shell")
      $ framework7 cordova [..args]

    p For example:
    :code(lang="shell")
      $ framework7 cordova plugin add cordova-plugin-statusbar
      $ framework7 cordova plugin add cordova-plugin-splashscreen
      $ framework7 cordova build ios
      ...
