extends ../_internal-template

block vars
  - var title = 'Framework7 Command-line Interface';

block content
  .docs-content
    +improveDocsLink
    h1 Framework7 Command-line Interface (CLI)
    ul.docs-index

