doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title 3D Panels
    link(rel="stylesheet", href="libs/framework7/dist/css/framework7.ios.min.css")
    link(rel="stylesheet", href="libs/framework7/dist/css/framework7.ios.colors.min.css")
    link(rel="stylesheet", href="../dist/framework7.3dpanels.css")
    style.
      body {
        background: #074d55; 
        background: -moz-radial-gradient(center, ellipse cover, #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, right bottom, 0px, left top, 100%, color-stop(0%,#6967a5), color-stop(50%,#2075a1), color-stop(100%,#074d55));
        background: -webkit-radial-gradient(right bottom, ellipse cover, #6967a5 0%, #2075a1 50%, #074d55 100%);
        background: radial-gradient(ellipse at right bottom, #6967a5 0%, #2075a1 50%, #074d55 100%);
        
      }
      .panel .page, .panel .pages, .panel {
        background: none;
      }
      .panel .list-block ul {
        background: none;
        border:none;
      }
      .panel .list-block .item-link {
        color:#fff;
      }
      .panel .list-block .item-link:active {
        background: rgba(255,255,255,0.2);
      }
      .panel .list-block .item-inner {
        border-bottom-color:rgba(255,255,255,0.2);
      }
      .panel .content-block, .panel .content-block-title {
        color:#fff;
      }
  body
    .statusbar-overlay

    .panel-overlay
    .panel.panel-left.panel-reveal
      .view
        .pages
          .page
            .page-content
              .list-block
                ul
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 1
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 2
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 3
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 4
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 5
              .content-block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam neque tellus, dignissim quis turpis id, lacinia euismod ipsum. Pellentesque auctor laoreet velit, consectetur aliquam urna pharetra eget. Fusce hendrerit risus sit amet interdum mollis. Donec et consectetur arcu, non aliquet mauris.
          
    .panel.panel-right.panel-reveal
      .view
        .pages
          .page
            .page-content
              .list-block
                ul
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 1
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 2
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 3
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 4
                  li
                    a(href="#").item-content.item-link
                      .item-inner
                        .item-title Link 5

    .views
      .view.view-main
        .navbar
          .navbar-inner
            .center.sliding 3D Panels
            .right
              a(href="#").link.icon-only.open-panel 
                i.icon.icon-bars-blue
        .pages.navbar-through.toolbar-through
          .page(data-page="index")
            .page-content
              .content-block-title Framework7 3D Panels Plugins
              .content-block
                .content-block-inner
                  p This 3D Panels plugin convert your "reveal"-effect panels to great looking 3D panels which are also available as a swipe-panels (try left one).
              .content-block
                .row
                  .col-50
                    a(href="#", data-panel="left").button.open-panel Left Panel
                  .col-50
                    a(href="#", data-panel="right").button.open-panel Right Panel
    script(src="libs/framework7/dist/js/framework7.min.js")
    script(src="../dist/framework7.3dpanels.js")
    script.
        var myApp = new Framework7({swipePanel:'left'});
        var mainView = myApp.addView('.view-main');