extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Cards List View
              .right 
          .page-content
            .list-block.cards-list
              ul
                li.card
                  .card-header Card Header
                  .card-content
                    .card-content-inner Card content
                  .card-footer Card footer
                li.card
                  .card-header Card Header
                  .card-content
                    .card-content-inner Card content
                  .card-footer Card footer
                li.card
                  .card-header Card Header
                  .card-content
                    .card-content-inner Card content
                  .card-footer Card footer
                li.card
                  .card-header Card Header
                  .card-content
                    .card-content-inner Card content
                  .card-footer Card footer
                
block scripts
  script.
    var myApp = new Framework7();