extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Radios Group
              .right 
          .page-content
            .content-block-title Radios group
            .list-block
              ul
                li
                  label.label-radio.item-content
                    input(type="radio", name="ks-radio", value="Books", checked=true)
                    .item-inner
                      .item-title Books
                li
                  label.label-radio.item-content
                    input(type="radio", name="ks-radio", value="Movies")
                    .item-inner
                      .item-title Movies
                li
                  label.label-radio.item-content
                    input(type="radio", name="ks-radio", value="Food")
                    .item-inner
                      .item-title Food
                li
                  label.label-radio.item-content
                    input(type="radio", name="ks-radio", value="Drinks")
                    .item-inner
                      .item-title Drinks

block scripts
  script.
    var myApp = new Framework7();            