extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed.toolbar-fixed
          .navbar
            .navbar-inner
              .left 
                a(href="#").link
                  i.icon.icon-back
                  span Back
              .center Color Themes
              .right 
                a(href="#").link.icon-only
                  i.icon.icon-bars
          .toolbar
            .toolbar-inner
              a(href="#").link Left
              a(href="#").link Right
          .page-content
            .content-block Praesent varius justo odio. Duis in <a href="#">cursus</a> lorem. Suspendisse convallis porta ornare. Vivamus consectetur varius ligula convallis posuere. Proin quis neque eget nisi tempus <a href="#">faucibus</a> at volutpat leo. Suspendisse id erat aliquet, vulputate sem ac, iaculis metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            .content-block
              p.buttons-row
                a(href="#").button.active Button 1
                a(href="#").button Button 2
                a(href="#").button Button 3
              p
                a(href="#").button.button-big.button-fill Fill Button
            .content-block-title Choose Color Theme
            .list-block
              ul
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="blue", checked=true)
                    .item-inner
                      .item-title Blue
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="gray")
                    .item-inner
                      .item-title Gray
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="black")
                    .item-inner
                      .item-title Black
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="lightblue")
                    .item-inner
                      .item-title Light Blue
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="yellow")
                    .item-inner
                      .item-title Yellow
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="orange")
                    .item-inner
                      .item-title Orange
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="pink")
                    .item-inner
                      .item-title Pink
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="green")
                    .item-inner
                      .item-title Green
                li
                  label.label-radio.item-content
                    input(type="radio", name="color-radio", value="red")
                    .item-inner
                      .item-title Red
            .content-block-title Choose Layout Theme
            .list-block
              ul
                li
                  label.label-radio.item-content
                    input(type="radio", name="layout-radio", value="", checked=true)
                    .item-inner
                      .item-title Default
                li
                  label.label-radio.item-content
                    input(type="radio", name="layout-radio", value="layout-dark")
                    .item-inner
                      .item-title Dark
                li
                  label.label-radio.item-content
                    input(type="radio", name="layout-radio", value="layout-white")
                    .item-inner
                      .item-title White
                
                
                
            


block scripts
  
  script.
    var myApp = new Framework7();
    var $$ = Dom7;
    $$('input[name="color-radio"]').on('change', function () {
      if (this.checked) {
        $$('.view').removeClass('theme-pink theme-blue theme-red theme-black theme-gray theme-orange theme-yellow theme-lightblue theme-green');
        $$('.view').addClass('theme-' + $$(this).val());
      }
    });
    $$('input[name="layout-radio"]').on('change', function () {
      if (this.checked) {
        $$('.view').removeClass('layout-dark layout-white');
        $$('.view').addClass(this.value);
      }
    });