extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Link Elements
              .right 
          .page-content
            .content-block-title Links
            .list-block
              ul
                li
                  a(href="#").item-link.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                li
                  a(href="#").item-link.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                li
                  a(href="#").item-link.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
              .list-block-label List block label text goes here

block scripts
  script.
    var myApp = new Framework7();