extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center List View Groups
              .right 
          .page-content

            .list-block
              // First group
              .list-group
                ul
                  li.list-group-title First group
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label

              // Second group
              .list-group
                ul
                  li.list-group-title Second Group
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  li.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
            .content-block
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum molestie diam eu rhoncus. Aliquam a accumsan felis. Morbi magna ipsum, pellentesque vitae diam mattis, cursus pellentesque lorem. Curabitur orci tortor, feugiat nec erat non, iaculis iaculis nisi. Nam interdum sem eget ullamcorper accumsan. Vivamus tempor metus at fermentum ultricies. Duis tristique magna velit, id vehicula odio vehicula a. Ut fermentum, est viverra bibendum volutpat, tellus mauris egestas nunc, et venenatis nisl libero at tellus. Nullam eu lorem at turpis luctus rutrum id sit amet neque.
              p Vestibulum congue, lacus quis ornare euismod, risus enim rhoncus sem, vulputate aliquet ipsum mi sed nulla. Nulla sed sodales massa. Quisque et mi in orci commodo suscipit. Fusce et tincidunt ipsum, sit amet feugiat quam. Phasellus congue molestie pellentesque. Ut quam purus, porttitor dictum odio sed, varius pellentesque libero. Pellentesque id euismod urna.
block scripts
  script.
    var myApp = new Framework7();