.page(data-page="login-screen").no-navbar.no-toolbar.no-swipeback
  .page-content.login-screen-content
    .login-screen-title My App
    form
      .list-block
        ul
          li.item-content
            .item-inner 
              .item-title.label Username
              .item-input
                input(type="text", name="username", placeholder="Your username")
          li.item-content
            .item-inner 
              .item-title.label Password
              .item-input
                input(type="password", name="password", placeholder="Your password")
      .list-block
        ul
          li
            a(href="#").item-link.list-button Sign In
        .list-block-label 
          p Click Sign In to close Login Screen