extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Prompt
              .right 
          .page-content
            .content-block
              p
                a(href="#").prompt-ok Prompt with text and Ok callback
              p
                a(href="#").prompt-ok-cancel Prompt with text, Ok and Cancel callbacks
              p
                a(href="#").prompt-title-ok Prompt with text, title and Ok callback
              p
                a(href="#").prompt-title-ok-cancel Prompt with text, title, Ok and Cancel callback
              
              
              

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.prompt-ok').on('click', function () {
        myApp.prompt('What is your name?', function (value) {
            myApp.alert('Your name is "' + value + '". You clicked Ok button');
        });
    });

    $$('.prompt-ok-cancel').on('click', function () {
        myApp.prompt('What is your name?', 
          function (value) {
            myApp.alert('Your name is "' + value + '". You clicked Ok button');
          },
          function (value) {
            myApp.alert('Your name is "' + value + '". You clicked Cancel button');
          }
        );
    });
    $$('.prompt-title-ok').on('click', function () {
        myApp.prompt('What is your name?', 'Custom Title', function (value) {
            myApp.alert('Your name is "' + value + '". You clicked Ok button');
        });
    });
    $$('.prompt-title-ok-cancel').on('click', function () {
        myApp.prompt('What is your name?', 'Custom Title', 
          function (value) {
            myApp.alert('Your name is "' + value + '". You clicked Ok button');
          },
          function (value) {
            myApp.alert('Your name is "' + value + '". You clicked Cancel button');
          }
        );
    });