extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Confirm
              .right 
          .page-content
            .content-block
              p
                a(href="#").confirm-ok Confirm with text and Ok callback
              p
                a(href="#").confirm-ok-cancel Confirm with text, Ok and Cancel callbacks
              p
                a(href="#").confirm-title-ok Confirm with text, title and Ok callback
              p
                a(href="#").confirm-title-ok-cancel Confirm with text, title, Ok and Cancel callback
              
              
              

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.confirm-ok').on('click', function () {
        myApp.confirm('Are you sure?', function () {
            myApp.alert('You clicked Ok button');
        });
    });

    $$('.confirm-ok-cancel').on('click', function () {
        myApp.confirm('Are you sure?', 
          function () {
            myApp.alert('You clicked Ok button');
          },
          function () {
            myApp.alert('You clicked Cancel button');
          }
        );
    });
    $$('.confirm-title-ok').on('click', function () {
        myApp.confirm('Are you sure?', 'Custom Title', function () {
            myApp.alert('You clicked Ok button');
        });
    });
    $$('.confirm-title-ok-cancel').on('click', function () {
        myApp.confirm('Are you sure?', 'Custom Title', 
          function () {
            myApp.alert('You clicked Ok button');
          },
          function () {
            myApp.alert('You clicked Cancel button');
          }
        );
    });