extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
                a(href="#").link.create-about About
              .center Popover
              .right 
                a(href="#").link.create-links Links
          .page-content
            .content-block
              p
                a(href="#").create-about Create About Popover
              p
                a(href="#").create-links Create Links Popover
              p Praesent urna mi, sodales ac dolor vitae, dictum mattis sem. Mauris a dui faucibus, condimentum arcu quis, porta felis. Sed at metus arcu. Maecenas sodales tellus risus, id <a href="#" class="create-about">About</a> nibh iaculis quis. Suspendisse dignissim ante lobortis, molestie nibh id, pharetra risus. Proin blandit neque nec nibh scelerisque, eu vulputate ipsum malesuada. Phasellus sapien diam, fermentum eget ornare in, <a href="#" class="create-links">Links</a> rutrum vel justo. Integer accumsan posuere quam.
  style.
    .popover {
      width:200px;
    }
block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.create-about').on('click', function () {
      var clickedLink = this;
      var popoverHTML = '<div class="popover">'+
                          '<div class="popover-inner">'+
                            '<div class="content-block">'+
                              '<p>About Popover created dynamically.</p>'+
                              '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.</p>'+
                            '</div>'+
                          '</div>'+
                        '</div>'
      myApp.popover(popoverHTML, clickedLink);
    });

    $$('.create-links').on('click', function () {
      var clickedLink = this;
      var popoverHTML = '<div class="popover">'+
                          '<div class="popover-inner">'+
                            '<div class="list-block">'+
                              '<ul>'+
                              '<li><a href="#" class="item-link list-button">Link 1</li>'+
                              '<li><a href="#" class="item-link list-button">Link 2</li>'+
                              '<li><a href="#" class="item-link list-button">Link 3</li>'+
                              '</ul>'+
                            '</div>'+
                          '</div>'+
                        '</div>'
      myApp.popover(popoverHTML, clickedLink);
    });
