extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Dynamic Popup
              .right 
          .page-content
            .content-block
              p
                a(href="#").create-popup Create Popup

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.create-popup').on('click', function () {
      var popupHTML = '<div class="popup">'+
                        '<div class="content-block">'+
                          '<p>Popup created dynamically.</p>'+
                          '<p><a href="#" class="close-popup">Close me</a></p>'+
                        '</div>'+
                      '</div>'
      myApp.popup(popupHTML);
    });
    