extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Swipeout
              .right 
          .page-content
            .content-block-title On right side
            .list-block
              ul
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  .swipeout-actions-right
                    a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge.bg-green 5
                  .swipeout-actions-right
                    a(href="#").action1.bg-orange Action 1
                    a(href="#").action2 Action 2
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
                  .swipeout-actions-right
                    a(href="#").action1.bg-blue Action 1
                    a(href="#").action2 Action 2
            .content-block-title On left side
            .list-block
              ul
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  .swipeout-actions-left
                    a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge.bg-green 5
                  .swipeout-actions-left
                    a(href="#").action1.bg-orange Action 1
                    a(href="#").action2 Action 2
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
                  .swipeout-actions-left
                    a(href="#").action1.bg-blue Action 1
                    a(href="#").action2 Action 2
            .content-block-title On both sides
            .list-block
              ul
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  .swipeout-actions-left
                    a(href="#").action1 Action L1
                  .swipeout-actions-right
                    a(href="#").action1 Action R1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge.bg-green 5
                  .swipeout-actions-left
                    a(href="#").action1.bg-pink Action L1
                    a(href="#").action2.bg-lightblue Action L2
                  .swipeout-actions-right
                    a(href="#").action1.bg-orange Action R1
                    a(href="#").action2 Action R2

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.action1').on('click', function () {
      myApp.alert('Action 1');
    });
    $$('.action2').on('click', function () {
      myApp.alert('Action 2');
    });
