extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Swipe To Delete
              .right 
          .page-content
            .list-block.media-list
              ul
                - for (var i = 0; i < 5; i++)
                  li.swipeout
                    .swipeout-content
                      a(href="#").item-content.item-link
                        .item-inner
                          .item-title-row
                            .item-title Facebook
                            .item-after 17:14
                          .item-subtitle New messages from John Doe
                          .item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.
                    .swipeout-actions-left
                      a(href="#").swipeout-overswipe.bg-green.reply Reply
                      a(href="#").bg-blue.forward Forward
                    .swipeout-actions-right
                      a(href="#").mark.bg-orange Mark
                      a(href="#").swipeout-delete.swipeout-overswipe Delete

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.mark').on('click', function () {
      myApp.alert('Mark');
    });
    $$('.reply').on('click', function () {
      myApp.alert('Reply');
    });
    $$('.forward').on('click', function () {
      myApp.alert('Forward');
    });
    
