extends _layout-ios
block content
  .views
    .view.view-main
      .pages
        .page(data-page="home").navbar-fixed
          .navbar
            .navbar-inner
              .left 
              .center Swipeout API
              .right 
          .page-content
            .content-block
              p
                a(href="#").open-first Open first element
              p
                a(href="#").open-second Open second element and close after 1s
              p
                a(href="#").delete-3rd Delete 3rd element
            .list-block
              ul
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  .swipeout-actions-right
                      a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  .swipeout-actions-right
                      a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Another item
                      .item-after Another label
                  .swipeout-actions-right
                      a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item title
                      .item-after Label
                  .swipeout-actions-right
                      a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title Item with badge
                      .item-after 
                        span.badge 5
                  .swipeout-actions-right
                      a(href="#").action1 Action 1
                li.swipeout
                  .swipeout-content.item-content
                    .item-media
                      i.icon.icon-f7
                    .item-inner
                      .item-title You can't delete me
                      .item-after Another label
                  .swipeout-actions-right
                      a(href="#").action1 Action
            

block scripts
  script.
    var myApp = new Framework7();

    var $$ = Dom7;

    $$('.open-first').on('click', function(){
      myApp.swipeoutOpen('li.swipeout:first-child');
    });
    $$('.open-second').on('click', function(){
      myApp.swipeoutOpen($$('li.swipeout').eq(1));
      setTimeout(function () {
        myApp.swipeoutClose($$('li.swipeout').eq(1));
      }, 500);
    });
    $$('.delete-3rd').on('click', function(){
      myApp.swipeoutDelete($$('li.swipeout').eq(2));
    });
    
    
