extends ../_internal-template

block vars
  - var activeLink = 'donate';
  - var title = 'Donate To Framework7';

block content
  h1 Donate To Framework7
  p If you like Framework7 you can always send us few cents by
  ul
    li
      p using 
        a(href="http://idangero.us/donate/?for=Framework7%20Donation") Skrill (Moneybookers):
    li
      p using 
        a(href="https://paypal.me/kharlampidi", target="_blank") PayPal
    li
      p making monthly or one-time pledge on 
        a(href="https://www.patreon.com/vladimirkharlampidi", target="_blank") Patreon

