ul
  li
    .title Core
    ul
      li
        a(href="dom.html") Dom7 - Custom DOM Library
      li
        a(href="app-layout.html") App HTML Layout
      li
        a(href="rtl-layout.html") RTL Layout
      li
        a(href="init-app.html") Initialize App / App parameters
      li
        a(href="views.html") Views
      li
        a(href="pages.html") Pages
      li
        a(href="page-callbacks.html") Page Callbacks
  li
    .title Navigation / Router
    ul
      li
        a(href="router-api.html") API
      li
        a(href="pages-ajax.html") Ajax Pages
      li
        a(href="pages-dynamic.html") Dynamic Pages
      li
        a(href="pages-inline.html") Inline Pages (DOM Cache)
      li
        a(href="linking-views.html") Linking Between Views

  li
    .title Components
    ul
      li
        .subtitle Navbars & Toolbars
        ul
          li
            a(href="navbar-toolbar-layouts.html") Layout types
          li
            a(href="navbar.html") Navbar
          li
            a(href="dynamic-navbar.html") Dynamic Navbar
          li
            a(href="sub-navbar.html") Sub Navbar
          li
            a(href="toolbar.html") Toolbar
          li
            a(href="tabbar.html") Tab Bar
          li
            a(href="hide-bars-on-scroll.html") Hide Bars On Scroll
      li
        a(href="searchbar.html") Search Bar
      li
        a(href="status-bar.html") Status Bar overlay
      li
        a(href="side-panels.html") Side Panels
      li
        a(href="content-block.html") Content Block
      li
        a(href="grid.html") Layout Grid
      li
        .subtitle Overlays
        ul
          li
            a(href="modal.html") Modal
          li
            a(href="popup.html") Popup
          li
            a(href="popover.html") Popover
          li
            a(href="action-sheet.html") Action Sheet
          li
            a(href="login-screen.html") Login Screen
          li
            a(href="picker-modal.html") Picker Modal
      li
        a(href="preloader.html") Preloader Indicator
      li
        a(href="progressbar.html") Progress Bar
      li
        .subtitle List View (Table View)
        ul
          li
            a(href="list-view.html") List View
          li
            a(href="contacts-list.html") Contacts List
          li
            a(href="media-list-view.html") Media List View
          li
            a(href="swipeout.html") Swipeout
          li
            a(href="sortable-list.html") Sortable List
          li
            a(href="virtual-list.html") Virtual List
      li
        a(href="accordion.html") Accordion / Collapsible
      li
        a(href="cards.html") Cards
      li
        a(href="chips.html") Chips
      li
        a(href="buttons.html") Buttons
      li
        a(href="floating-action-button.html") Floating Action Button
      li
        .subtitle Forms
        ul
          li
            a(href="form-elements.html") Form Elements
          li
            a(href="checkboxes-radios.html") Checkboxes and Radios
          li
            a(href="smart-select.html") Smart Select
          li
            a(href="disabled-elements.html") Disabled Elements
          li
            a(href="form-data.html") Form Data
          li
            a(href="form-storage.html") Form Storage
          li
            a(href="form-ajax-submit.html") Ajax Form Submit
      li
        a(href="tabs.html") Tabs
      li
        a(href="swiper.html") Swiper Slider
      li
        a(href="photo-browser.html") Photo Browser
      li
        a(href="autocomplete.html") Autocomplete
      li
        a(href="picker.html") Picker
      li
        a(href="calendar.html") Calendar / Datepicker
      li
        a(href="pull-to-refresh.html") Pull to Refresh
      li
        a(href="infinite-scroll.html") Infinite Scroll
      li
        a(href="messages.html") Messages
      li
        a(href="messagebar.html") Message Bar
      li
        a(href="notifications.html") Notifications
      li
        a(href="lazy-load.html") Lazy Load
  li
    .title Styling
    ul
      li
        a(href="color-themes.html") Color Themes
      li
        a(href="hairlines.html") Hairlines
  li
    .title Template7
    ul
      li
        a(href="template7.html") Getting Started
      li
        a(href="template7-auto-compilation.html") Templates Auto Compilation
      li
        a(href="template7-pages.html") Template7 Pages
  li
    .title Fast Clicks
    ul
      li
        a(href="active-state.html") Active State
      li
        a(href="tap-hold.html") Tap Hold Event (Long Tap)
      li
        a(href="touch-ripple.html") Touch Ripple (Material)
  li
    .title Utilities
    ul
      li
        a(href="device-api.html") Device API
      li
        a(href="support-api.html") Support API
  li
    .title Plugins API
    ul
      li
        a(href="plugins-api.html") Plugins API
  li
    .title Custom Build
    ul
      li
        a(href="custom-build.html") Custom Build
.toggle-docs-nav
  span