ul
  li
    .title Vue Components
    ul
      li Accordion
      li
        a(href="badge.html") Badge
      li
        a(href="content-block-title.html") Block Title
      li
        a(href="content-block.html") Block / Content Block
      li Button
      li Card
      li
        a(href="chips.html") Chips / Tags
      li Floating Action Button
      li Form Elements
      li
        a(href="icon.html") Icon
      li Grid / Layout
      li
        .subtitle Lists
        ul
          li List
          li List Item
      li Link
      li Messages
      li Message Bar
      li
        .subtitle Modals
        ul
          li
            a(href="action-sheet.html") Action Sheet
          li
            a(href="login-screen.html") Login Screen
          li
            a(href="picker-modal.html") Picker Modal
          li
            a(href="popover.html") Popover
          li
            a(href="popup.html") Popup
      li
        .subtitle Navigation Bars
        ul
          li
            a(href="navbar.html") Navbar
          li
            a(href="toolbar.html") Toolbar/Tabbar
          li
            a(href="subnavbar.html") Sub Navbar
      li Pages
      li Page
      li
        a(href="panel.html") Panel
      li Photo Browser
      li
        a(href="preloader.html") Preloader / Spinner
      li
        a(href="progressbar.html") Progress Bar
      li Search Bar
      li
        a(href="statusbar.html") Status Bar
      li Swiper
      li Tabs
      li Template7 Template
      li Timeline
      li Views
      li View
.toggle-docs-nav
  span