ul
  li
    .title Vue Components
    ul
      li Accordion
      li
        a(href="badge.html") Badge
      li
        a(href="content-block-title.html") Block Title
      li
        a(href="content-block.html") Block / Content Block
      li Buttons
      li Card
      li
        a(href="chips.html") Chips
      li Floating Action Button
      li Form Elements
      li
        a(href="icon.html") Icon
      li Grid / Layout
      li
        .subtitle Lists
        ul
          li List
          li List Item
      li Link
      li Messages
      li Message Bar
      li
        .subtitle Modals
        ul
          li Action Sheet
          li Login Screen
          li Picker Modal
          li Popover
          li Popup
      li
        .subtitle Navigation Bars
        ul
          li Navbar
          li Toolbar/Tabbar
          li Subnavbar
      li Pages
      li Page
      li
        a(href="panel.html") Panel
      li Photo Browser
      li
        a(href="preloader.html") Preloader / Spinner
      li
        a(href="progressbar.html") Progress Bar
      li Search Bar
      li
        a(href="statusbar.html") Status Bar
      li Swiper
      li Tabs
      li Template7 Template
      li Timeline
      li Views
      li View
.toggle-docs-nav
  span