ul
  li
    .title Vue Components
    ul
      li
        a(href="accordion.html") Accordion
      li
        a(href="badge.html") Badge
      li
        a(href="content-block-title.html") Block Title
      li
        a(href="content-block.html") Block / Content Block
      li
        a(href="button.html") Button
      li
        a(href="card.html") Card
      li
        a(href="chips.html") Chips / Tags
      li
        a(href="fab.html") Floating Action Button
      li
        a(href="form-elements.html") Form Elements
      li
        a(href="icon.html") Icon
      li
        a(href="grid.html") Layout Grid
      li
        .subtitle Lists
        ul
          li
            a(href="list.html") List
          li
            a(href="list-item.html") List Item
          li
            a(href="sortable-list.html") Sortable List
          li
            a(href="accordion-list.html") Accordion List
          li
            a(href="swipeout-list.html") Swipeout List
          li
            a(href="virtual-list.html") Virtual List
      li
        a(href="link.html") Link
      li
        a(href="messages.html") Messages
      li
        a(href="messagebar.html") Message Bar
      li
        .subtitle Modals
        ul
          li
            a(href="action-sheet.html") Action Sheet
          li
            a(href="login-screen.html") Login Screen
          li
            a(href="picker-modal.html") Picker Modal
          li
            a(href="popover.html") Popover
          li
            a(href="popup.html") Popup
      li
        .subtitle Navigation Bars
        ul
          li
            a(href="navbar.html") Navbar
          li
            a(href="toolbar.html") Toolbar/Tabbar
          li
            a(href="subnavbar.html") Sub Navbar
      li
        a(href="pages.html") Pages
      li
        a(href="page.html") Page
      li
        a(href="panel.html") Panel
      li
        a(href="photo-browser.html") Photo Browser
      li
        a(href="preloader.html") Preloader / Spinner
      li
        a(href="progressbar.html") Progress Bar
      li
        a(href="searchbar.html") Search Bar
      li
        a(href="statusbar.html") Status Bar
      li
        a(href="swiper.html") Swiper
      li
        a(href="tabs.html") Tabs
      li
        a(href="template7-template.html") Template7 Template
      li
        a(href="timeline.html") Timeline
      li
        a(href="views.html") Views
      li
        a(href="view.html") View
.toggle-docs-nav
  span