.links
  .links-block
    .links-block-title Project
    ul
      li
        a(href="https://github.com/nolimits4web/Framework7/releases" target="_blank") Download
      li
        a(href="/contribute/") Contribute
      li
        a(href="/donate/") Donate
      li
        a(href="https://github.com/nolimits4web/Framework7/blob/master/CHANGELOG.md" target="_blank") Changelog
  .links-block
    .links-block-title Learn
    ul
      li
        a(href="/get-started/") Get Started
      li
        a(href="/docs/") Docs
      li
        a(href="/tutorials/") Tutorials
      li
        a(href="http://forum.framework7.io" target="_blank") Forum
  .links-block
    .links-block-title Apps
    ul
      li
        a(href="/examples/") Layouts
      li
        a(href="/plugins/") Plugins
      li
        a(href="/apps/") Demo Apps
      li
        a(href="/showcase/") Showcase
  .clearfix
.copy
  .copy-left
    p Code licensed under <a href="https://github.com/nolimits4web/Framework7/blob/master/LICENSE" target="_blank">MIT</a>
    p 2016 © Framework7 is brought to you by <a href="https://twitter.com/nolimits4web" target="_blank">Vladimir Kharlampidi</a> from <a href="http://idangero.us">iDangero.us</a>. 
  .copy-right
    p Proudly supported by <a href="https://www.keycdn.com/" class="keycdn-link" target="_blank"><img src="#{cdn}/i/keycdn-logo.svg" alt="KeyCDN" title="KeyCDN" class="keycdn-logo"></a>
  .clearfix
