.share-buttons
  .share-button
    a(href="https://www.patreon.com/vladimirkharlampidi", target="_blank")
      img(src="#{cdn}/i/support-badge.png", style="height:20px")
  .share-button
    .fb-like(data-href="http://framework7.io" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")
  .share-button
    a.twitter-share-button(href="https://twitter.com/share")
  .share-button
    a.twitter-follow-button(href="https://twitter.com/idangerous", data-show-count="true")
  .clearfix