extends ../_internal-template

block vars
  - var activeLink = 'tutorials';
  - var title = 'Framework7 Tutorials';

block content
  h1.text-align-center Framework7 Tutorials
  p.text-align-center.large-text If you wrote any tutorial or video about Framework7, don't hesitate to <a href="https://github.com/nolimits4web/Framework7-Website" target="_blank">send PR</a> to this website section with information about your tutorial.
  .tutorials
    .tutorial
      .tutorial-date July 24, 2017
      .tutorial-title
        a(href="https://www.timo-ernst.net/blog/2017/07/24/use-vuex-framework7/", target="_blank") Video Tutorial: How to use Vuex with Framework7
      .tutorial-author
        a(href="https://www.timo-ernst.net", target="_blank") Timo Ernst
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date June 6, 2017,
      .tutorial-title
        a(href="https://github.com/daniegarcia254/Framework7-Vue-Webpack-Cordova", target="_blank") Login app template with Framework7-Vue  Webpack hot reload + Cordova + Icon/Splash screen generation
      .tutorial-author
        a(href="https://github.com/daniegarcia254/", target="_blank") Daniel García
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date March 20, 2017
      .tutorial-title
        a(href="https://www.timo-ernst.net/blog/2017/03/20/build-chat-app-20-minutes/", target="_blank") Video Tutorial: Build a chat app in 20 minutes with Vue.js and Framework7
      .tutorial-author
        a(href="https://www.timo-ernst.net", target="_blank") Timo Ernst
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date January 9, 2017
      .tutorial-title
        a(href="https://www.timo-ernst.net/blog/2017/01/09/tutorial-create-a-twitter-app-with-vuejs-framework7-phonegap-and-webpack-episode-01/", target="_blank") Video Tutorial: Create a Twitter app with Vue.js, Framework7 and PhoneGap
      .tutorial-author
        a(href="https://www.timo-ernst.net", target="_blank") Timo Ernst
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date December 4, 2016
      .tutorial-title
        a(href="http://phonegap.com/blog/2016/04/21/introducing-star-track-by-phonegap/", target="_blank") Introducing: Star Track by PhoneGap
      .tutorial-author
        a(href="https://github.com/devgeeks", target="_blank") Tommy-Carlos Williams / PhoneGap
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date December 4, 2016
      .tutorial-title
        a(href="http://hollyschinsky.github.io/pgday-eu-star-track/index.html", target="_blank") PhoneGap Day EU Essentials Workshop 2016
      .tutorial-author
        a(href="http://devgirl.org/", target="_blank") Holly Schinsky / PhoneGap
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date December 4, 2016
      .tutorial-title
        a(href="https://www.tutorialspoint.com/framework7/index.htm", target="_blank") Framework7 Tutorials
      .tutorial-author
        a(href="https://www.tutorialspoint.com/index.htm", target="_blank") tutorialspoint
      .tutorial-badges
        span v1
    .tutorial.video
      .tutorial-date December 4, 2016
      .tutorial-title
        a(href="https://www.youtube.com/playlist?list=PLnBvgoOXZNCM2C5hoDiLuRC2ufb-2LG9j", target="_blank") Framework7 Video Tutorials
      .tutorial-author
        a(href="https://www.youtube.com/channel/UCfjlsXMcayeWoqQzE_8ALaQ", target="_blank") Braintem
      .tutorial-badges
        span v1
    .tutorial.video
      .tutorial-date December 4, 2016
      .tutorial-title
        a(href="https://www.timo-ernst.net/blog/2016/11/13/how-to-get-started-with-framework7-vuejs-and-webpack/", target="_blank") Video Screencast: How to get started with Framework7, VueJS and Webpack
      .tutorial-author
        a(href="http://www.timo-ernst.net", target="_blank") Timo Ernst
      .tutorial-badges
        span v1
    .tutorial.video
      .tutorial-date November 5, 2015
      .tutorial-title
        a(href="http://www.timo-ernst.net/blog/2015/11/05/video-screencast-how-to-use-framework7-with-angularjs/", target="_blank") Video Screencast: How to use Framework7 with Angular 1.x
      .tutorial-author
        a(href="http://www.timo-ernst.net", target="_blank") Timo Ernst
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date May 31, 2015,
      .tutorial-title
        a(href="http://ekhlakov.blogspot.ru/2015/05/phonegap.html", target="_blank") Multilanguage application for Phonegap with Gettext, Jad and po2json (on Russian)
      .tutorial-author
        a(href="http://ekhlakov.blogspot.com/", target="_blank") Oleg Ekhlakov
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date April 11, 2015,
      .tutorial-title
        a(href="http://www.htmlcenter.com/blog/framework7-and-parse-for-user-login/", target="_blank") Framework7 and Parse for User login
      .tutorial-author
        a(href="http://www.htmlcenter.com/", target="_blank") Saul Zukauskas (HTML Center)
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-date April 5, 2015,
      .tutorial-title
        a(href="http://www.timo-ernst.net/2015/04/a-movie-list-demo-app-built-with-framework7-and-angular/", target="_blank") A movie-list demo app built with Framework7 and Angular 1.x
      .tutorial-author
        a(href="http://www.timo-ernst.net/", target="_blank") Timo Ernst
      .tutorial-badges
        span v1
    .tutorial
      .tutorial-title
        a(href="http://thejackalofjavascript.com/framework7-phonegap-getting-started/", target="_blank") Framework7 & PhoneGap – Getting Started
      .tutorial-author
        a(href="http://thejackalofjavascript.com/", target="_blank") The Jackal of Javascript
      .tutorial-badges
        span v1
    .tutorial.video
      .tutorial-title
        a(href="http://codemy.net/posts/integrating-framework7-into-rails", target="_blank") Integrating Framework7 into Rails
      .tutorial-author
        a(href="http://codemy.net/", target="_blank") Codemy.net
      .tutorial-badges
        span v1
    .tutorial.video
      .tutorial-title
        a(href="http://codemy.net/posts/filling-out-mobile-site-ui", target="_blank") Filling out Mobile Site UI (Variants + Framework7)
      .tutorial-author
        a(href="http://codemy.net/", target="_blank") Codemy.net
      .tutorial-badges
        span v1
    .tutorial.video
      .tutorial-title
        a(href="http://codemy.net/posts/optimizing-mobile-site", target="_blank") Optimizing Rails App for Framework7
      .tutorial-author
        a(href="http://codemy.net/", target="_blank") Codemy.net


