.navbar {
  border-bottom: none;
  background: #74baee;
  color: #ffffff;
}
.navbar .navbar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.navbar a.link {
  color: #ffffff;
}
.contacts-list {
  margin: 0px;
}
i.icon-plus {
  height: 25px;
  font-size: 31px;
  line-height: 20px;
  font-weight: 100;
}
i.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='%23ffffff'/></svg>") !important;
}
.ion-ios7-person {
  color: #74baee;
  font-size: 25px;
  line-height: 20px;
}
.ion-ios7-football-outline {
  color: #74baee;
  font-size: 22px;
  line-height: 20px;
}
.ion-ios7-telephone-outline {
  color: #74baee;
  font-size: 24px;
  line-height: 20px;
  padding-left: 2px;
}
/*
	Android optimization hacks
*/
html.android .navbar-from-right-to-center .left.sliding .back.link .icon,
html.android .navbar-from-center-to-right .left.sliding .back.link .icon,
html.android .navbar-from-center-to-left .left.sliding .back.link .icon,
html.android .navbar-from-left-to-center .left.sliding .back.link .icon {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
html.android .navbar-from-right-to-center .sliding,
html.android .navbar-from-center-to-right .sliding,
html.android .navbar-from-center-to-left .sliding,
html.android .navbar-from-left-to-center .sliding {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
html.android .page-from-right-to-center {
  -webkit-animation: pageFromRightToCenterDegrade 200ms forwards;
  animation: pageFromRightToCenterDegrade 200ms forwards;
}
html.android .page-from-center-to-right {
  -webkit-animation: pageFromCenterToRightDegrade 200ms forwards;
  animation: pageFromCenterToRightDegrade 200ms forwards;
}
html.android .page-on-left {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html.android .page-from-center-to-left {
  -webkit-animation: emptyAnimation 50ms forwards;
  animation: emptyAnimation 50ms forwards;
}
html.android .page-from-left-to-center {
  -webkit-animation: emptyAnimation 50ms forwards;
  animation: emptyAnimation 50ms forwards;
}
@-webkit-keyframes emptyAnimation {
  to {
    opacity: 1;
  }
}
@keyframes emptyAnimation {
  to {
    opacity: 1;
  }
}
html.android .list-block .list-group-title {
  display: none;
}
html.android .label-switch input[type="checkbox"] + .checkbox {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
html.android .label-switch input[type="checkbox"] + .checkbox:before {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
html.android .label-switch input[type="checkbox"] + .checkbox:after {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
