extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Checkboxes and radios | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      div.full-width
        h1 单选和复选按钮
        p 这是一个 <a href="list-view.html">列表</a> 拓展，可以用来创建单选和复选按钮组。
      h2(data-device-preview="../docs-demos/checkboxes-radios-checkboxes.html") 复选按钮组
      pre
        code.
          &lt;div class="list-block"&gt;
            &lt;ul&gt;
              &lt;!-- Single chekbox item --&gt;
              &lt;li&gt;
                &lt;label class="label-checkbox item-content"&gt;
                  &lt;!-- Checked by default --&gt;
                  &lt;input type="checkbox" name="my-checkbox" value="Books" checked="checked"&gt;
                  &lt;div class="item-media"&gt;
                    &lt;i class="icon icon-form-checkbox"&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title"&gt;Books&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/label&gt;
              &lt;/li&gt;
              &lt;!-- Another chekbox item --&gt;
              &lt;li&gt;
                &lt;label class="label-checkbox item-content"&gt;
                  &lt;input type="checkbox" name="my-checkbox" value="Movies"&gt;
                  &lt;div class="item-media"&gt;
                    &lt;i class="icon icon-form-checkbox"&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title"&gt;Movies&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/label&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/div&gt;
      div.important-note
        ul
          li
            p "item-content" 应该是一个label，并且有一个 "label-checkbox" class.
          li
            p Checkbox (&lt;input type="checkbox"&gt;) 必须是 "item-content" 的第一个子元素
          li
            p Checkbox 图标必须在 "item-media" 里
      h2(data-device-preview="../docs-demos/checkboxes-radios-radios.html") 单选按钮组
      pre
        code.
          &lt;div class="list-block"&gt;
            &lt;ul&gt;
              &lt;!-- Single radio input --&gt;
              &lt;li&gt;
                &lt;label class="label-radio item-content"&gt;
                  &lt;!-- Checked by default --&gt;
                  &lt;input type="radio" name="my-radio" value="Books" checked="checked"&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title"&gt;Books&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/label&gt;
              &lt;/li&gt;
              &lt;!-- Another radio input --&gt;
              &lt;li&gt;
                &lt;label class="label-radio item-content"&gt;
                  &lt;!-- Checked by default --&gt;
                  &lt;input type="radio" name="my-radio" value="Movies"&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title"&gt;Movies&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/label&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/div&gt;
      div.important-note
        ul
          li
            p "item-content" 应该是一个Label元素，并且需要有一个 "label-radio" class
          li
            p 单选按钮 (&lt;input type="radio"&gt;) 必须是 item-content 的第一个子元素
      h2(data-device-preview="../docs-demos/checkboxes-radios-media.html") 在 media list 中使用
      p 你可以在 media list 中使用单选/复选按钮:
      pre
        code.
          &lt;div class="content-block-title"&gt;Select Message&lt;/div&gt;
          &lt;div class="list-block media-list"&gt;
            &lt;ul&gt;
              &lt;li&gt;
                &lt;label class="label-checkbox item-content"&gt;
                  &lt;input type="checkbox" name="my-checkbox"&gt;
                  &lt;div class="item-media"&gt;&lt;i class="icon icon-form-checkbox"&gt;&lt;/i&gt;&lt;/div&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title-row"&gt;
                      &lt;div class="item-title"&gt;Facebook&lt;/div&gt;
                      &lt;div class="item-after"&gt;17:14&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="item-subtitle"&gt;New messages from John Doe&lt;/div&gt;
                    &lt;div class="item-text"&gt;Lorem ipsum dolor sit amet...&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/label&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/div&gt;

          &lt;div class="content-block-title"&gt;What is your favourite song?&lt;/div&gt;
          &lt;div class="list-block media-list"&gt;
            &lt;ul&gt;
              &lt;li&gt;
                &lt;label class="label-radio item-content"&gt;
                  &lt;input type="radio" name="my-radio" checked&gt;
                  &lt;div class="item-media"&gt;&lt;img src="..." width="80"&gt;&lt;/div&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title-row"&gt;
                      &lt;div class="item-title"&gt;Yellow Submarine&lt;/div&gt;
                      &lt;div class="item-after"&gt;$15&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="item-subtitle"&gt;Beatles&lt;/div&gt;
                    &lt;div class="item-text"&gt;Lorem ipsum dolor ...&lt;/div&gt;
                  &lt;/div&gt;
                &lt;/label&gt;
              &lt;/li&gt;
              ...
            &lt;/ul&gt;
          &lt;/div&gt;
