extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Color Themes | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 颜色主题(Color Themes)
        p Framework7 默认有十种颜色的主题：
        table
          tr
            td
              b gray
            td
              span(style="background-color:#8e8e93").color-example
            td 
              em #8e8e93
          tr
            td
              b white
            td
              span(style="background-color:#ffffff").color-example
            td 
              em #ffffff
          tr
            td
              b black
            td
              span(style="background-color:#000000").color-example
            td 
              em #000000
          tr
            td
              b lightblue
            td
              span(style="background-color:#5ac8fa").color-example
            td 
              em #5ac8fa
          tr
            td
              b yellow
            td
              span(style="background-color:#ffcc00").color-example
            td 
              em #ffcc00
          tr
            td
              b orange
            td
              span(style="background-color:#ff9500").color-example
            td 
              em #ff9500
          tr
            td
              b pink
            td
              span(style="background-color:#ff2d55").color-example
            td 
              em #ff2d55
          tr
            td
              b blue
              |  (default)
            td
              span(style="background-color:#007aff").color-example
            td 
              em #007aff
          tr
            td
              b green
            td
              span(style="background-color:#4cd964").color-example
            td 
              em #4cd964
          tr
            td
              b red
            td
              span(style="background-color:#ff3b30").color-example
            td 
              em #ff3b30
      h2(data-device-preview="../docs-demos/color-themes.html") 如何使用不同颜色的主题
      p 你只需要在需要使用的组件的父容器上加上 <code>theme-[color]</code> class即可。可以加在 body, view, page, navbar, toolbar 等上面，比如：
      pre
        code
          | &lt;body class="theme-red"&gt;
          |     ...
          | &lt;/body&gt;
          | 
          | &lt;div class="page theme-green"&gt;
          |     ...
          | &lt;/div&gt;
          | 
          | &lt;div class="list-block theme-pink"&gt;
          |     ...
          | &lt;/div&gt;
          | 
          | &lt;div class="navbar theme-orange"&gt;
          |     ...
          | &lt;/div&gt;
          | 
          | &lt;div class="buttons-row theme-yellow"&gt;
          |     ...
          | &lt;/div&gt;          
      .important-note
        p 注意，颜色主题只会影响交互组件，比如链接、按钮、表单、图表等，并不会改变其他组件的文本颜色或者背景色。
      h3 工具类(Helper Classes)
      p 每个颜色主题都有一个对应的工具类可以在主题之外使用：
      ul
        li 
          p <b>color-[color]</b> - 可以直接改变一个组件的颜色，比如:
          pre
            code
              | &lt;a class="button color-red"&gt;Red button&lt;/a&gt;
              | &lt;i class="icon icon-back color-red"&gt; 
        li 
          p <b>bg-[color]</b> - 可以直接改变一些组件的背景颜色（并不是所有组件的背景色都可以改）:
          pre
            code
              | &lt;span class="badge bg-pink"&gt;14&lt;/span&gt; - pink badge
        li 
          p <b>border-[color]</b> - 直接改变border的颜色:
          pre
            code
              | &lt;div class="navbar border-white"&gt;...&lt;/div&gt;
      p 当然，你也可以混合着用:
      pre
        code
          | &lt;div class="navbar bg-lightblue color-white border-gray"&gt;...&lt;/div&gt;
      .important-note
        p 不过，在容器已经指定了颜色主题的情况下，你不能在里面再使用 helper class，比如这样就无效：
        pre
          code
            | &lt;div class="theme-red"&gt;
            |     &lt;a href="#" class="color-blue"&gt;Link will be red, not blue&lt;/a&gt;
            | &lt;/div&gt;        
      h2(data-device-preview="../docs-demos/layout-themes.html") 布局主题(Layout Themes)
      p Framework7 现在多了两个新的 layout themes。在使用layout-themes之前我们需要先引入css文件:
      p Framework7 also has 2 new whole layout color themes. We need to include additional CSS files with these themes to use them:
      pre
        code
          | &lt;head&gt;
          |     ...
          |     &lt;link rel="stylesheet" href="path/to/framework7.min.css"&gt;
          |     &lt;!-- It should be included After main Framework7 styles --&gt;
          |     &lt;link rel="stylesheet" href="path/to/framework7.themes.css"&gt;
          | &lt;/head&gt;
      p 有两个可选的 layout themes: "white" 和 "dark"。和使用color themes 一样，我们只需要在对应组件的容器上加上 <code>layout-[theme]</code> class即可。这个容器可以是 body, view,page, navbar, toolbar, list-block 等，比如：
      pre
        code
          | &lt;body class="layout-dark"&gt;
          |     ...
          | &lt;/body&gt;
          | 
          | &lt;div class="page layout-white"&gt;
          |     ...
          | &lt;/div&gt;
          | 
          | &lt;div class="list-block layout-dark"&gt;
          |     ...
          | &lt;/div&gt;
          | 
      .device-spacer(style="height:400px")
