extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Form Elements | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      div.full-width
        h1 表单布局
        p 使用表单布局创建响应式的精美的表单布局。表单布局就是 <a href="list-view.html">列表</a>，但是会有一些拓展。
        h2 简单的表单布局
        p 让我们看一种最简单的表单布局：
        pre
          code.
            &lt;div class="list-block"&gt;
              &lt;ul&gt;
                ...
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;... icon here ...&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Name&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                          &lt;input type="text" name="name"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                ...
              &lt;/ul&gt;
            &lt;/div&gt;
        p 从上面的例子可以看出，表单布局几乎和 <a href="list-view.html">列表</a> 一样，但是有如下一些不同：
        ul
          li
            p <code>item-title</code> - 单行的label，应该有一个额外的 <strong>label</strong> class。可选的。
          li
            p <code>item-input</code> - 包含了你的表单输入框等。 <strong>必选</strong>
        h2 对表单元素的支持
        p 下面是所有你可以放进 <code>item-input</code> 中的表单元素：
        table
          tbody
            tr
              td 
                p All text inputs 
              td
                p Supported types: <b>text</b>, <b>password</b>, <b>email</b>, <b>tel</b>, <b>url</b>, <b>date</b>, <b>number</b>, <b>datetime-local</b>
                pre 
                  code
                    | ...
                    |   &lt;div class="item-input"&gt;
                    |     &lt;input type="text"&gt;
                    |   &lt;/div&gt;                    
                    | ...
                pre 
                  code
                    | ...
                    |   &lt;div class="item-input"&gt;
                    |     &lt;input type="email"&gt;
                    |   &lt;/div&gt;                    
                    | ...
            tr
              td 
                p Select
              td
                pre 
                  code
                    | ...
                    |   &lt;div class="item-input"&gt;
                    |     &lt;select&gt;...&lt;/select"&gt;
                    |   &lt;/div&gt;                    
                    | ...
            tr
              td 
                p Textarea
              td
                pre 
                  code
                    | ...
                    |   &lt;div class="item-input"&gt;
                    |     &lt;textarea&gt;&lt;/textarea&gt;
                    |   &lt;/div&gt;                    
                    | ...
                p Note that List View element with textarea should have additional "align-top" class on &lt;li&gt;:
                pre
                  code
                    | &lt;div class="list-block"&gt;
                    |   &lt;ul&gt;
                    |     ...
                    |     &lt;!-- Additional "align-top" class for correct textarea alignment --&gt;
                    |     &lt;li class="align-top"&gt;
                    |       &lt;div class="item-content"&gt;
                    |         &lt;div class="item-inner"&gt;
                    |           &lt;div class="item-title label"&gt;Textarea&lt;/div&gt;
                    |           &lt;div class="item-input"&gt;
                    |               &lt;textarea&gt;&lt;/textarea&gt;
                    |           &lt;/div&gt;
                    |         &lt;/div&gt;
                    |       &lt;/div&gt;
                    |     &lt;/li&gt;
                    |     ...
                    |   &lt;/ul&gt;
                    | &lt;/div&gt;
            tr
              td 
                p Switch (Checkbox)
              td
                p Switch (Checkbox) requires additional wrapper:
                pre 
                  code
                    | ...
                    |   &lt;label class="label-switch"&gt;
                    |     &lt;input type="checkbox"&gt;
                    |     &lt;div class="checkbox"&gt;&lt;/div&gt;
                    |   &lt;/label&gt;
                    | ...
            tr
              td 
                p Slider (Range input)
              td
                p Slider (Range input) requires additional wrapper:
                pre 
                  code
                    | ...
                    |   &lt;div class="item-input"&gt;
                    |     &lt;div class="range-slider"&gt;
                    |       &lt;input type="range" min="0" max="100" step="0.1"&gt;
                    |     &lt;/div&gt;
                    |   &lt;/div&gt;                    
                    | ...
        h2 示例
        h3(data-device-preview="../docs-demos/form-elements-full.html") 完整的布局
        pre
          code.
            &lt;div class="content-block-title"&gt;Full Layout&lt;/div&gt;
            &lt;div class="list-block"&gt;
              &lt;ul&gt;
                &lt;!-- Text inputs --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-name"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Name&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="text" placeholder="Your name"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-email"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;E-mail&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="email" placeholder="E-mail"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                ...
                &lt;!-- Select --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-gender"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Gender&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;select&gt;
                          &lt;option&gt;Male&lt;/option&gt;
                          &lt;option&gt;Female&lt;/option&gt;
                        &lt;/select&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;!-- Date --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-calendar"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Birth date&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="date" placeholder="Birth day" value="2014-04-30"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;!-- Date time--&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-calendar"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Date time&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="datetime-local"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;!-- Switch (Checkbox) --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-toggle"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Switch&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;label class="label-switch"&gt;
                          &lt;input type="checkbox"&gt;
                          &lt;div class="checkbox"&gt;&lt;/div&gt;
                        &lt;/label&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;!-- Slider (Range input) --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-settings"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Slider&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;div class="range-slider"&gt;
                          &lt;input type="range" min="0" max="100" value="50" step="0.1"&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;!-- Textarea --&gt;
                &lt;li class="align-top"&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-comment"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Textarea&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;textarea&gt;&lt;/textarea&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
        h3(data-device-preview="../docs-demos/form-elements-icons-inputs.html") 图标和输入框
        p 因为 <code>item-title</code> 是可选元素，所以可以不写:
        pre
          code.
            &lt;div class="content-block-title"&gt;Icons and inputs&lt;/div&gt;
            &lt;div class="list-block"&gt;
              &lt;ul&gt;
                &lt;!-- Text inputs --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-name"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="text" placeholder="Your name"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-email"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="email" placeholder="E-mail"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Select --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-gender"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;select&gt;
                          &lt;option&gt;Male&lt;/option&gt;
                          &lt;option&gt;Female&lt;/option&gt;
                        &lt;/select&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Date --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-calendar"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="date" placeholder="Birth day" value="2014-04-30"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Switch (Checkbox) --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-toggle"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;label class="label-switch"&gt;
                          &lt;input type="checkbox"&gt;
                          &lt;div class="checkbox"&gt;&lt;/div&gt;
                        &lt;/label&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Slider (Range input) --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-media"&gt;&lt;i class="icon icon-form-settings"&gt;&lt;/i&gt;&lt;/div&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;div class="range-slider"&gt;
                          &lt;input type="range" min="0" max="100" value="50" step="0.1"&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
        h3(data-device-preview="../docs-demos/form-elements-labels-inputs.html") label和输入框
        p 因为 <code>item-media</code> 是可选元素，所以可以不写:
        pre
          code.
            &lt;div class="content-block-title"&gt;Labels and inputs&lt;/div&gt;
            &lt;div class="list-block"&gt;
              &lt;ul&gt;
                &lt;!-- Text inputs --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Name&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="text" placeholder="Your name"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;E-mail&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="email" placeholder="E-mail"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Select --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Gender&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;select&gt;
                          &lt;option&gt;Male&lt;/option&gt;
                          &lt;option&gt;Female&lt;/option&gt;
                        &lt;/select&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Date --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Birth date&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="date" placeholder="Birth day" value="2014-04-30"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Switch (Checkbox) --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Switch&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;label class="label-switch"&gt;
                          &lt;input type="checkbox"&gt;
                          &lt;div class="checkbox"&gt;&lt;/div&gt;
                        &lt;/label&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;

                &lt;!-- Slider (Range input) --&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-title label"&gt;Slider&lt;/div&gt;
                      &lt;div class="item-input"&gt;
                        &lt;div class="range-slider"&gt;
                          &lt;input type="range" min="0" max="100" value="50" step="0.1"&gt;
                        &lt;/div&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
        h3(data-device-preview="../docs-demos/form-elements-inputs.html") 只有输入框
        pre
          code.
            &lt;div class="content-block-title"&gt;Just inputs&lt;/div&gt;
            &lt;div class="list-block"&gt;
              &lt;ul&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="text" placeholder="Your name"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="email" placeholder="E-mail"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;select&gt;
                          &lt;option&gt;Male&lt;/option&gt;
                          &lt;option&gt;Female&lt;/option&gt;
                        &lt;/select&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li&gt;
                  &lt;div class="item-content"&gt;
                    &lt;div class="item-inner"&gt;
                      &lt;div class="item-input"&gt;
                        &lt;input type="date" placeholder="Birth day" value="2014-04-30"&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
        h3(data-device-preview="../docs-demos/form-elements-inset.html") Inset
        p 因为表单也是 <a href="list-view.html">列表布局</a> 的一种, 所以可以变成 inset:
        pre
          code.
            &lt;div class="content-block-title"&gt;Just inputs&lt;/div&gt;
            &lt;!-- "inset" class on list-block --&gt;
            &lt;div class="list-block inset"&gt;
              ...
            &lt;/div&gt;
        div.device-spacer
