extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Form Data | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device

      div.full-width
        h1 表单数据
        p Framework7 有一些方法可以让读取和填写表单数据变得非常方便：
      h2(data-device-preview="../docs-demos/form-data-formtojson.html") Form 转化成 JSON
      p 使用 app 对应的方法可以非常方便把所有的表单元素转化成一个 JSON 对象:
      p <span class="method">myApp.formToJSON(<span>form</span>) - 把表单转换成JSON对象</span>
      ul.method-parameters
        li <span class="parameter">form</span> - <span class="parameter-type">HTML元素</span> or <span class="parameter-type">字符串</span> (CSS选择器)
        li.method-returns 返回一个JSON对象
      pre
        code.
          &lt;form id="my-form" class="list-block"&gt;
            &lt;ul&gt;
              &lt;li&gt;
                &lt;div class="item-content"&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title label"&gt;Name&lt;/div&gt;
                    &lt;div class="item-input"&gt;
                      &lt;input type="text" name="name" placeholder="Your name"&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/li&gt;
              ... other form fields
            &lt;/ul&gt;
          &lt;/form&gt;

          &lt;div class="content-block"&gt;
            &lt;a href="#" class="button form-to-json"&gt;Get Form Data&lt;/a&gt;
          &lt;/div&gt;
      pre
        code.
          var myApp = new Framework7();  

          var $$ = Framework7.$;

          $$('.form-to-json').on('click', function(){
            var formData = myApp.formToJSON('#my-form');
            alert(JSON.stringify(formData));
          });
      div.important-note
        ul
          li
            p 每一个输入框都应该有 name 属性，否则不会被转换到JSON中去
          li
            p Checkbox 和 多选的 select 都会被转化成数组
      h2(data-device-preview="../docs-demos/form-data-formfromjson.html") JSON 填充到 Form
      p 使用 app 对应的方法我们很容易把一个JSON对象填充到 form 中去：
      p <span class="method">myApp.formFromJSON(<span>form</span>, <span>formData</span>) - 把一个JSON对象填充到Form中</span>
      ul.method-parameters
        li <span class="parameter">form</span> - <span class="parameter-type">HTML元素</span> 或者 <span class="parameter-type">字符串</span> (CSS选择器)
        li <span class="parameter">formData</span> - <span class="parameter-type">对象</span> 需要填充进表单的JSON对象
      pre
        code.
          &lt;form id="my-form" class="list-block"&gt;
            &lt;ul&gt;
              &lt;li&gt;
                &lt;div class="item-content"&gt;
                  &lt;div class="item-inner"&gt;
                    &lt;div class="item-title label"&gt;Name&lt;/div&gt;
                    &lt;div class="item-input"&gt;
                      &lt;input type="text" name="name" placeholder="Your name"&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/li&gt;
              ... other form fields
            &lt;/ul&gt;
          &lt;/form&gt;

          &lt;div class="content-block"&gt;
            &lt;a href="#" class="button form-from-json"&gt;Fill Up Form&lt;/a&gt;
          &lt;/div&gt;
      pre
        code.
          var myApp = new Framework7();  

          var $$ = Framework7.$;

          $$('.form-from-json').on('click', function(){

            var formData = {
              'name': 'John',
              'email': '<a class="__cf_email__" href="http://www.cloudflare.com/email-protection" data-cfemail="aec4c1c6c0eecac1cb80cdc1c3">[email&nbsp;protected]</a><script type="text/javascript">
          /* <![CDATA[ */
          (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
          /* ]]> */
          </script>',
              'gender': 'female',
              'switch': ['yes'],
              'slider': 10
            }
            myApp.formFromJSON('#my-form', formData);
          });
