extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Ajax Form Submit | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content

      h1 Ajax 表单提交
      p Framework7 可以通过ajax自动提交
      p 有两种自动提交方式:
      ul
        li 当用户提交了表单 (点击了提交按钮) 或者当通过代码触发了 "submit" 事件
        li 当用户更改了表单的内容，或者当通过代码触发了 "change" 事件
      h2 submit时提交表单数据
      p 只需要添加 "ajax-submit" class 在form上，当submit时就会自动通过ajax发送表单数据
      pre
        code.
          &lt;form action="send-here.html" method="GET" class="ajax-submit"&gt;
              ...
          &lt;/form&gt;
      p 当我们提交这个表单时，会自动使用Ajax发送表单的数据，这个过程有一下规则：
      div.important-note
        ul
          li
            p 表单的数据会发送到 <b>"action"</b> 属性 指定的url
          li
            p request method 通过表单的 <b>"method"</b> 属性来指定
          li
            p Content-Type 通过表单的 <b>enctype</b> 属性来指定，默认值是 <b>application/x-www-form-urlencoded</b>
      h2 当表单数据改变时提交数据
      p 很多时候我们在表单中没有使用 "submit" 按钮，这种情况下我们需要当表单有任何数据改变的时候就提交数据。这种情况我们需要使用 "ajax-submit-onchange" class:
      pre
        code.
          &lt;form action="send-here.html" method="GET" class="ajax-submit-onchange"&gt;
          ...
          &lt;/form&gt;
      p 当用户改变了任何表单输入数据时，表单的数据就会自动通过ajax发送。
      h2 Ajax 提交事件
      p 有时候我们需要用到Ajax的 XHR 对象，可以通过特定的事件来获取：
      table.events-table.
        <thead>
          <tr>
            <th>事件</th>
            <th>目标</th>
            <th>描述</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>submitted</td>
            <td>Form Element<span>&lt;form class="ajax-submit"&gt;</span></td>
            <td>Ajax 提交成功后会触发此事件</td>
          </tr>
        </tbody>
      pre
        code.
          var myApp = new Framework7();
          var $$ = Framework7.$;
          $$('form.ajax-submit').on('submitted', function (e) {
            var xhr = e.detail.xhr; // actual XHR object
            var data = e.detail.data; // Ajax repsonse from action file
            // do something with response data
          });
