extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Layout Grid | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 栅格
        p Framework7 有灵活的布局网格,允许你按需求放置内容：
        pre
          code
            | &lt;!-- Each "cells" row should be wrapped with div class="row" --&gt;
            | &lt;div class="row"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            | &lt;/div&gt;   
            | &lt;div class="row"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            | &lt;/div&gt;
        p 默认所有的“单元格”之间有15px的间距，如果你希望“单元格”之间没有间距，你应该在"row"后添加 "no-gutter" 类 :
        pre
          code
            | &lt;!-- Additional "no-gutter" class on row to remove space between cells --&gt;
            | &lt;div class="row no-gutter"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            | &lt;/div&gt;   
            | &lt;div class="row"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            | &lt;/div&gt;
        p 以下尺寸是可供选择的：
        //- 5, 10, 15, 20, 25, 100/3, 40, 50, 60, 100*(2/3), 75, 80, 85, 90, 95, 100;
        - var cols = [5, 10, 15, 20, 25, 100/3, 40, 50, 60, 100*(2/3), 75, 80, 85, 90, 95, 100];
        table
          thead
            tr
              th Class
              th Tablet Class <br> When window width >= 768px
              th Width
          tbody
            - for (var i = 0; i < cols.length; i++)
              - var className = Math.floor(cols[i]);
              tr
                td col-#{className}
                td tablet-#{className}
                td #{cols[i]}%
            
      h2(data-device-preview="../docs-demos/grid.html") 用法示例
      p 默认情况下表格列(单元)没有任何视觉样式,我们将他们添加到这个demo里：
      pre
        code
          | div[class*="col-"] {
          |   background: #fff;
          |   text-align: center;
          |   color: #000;
          |   border: 1px solid #ddd;
          |   padding: 5px;
          | }
          | .row {
          |   margin-bottom: 15px;
          | }          
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block-title"&gt;Columns with gutter&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-66"&gt;66%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-75"&gt;75%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-80"&gt;80%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="content-block-title"&gt;No gutter between columns&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-66"&gt;66%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-75"&gt;75%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-80"&gt;80%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;div class="content-block-title"&gt;Nested&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-50"&gt;50%
          |           &lt;div class="row"&gt;
          |             &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |             &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%
          |           &lt;div class="row"&gt;
          |             &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |             &lt;div class="col-66"&gt;66%&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | 
          |   &lt;div class="content-block-title"&gt;Responsive Grid&lt;/div&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;p&gt;Grid cells have different size on Phone/Tablet&lt;/p&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-100 tablet-50"&gt;.col-100.tablet-50&lt;/div&gt;
          |       &lt;div class="col-100 tablet-50"&gt;.col-100.tablet-50&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-100 tablet-40"&gt;.col-100.tablet-40&lt;/div&gt;
          |       &lt;div class="col-50 tablet-60"&gt;.col-50.tablet-60&lt;/div&gt;
          |       &lt;div class="col-50 tablet-66"&gt;.col-50.tablet-66&lt;/div&gt;
          |       &lt;div class="col-100 tablet-33"&gt;.col-100.tablet-33&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;          
          | 
          |   ...
          | &lt;/body&gt;          

        