extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content
      h1 Framework7 文档
      p
        | 使用 Framework7 构建精美的IOS 应用。
      p
        | 开始之前强烈推荐你们阅读 <a href="../get-started/">快速入门</a>，以便了解如何下载和安装 Framework7，以及她的基本布局
      p
        | 学习 Framework7 非常简单。只要你知道 HTML, CSS 和 一点点 Javascript，你就基本知道如何使用 Framework7 来创建一个 iOS 应用了。

      p 为了更好学习和理解，我们建议你按左侧导航栏的顺序来阅读这些文档。
