extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'List View (Table View) | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 列表视图（表格视图）List View (Table View)
        p 常在ios应用中看到的列表视图，是种多功能且强大的交互组件。列表视图将数据展现在一个可滚动的多行的列表中，可以将数据划分成不同的片段／组（sections/groups）.
        p 试图列表有以下用途:
        ul
          li 让用户可以分级浏览结构化的数据
          li 展现一个索引列表
          li 按视觉不同，来控制分组显示细节信息
          li 展现一个可以选择的列表
        h2 列表视图布局（List View Layout）
        p 现在让我们看看一些常见的列表视图布局
        h3 列表区域（List block）
        p 列表区域（List block）是你的列表视图元素的包裹元素，就类似内容去(Content Block)但是是list elements的内容区.
        p 首先, 所有的列表视图元素要被包裹在含有list-block样式类的元素中:
        pre
          code
            | &lt;div class="list-block"&gt;
            |     &lt;ul&gt;
            |         ... list elements here ...
            |     &lt;/ul&gt;
            | &lt;/div&gt;
        .important-note
          p 不要将带有list-block样式类的元素放置在<a href="content-block.html">"content-block"</a>中!
        h3 列表区域标签（List block label）
        p 你可以将列表区域标签（List block label）加在列表区域（List block）的结尾:
        pre
          code
            | &lt;div class="list-block"&gt;
            |     &lt;ul&gt;
            |         ... list elements here ...
            |     &lt;/ul&gt;
            |     &lt;div class="list-block-label"&gt;List block label text&lt;/div&gt;
            | &lt;/div&gt;
        h3 列表项目（List item/element）
        p 单个列表项目有复杂但是灵活的布局:
        pre
          code
            | &lt;li&gt;
            |     &lt;div class="item-content"&gt;
            |         &lt;div class="item-media"&gt;
            |             &lt;i class="icon my-icon"&gt;&lt;/i&gt;
            |         &lt;/div&gt;
            |         &lt;div class="item-inner"&gt;
            |             &lt;div class="item-title"&gt;
            |                 List element title
            |             &lt;/div&gt;
            |             &lt;div class="item-after"&gt;
            |                 List element label
            |             &lt;/div&gt;
            |         &lt;/div&gt;
            |     &lt;/div&gt;
            | &lt;/li&gt;
        p 上面的代码:
        ul
          li
            p <code>item-content</code> - <code>item-media</code> 和 <code>item-inner</code>的主要弹性包裹元素（flex wrapper）. <strong>必选</strong> 元素.
          ul
            li
              p <code>item-media</code> - 媒体元素（如图标，图片等）的容器. <strong>可选</strong> 元素.
            li
              p <code>item-inner</code> - <code>item-title</code> 和 <code>item-after</code>的主要弹性包裹元素（flex wrapper）. <strong>必选</strong> 元素.
            ul
              li
                p <code>item-title</code> - 单行列表项目标题. <strong>必选</strong> 元素.
              li
                p <code>item-after</code> - 列表项目标签. 可以包含任意额外的html元素。（例如label text, or badge, or switch/toggle or button, etc.）<strong>可选</strong> 元素.
        .important-note
          ul
            li
              p 因为<code>.item-content</code>元素的是display属性是<code>flex-box</code>, 需要注意<strong>"item-media" 和 "item-inner" 应该是"item-content"的直接子元素</strong>!
            li
              p 同样的， <strong>"item-title" 和 "item-after" 应该是 "item-inner" 的直接子元素</strong>!
        p 同时需要注意，如果你的列表项目没有额外的元素, 你可以使用 "item-content" 样式类在 <code>&lt;li&gt;</code> 元素中:
        pre
          code
            | &lt;li class="item-content"&gt;
            |     &lt;div class="item-media"&gt;
            |         &lt;i class="icon my-icon"&gt;&lt;/i&gt;
            |     &lt;/div&gt;
            |     &lt;div class="item-inner"&gt;
            |         &lt;div class="item-title"&gt;
            |             List element title
            |         &lt;/div&gt;
            |         &lt;div class="item-after"&gt;
            |             List element label
            |         &lt;/div&gt;
            |     &lt;/div&gt;
            | &lt;/li&gt;
      h4(data-device-preview="../docs-demos/list-view.html") 示例
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block-title"&gt;Full Layout&lt;/div&gt;
          |     &lt;div class="list-block"&gt;
          |       &lt;ul&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |             &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |             &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |             &lt;div class="item-after"&gt;Another label&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |       &lt;/ul&gt;
          |       &lt;div class="list-block-label"&gt;List block label text goes here&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="content-block-title"&gt;Only titles&lt;/div&gt;
          |     &lt;div class="list-block"&gt;
          |       &lt;ul&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |         &lt;li class="item-content"&gt;
          |           &lt;div class="item-inner"&gt;
          |             &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/li&gt;
          |       &lt;/ul&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;
      h3(data-device-preview="../docs-demos/list-view-links.html") 链接元素（ Link Elements）
      p 当然，多数情况下我们需要将列表视图中的元素当作链接使用(&lt;a&gt;)，来指向其他页面或者其他数据. 在这种情况下，我们需要将"item-content"包裹在&lt;a class="item-link"&gt;元素中:
      pre
        code
          | &lt;a href="#" class="item-link"&gt;
          |   &lt;div class="item-content"&gt;
          |     &lt;div class="item-media"&gt;...&lt;/div&gt;
          |     &lt;div class="item-inner"&gt;...&lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/a&gt;
      p 如果你的链接只包含"item-content"，那我们可以直接将链接作为"item-content":
      pre
        code
          | &lt;a href="#" class="item-link item-content"&gt;
          |   &lt;div class="item-media"&gt;...&lt;/div&gt;
          |   &lt;div class="item-inner"&gt;...&lt;/div&gt;
          | &lt;/a&gt;
      p
        <strong>注意当"item-inner"在"item-link"中时，会有额外的右内边距（right padding）和chevron icon</strong>
      h4 示例
      pre
        code
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Another label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;div class="list-block-label"&gt;List block label text goes here&lt;/div&gt;
          | &lt;/div&gt;


      h3(data-device-preview="../docs-demos/list-view-divider.html") 列表分割元素（List Divider）
      p 列表分隔元素是一个简单的列表元素并包含文字，它在视觉上分隔两个元素:
      pre
        code
          | &lt;li class="item-divider"&gt;Divider title here&lt;/li&gt;
      pre
        code
          | &lt;div class="list-block"&gt;
          |   &lt;ul&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |         &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Title&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;!-- Divider --&gt;
          |     &lt;li class="item-divider"&gt;Divider title here&lt;/li&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |         &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     &lt;li class="item-content"&gt;
          |       &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |       &lt;div class="item-inner"&gt;
          |         &lt;div class="item-title"&gt;Another item&lt;/div&gt;
          |         &lt;div class="item-after"&gt;Another label&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;div class="list-block-label"&gt;List block label text goes here&lt;/div&gt;
          | &lt;/div&gt;
      h3(data-device-preview="../docs-demos/list-view-grouped.html") 分组列表（Grouped Lists）
      p 有时我们需要将列表里的元素分组，在这种情况下，我们需要用额外的分组元素:
      pre
        code
          | &lt;div class="list-block"&gt;
          |   &lt;!-- First group--&gt;
          |   &lt;div class="list-group"&gt;
          |     &lt;ul&gt;
          |       &lt;li class="list-group-title"&gt;First group&lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       ...
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Second group--&gt;
          |   &lt;div class="list-group"&gt;
          |     &lt;ul&gt;
          |       &lt;li class="list-group-title"&gt;Second Group&lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item title&lt;/div&gt;
          |           &lt;div class="item-after"&gt;Label&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       &lt;li class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;i class="icon icon-f7"&gt;&lt;/i&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title"&gt;Item with badge&lt;/div&gt;
          |           &lt;div class="item-after"&gt;&lt;span class="badge"&gt;5&lt;/span&gt;&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/li&gt;
          |       ...
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      p 也许你会问分组元素和分隔元素有什么区别？当使用了分组元素，当滑轮滚动时，分组元素的标题会保持在这组元素的固定位置.
      h3(data-device-preview="../docs-demos/list-view-inset.html") 内嵌列表区域（Inset List Block）
      p  列表区域还有内嵌（非全屏）样式，只需要给列表区域元素加上"inset"样式类:
      pre
        code
          | &lt;div class="list-block inset"&gt;
          |   &lt;ul&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
      p 使用"tablet-inset"样式类可以使列表区域在iPad下以内嵌的方式显示，而在iPhone中以普通样式显示:
      pre
        code
          | &lt;div class="list-block tablet-inset"&gt;
          |   &lt;ul&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;

      .device-spacer






