extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Media List View | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 媒体列表视图（Media List View）
        p 媒体列表视图是<a href="list-view.html">列表视图（list view）</a>的拓展，它是为了展示更复杂的数据比如产品，服务，用户等等.
        p 当然，它的布局更为复杂:
        pre
          code
            | &lt;!-- Media list block has additional "media-list" class --&gt;
            | &lt;div class="list-block media-list"&gt;
            |     &lt;ul&gt;
            |         &lt;li&gt;
            |             &lt;div class="item-content"&gt;
            |                 &lt;div class="item-media"&gt;
            |                     &lt;img src="path/to/img.jpg"&gt;
            |                 &lt;/div&gt;
            |                 &lt;div class="item-inner"&gt;
            |                     &lt;div class="item-title-row"&gt;
            |                         &lt;div class="item-title"&gt;Element title&lt;/div&gt;
            |                         &lt;div class="item-after"&gt;Element label&lt;/div&gt;
            |                     &lt;/div&gt;
            |                     &lt;div class="item-subtitle"&gt;Subtitle&lt;/div&gt;
            |                     &lt;div class="item-text"&gt;Additional description text&lt;/div&gt;
            |                 &lt;/div&gt;
            |             &lt;/div&gt;
            |         &lt;/li&gt;
            |     &lt;/ul&gt;
            | &lt;/div&gt;
        p 上面的代码:
        ul
          li
            p <code>item-media</code> 和 <code>item-inner</code>的主要弹性包裹元素（flex wrapper）. <strong>必选</strong>元素.
          ul
            li
              p <code>item-media</code> - 媒体元素（如图标，图片等）的容器. <strong>可选</strong>元素.
            li
              p <code>item-inner</code> - <code>item-title</code> 和 <code>item-after</code>的主要弹性包裹元素（flex wrapper）. <strong>必选</strong>元素.
            ul
              li
                p <code>item-title-row</code> - <code>item-title</code> 和 <code>item-after</code>的主要弹性包裹元素（flex wrapper）. <strong>可选</strong>元素.
              ul
                li
                  p <code>item-title</code> - 单行列表项目标题. <strong>可选</strong>元素.
                li
                  p <code>item-after</code> - 列表项目标签. 可以包含其他额外的html标签（如label text, or badge, or switch/toggle or button等）. <strong>可选</strong>元素.
              li
                p <code>item-subtitle</code> - 额外的单行标题. <strong>可选</strong>元素.
              li
                p <code>item-text</code> - 额外的，两行布局的，细节描述区域的容器. <strong>可选</strong>元素.
      h4(data-device-preview="../docs-demos/media-list.html") 示例

      pre
        code
          | &lt;div class="content-block-title"&gt;Songs&lt;/div&gt;
          | &lt;div class="list-block media-list"&gt;
          |   &lt;ul&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;img src="..." width="80"&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title-row"&gt;
          |             &lt;div class="item-title"&gt;Yellow Submarine&lt;/div&gt;
          |             &lt;div class="item-after"&gt;$15&lt;/div&gt;
          |           &lt;/div&gt;
          |           &lt;div class="item-subtitle"&gt;Beatles&lt;/div&gt;
          |           &lt;div class="item-text"&gt;Lorem ipsum dolor sit amet...&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
          | &lt;div class="content-block-title"&gt;Mail App&lt;/div&gt;
          | &lt;div class="list-block media-list"&gt;
          |   &lt;ul&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title-row"&gt;
          |             &lt;div class="item-title"&gt;Facebook&lt;/div&gt;
          |             &lt;div class="item-after"&gt;17:14&lt;/div&gt;
          |           &lt;/div&gt;
          |           &lt;div class="item-subtitle"&gt;New messages from John Doe&lt;/div&gt;
          |           &lt;div class="item-text"&gt;Lorem ipsum dolor sit amet...&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
          | &lt;div class="content-block-title"&gt;Something more simple&lt;/div&gt;
          | &lt;div class="list-block media-list"&gt;
          |   &lt;ul&gt;
          |     &lt;li&gt;
          |       &lt;div class="item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;img src="..." width="44"&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title-row"&gt;
          |             &lt;div class="item-title"&gt;Yellow Submarine&lt;/div&gt;
          |           &lt;/div&gt;
          |           &lt;div class="item-subtitle"&gt;Beatles&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
          | &lt;div class="content-block-title"&gt;Inset&lt;/div&gt;
          | &lt;div class="list-block media-list inset"&gt;
          |   &lt;ul&gt;
          |     &lt;li&gt;
          |       &lt;a href="#" class="item-link item-content"&gt;
          |         &lt;div class="item-media"&gt;&lt;img src="..." width="44"&gt;&lt;/div&gt;
          |         &lt;div class="item-inner"&gt;
          |           &lt;div class="item-title-row"&gt;
          |             &lt;div class="item-title"&gt;Yellow Submarine&lt;/div&gt;
          |           &lt;/div&gt;
          |           &lt;div class="item-subtitle"&gt;Beatles&lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/a&gt;
          |     &lt;/li&gt;
          |     ...
          |   &lt;/ul&gt;
          | &lt;/div&gt;
