extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Popover | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 Popover
        p Popover 组件是用来管理popover里的内容展示。你可以用 popovers 去呈现临时的信息. popover 保持可见直到用户点击popover窗口外面或者你明确地移除它。
        .important-note
          p 注意，不推荐在小屏幕(iPhone)上使用 Popover 。 在小屏幕上你应该使用 <a href="action-sheet.html">Action Sheet</a> 来代替。
        h2 Popover 布局
        p 首先让我们来看看 Popover 布局, 它非常简单, 只需要添加在 <code>&lt;body&gt;</code>的结尾处:
        pre
          code
            | &lt;body&gt;
            |     ...
            |     &lt;div class="popover"&gt;
            |         &lt;!-- Popover's angle arrow --&gt;
            |         &lt;div class="popover-angle"&gt;&lt;/div&gt;
            | 
            |         &lt;!-- Popover content --&gt;
            |         &lt;div class="popover-inner"&gt;
            |             &lt;!-- Any HTML content here --&gt;
            |         &lt;/div&gt;
            |     &lt;/div&gt;
            | &lt;/body&gt;  
        p Popover 是高度可定制元素，你可以往里面放任何东西，是通知事件的另一种视图导航。
      h2(data-device-preview="../docs-demos/popover.html") 打开和关闭 Popover
      h3 From HTML
      p 可以通过在链接里使用特定的类名和data属性，打开和关闭所需的 Popover :
      .important-note
        ul
          li
            p 为了打开 popover ，我们需要添加 <strong>"open-popover"</strong> 类到任意 HTML 元素中 (最好是链接)
          li
            p 为了关闭 popover ，我们需要添加 <strong>"close-popover"</strong> 类到任意 HTML 元素中 (最好是链接)
          li
            p 如果你的App里有超过一个 popover, 你需要指定适当 popover，则需添加额外的属性<strong>data-popover=".my-popover"</strong> 到这个 HTML 元素上
      h4 Popover 定位
      .important-note
        p 当我们通过这样的方法（从HTML）打开 Popover , 它可能被这样自动定位：在我们点击调用这个Popover的元素附近。
      pre
        code
          | &lt;body&gt;
          |   ...  
          |   &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |       &lt;!-- In data-popover attribute we specify CSS selector of popover we need to open --&gt;
          |       &lt;div class="left"&gt;&lt;a href="#" data-popover=".popover-about" class="link open-popover"&gt;About&lt;/a&gt;&lt;/div&gt;
          |       &lt;div class="center"&gt;Popover&lt;/div&gt;
          |       &lt;div class="right"&gt;&lt;a href="#" data-popover=".popover-links" class="link open-popover"&gt;Links&lt;/a&gt;&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;!-- In data-popover attribute we specify CSS selector of popover we need to open --&gt;
          |       &lt;p&gt;&lt;a href="#" data-popover=".popover-about" class="open-popover"&gt;Open About Popover&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" data-popover=".popover-links" class="open-popover"&gt;Open Links Popover&lt;/a&gt;&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   ...
          | 
          |   &lt;!-- By default popover has 320px width, let's make it a bit narrow --&gt;
          |   &lt;style&gt;
          |     .popover {
          |       width: 200px;
          |     }
          |   &lt;/style&gt;
          | 
          |   &lt;!-- About popover --&gt;
          |   &lt;div class="popover popover-about"&gt;
          |     &lt;div class="popover-angle"&gt;&lt;/div&gt;
          |     &lt;div class="popover-inner"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;About&lt;/p&gt;
          |         &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | 
          |   &lt;!-- Links popover --&gt;
          |   &lt;div class="popover popover-links"&gt;
          |     &lt;div class="popover-angle"&gt;&lt;/div&gt;
          |     &lt;div class="popover-inner"&gt;
          |       &lt;div class="list-block"&gt;
          |         &lt;ul&gt;
          |           &lt;li&gt;&lt;a href="#" class="list-button item-link"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
          |           &lt;li&gt;&lt;a href="#" class="list-button item-link"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
          |           &lt;li&gt;&lt;a href="#" class="list-button item-link"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
          |           &lt;li&gt;&lt;a href="#" class="list-button item-link"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
          |         &lt;/ul&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/body&gt;

      h3(data-device-preview="../docs-demos/popover-js.html") 使用 JavaScript
      p 我们也可以用使用JavaScript来打开和关闭 Popover ，因此我们需要看一下相关的App方法：
      p
        span.method myApp.popover(<span>popover</span>, <span>target</span>)</span> -  在 <strong>目标</strong> 元素附近打开 Popover
      ul.method-parameters
        li
          span.parameter popover
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> ( CSS 选择器) 打开 Popover. 必需
        li
          span.parameter target
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> ( CSS 选择器) 设置 popover 围绕的目标元素. 必需
        li.method-returns 这个方法返回 Popover的 HTML元素
      p
        span.method myApp.closeModal(<span>popover</span>)</span> - 关闭 Popover
      ul.method-parameters
        li
          span.parameter popover
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). 可选. 如果你没有指定，则任意被打开的 都将被关闭
      h4 Popover 位置
      .important-note
        p 当我们使用 JavaScript 打开popover ，我们需要通过 <strong>target</strong> 元素去设定 popover 所围绕的目标元素.
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |       &lt;div class="left"&gt;&lt;a href="#" class="link open-about"&gt;About&lt;/a&gt;&lt;/div&gt;
          |       &lt;div class="center"&gt;Popover&lt;/div&gt;
          |       &lt;div class="right"&gt;&lt;a href="#" class="link open-about"&gt;Links&lt;/a&gt;&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;&lt;a href="#" class="open-about"&gt;Open About Popover&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="open-links"&gt;Open Links Popover&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Praesent urna mi, sodales ac dolor vitae, dictum mattis sem. Mauris a dui faucibus, condimentum arcu quis, porta felis. Sed at metus arcu. Maecenas sodales tellus risus, id &lt;a href="#" class="open-about"&gt;About&lt;/a&gt; nibh iaculis quis. Suspendisse dignissim ante lobortis, molestie nibh id, pharetra risus. Proin blandit neque nec nibh scelerisque, eu vulputate ipsum malesuada. Phasellus sapien diam, fermentum eget ornare in, &lt;a href="#" class="open-links"&gt;Links&lt;/a&gt; rutrum vel justo. Integer accumsan posuere quam.&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   ...
          |   &lt;div class="popover popover-about"&gt;
          |     ...
          |   &lt;/div&gt;
          |   &lt;div class="popover popover-links"&gt;
          |     ...
          |   &lt;/div&gt;
          | &lt;/body&gt;
      pre
        code 
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | // Open About popover
          | $$('.open-about').on('click', function () {
          |     var clickedLink = this;
          |     myApp.popover('.popover-about', clickedLink);
          | });
          | 
          | // Open Links popover
          | $$('.open-links').on('click', function () {
          |     var clickedLink = this;
          |     myApp.popover('.popover-links', clickedLink);
          | });          

      h2(data-device-preview="../docs-demos/popover-dynamic.html") 动态的 Popover
      p Framework7允许你通过HTML使用相关的App方法，动态地创建 Popover:
      p
        span.method myApp.popover(<span>popoverHTML</span>, <span>target</span>, <span>removeOnClose</span>)</span> - open Popover with <strong>popoverHTML</strong> content around <strong>target</strong> element
      ul.method-parameters
        li
          span.parameter popoverHTML
          |  - <span class="parameter-type">string</span>. popover 的HTML 字符串
        li
          span.parameter target
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> ( CSS 选择器) 设置 popover 位置所围绕的目标元素. 必需
        li
          span.parameter removeOnClose
          |  - <span class="parameter-type">boolean</span>. 可选, 默认值 - true. 如果是 true， 那么 Popover 在关闭时将从DOM中移除
        li.method-returns 该方法返回动态创建的 Popover的 HTML结构
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |       &lt;div class="left"&gt;&lt;a href="#" class="link create-about"&gt;About&lt;/a&gt;&lt;/div&gt;
          |       &lt;div class="center"&gt;Popover&lt;/div&gt;
          |       &lt;div class="right"&gt;&lt;a href="#" class="link create-links"&gt;Links&lt;/a&gt;&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;&lt;a href="#" class="create-about"&gt;Create About Popover&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;&lt;a href="#" class="create-links"&gt;Create Links Popover&lt;/a&gt;&lt;/p&gt;
          |       &lt;p&gt;Praesent urna mi, sodales ac dolor vitae, dictum mattis sem. Mauris a dui faucibus, condimentum arcu quis, porta felis. Sed at metus arcu. Maecenas sodales tellus risus, id &lt;a href="#" class="create-about"&gt;About&lt;/a&gt; nibh iaculis quis. Suspendisse dignissim ante lobortis, molestie nibh id, pharetra risus. Proin blandit neque nec nibh scelerisque, eu vulputate ipsum malesuada. Phasellus sapien diam, fermentum eget ornare in, &lt;a href="#" class="create-links"&gt;Links&lt;/a&gt; rutrum vel justo. Integer accumsan posuere quam.&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   ...
          | &lt;/body&gt;
      pre
        code
          | var myApp = new Framework7();
          | 
          | var $$ = Dom7;
          | 
          | $$('.create-about').on('click', function () {
          |   var clickedLink = this;
          |   var popoverHTML = '&lt;div class="popover"&gt;'+
          |                       '&lt;div class="popover-inner"&gt;'+
          |                         '&lt;div class="content-block"&gt;'+
          |                           '&lt;p&gt;About Popover created dynamically.&lt;/p&gt;'+
          |                           '&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc. Quisque sodales scelerisque est, at porta justo cursus ac.&lt;/p&gt;'+
          |                         '&lt;/div&gt;'+
          |                       '&lt;/div&gt;'+
          |                     '&lt;/div&gt;'
          |   myApp.popover(popoverHTML, clickedLink);
          | });
          | 
          | $$('.create-links').on('click', function () {
          |   var clickedLink = this;
          |   var popoverHTML = '&lt;div class="popover"&gt;'+
          |                       '&lt;div class="popover-inner"&gt;'+
          |                         '&lt;div class="list-block"&gt;'+
          |                           '&lt;ul&gt;'+
          |                           '&lt;li&gt;&lt;a href="#" class="item-link list-button"&gt;Link 1&lt;/li&gt;'+
          |                           '&lt;li&gt;&lt;a href="#" class="item-link list-button"&gt;Link 2&lt;/li&gt;'+
          |                           '&lt;li&gt;&lt;a href="#" class="item-link list-button"&gt;Link 3&lt;/li&gt;'+
          |                           '&lt;/ul&gt;'+
          |                         '&lt;/div&gt;'+
          |                       '&lt;/div&gt;'+
          |                     '&lt;/div&gt;'
          |   myApp.popover(popoverHTML, clickedLink);
          | });
      .full-width.stop-scroll-device 
        h2 Popover 事件
        p Popover 和任意 <a href="modal.html">Modal</a>拥有一样的事件
        table.events-table
          thead
            tr
              th Event（事件）
              th Target（目标）
              th Description（描述）
          tbody
            tr
              td open
              td Popover Element<span>&lt;div class="popover"&gt;</span>
              td 当 Popover 开始打开动画时，事件将被触发。
            tr
              td opened
              td Popover Element<span>&lt;div class="popover"&gt;</span>
              td 当 Popover 完成打开动画时，事件将被触发。
            tr
              td close
              td Popover Element<span>&lt;div class="popover"&gt;</span>
              td 当 Popover 开始结束动画时，事件将被触发。
            tr
              td closed
              td Popover Element<span>&lt;div class="popover"&gt;</span>
              td 当 Popover 完成结束动画后，事件将被触发。   


          