extends ../jade/_internal-template

block vars
  - var activeLink = 'docs';
  - var title = '标签页(Tabs) | Framework7 文档';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../jade/_docs-menu
    .docs-content.with-device
      .full-width
        h1 标签页(Tabs)
        p 标签用于控制不同内容区块间的切换显示
        h2 Tabs标签布局
        p 下方是标签组件的内容区HTML结构
        pre
          code
            | &lt;!-- Tabs 容器, 需要带有"tabs" class --&gt;
            | &lt;div class="tabs"&gt;
            |   &lt;!-- 第一个tab, 需要带有"tab" class 和唯一的id --&gt;
            |   &lt;!-- 第一个tab是激活显示状态，通过添加"active" class实现 --&gt;
            |   &lt;div class="tab active" id="tab1"&gt;
            |     ... Tab 1 内容 ...
            |   &lt;/div&gt;
            |   &lt;!-- 第二个tab, 需要带有"tab" class 和唯一的id --&gt;
            |   &lt;div class="tab" id="tab2"&gt;
            |     ... Tab 2 内容
            |   &lt;/div&gt;
            |   &lt;!-- 第三个tab, 需要带有"tab" class 和唯一的id --&gt;
            |   &lt;div class="tab" id="tab3"&gt;
            |     ... Tab 3 内容 ...
            |   &lt;/div&gt;
            | &lt;/div&gt;
        p 几点说明:
        ul
          li <code>div class="tabs"</code> - 所有tab外层共享一个容器. 没有他标签组件将无法工作
          li <code>div class="tab"</code> - 单独的tab，需要有 <strong>唯一的</strong> <code>id</code>
          li <code>div class="tab active"</code> - 当前激活的 tab，即当前显示的tab，需要"<strong>active</strong>" class
        h2 各标签间切换
        p 完成标签组件HTML布局后，我们需要一些控制面板以便用户可以在各标签间切换。
        p 需要做的就是创建一个<code>&lt;a&gt;</code>，拥有名为"<strong>tab-link</strong>"的class，并且<code>href</code> 属性值和之前对应tab的<code>id</code>相同：
        pre
          code
            | &lt;!-- 关联到第一个标签, 需要设置和第一个标签id名相同的href属性(#tab1) --&gt;
            | &lt;a href="#tab1" class="tab-link active"&gt;Tab 1&lt;/a&gt;
            | &lt;!-- 关联到第二个标签, 需要设置和第二个标签id名相同的href属性(#tab1) --&gt;
            | &lt;a href="#tab2" class="tab-link"&gt;Tab 2&lt;/a&gt;
            | &lt;!-- 关联到第三个标签, 需要设置和第三个标签id名相同的href属性(#tab1) --&gt;
            | &lt;a href="#tab3" class="tab-link"&gt;Tab 3&lt;/a&gt;
        .important-note
          p 如你所见，第一个标签也有 "<strong>active</strong>" class。不是必需的，但如果所有这些a元素在相同的DOM树层级，内部脚本也会将“active”class添加到处于激活态的tab上。当你的“active”元素有不同的视觉样式时（比如<a href="buttons.html#buttons-row---segmented-control">Buttons Row / Segmented Control</a> or links in <a href="tabbar.html">Tab bar</a>），这会很有用。
        h2 切换多重标签
        p 上文描述的标记通过ID指定需要切换去的标签。但有时一个视图里会出现多块内容区响应同一个标签面板，这时我们可以用class代替id。标签面板里的a元素使用“data-tab”属性指向需要切换显示内容区的class（一般对应多块div）.比如 :
        pre
          code
            | &lt;!-- 顶部 Tabs --&gt;
            | &lt;div class="tabs tabs-top"&gt;
            |   &lt;div class="tab tab1 active"&gt;...&lt;/div&gt;
            |   &lt;div class="tab tab2"&gt;...&lt;/div&gt;
            |   &lt;div class="tab tab3"&gt;...&lt;/div&gt;
            | &lt;/div&gt;
            | &lt;!-- 底部 Tabs --&gt;
            | &lt;div class="tabs tabs-bottom"&gt;
            |   &lt;div class="tab tab1 active"&gt;...&lt;/div&gt;
            |   &lt;div class="tab tab2"&gt;...&lt;/div&gt;
            |   &lt;div class="tab tab3"&gt;...&lt;/div&gt;
            | &lt;/div&gt;
            | &lt;!-- Tabs 控制面板 --&gt;
            | &lt;div class="tab-links"&gt;
            |   &lt;!-- 将同时切换标签内容区到 .tab1 区块--&gt;
            |   &lt;a href="#" class="tab-link" data-tab=".tab1"&gt;Tab 1&lt;/a&gt;
            |   &lt;!-- 将同时切换标签内容区到 .tab2 区块--&gt;
            |   &lt;a href="#" class="tab-link" data-tab=".tab2"&gt;Tab 2&lt;/a&gt;
            |   &lt;!-- 将同时切换标签内容区到 .tab3 区块--&gt;
            |   &lt;a href="#" class="tab-link" data-tab=".tab3"&gt;Tab 3&lt;/a&gt;
            | &lt;/div&gt;
        p 注意<code>data-tab</code> 属性是包括tab/tabs的CSS选择器的字符串

      h3(data-device-preview="../docs-demos/tabs-inline.html") Inline Tabs example
      pre
        code
          | &lt;div class="page-content"&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;!-- tabs控制面板 --&gt;
          |     &lt;div class="buttons-row"&gt;
          |       &lt;!-- 关联到第一个tab, 默认active --&gt;
          |       &lt;a href="#tab1" class="tab-link active button"&gt;Tab 1&lt;/a&gt;
          |       &lt;a href="#tab2" class="tab-link button"&gt;Tab 2&lt;/a&gt;
          |       &lt;a href="#tab3" class="tab-link button"&gt;Tab 3&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Tabs, 标签内容区容器 --&gt;
          |   &lt;div class="tabs"&gt;
          |     &lt;!-- Tab 1, active by default --&gt;
          |     &lt;div id="tab1" class="tab active"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;This is tab 1 content&lt;/p&gt;
          |         ...
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;!-- Tab 2 --&gt;
          |     &lt;div id="tab2" class="tab"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;This is tab 2 content&lt;/p&gt;
          |         ...
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;!-- Tab 3 --&gt;
          |     &lt;div id="tab3" class="tab"&gt;
          |       &lt;div class="content-block"&gt;
          |         &lt;p&gt;This is tab 3 content&lt;/p&gt;
          |         ...
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      h3(data-device-preview="../docs-demos/tabs-navbar.html") 导航条标签页例子
      pre
        code
          | &lt;div class="navbar"&gt;
          |   &lt;div class="navbar-inner"&gt;
          |     &lt;div class="center"&gt;
          |       &lt;!-- Buttons row as tabs controller in navbar--&gt;
          |       &lt;div class="buttons-row"&gt;
          |         &lt;!-- Link to 1st tab, active --&gt;
          |         &lt;a href="#tab1" class="tab-link active button"&gt;Tab 1&lt;/a&gt;
          |         &lt;!-- Link to 2nd tab --&gt;
          |         &lt;a href="#tab2" class="tab-link button"&gt;Tab 2&lt;/a&gt;
          |         &lt;!-- Link to 3rd tab --&gt;
          |         &lt;a href="#tab3" class="tab-link button"&gt;Tab 3&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="pages"&gt;
          |   &lt;div class="page"&gt;
          |     &lt;!-- Tabs, tabs wrapper, pate-content are tabs now --&gt;
          |     &lt;div class="page-content tabs"&gt;
          |       &lt;!-- Tab 1, active by default --&gt;
          |       &lt;div id="tab1" class="tab active"&gt;
          |         &lt;div class="content-block"&gt;
          |           &lt;p&gt;This is tab 1 content&lt;/p&gt;
          |           ...
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;!-- Tab 2 --&gt;
          |       &lt;div id="tab2" class="tab"&gt;
          |         &lt;div class="content-block"&gt;
          |           &lt;p&gt;This is tab 2 content&lt;/p&gt;
          |           ...
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;!-- Tab 3 --&gt;
          |       &lt;div id="tab3" class="tab"&gt;
          |         &lt;div class="content-block"&gt;
          |           &lt;p&gt;This is tab 3 content&lt;/p&gt;
          |           ...
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      h3(data-device-preview="../docs-demos/tabs-tabbar.html") 通过底部标签条切换视图的例子：
      p 可以通过tabs切换视图:
      pre
        code
          | &lt;!-- Tabs, 现在容器也是"views" --&gt;
          | &lt;div class="views tabs toolbar-fixed"&gt;
          |   &lt;!-- Tab 1 同时也是 View 1, 默认active --&gt;
          |   &lt;div id="tab1" class="view tab active"&gt;
          |     &lt;div class="navbar"&gt;
          |       &lt;div class="navbar-inner"&gt;
          |         &lt;div class="center"&gt;View 1&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="pages navbar-fixed"&gt;
          |       &lt;div data-page="home-1" class="page"&gt;
          |         &lt;div class="page-content"&gt;
          |           &lt;div class="content-block"&gt;
          |             &lt;p&gt;This is view 1&lt;/p&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Tab 2 - View 2 --&gt;
          |   &lt;div id="tab2" class="view tab"&gt;
          |     &lt;div class="navbar"&gt;
          |       &lt;div class="navbar-inner"&gt;
          |         &lt;div class="center"&gt;View 2&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="pages navbar-fixed"&gt;
          |       &lt;div data-page="home-2" class="page"&gt;
          |         &lt;div class="page-content"&gt;
          |           &lt;div class="content-block"&gt;
          |             &lt;p&gt;This is view 2&lt;/p&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Tab 2 - View 3 --&gt;
          |   &lt;div id="tab3" class="view tab"&gt;
          |     &lt;div class="navbar"&gt;
          |       &lt;div class="navbar-inner"&gt;
          |         &lt;div class="center"&gt;View 3&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="pages navbar-fixed"&gt;
          |       &lt;div data-page="home-3" class="page"&gt;
          |         &lt;div class="page-content"&gt;
          |           &lt;div class="content-block"&gt;
          |             &lt;p&gt;This is view 3&lt;/p&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- Tab bar with tab links --&gt;
          |   &lt;div class="toolbar tabbar"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |       &lt;a href="#tab1" class="tab-link active"&gt;&lt;i class="icon demo-icon-1"&gt;&lt;/i&gt;&lt;/a&gt;
          |       &lt;a href="#tab2" class="tab-link"&gt;&lt;i class="icon demo-icon-2"&gt;&lt;/i&gt;&lt;/a&gt;
          |       &lt;a href="#tab3" class="tab-link"&gt;&lt;i class="icon demo-icon-3"&gt;&lt;/i&gt;&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      h2(data-device-preview="../docs-demos/tabs-animated.html") 动画过渡的标签
      p 我们也可以使用transition动画过渡tab切换效果，只需要额外的class <code>div class="tabs-animated-wrap"</code>包裹在 <code>div class="tabs"</code>父级:
      pre
        code
          | &lt;div class="navbar"&gt;
          |   &lt;div class="navbar-inner"&gt;
          |     &lt;div class="center"&gt;
          |       &lt;!-- Buttons row as tabs controller in navbar--&gt;
          |       &lt;div class="buttons-row"&gt;
          |         &lt;!-- Link to 1st tab, active --&gt;
          |         &lt;a href="#tab1" class="tab-link active button"&gt;Tab 1&lt;/a&gt;
          |         &lt;!-- Link to 2nd tab --&gt;
          |         &lt;a href="#tab2" class="tab-link button"&gt;Tab 2&lt;/a&gt;
          |         &lt;!-- Link to 3rd tab --&gt;
          |         &lt;a href="#tab3" class="tab-link button"&gt;Tab 3&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="pages"&gt;
          |   &lt;div class="page"&gt;
          |     &lt;div class="page-content"&gt;
          |       &lt;!-- Tabs animated wrapper, required to switch tabs with transition --&gt;
          |       &lt;div class="tabs-animated-wrap"&gt;
          |         &lt;!-- Tabs, tabs wrapper --&gt;
          |         &lt;div class="tabs"&gt;
          |           &lt;!-- Tab 1, active by default --&gt;
          |           &lt;div id="tab1" class="tab active"&gt;
          |             ... Tab 1 content ...
          |           &lt;/div&gt;
          |           &lt;!-- Tab 2 --&gt;
          |           &lt;div id="tab2" class="tab"&gt;
          |             ... Tab 2 content ...
          |           &lt;/div&gt;
          |           &lt;!-- Tab 3 --&gt;
          |           &lt;div id="tab3" class="tab"&gt;
          |             ... Tab 3 content ...
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
      .important-note
        p 注意最外层容器div.tabs-animated-wrap需要一个指定的高度，默认是其父亲节点100%的高度
      h2(data-device-preview="../docs-demos/tabs-events.html") 标签的JS事件
      p 当你需要在标签切换到active后做一些事情时，标签事件是很有用的:
        table.events-table
          thead
            tr
              th Event
              th Target
              th Description
          tbody
            tr
              td show
              td 标签内容区块<span>&lt;div class="tab"&gt;</span>
              td 该事件在目标内容区块被切换到可见状态时触发
      pre
        code
          | var myApp = new Framework7();
          | var $$ = Dom7;
          | $$('#tab1').on('show', function () {
          |     myApp.alert('Tab 1 is visible');
          | });
          | $$('#tab2').on('show', function () {
          |     myApp.alert('Tab 2 is visible');
          | });
          | $$('#tab3').on('show', function () {
          |     myApp.alert('Tab 3 is visible');
          | });
      h2(data-device-preview="../docs-demos/tabs-javascript.html") 使用JS切换标签
      p 也可以通过JS切换标签，我们需要调用以下的应用方法:
      p
        span.method myApp.showTab(<span>tab</span>)</span>
      ul.method-parameters
        li
          span.parameter tab
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> 标签标记（完整CSS选择器。必需
        li.method-returns 当标签切换成功后方法会返回 <strong>true</strong>,否则会返回<strong>false</strong>
      pre
        code
          | &lt;a href="#" class="show-tab-1"&gt;Show Tab 1&lt;/a&gt;
          | &lt;a href="#" class="show-tab-2"&gt;Show Tab 2&lt;/a&gt;
          | &lt;a href="#" class="show-tab-3"&gt;Show Tab 3&lt;/a&gt;
      pre
        code
          | var myApp = new Framework7();
          | var $$ = Dom7;
          | $$('.show-tab-1').on('click', function () {
          |     myApp.showTab('#tab1');
          | });
          | $$('.show-tab-2').on('click', function () {
          |     myApp.showTab('#tab2');
          | });
          | $$('.show-tab-3').on('click', function () {
          |     myApp.showTab('#tab3');
          | });

      .device-spacer
