block vars
doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title My App
    link(rel="stylesheet", href="../../packages/core/css/framework7.min.css")
    if (includeF7Icons)
      link(rel="stylesheet" href="../../css/framework7-icons.css")
    if (includeMaterialIcons)
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
  body
    #app
    block content
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script(src="../../packages/vue/framework7-vue.min.js")
    script(src="../../packages/core/js/framework7.min.js")
    script.
      var theme = 'ios';
      if (location.href.indexOf('theme=md') >= 0) theme = 'md';

      if (Framework7.use) Framework7.use(Framework7Vue, { theme: theme });
      else if (Framework7.Class && Framework7.Class.use) Framework7.Class.use(Framework7Vue, { theme: theme });

      var plugin = {
        params: {
          theme: theme,
        }
      };

      if (Framework7.use) Framework7.use(plugin);
      else if (Framework7.Class && Framework7.Class.use) Framework7.Class.use(plugin);

      if (typeof component === 'undefined') {
        var component = {};
      }
      if (typeof routes === 'undefined') {
        var routes = [];
      }
      component.el = '#app';
      component.template = '#app-template';

      new Vue(component);