extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Checkboxes & Radios Vue Component | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Checkboxes & Radios Vue Component
      p Checkboxes & Radios is not a separate component, but just a particular case of using <a href="list.html">&lt;f7-list&gt;</a> and <a href="list-item.html">&lt;f7-list-item&gt;</a> components.
      p Check out Framework7's <a href="../docs/checkboxes-radios.html">Checkboxes & Radios</a> for their appearance.
      h2 Usage examples
      h4 Checkboxes Group
      pre
        code
          :code
            <f7-list form>
              <f7-list-item checkbox name="my-checkbox" value="1" title="Checkbox 1" checked></f7-list-item>
              <f7-list-item checkbox name="my-checkbox" value="2" title="Checkbox 1"></f7-list-item>
              <f7-list-item checkbox name="my-checkbox" value="3" title="Checkbox 1"></f7-list-item>
            </f7-list>
      h4 Radios Group
      pre
        code
          :code
            <f7-list form>
              <f7-list-item radio name="my-radio" value="1" title="Radio 1" checked></f7-list-item>
              <f7-list-item radio name="my-radio" value="2" title="Radio 2"></f7-list-item>
              <f7-list-item radio name="my-radio" value="3" title="Radio 3"></f7-list-item>
            </f7-list>
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Default
            th Description
        tbody
          tr
            th(colspan="4") <a href="list-item.html">&lt;f7-list-item&gt;</a>'s Checkboxes & Radios specific properties
          tr
            td checkbox
            td boolean
            td
            td Enables checkbox-item
          tr
            td radio
            td boolean
            td
            td Enables radio-item
          tr
            td checked
            td boolean
            td
            td Whether the checkbox/radio input is checked
          tr
            td name
            td string
            td
            td Checkbox/radio input name
          tr
            td value
            td string/number
            td
            td Checkbox/radio input value
          tr
            td readonly
            td boolean
            td
            td Whether the checkbox/radio input is readonly
          tr
            td disabled
            td boolean
            td
            td Whether the checkbox/radio input is disabled
          tr
            td required
            td boolean
            td
            td Whether the checkbox/radio input is required