extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Block Component | Framework7 Vue';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Block Component
      p Block Vue component represents <a href="../docs/content-block.html">Content Block</a> element designed (mostly) to add extra formatting and required spacing for text content.
      h2 Usage example
      pre
        code
          | &lt;!-- Block --&gt;
          | &lt;f7-block&gt;...&lt;/f7-block&gt;
          | 
          | &lt;!-- With additional "inner" element for extra highlighting --&gt;
          | &lt;f7-block inner&gt;...&lt;/f7-block&gt;
          | 
          | &lt;!-- With block title --&gt;
          | &lt;f7-block-title&gt;Block Title&lt;/f7-block-title&gt;
          | &lt;f7-block&gt;...&lt;/f7-block&gt;
          | 
          | &lt;!-- Inset --&gt;
          | &lt;f7-block inset&gt;...&lt;/f7-block&gt;
      p Renders to:
      pre
        code
          | &lt;!-- Block --&gt;
          | &lt;div class="content-block"&gt;...&lt;/div&gt;
          | 
          | &lt;!-- With additional "inner" element for extra highlighting --&gt;
          | &lt;div class="content-block"&gt;
          |   &lt;div class="content-block-inner"&gt;...&lt;/div&gt;
          | &lt;/div&gt;
          | 
          | &lt;!-- With block title --&gt;
          | &lt;div class="content-block-title"&gt;Block Title&lt;/div&gt;
          | &lt;div class="content-block"&gt;...&lt;/div&gt;
          | 
          | &lt;!-- Inset --&gt;
          | &lt;div class="content-block inset"&gt;...&lt;/div&gt;
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Default
            th Description
        tbody
          tr
            td inset
            td boolean
            td 
            td Makes block inset
          tr
            td inner
            td boolean
            td 
            td Adds additional "inner" element for content extra highlighting
          tr
            td tabs
            td boolean
            td 
            td Adds additional "tabs" class to make the block tabs wrapper
          tr
            td tab
            td boolean
            td 
            td Adds additional "tab" class when block should be used as a Tab
          tr
            td active
            td boolean
            td 
            td Adds additional "active" class when block used as a Tab and makes it active tab
          tr
            td no-hairlines
            td boolean
            td 
            td Removes outer <a href="../docs/hairlines.html#no-hairlines-and-no-hairlines-between">hairlines</a>.