extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Framework7 Vue';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      .home-block.home-vue
        .text
          h1 Framework7 Vue
          p 利用功能强大和简洁的Vue.js，将组件语法，结构化数据和数据绑定到Framework7
        .pic
          img(src="#{cdn}/i/vue-intro.png", width="700")
      .home-block.home-free
        .text
          h2 入门App模板
          p 有一些已经准备好了的模板，可以让你使用Framework7和vue立即开始app开发。
          p
            a(href="https://github.com/centrual/cordova-template-framework7-vue-webpack", target="_blank") Cordova + Webpack
            a(href="https://github.com/nolimits4web/Framework7-Vue-Webpack-Template", target="_blank") Webpack
            a(href="https://github.com/nolimits4web/Framework7-Vue-Browserify-Template", target="_blank") Browserify
            a(href="https://github.com/nolimits4web/Framework7-Vue-Simple-Template", target="_blank") Static
      