extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Framework7 Vue';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Framework7 + Vue
