extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Installation | Framework7 Vue Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 安装
      p 使用Framework7和<a href="https://vuejs.org/" target="_blank">Vue</a>构建app真的很容易。为了开始我们需要安装Framework7，Vue，Framework7 Vue插件。您可以跳过此步骤，并使用其中一个随时可用的<a href="templates.html">入门应用模板</a>。
      h4 1. 安装Framework7
      p 几种安装Framework7的方法:
      ul
        li 从<a href="https://github.com/nolimits4web/Framework7/releases">Framework7 GitHub仓库</a>下载
        li 使用 <a href="https://npmjs.com">NPM</a>:
          pre
            code
              :code
                $ npm install framework7
        li 使用 <a href="https://bower.io/">Bower</a>:
          pre
            code
              :code
                $ bower install framework7
      p 在下载/安装的包中，我们需要<b>dist/</b>文件夹中的文件。
      h4 2. 安装 Vue
      p 阅读官方的<a href="https://vuejs.org/v2/guide/installation.html" target="_blank">Vue安装指南</a>来安装Vue。
      h4 3. 安装Framework7 Vue插件
      p 现在我们需要Vue的Framework7插件：
      ul
        li 从<a href="https://github.com/nolimits4web/Framework7-Vue/releases">Framework7 Vue GitHub 仓库</a>下载
        li 使用 <a href="https://npmjs.com">NPM</a>:
          pre
            code
              :code
                $ npm install framework7-vue
      p 在下载/安装的包中，我们需要<b>dist/</b>文件夹中的文件。