extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Introduction | Framework7 Vue Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Framework7 Vue介绍
      .important-note
        p 强烈建议您在开始之前熟悉Framework7和Vue.js的基础知识。
      p Framework7 Vue结合了强大的<a href="https://vuejs.org">Vue.js</a>框架的简单性和Framework7移动框架的灵活性和UI，以更简单快捷的方式构建移动应用程序。
      p Framework7 Vue有助于以更结构化的方式同步数据和内容，并使用数据绑定和简化iOS和Material主题布局的差异（或者更容易处理这种差异）。
      p Framework7 Vue插件提供了一套，几乎包含所有Framework7的元素和组件，集成了Framework7路由器，并以“Vue-way”渲染页面。
      .important-note
        p 本文档提供了Framework7 Vue组件（其用法示例和属性）的参考。 对于他们的外观和如何工作，建议查阅<a href="../docs/">Framework7文档</a>。
