extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Panel Component | Framework7 Vue';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Panel Component
      p Panel Vue component represents <a href="../docs/side-panels.html">Side Panels</a> component.
      h2 Usage example
      pre
        code
          | &lt;!-- Left Panel with Reveal effect --&gt;
          | &lt;f7-panel left reveal&gt;
          |   &lt;!-- Left panel content goes here --&gt;
          | &lt;/f7-panel&gt;
          | 
          | &lt;!-- Right Panel with Cover effect and dark layout --&gt;
          | &lt;f7-panel right cover layout="dark"&gt;
          |   &lt;!-- Right panel content goes here --&gt;
          | &lt;/f7-panel&gt;
      p Renders to:
      pre
        code
          | &lt;div class="panel panel-left panel-reveal"&gt;...&lt;/div&gt;
          | &lt;div class="panel panel-right panel-cover layout-dark"&gt;...&lt;/div&gt;
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Default
            th Description
        tbody
          tr
            td side
            td string
            td 
            td Panel side. Could be "left" or "right"
          tr
            td left
            td boolean
            td 
            td Shortcut prop for <code>side="left"</code>
          tr
            td right
            td boolean
            td 
            td Shortcut prop for <code>side="right"</code>
          tr
            td effect
            td string
            td 
            td Panel effect. Could be "cover" or "reveal"
          tr
            td cover
            td boolean
            td 
            td Shortcut prop for <code>effect="cover"</code>
          tr
            td reveal
            td boolean
            td 
            td Shortcut prop for <code>effect="reveal"</code>
          tr
            td theme
            td string
            td 
            td Panel theme color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td layout
            td string
            td 
            td Panel layout theme. One of <a href="../docs/color-themes.html#layout-themes">default layout themes</a>
          tr
            td opened
            td boolean
            td 
            td Allows to open/close panel and set its initial state
      h2 Events
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td panel:open
            td Event will be triggered when Panel starts its opening animation
          tr
            td panel:opened
            td Event will be triggered after Panel completes its opening animation
          tr
            td panel:close
            td Event will be triggered when Panel starts its closing animation
          tr
            td panel:closed
            td Event will be triggered after Panel completes its closing animation
      h2 Open and close Panel
      p You can control panel state, open and closing it:
      ul
        li using its <a href="../docs/side-panels.html#using-javascript">JavaScript API</a>
        li by passing <b>true</b> or <b>false</b> to its <code>opened</code> prop
        li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>open-panel</code> property (to open it) and <code>close-panel</code> property to close it