extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Picker Modal Vue Component | Framework7 Vue Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Picker Modal Vue Component
      p Picker Modal is a special overlay type which is similar to Picker/Calendar's overlay. Such modal allows to create custom picker overlays with custom content.
      p Picker Modal Vue component represents <a href="../docs/picker-modal.html">Picker Modal</a> component.
      h2 Usage example
      pre
        code
          :code
            <!-- Picker Modal -->
            <f7-picker-modal>
              <!-- Picker Modal content goes here -->
            </f7-picker-modal>
      p Renders to:
      pre
        code
          :code
            <!-- Picker Modal -->
            <div class="picker-modal">
              <div class="picker-modal-inner">
                <!-- Picker Modal content goes here -->
              </div>
            </div>
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Description
        tbody
          tr
            td theme
            td string
            td Picker Modal theme color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td layout
            td string
            td Picker Modal layout theme. One of <a href="../docs/color-themes.html#layout-themes">default layout themes</a>
          tr
            td opened
            td boolean
            td Allows to open/close Picker Modal and set its initial state
      h2 Events
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td picker:open
            td Event will be triggered when Picker Modal starts its opening animation
          tr
            td picker:opened
            td Event will be triggered after Picker Modal completes its opening animation
          tr
            td picker:close
            td Event will be triggered when Picker Modal starts its closing animation
          tr
            td picker:closed
            td Event will be triggered after Picker Modal completes its closing animation
      h2 Open and close Picker Modal
      p You can control Picker Modal state, open and closing it:
      ul
        li using its <a href="../docs/picker-modal.html#using-javascript">JavaScript API</a>
        li by passing <b>true</b> or <b>false</b> to its <code>opened</code> prop
        li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>open-picker</code> property (to open it) and <code>close-picker</code> property to close it
