extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Popup Vue Component | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Popup Vue Component
      p Popup is a popup window with any HTML content that pops up over App's main content. Popup as all other overlays is part of so called "Temporary Views".
      p Popup Vue component represents <a href="../docs/popup.html">Popup</a> component.
      h2 Usage example
      pre
        code
          :code
            <!-- Popup -->
            <f7-popup>
              <!-- Popup content goes here -->
            </f7-popup>

            <!-- Popup which is also fullscreen on tablets -->
            <f7-popup tablet-fullscreen>
              <!-- Popup content goes here -->
            </f7-popup>
      p Renders to:
      pre
        code
          :code
            <!-- Popup -->
            <div class="popup">
              <!-- Popup content goes here -->
            </div>

            <!-- Popup which is also fullscreen on tablets -->
            <div class="popup tablet-fullscreen">
              <!-- Popup content goes here -->
            </div>
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Description
        tbody
          tr
            td theme
            td string
            td Popup theme color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td layout
            td string
            td Popup layout theme. One of <a href="../docs/color-themes.html#layout-themes">default layout themes</a>
          tr
            td tablet-fullscreen
            td boolean
            td Defines whether popup should be displayed fullscreen on tablets or not
          tr
            td opened
            td boolean
            td Allows to open/close Popup and set its initial state
      h2 Events
      table.events-table
        thead
          tr
            th Event
            th Description
        tbody
          tr
            td popup:open
            td Event will be triggered when Popup starts its opening animation
          tr
            td popup:opened
            td Event will be triggered after Popup completes its opening animation
          tr
            td popup:close
            td Event will be triggered when Popup starts its closing animation
          tr
            td popup:closed
            td Event will be triggered after Popup completes its closing animation
      h2 Open and close Popup
      p You can control Popup state, open and closing it:
      ul
        li using its <a href="../docs/popup.html#using-javascript">JavaScript API</a>
        li by passing <b>true</b> or <b>false</b> to its <code>opened</code> prop
        li by clicking on <a href="link.html">Link</a> or <a href="button.html">Button</a> with relevant <code>open-popup</code> property (to open it) and <code>close-popup</code> property to close it
