extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Preloader / Spinner Component | Framework7 Vue';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Preloader / Spinner Component
      p Preloader / Spinner component represents <a href="../docs/preloader.html">Preloader</a> element.
      h2 Usage example
      pre
        code
          | &lt;!-- Preloader --&gt;
          | &lt;f7-preloader&gt;&lt;/f7-preloader&gt;
          | 
          | &lt;!-- Red preloader --&gt;
          | &lt;f7-preloader color="red"&gt;&lt;/f7-preloader&gt;
          | 
          | &lt;!-- Blue with custom size --&gt;
          | &lt;f7-preloader color="blue" size="44px"&gt;&lt;/f7-preloader&gt;
      p Renders to:
      pre
        code
          | &lt;!-- Preloader --&gt;
          | &lt;span class="preloader"&gt;&lt;/span&gt;
          | 
          | &lt;!-- Red preloader --&gt;
          | &lt;span class="preloader color-red"&gt;&lt;/span&gt;
          | 
          | &lt;!-- Blue with custom size --&gt;
          | &lt;span class="preloader color-blue" style="width:44px; height:44px"&gt;&lt;/span&gt;
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Default
            th Description
        tbody
          tr
            td color
            td string
            td 
            td Preloader color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td size
            td string/number
            td 
            td Size of the preloader in px