extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Starter App Templates | Framework7 Vue Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Starter App Templates
      p There are three ready to use templates to start your app developement using Framework7 and Vue.
      h2 Framework7 Vue Simple Template
      p This is the most simple static template without any builder and development server. It provides setup in a single HTML file
      p This template is targeted at beginners who want to start exploring Framework7 + Vue without the distraction of a complicated development environment.
      p For advanced features such as asset compilation, hot-reload and CSS extraction, we recommend that more experienced developers use one of the other templates: Framework7 Vue Webpack Template or Framework7 Vue Browserify Template.
      p Download template from its <a href="https://github.com/nolimits4web/Framework7-Vue-Simple-Template" target="_blank">GitHub repository</a> or
      pre
        code.bash
          :code
            $ git clone https://github.com/nolimits4web/Framework7-Vue-Simple-Template my-app
      h2 Framework7 Vue Webpack App Template
      p This is the most powerful template which includes full-featured Framework7 + Vue + Webpack setup with hot-reload, single file components (.vue) support & css extraction.
      h4 Install
      p Download template from its <a href="https://github.com/nolimits4web/Framework7-Vue-Webpack-Template" target="_blank">GitHub repository</a> or
      pre
        code.bash
          :code
            $ git clone https://github.com/nolimits4web/Framework7-Vue-Webpack-Template my-app
      p Go to the downloaded project folder and install dependencies:
      pre
        code.bash
          :code
            $ npm install
      h4 Run development environment
      pre
        code.bash
          :code
            $ npm run dev
      p App will run server with hot reload at <code>localhost:8080</code>
      h4 Build for production
      p When your app is ready you need to build it for production:
      pre
        code.bash
          :code
            $ npm run build
      h4 Project Structure
      ul
        li <b>src/assets</b> - folder with static assets (images)
        li <b>src/components</b> - folder with custom .vue components
        li <b>src/css</b> - put custom app CSS styles here. Don't forget to import them in main.js
        li <b>src/pages</b> - app .vue pages
        li <b>src/main</b>.js - main app file where you include/import all required libs and init app
        li <b>src/routes</b>.js - app routes
        li <b>src/app</b>.vue - main app structure/component
      h2 Framework7 Vue Browserify App Template
      p Another powerful template which includes Framework7 + Vue + Browserify setup with hot-reload, single file components (.vue) support & css extraction.
      h4 Install
      p Download template from its <a href="https://github.com/nolimits4web/Framework7-Vue-Browserify-Template" target="_blank">GitHub repository</a> or
      pre
        code.bash
          :code
            $ git clone https://github.com/nolimits4web/Framework7-Vue-Browserify-Template my-app
      p Go to the downloaded project folder and install dependencies:
      pre
        code.bash
          :code
            $ npm install
      h4 Run development environment
      pre
        code.bash
          :code
            $ npm run dev
      p App will run server with hot reload at <code>localhost:8080</code>
      h4 Build for production
      p When your app is ready you need to build it for production:
      pre
        code.bash
          :code
            $ npm run build
      h4 Project Structure
      ul
        li <b>src/components</b> - folder with custom .vue components
        li <b>src/pages</b> - app .vue pages
        li <b>src/main.js</b> - main app file where you include/import all required libs and init app
        li <b>src/routes.js</b> - app routes
        li <b>src/app.vue</b> - main app structure/component
        li <b>dist/css</b> - app styles, put custom app CSS styles here as well
        li <b>dist/css/build.css</b> - Vue components styles will be extracted here on <code>npm run build</code>
