extends ../_internal-template

block vars
  - var activeLink = 'vue';
  - var title = 'Views Vue Component | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-vue-menu
    .docs-content
      h1 Views Vue Component
      p <b>Views</b> is the wrapper container for all visual views that stays visible most of the time (not in modals, panels). Let's say that views is a main wrapper for "body" of your app. <b>Only one "Views" element is allowed</b>
      h2 Usage examples
      pre
        code
          :code
            <f7-views>
              ...
            </f7-views>
      p Renders to:
      pre
        code
          :code
            <div class="views">
              ...
            </div>
      h4 Views As Tabs
      pre
        code
          :code
            <f7-views tabs>
              <f7-view id="view-1" tab active>...</f7-view>
              <f7-view id="view-2" tab>...</f7-view>
            </f7-views>
      p Renders to:
      pre
        code
          :code
            <div class="views tabs">
              <div class="view tab active" id="view-1">...</div>
              <div class="view tab" id="view-2">...</div>
            </div>
      h4 With fixed navbar for all nested views
      pre
        code
          :code
            <f7-views navbar-fixed>
              ...
            </f7-views>
      p Renders to:
      pre
        code
          :code
            <div class="views navbar-fixed">
              ...
            </div>
      h2 Properties
      table.params-table
        thead
          tr
            th Prop
            th Type
            th Description
        tbody
          tr
            td tabs
            td boolean
            td Uses Views as <a href="tabs.html">Tabs</a>
          tr
            td theme
            td string
            td Views theme color. One of <a href="../docs/color-themes.html">default colors</a>
          tr
            td layout
            td string
            td Views layout theme. One of <a href="../docs/color-themes.html#layout-themes">default layout themes</a>
          tr
            td navbar-fixed
            td boolean
            td Enable when you use <b>fixed</b> <a href="../docs/navbar-toolbar-layouts.html">navbar layout</a>
          tr
            td navbar-through
            td boolean
            td Enable when you use <b>through</b> <a href="../docs/navbar-toolbar-layouts.html">navbar layout</a>
          tr
            td toolbar-fixed
            td boolean
            td Enable when you use <b>fixed</b> <a href="../docs/navbar-toolbar-layouts.html">toolbar layout</a>
          tr
            td toolbar-through
            td boolean
            td Enable when you use <b>through</b> <a href="../docs/navbar-toolbar-layouts.html">toolbar layout</a>
          tr
            td tabbar-fixed
            td boolean
            td Enable when you use <b>fixed</b> <a href="../docs/navbar-toolbar-layouts.html">tabbar layout</a>
          tr
            td tabbar-through
            td boolean
            td Enable when you use <b>through</b> <a href="../docs/navbar-toolbar-layouts.html">tabbar layout</a>
          tr
            td tabbar-labels-fixed
            td boolean
            td Enable when you use <b>fixed</b> <a href="../docs/navbar-toolbar-layouts.html">tabbar layout</a>
          tr
            td tabbar-labels-through
            td boolean
            td Enable when you use <b>through</b> <a href="../docs/navbar-toolbar-layouts.html">tabbar layout</a>
