extends ../_docs-template

block vars
  - var title = 'App HTML Layout | Framework7 Documentation';

block content
  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 App HTML Layout
    p First thing we should do for our App is to create `index.html` file with app's skeleton. Let's look at basic app layout:
    :code(lang="html")
      <!DOCTYPE html>
      <html>
        <head>
          <!-- Required meta tags-->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
          <meta name="apple-mobile-web-app-capable" content="yes">
          <!-- Color theme for statusbar (Android only) -->
          <meta name="theme-color" content="#2196f3">
          <!-- Your app title -->
          <title>My App</title>
          <!-- Path to Framework7 Library Bundle CSS -->
          <link rel="stylesheet" href="path/to/framework7-bundle.min.css">
          <!-- Path to your custom app styles-->
          <link rel="stylesheet" href="path/to/my-app.css">
        </head>
        <body>
          <!-- App root element -->
          <div id="app">

            <!-- Your main view, should have "view-main" class -->
            <div class="view view-main">
              <!-- Initial Page, "data-name" contains page name -->
              <div data-name="home" class="page">

                <!-- Top Navbar -->
                <div class="navbar">
                  <div class="navbar-bg"></div>
                  <div class="navbar-inner">
                    <div class="title">Awesome App</div>
                  </div>
                </div>

                <!-- Bottom Toolbar -->
                <div class="toolbar toolbar-bottom">
                  <div class="toolbar-inner">
                    <!-- Toolbar links -->
                    <a href="#" class="link">Link 1</a>
                    <a href="#" class="link">Link 2</a>
                  </div>
                </div>

                <!-- Scrollable page content -->
                <div class="page-content">
                  <p>Page content goes here</p>
                  <!-- Link to another page -->
                  <a href="/about/">About app</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Path to Framework7 Library Bundle JS-->
          <script type="text/javascript" src="path/to/framework7-bundle.min.js"></script>
          <!-- Path to your app js-->
          <script type="text/javascript" src="path/to/my-app.js"></script>
        </body>
      </html>
    p As you may see the layout is pretty simple. The main point is that you should link Framework7's CSS in the `<head>` and JS files in the end of `<body>`.
    p You can read more about statusbar overlay, views, navbar, toolbar, pages, panels and other components in appropriate sections.
    h2 Initialize App
    p Now when we have basic template, we need to <a href="init-app.html">initialize our app</a> in `my-app.js`.
