extends ../_docs-template

block vars
  - var title = 'Appbar | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Appbar
    ul.docs-index
    p Appbar is the main app bar with actions on top of the whole app. It is designed to be used in desktop apps with Aurora theme.
    h2 Appbar Layout
    p Appbar layout is pretty simple:
    :code(lang="html")
      <div class="appbar">
        <div class="appbar-inner">
          <!-- ... Appbar content -->
        </div>
      </div>
    p To be on top of the whole app it must be placed in App's root element before Panels and Views:
    :code(lang="html")
      <div id="app">

        <!-- Appbar -->
        <div class="appbar">
          <div class="appbar-inner">
            <!-- ... Appbar content -->
          </div>
        </div>

        <!-- Panels -->
        <div class="panel panel-left panel-reveal">...</div>

        <!-- Views -->
        <div class="view view-main">...</div>
        ...

      </div>

    +cssVars('appbar')

    .with-device
      h2(data-device-preview="../docs-demos/core/appbar.html") Examples
      include:coreSource(unwrapTemplate=true, strip=false) ../docs-demos/core/appbar.f7.html
