extends ../_docs-template

block vars
  - var title = 'Badge | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Badge
    ul.docs-index
    p Badges are used to display/indicate count numbers and labels on different elements of your app.
    h2 Badge Layout
    p Badges have a super simple layout, it's just an element with a `badge` class:
    :code(lang="html")
          <span class="badge">32</span>
    h2 Badge Colors
    p Badges support all <a href="color-themes.html">default colors</a>:
    :code(lang="html")
      <!-- Green badge -->
      <span class="badge color-green">32</span>

      <!-- Red badge -->
      <span class="badge color-red">15</span>

    +cssVars('badge')

    .with-device
      h2(data-device-preview="../docs-demos/core/badge.html") Examples
      include:coreSource ../docs-demos/core/badge.f7.html
