extends ../_docs-template

block vars
  - var title = 'Badge | Framework7 Documentation';

block docs-index

block content


  .docs-nav
    include ../_docs-menu
  .docs-content
    .motion-docs-page-title
      h1 Badge
      script(src="/js/motion/badge.js")
      f7-motion-badge(motion)

    p Badges are used to display/indicate count numbers and labels on different elements of your app.
    h2 Badge Layout
    p Badges have a super simple layout, it's just an element with a `badge` class:
    :code(lang="html")
          <span class="badge">32</span>
    h2 Badge Colors
    p Badges support all <a href="color-themes.html">default colors</a>:
    :code(lang="html")
      <!-- Green badge -->
      <span class="badge color-green">32</span>

      <!-- Red badge -->
      <span class="badge color-red">15</span>

    +cssVars('badge')


    h2 Examples
    +examplePreview('core', 'badge.html', 'badge')
