extends ../_docs-template

block vars
  - var title = 'Chips/Tags | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Chips
    ul.docs-index
    p Chips (Tags) represent complex entities in small blocks, such as a contact. They can contain a photo, short title string, and brief information.
    h2 Chips Layout
    p Let's look at basic chip HTML layout
    :code(lang="html")
          <div class="chip">
            <div class="chip-media">
              <img src="http://lorempixel.com/100/100/people/9/">
            </div>
            <div class="chip-label">Jane Doe</div>
            <a href="#" class="chip-delete"></a>
          </div>

          <div class="chip chip-outline">
            <div class="chip-label">Outline Chip</div>
          </div>
    p Where
    ul
      li
        p <code>&lt;div class="chip"&gt;</code> - Chip container
        ul
          li
            p <code>&lt;div class="chip-media"&gt;</code> - Chip "media" element, can contain image/avatar or icon. <em>Optional</em>
          li
            p <code>&lt;div class="chip-label"&gt;</code> - Chip text label
          li
            p <code>&lt;a class="chip-delete"&gt;</code> - Chip delete icon-link. <em>Optional</em>
          li
            p <code>chip-outline</code> - additional class that can be added to chip element to make it outline
    .with-device(data-device-preview="../docs-demos/core/chips.html")
      h2 Examples
      :code(lang="html")
            <div class="block-title">Chips With Text</div>
            <div class="block block-strong">
              <div class="chip">
                <div class="chip-label">Example Chip</div>
              </div>
              <div class="chip">
                <div class="chip-label">Another Chip</div>
              </div>
              <div class="chip">
                <div class="chip-label">One More Chip</div>
              </div>
              <div class="chip">
                <div class="chip-label">Fourth Chip</div>
              </div>
              <div class="chip">
                <div class="chip-label">Last One</div>
              </div>
            </div>
      :code(lang="html")
            <div class="block-title">Outline Chips</div>
            <div class="block block-strong">
              <div class="chip chip-outline">
                <div class="chip-label">Example Chip</div>
              </div>
              <div class="chip chip-outline">
                <div class="chip-label">Another Chip</div>
              </div>
              <div class="chip chip-outline">
                <div class="chip-label">One More Chip</div>
              </div>
              <div class="chip chip-outline">
                <div class="chip-label">Fourth Chip</div>
              </div>
              <div class="chip chip-outline">
                <div class="chip-label">Last One</div>
              </div>
            </div>
      :code(lang="html")
            <div class="block-title">Icon Chips</div>
            <div class="block block-strong">
              <div class="chip">
                <div class="chip-media bg-color-blue">
                  <i class="icon f7-icons ios-only">add_round</i>
                  <i class="icon material-icons md-only">add_circle</i>
                </div>
                <div class="chip-label">Add Contact</div>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-green">
                  <i class="icon f7-icons ios-only">compass</i>
                  <i class="icon material-icons md-only">location_on</i>
                </div>
                <div class="chip-label">London</div>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-red">
                  <i class="icon f7-icons ios-only">person</i>
                  <i class="icon material-icons md-only">person</i>
                </div>
                <div class="chip-label">John Doe</div>
              </div>
            </div>
      :code(lang="html")
            <div class="block-title">Contact Chips</div>
            <div class="block block-strong">
              <div class="chip">
                <div class="chip-media"><img src="http://lorempixel.com/64/64/people/9/"/></div>
                <div class="chip-label">Jane Doe</div>
              </div>
              <div class="chip">
                <div class="chip-media"><img src="http://lorempixel.com/64/64/people/9/"/></div>
                <div class="chip-label">John Doe</div>
              </div>
              <div class="chip">
                <div class="chip-media"><img src="http://lorempixel.com/64/64/people/9/"/></div>
                <div class="chip-label">Adam Smith</div>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-pink">J</div>
                <div class="chip-label">Jennifer</div>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-yellow text-color-black">C</div>
                <div class="chip-label">Chris</div>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-red">K</div>
                <div class="chip-label">Kate</div>
              </div>
            </div>
      :code(lang="html")
            <div class="block-title">Deletable Chips / Tags</div>
            <div class="block block-strong">
              <div class="chip">
                <div class="chip-label">Example Chip</div><a href="#" class="chip-delete"></a>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-orange text-color-black">C</div>
                <div class="chip-label">Chris</div><a href="#" class="chip-delete"></a>
              </div>
              <div class="chip">
                <div class="chip-media"><img src="http://lorempixel.com/64/64/people/9/"/></div>
                <div class="chip-label">Jane Doe</div><a href="#" class="chip-delete"></a>
              </div>
              <div class="chip">
                <div class="chip-label">One More Chip</div><a href="#" class="chip-delete"></a>
              </div>
              <div class="chip">
                <div class="chip-media bg-color-pink">J</div>
                <div class="chip-label">Jennifer</div><a href="#" class="chip-delete"></a>
              </div>
              <div class="chip">
                <div class="chip-media"><img src="http://lorempixel.com/64/64/people/9/"/></div>
                <div class="chip-label">Adam Smith</div><a href="#" class="chip-delete"></a>
              </div>
            </div>
      :code(lang="html")
            <div class="block-title">Color Chips</div>
            <div class="block block-strong">
              <div class="chip color-red">
                <div class="chip-label">Red Chip</div>
              </div>
              <div class="chip color-green">
                <div class="chip-label">Green Chip</div>
              </div>
              <div class="chip color-blue">
                <div class="chip-label">Blue Chip</div>
              </div>
              <div class="chip color-orange">
                <div class="chip-label">Orange Chip</div>
              </div>
              <div class="chip color-pink">
                <div class="chip-label">Pink Chip</div>
              </div>
              <div class="chip chip-outline color-red">
                <div class="chip-label">Red Chip</div>
              </div>
              <div class="chip chip-outline color-green">
                <div class="chip-label">Green Chip</div>
              </div>
              <div class="chip chip-outline color-blue">
                <div class="chip-label">Blue Chip</div>
              </div>
              <div class="chip chip-outline color-orange">
                <div class="chip-label">Orange Chip</div>
              </div>
              <div class="chip chip-outline color-pink">
                <div class="chip-label">Pink Chip</div>
              </div>
            </div>


