extends ../_docs-template

block vars
  - var title = 'Contacts List (Table View) | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Contacts List
    p Contacts lists indended to display list of personal people contacts.
    p Contacts list is a particular case of grouped <a href="list-view.html">List View</a> with one difference.
    p The only difference is what we nedd to add additional <code><b>contacts-list</b></code> class to the list view element (<code>&lt;div class="list"&gt;</code>)
    .with-device
      h3(data-device-preview="../docs-demos/core/contacts-list.html") Example
      :code(lang="html")
            <div class="page-content">
              <div class="list contacts-list">
                <div class="list-group">
                  <ul>
                    <li class="list-group-title">A</li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Aaron </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Abbie</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Adam</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Adele</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Agatha</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Agnes</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Albert</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Alexander</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list-group">
                  <ul>
                    <li class="list-group-title">B</li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Bailey</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Barclay</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Bartolo</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Bellamy</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Belle</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Benjamin</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list-group">
                  <ul>
                    <li class="list-group-title">C</li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Caiden</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Calvin</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Candy</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Carl</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Cherilyn</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Chester</div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Chloe</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list-group">
                  <ul>
                    <li class="list-group-title">V</li>
                    <li>
                      <div class="item-content">
                        <div class="item-inner">
                          <div class="item-title">Vladimir</div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>