extends ../_docs-template

block vars
  - var title = 'Contacts List (Table View) | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Contacts List
    ul.docs-index
    p Contacts lists intended to display list of personal people contacts.
    p Contacts list is a particular case of grouped <a href="list-view.html">List View</a> with one difference.
    p The only difference is what we need to add additional `contacts-list` class to the list view element (`<div class="list">`)

    +cssVars('contacts-list')

    .with-device
      h2(data-device-preview="../docs-demos/core/contacts-list.html") Example
      include:coreSource ../docs-demos/core/contacts-list.f7.html
