extends ../_docs-template

block vars
  - var title = 'CSS Variables Reference | Framework7 Documentation';

block docs-index

block content


  .docs-nav
    include ../_docs-menu
  .docs-content

    h1 CSS Variables Reference
    p This page contains reference to all CSS variables defined in all components.
    .important-note
      p Note that commented variables are not specified by default and their values is what they fallback to in this case.
    h2 App / Core
    :code(lang="css")
      /*====================
        Core
        ==================== */
      :root {
        --f7-safe-area-left: 0px;
        --f7-safe-area-right: 0px;
        --f7-safe-area-top: 0px;
        --f7-safe-area-bottom: 0px;

        --f7-safe-area-outer-left: 0px;
        --f7-safe-area-outer-right: 0px;

        @supports (left: env(safe-area-inset-left)) {
          --f7-safe-area-top: env(safe-area-inset-top);
          --f7-safe-area-bottom: env(safe-area-inset-bottom);
          .ios-left-edge,
          .ios-edges,
          .safe-area-left,
          .safe-areas,
          .popup,
          .sheet-modal,
          .panel-left {
            --f7-safe-area-left: env(safe-area-inset-left);
            --f7-safe-area-outer-left: env(safe-area-inset-left);
          }
          .ios-right-edge,
          .ios-edges,
          .safe-area-right,
          .safe-areas,
          .popup,
          .sheet-modal,
          .panel-right {
            --f7-safe-area-right: env(safe-area-inset-right);
            --f7-safe-area-outer-right: env(safe-area-inset-right);
          }
          .no-safe-areas,
          .no-safe-area-left,
          .no-ios-edges,
          .no-ios-left-edge {
            --f7-safe-area-left: 0px;
            --f7-safe-area-outer-left: 0px;
          }
          .no-safe-areas,
          .no-safe-area-right,
          .no-ios-edges,
          .no-ios-right-edge {
            --f7-safe-area-right: 0px;
            --f7-safe-area-outer-right: 0px;
          }
        }

        --f7-device-pixel-ratio: 1;
        @media (min-resolution: 2dppx) {
          --f7-device-pixel-ratio: 2;
        }
        @media (min-resolution: 3dppx) {
          --f7-device-pixel-ratio: 3;
        }
      }
      /*====================
        Fonts & Bars
        ==================== */
      :root {
        --f7-font-size: 14px;

        --f7-bars-translucent-opacity: 0.8;
        --f7-bars-translucent-blur: 20px;
      }
      .ios {
        --f7-font-family: -apple-system, SF Pro Text, SF UI Text, system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
        --f7-line-height: 1.4;
        /*
        --f7-bars-link-color: var(--f7-theme-color);
        */
        --f7-bars-text-color: #000;
        --f7-text-color: #000;
        --f7-bars-bg-color: #f7f7f8;
        --f7-bars-bg-color-rgb: 247, 247, 248;
        --f7-bars-border-color: rgba(0,0,0,0.25);
      }
      .ios .dark,
      .ios.dark {
        --f7-bars-text-color: #fff;
        --f7-text-color: #fff;
        --f7-bars-bg-color: #121212;
        --f7-bars-bg-color-rgb: 22, 22, 22;
        --f7-bars-border-color: rgba(255,255,255,0.16);
      }

      .md {
        --f7-font-family: Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
        --f7-line-height: 1.5;
        --f7-bars-border-color: transparent;
        --f7-text-color: #212121;
      }
      .md .dark,
      .md.dark {
        --f7-text-color: rgba(255,255,255,0.87);
      }

      .md,
      .md .dark,
      .md [class*='color-'] {
        --f7-bars-link-color: var(--f7-md-on-surface);
        --f7-bars-bg-color: var(--f7-md-surface-2);
        --f7-bars-bg-color-rgb: var(--f7-md-surface-2-rgb);
      }

      /*====================
        Color Themes
        ==================== */
      .text-color-primary {
        --f7-theme-color-text-color: var(--f7-theme-color);
      }
      .bg-color-primary {
        --f7-theme-color-bg-color: var(--f7-theme-color);
      }
      .border-color-primary {
        --f7-theme-color-border-color: var(--f7-theme-color);
      }
      .ripple-color-primary {
        --f7-theme-color-ripple-color: rgba(var(--f7-theme-color-rgb), 0.3);
      }


    +cssVars('accordion', false, 'Accordion')
    +cssVars('actions', false, 'Action Sheet')
    +cssVars('area-chart', false, 'Area Chart')
    +cssVars('autocomplete', false, 'Autocomplete')
    +cssVars('badge', false, 'Badge')
    +cssVars('block', false, 'Block')
    +cssVars('breadcrumbs', false, 'Breadcrumbs')
    +cssVars('button', false, 'Button')
    +cssVars('calendar', false, 'Calendar')
    +cssVars('card', false, 'Card')
    +cssVars('checkbox', false, 'Checkbox')
    +cssVars('chip', false, 'Chip')
    +cssVars('contacts-list', false, 'Contacts List')
    +cssVars('data-table', false, 'Data Table')
    +cssVars('dialog', false, 'Dialog')
    +cssVars('fab', false, 'Fab')
    +cssVars('form', false, 'Form')
    +cssVars('gauge', false, 'Gauge')
    +cssVars('grid', false, 'Grid')
    +cssVars('icon', false, 'Icon')
    +cssVars('infinite-scroll', false, 'Infinite Scroll')
    +cssVars('input', false, 'Input')
    +cssVars('link', false, 'Link')
    +cssVars('list', false, 'List')
    +cssVars('list-index', false, 'List Index')
    +cssVars('login-screen', false, 'Login Screen')
    +cssVars('messagebar', false, 'Messagebar')
    +cssVars('messages', false, 'Messages')
    +cssVars('modal', false, 'Modal')
    +cssVars('navbar', false, 'Navbar')
    +cssVars('notification', false, 'Notification')
    +cssVars('page', false, 'Page')
    +cssVars('panel', false, 'Panel')
    +cssVars('photo-browser', false, 'Photo Browser')
    +cssVars('picker', false, 'Picker')
    +cssVars('popover', false, 'Popover')
    +cssVars('popup', false, 'Popup')
    +cssVars('preloader', false, 'Preloader')
    +cssVars('progressbar', false, 'Progressbar')
    +cssVars('pull-to-refresh', false, 'Pull To Refresh')
    +cssVars('radio', false, 'Radio')
    +cssVars('range', false, 'Range Slider')
    +cssVars('searchbar', false, 'Searchbar')
    +cssVars('sheet', false, 'Sheet')
    +cssVars('skeleton', false, 'Skeleton')
    +cssVars('smart-select', false, 'Smart Select')
    +cssVars('sortable', false, 'Sortable List')
    +cssVars('statusbar', false, 'Statusbar')
    +cssVars('stepper', false, 'Stepper')
    +cssVars('subnavbar', false, 'Subnavbar')
    +cssVars('swipeout', false, 'Swipeout')
    +cssVars('swiper', false, 'Swiper')
    +cssVars('tabs', false, 'Tabs')
    +cssVars('text-editor', false, 'Text Editor')
    +cssVars('timeline', false, 'Timeline')
    +cssVars('toast', false, 'Toast')
    +cssVars('toggle', false, 'Toggle')
    +cssVars('toolbar', false, 'Toolbar')
    +cssVars('tooltip', false, 'Tooltip')
    +cssVars('touch-ripple', false, 'Touch Ripple')
    +cssVars('typography', false, 'Typography')
    +cssVars('vi', false, 'Vi')
    +cssVars('view', false, 'View')
    +cssVars('virtual-list', false, 'Virtual List')


