extends ../_docs-template

block vars
  - var title = 'Data Table | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Data Table
    ul.docs-index
    p Data tables display sets of raw data. They usually appear in desktop enterprise products
    .with-device
      h2(data-device-preview="../docs-demos/core/data-table.html") Data Table Layout
      p Common Data Table layout could be treated as the following:
      :code(lang="html")
            <div class="data-table">
              <table>
                <thead>
                  <tr>
                    <th class="label-cell">Desert (100g serving)</th>
                    <th class="numeric-cell">Calories</th>
                    ...
                    <th class="tablet-only">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="label-cell">Frozen yogurt</td>
                    <td class="numeric-cell">159</td>
                    ...
                    <td class="tablet-only">I like it!</td>
                  </tr>
                  ...
                </tbody>
              </table>
            </div>
      p Within <a href="./cards.html">Card</a>:
      :code(lang="html")
            <div class="data-table card">
              <table>
                <thead>
                ...
                </thead>
                <tbody>
                ...
                </tbody>
              </table>
            </div>
      p Where
      ul
        li <code>data-table</code> - main Data Table wrapper. Required
          ul
            li <code>table</code> - table itself. Required
              ul
                li <code>thead</code> - table head
                li <code>tbody</code> - table body. Required
                li <code>label-cell</code> - main label cell (only one such kind of cell per row, usually first cell)
                li <code>numeric-cell</code> - cell to display numeric data (right-aligned)
                li <code>tablet-only</code> - additional class to show this cell/column only on wide tablet devices (iPad)
      h2(data-device-preview="../docs-demos/core/data-table-pagination-footer.html") Pagination Footer
      :code(lang="html")
            <div class="card data-table">
              <table>
                <thead>
                  <tr>
                    <th class="label-cell">Desert (100g serving)</th>
                    <th class="numeric-cell">Calories</th>
                    <th class="numeric-cell">Fat (g)</th>
                    <th class="numeric-cell">Carbs</th>
                    <th class="numeric-cell">Protein (g)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="label-cell">Frozen yogurt</td>
                    <td class="numeric-cell">159</td>
                    <td class="numeric-cell">6.0</td>
                    <td class="numeric-cell">24</td>
                    <td class="numeric-cell">4.0</td>
                  </tr>
                  ...
                </tbody>
              </table>
              <div class="data-table-footer">
                <div class="data-table-rows-select">
                  Per page:
                  <div class="input input-dropdown">
                    <select>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="all">All</option>
                    </select>
                  </div>
                </div>
                <div class="data-table-pagination">
                  <span class="data-table-pagination-label">1-5 of 10</span>
                  <a href="#" class="link disabled">
                    <i class="icon icon-prev color-gray"></i>
                  </a>
                  <a href="#" class="link">
                    <i class="icon icon-next color-gray"></i>
                  </a>
                </div>
              </div>
            </div>
      p Where
      ul
        li <code>data-table-footer</code> - data table footer main element
          ul
            li <code>data-table-rows-select</code> - container with amount per page select
            li <code>data-table-pagination</code> - container with information about current page and prev/next navigation buttons
              ul
                li <code>data-table-pagination-label</code> - current paging label
      h2(data-device-preview="../docs-demos/core/data-table-selectable.html") Selectable Rows
      :code(lang="html")
            <div class="data-table data-table-init card">
              <table>
                <thead>
                  <tr>
                    <th class="checkbox-cell">
                      <label class="checkbox">
                        <input type="checkbox"/>
                        <i class="icon-checkbox"></i>
                      </label>
                    </th>
                    <th class="label-cell">Desert (100g serving)</th>
                    <th class="numeric-cell">Calories</th>
                    ...
                    <th class="numeric-cell">Protein (g)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="checkbox-cell">
                      <label class="checkbox">
                        <input type="checkbox"/>
                        <i class="icon-checkbox"></i>
                      </label>
                    </td>
                    <td class="label-cell">Frozen yogurt</td>
                    <td class="numeric-cell">159</td>
                    ...
                    <td class="numeric-cell">4.0</td>
                  </tr>
                  ...
                </tbody>
              </table>
            </div>
      p Where
      ul
        li <code>data-table-init</code> - additional class to enable JavaScript action required for selectable rows
        li
          p Checkbox cell. Such cell in table header will select/deselect all rows in table body:
          :code(lang="html")
                <td class="checkbox-cell">
                  <label class="checkbox">
                    <input type="checkbox"/>
                    <i class="icon-checkbox"></i>
                  </label>
                </td>
      h2(data-device-preview="../docs-demos/core/data-table-head-inputs.html") Inputs In Table Head
      p Such tables are widely used in admin interfaces for filtering or search data
      :code(lang="html")
            <div class="card data-table">
              <table>
                <thead>
                  <tr>
                    <th class="input-cell">
                      <span class="table-head-label">ID</span>
                      <div class="input" style="width: 50px">
                        <input type="number" placeholder="Filter">
                      </div>
                    </th>
                    <th class="input-cell">
                      <span class="table-head-label">Name</span>
                      <div class="input">
                        <input type="text" placeholder="Filter">
                      </div>
                    </th>
                    ...
                    <th class="input-cell">
                      <span class="table-head-label">Gender</span>
                      <div class="input input-dropdown">
                        <select>
                          <option value="All">All</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john@doe.com</td>
                    <td>Male</td>
                  </tr>
                  ...
                </tbody>
              </table>
            </div>
      p Where
      ul
        li
          p <code>input-cell</code> - additional class on table cell required to display input
        li
          p <code>&lt;span class="table-head-label"&gt;</code> - input label
        li
          p <code>&lt;div class="input"&gt;</code> - input container

      h2(data-device-preview="../docs-demos/core/data-table-title.html") Table Title/Header
      p When data table is used within <a href="./cards.html">Card</a> it is possible to use additional data table title with actions in card header.
      h4 With title and actions
      :code(lang="html")
            <div class="data-table data-table-init card">
              <!-- Card Header -->
              <div class="card-header">
                <!-- Table title -->
                <div class="data-table-title">Nutrition</div>
                <!-- Table actions -->
                <div class="data-table-actions">
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">sort</i>
                    <i class="icon material-icons md-only">sort</i>
                  </a>
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">more_vertical_round</i>
                    <i class="icon material-icons md-only">more_vert</i>
                  </a>
                </div>
              </div>
              <!-- Card Content -->
              <div class="card-content">
                <table>
                  <thead>
                    <tr>
                      <th class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </th>
                      <th class="label-cell">Desert (100g serving)</th>
                      <th class="numeric-cell">Calories</th>
                      ...
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </td>
                      <td class="label-cell">Frozen yogurt</td>
                      <td class="numeric-cell">159</td>
                      ...
                    </tr>
                    ...
                  </tbody>
                </table>
              </div>
            </div>
      p Where
      ul
        li <code>data-table-title</code> - table title
        li <code>data-table-actions</code> - main table actions
      h4 Different actions on select
      :code(lang="html")
            <div class="data-table data-table-init card">
              <!-- Card header -->
              <div class="card-header">
                <!-- Default table header -->
                <div class="data-table-header">
                  <!-- Default table title -->
                  <div class="data-table-title">Nutrition</div>
                  <!-- Default table actions -->
                  <div class="data-table-actions">
                    <a class="link icon-only">
                      <i class="icon f7-icons ios-only">sort</i>
                      <i class="icon material-icons md-only">sort</i>
                    </a>
                    <a class="link icon-only">
                      <i class="icon f7-icons ios-only">more_vertical_round</i>
                      <i class="icon material-icons md-only">more_vert</i>
                    </a>
                  </div>
                </div>
                <!-- Selected table header -->
                <div class="data-table-header-selected">
                  <!-- Selected table title -->
                  <div class="data-table-title-selected"><span class="data-table-selected-count"></span> items selected</div>
                  <!-- Selected table actions -->
                  <div class="data-table-actions">
                    <a class="link icon-only">
                      <i class="icon f7-icons ios-only">trash</i>
                      <i class="icon material-icons md-only">delete</i>
                    </a>
                    <a class="link icon-only">
                      <i class="icon f7-icons ios-only">more_vertical_round</i>
                      <i class="icon material-icons md-only">more_vert</i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-content">
                <table>
                  <thead>
                    <tr>
                      <th class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </th>
                      <th class="label-cell">Desert (100g serving)</th>
                      <th class="numeric-cell">Calories</th>
                      ...
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </td>
                      <td class="label-cell">Frozen yogurt</td>
                      <td class="numeric-cell">159</td>
                      ...
                    </tr>
                    ...
                  </tbody>
                </table>
              </div>
            </div>
      p Where
      ul
        li <code>data-table-header</code> - default table header. Visible when there are no selected rows
        li <code>data-table-header-selected</code> - selected table header. Visible when there are selected rows
        li <code>data-table-selected-count</code> - count of selected table rows. Number will be placed here by JavaScript
      h3 Alternate header with row actions
      :code(lang="html")
            <div class="data-table data-table-init card">
              <div class="card-header">
                <!-- Table links/actions -->
                <div class="data-table-links">
                  <a class="link">Add</a>
                  <a class="link">Remove</a>
                </div>
                <!-- Table actions -->
                <div class="data-table-actions">
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">sort</i>
                    <i class="icon material-icons md-only">sort</i>
                  </a>
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">more_vertical_round</i>
                    <i class="icon material-icons md-only">more_vert</i>
                  </a>
                </div>
              </div>
              <div class="card-content">
                <table>
                  <thead>
                    <tr>
                      <th class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </th>
                      <th class="label-cell">Desert (100g serving)</th>
                      <th class="numeric-cell">Calories</th>
                      ...
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </td>
                      <td class="label-cell">Frozen yogurt</td>
                      <td class="numeric-cell">159</td>
                      ...
                      <td class="actions-cell">
                        <a class="link icon-only">
                          <i class="icon f7-icons ios-only">compose</i>
                          <i class="icon material-icons md-only">edit</i>
                        </a>
                        <a class="link icon-only">
                          <i class="icon f7-icons ios-only">trash</i>
                          <i class="icon material-icons md-only">delete</i>
                        </a>
                      </td>
                    </tr>
                    ...
                  </tbody>
                </table>
              </div>
            </div>
      p Where
      ul
        li <code>data-table-links</code> - alternate/additional table actions
        li <code>actions-cell</code> - action links/icons cell

      h2(data-device-preview="../docs-demos/core/data-table-sortable.html") Sortable
      :code(lang="html")
            <div class="data-table data-table-init card">
              <div class="card-header">
                <div class="data-table-title">Nutrition</div>
                <div class="data-table-actions">
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">sort</i>
                    <i class="icon material-icons md-only">sort</i>
                  </a>
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">more_vertical_round</i>
                    <i class="icon material-icons md-only">more_vert</i>
                  </a>
                </div>
              </div>
              <div class="card-content">
                <table>
                  <thead>
                    <tr>
                      <th class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </th>
                      <th class="label-cell sortable-cell sortable-cell-active">Desert (100g serving)</th>
                      <th class="numeric-cell sortable-cell">Calories</th>
                      <th class="numeric-cell sortable-cell">Fat (g)</th>
                      <th class="numeric-cell sortable-cell">Carbs</th>
                      <th class="numeric-cell sortable-cell">Protein (g)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="checkbox-cell">
                        <label class="checkbox">
                          <input type="checkbox">
                          <i class="icon-checkbox"></i>
                        </label>
                      </td>
                      <td class="label-cell">Frozen yogurt</td>
                      <td class="numeric-cell">159</td>
                      <td class="numeric-cell">6.0</td>
                      <td class="numeric-cell">24</td>
                      <td class="numeric-cell">4.0</td>
                    </tr>
                    ...
                  </tbody>
                </table>
              </div>
            </div>
      p Where
      ul
        li <code>sortable-cell</code> - additional class to make cell/column is sortable
        li <code>sortable-cell-active</code> - additional class to specify active/default sortable cell/column
        li <code>sortable-asc</code> - additional class to specify current sorting as ascending (default)
        li <code>sortable-desc</code> - additional class to specify current sorting as descending
      .important-note
        p Note, <b>there is no actual sortable logic</b> provided by framework. Actual sorting logic should be realized manually

      h2(data-device-preview="../docs-demos/core/data-table-collapsible.html") Collapsible
      p The following table will be collapsed to kind of List View on small screens:
      :code(lang="html")
            <div class="card data-table data-table-collapsible data-table-init">
              <div class="card-header">
                <div class="data-table-title">Nutrition</div>
                <div class="data-table-actions">
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">sort</i>
                    <i class="icon material-icons md-only">sort</i>
                  </a>
                  <a class="link icon-only">
                    <i class="icon f7-icons ios-only">more_vertical_round</i>
                    <i class="icon material-icons md-only">more_vert</i>
                  </a>
                </div>
              </div>
              <div class="card-content">
                <table>
                  <thead>
                    <tr>
                      <th class="label-cell">Desert (100g serving)</th>
                      <th class="numeric-cell">Calories</th>
                      ...
                      <th class="numeric-cell">Protein (g)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="label-cell">Frozen yogurt</td>
                      <td class="numeric-cell">159</td>
                      ...
                      <td class="numeric-cell">4.0</td>
                    </tr>
                    ...
                  </tbody>
                </table>
              </div>
            </div>
      p Where
      ul
        li <code>data-table-collapsible</code> - additional table class to enable collapsible logic. Note that "data-table-init" class is also required for this.
    h2 Data Table App Methods
    p In case you add data table dynamically and you need such selecting rows or switching headers logic you need to init it manually. Let's look at related app methods to work with data table:
    .method-wrap
      p
        span.method app.dataTable.create(<span>parameters</span>)
        | - create Data Table instance
      ul.method-parameters
        li
          span.parameter parameters
          |  - <span class="parameter-type">object</span>. Object with data table parameters
      p.method-returns Method returns created Data Table's instance

    .method-wrap
      p
        span.method app.dataTable.destroy(<span>el</span>)
        | - destroy Data Table instance
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) or <span class="parameter-type">object</span>. Data Table element or Data Table instance to destroy.
    .method-wrap
      p
        span.method app.dataTable.get(<span>el</span>)
        | - get Data Table instance by HTML element
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). Data Table element.
      p.method-returns Method returns Data Table's instance
    h2 Data Table Parameters
    p Now let's look at list of available parameters we need to create Data Table:
    table.params-table
      thead
        tr
          th Parameter
          th Type
          th Default
          th Description
      tbody
        tr
          td el
          td HTMLElement
          td
          td Data Table element. Can be useful if you already have Data Table element in your HTML and want to create new instance using this element
