extends ../_docs-template

block vars
  - var title = 'Elevation | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Elevation
    ul.docs-index
    p Shadows provide important visual cues about objects' depth and directional movement. They are the only visual cue indicating the amount of separation between surfaces. An object's elevation determines the appearance of its shadow. The elevation values are in range from 0 to 24.
    <p>Elevation can be added to any element by adding `elevation-0`, `elevation-1`, ..., `elevation-24` classes.</p>
    <p>To add different elevation only on hover (desktop), you can use `elevation-hover-0`, `elevation-hover-1`, ..., `elevation-hover-24` classes.</p>
    <p>To specify elevation only when item pressed, you can use `elevation-pressed-0`, `elevation-pressed-1`, ..., `elevation-pressed-24` classes.</p>
    p To add transition between elevation changes (when `elevation-$n`, `elevation-hover-$n` and `elevation-pressed-$n` used together) we can add `elevation-transition` class to element, it will set 200ms transition duration. To use different duration we can use one of `elevation-transition-100`, `elevation-transition-200`, ..., `elevation-transition-500` classes.

    +cssVars('elevation')
    .with-device
      h2(data-device-preview="../docs-demos/core/elevation.html") Example
      include:coreSource ../docs-demos/core/elevation.f7.html
