extends ../_docs-template

block vars
  - var title = 'Fast Clicks | Framework7 Documentation';

block content

  .docs-nav
    include ../_docs-menu
  .docs-content

    h1 Fast Clicks
    p Fast clicks is a built-in library that removes click delay from links and form elements in mobile browser while you click them. Modern browsers are smart enough to eliminate that click delay. You can enable this built-in library in <a href="app.html#app-parameters">app parameters</a> if you target old devices or experience click delays:
    :code(lang="js")
          var app = new Framework7({
            touch: {
              // Enable fast clicks
              fastClicks: true,
            }
          });
    h2 no-fastclick Class
    p If you have enabled Fast Clicks and want to disable it on some specific element then just add <code>no-fastclick</code> class to the required element:
    :code(lang="html")
          &lt;a href="#"&gt;Fast Click&lt;/a&gt;
          &lt;a href="#" class="no-fastclick"&gt;Usual Click&lt;/a&gt;
