extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Layout Grid | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Layout Grid
        p Framework7 comes with flexible layout grid that allows you place your content as you need:
        pre
          code
            | &lt;!-- Each "cells" row should be wrapped with div class="row" --&gt;
            | &lt;div class="row"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            | &lt;/div&gt;   
            | &lt;div class="row"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            | &lt;/div&gt;
        p By defaul all "cells" has 15px gutter between each other. If you want "cells" without gutter, you should add additional "no-gutter" class to "row":
        pre
          code
            | &lt;!-- Additional "no-gutter" class on row to remove space between cells --&gt;
            | &lt;div class="row no-gutter"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            |     &lt;div class="col-50"&gt;50%&lt;/div&gt;
            | &lt;/div&gt;   
            | &lt;div class="row"&gt;
            |     &lt;!-- Each "cell" has col-[widht in percents] class --&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            |     &lt;div class="col-33"&gt;33%&lt;/div&gt;
            | &lt;/div&gt;
        p The following columns size are available:
        - var cols = [5, 10, 15, 20, 25, 30, 100/3, 35, 40, 45, 50, 55, 60, 65, 100*(2/3), 70, 75, 80, 85, 90, 95, 100];
        table
          thead
            tr
              th Class
              th Tablet Class <br> When window width >= 768px
              th Width
          tbody
            - for (var i = 0; i < cols.length; i++)
              - var className = Math.floor(cols[i]);
              tr
                td col-#{className}
                td tablet-#{className}
                td #{cols[i]}%
            tr
              td col-auto
              td tablet-auto
              td Equal width
            
      h2(data-device-preview="../docs-demos/grid.html") Usage example
      p By default grid columns (cells) has no any visual styles, we'll add them for this demo:
      pre
        code
          | div[class*="col-"] {
          |   background: #fff;
          |   text-align: center;
          |   color: #000;
          |   border: 1px solid #ddd;
          |   padding: 5px;
          | }
          | .row {
          |   margin-bottom: 15px;
          | }          
      pre
        code
          | &lt;body&gt;
          |   ...
          |   &lt;div class="page-content"&gt;
          |     &lt;div class="content-block-title"&gt;Columns with gutter&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-66"&gt;66%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-75"&gt;75%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-80"&gt;80%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="content-block-title"&gt;No gutter between columns&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |         &lt;div class="col-66"&gt;66%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-75"&gt;75%&lt;/div&gt;
          |         &lt;div class="col-25"&gt;25%&lt;/div&gt;
          |       &lt;/div&gt;
          |       &lt;div class="row no-gutter"&gt;
          |         &lt;div class="col-80"&gt;80%&lt;/div&gt;
          |         &lt;div class="col-20"&gt;20%&lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          | 
          |     &lt;div class="content-block-title"&gt;Nested&lt;/div&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;div class="row"&gt;
          |         &lt;div class="col-50"&gt;50%
          |           &lt;div class="row"&gt;
          |             &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |             &lt;div class="col-50"&gt;50%&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |         &lt;div class="col-50"&gt;50%
          |           &lt;div class="row"&gt;
          |             &lt;div class="col-33"&gt;33%&lt;/div&gt;
          |             &lt;div class="col-66"&gt;66%&lt;/div&gt;
          |           &lt;/div&gt;
          |         &lt;/div&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | 
          |   &lt;div class="content-block-title"&gt;Responsive Grid&lt;/div&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;p&gt;Grid cells have different size on Phone/Tablet&lt;/p&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-100 tablet-50"&gt;.col-100.tablet-50&lt;/div&gt;
          |       &lt;div class="col-100 tablet-50"&gt;.col-100.tablet-50&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |       &lt;div class="col-50 tablet-25"&gt;.col-50.tablet-25&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-100 tablet-40"&gt;.col-100.tablet-40&lt;/div&gt;
          |       &lt;div class="col-50 tablet-60"&gt;.col-50.tablet-60&lt;/div&gt;
          |       &lt;div class="col-50 tablet-66"&gt;.col-50.tablet-66&lt;/div&gt;
          |       &lt;div class="col-100 tablet-33"&gt;.col-100.tablet-33&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;          
          | 
          |   &lt;div class="content-block-title"&gt;COLUMNS WITH EQUAL WIDTH&lt;/div&gt;
          |   &lt;div class="content-block"&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row"&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="row no-gutter"&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |       &lt;div class="col-auto"&gt;.col-auto&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;          
          |   ...
          | &lt;/body&gt;          

        