extends ../_docs-template

block vars
  - var title = 'Hairlines | Framework7 Documentation';

block content

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Hairlines / Borders
    p All hairlines (thin borders) are made with `:after` and `:before` pseudo elements instead of usual CSS borders. This method allows to have true 0.5px (for iOS Retina) and 0.33px (for iPhone X/Plus) hairlines
    p The rule is simple:
    ul
      li "bottom" and "right" hairlines are made using `:after` pseudo elements
      li "left" and "top" hairlines are made using `:before` pseudo elements
    p So, for example, if you want to change navbar's bottom hairline color, you need to change <b>background-color</b> of its `.navbar-bg:after` element:
    :code(lang="css")
      .navbar-bg:after {
        background-color: #ff0000;
      }
    p To remove bottom hairline on navbar and top hairline on toolbar:
    :code(lang="css")
      .navbar-bg:after {
        display:none;
      }

      .toolbar:before {
        display:none;
      }
    h2 `no-hairline` Class
    p This helper class can be used to remove hairline. Currently it is supported on Navbar, Toolbar, Subnavbar, Searchbar, Card and its elements (card header, footer).
    P To remove hairline from navbar:
    :code(lang="html")
      <div class="navbar no-hairline">
          ...
      </div>
    h2 `no-hairlines` Classes
    ul
      li `no-hairlines` class on List View and Content Block to remove outer hairlines.
      li `no-hairlines-md` does the same but only for MD theme.
      li `no-hairlines-ios` does the same but only for iOS theme.
      li `no-hairlines-aurora` does the same but only for Aurora theme.
      li `no-hairlines-between` class on List View to remove hairlines between list items.
      li `no-hairlines-between-md` does the same but only for MD theme.
      li `no-hairlines-between-ios` does the same but only for iOS theme.
      li `no-hairlines-between-aurora` does the same but only for Aurora theme.

    :code(lang="html")
      <!-- remove outer hairlines -->
      <div class="list no-hairlines">
        ...
      </div>

      <!-- remove hairlines between items -->
      <div class="list no-hairlines-between">
        ...
      </div>

      <!-- remove hairlines between items only for MD theme -->
      <div class="list no-hairlines-between-md">
        ...
      </div>

    h2 Hairlines CSS Variables
    p If there is a CSS variable available for hairline/border color, it can be set to transparent, instead of removal. For example to remove (make transparent) List Item hairlines, we may just specify:
    :code(lang="css")
      :root {
        --f7-list-item-border-color: transparent;
      }


