extends ../_docs-template

block vars
  - var title = 'Hairlines | Framework7 Documentation';

block content

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Hairlines / Borders
    p All hairlines (thin borders) are made with <code>:after</code> and <code>:before</code> pseudo elements instead of usual CSS borders. This method allows to have true 0.5px (for iOS Retina) and 0.33px (for iPhone X/Plus) hairlines
    p The rule is simple:
    ul
      li "bottom" and "right" hairlines are made using <code>:after</code> pseudo elements
      li "left" and "top" hairlines are made using <code>:before</code> pseudo elements
    p So, for example, if you want to change navbar's bottom hairline color, you need to change <b>background-color</b> of <code>:after</code> element:
    :code(lang="css")
          .navbar:after {
            background-color: red;
          }
    p To remove bottom hairline on navbar and top hairline on toolbar:
    :code(lang="css")
          .navbar:after {
            display:none;
          }

          .toolbar:before {
            display:none;
          }
    h2 no-hairline Class
    p This helper class can be used to remove hairline. Currently it is supported on Navbar, Toolbar, Subnavbar, Searchbar, Card and its elements (card header, footer).
    P To remove hairline from navbar:
    :code(lang="html")
          &lt;div class="navbar no-hairline"&gt;
              ...
          &lt;/div&gt;
    h2 no-hairlines Classes
    ul
      li <code>no-hairlines</code> class on List View and Content Block to remove outer hairlines.
      li <code>no-hairlines-md</code> does the same but only for MD theme.
      li <code>no-hairlines-ios</code> does the same but only for iOS theme.
      li <code>no-hairlines-between</code> class on List View to remove hairlines between list items.
      li <code>no-hairlines-between-md</code> does the same but only for MD theme.
      li <code>no-hairlines-between-ios</code> does the same but only for MD theme.

    :code(lang="html")
          <!-- remove outer hairlines -->
          <div class="list no-hairlines">
            ...
          </div>

          <!-- remove hairlines between items -->
          <div class="list no-hairlines-between">
            ...
          </div>

          <!-- remove hairlines between items -->
          <div class="list no-hairlines-between">
            ...
          </div>

          <!-- remove hairlines between items only for MD theme -->
          <div class="list no-hairlines-between-md">
            ...
          </div>


