extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Hide Bars On Scroll | Framework7 Documentation';

block content
  .docs-demo-device
    iframe(width="320", height="548", frameborder="0", scrolling="on")
    .fade-overlay
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content.with-device
      .full-width
        h1 Hide Bars (Navbar and Toolbar) On Scroll
        p Framework7 allows you to enable this feature when Navbar and/or Toolbar can be automatically hidden while you scrolling page down.
        p To enable it globally for all pages you may use <code>hideNavbarOnPageScroll</code>, <code>hideToolbarOnPageScroll</code>, <code>hideTabbarOnPageScroll</code> and <code>showBarsOnPageScrollEnd</code> <a href="init-app.html">App initialization</a> parameters
        p If you want to enable it on some specific page by using additional classes on <code>&lt;div class="page-content"&gt;</code>:
        ul
          li
            p <code>hide-bars-on-scroll</code> - to hide both Navbar and Toolbar on page scroll
          li
            p <code>hide-navbar-on-scroll</code> - to hide Navbar on page scroll
          li
            p <code>hide-toolbar-on-scroll</code> - to hide Toolbar on page scroll
          li
            p <code>hide-tabbar-on-scroll</code> - to hide Tab bar on page scroll (only for Tab Bar app layout)
        p To disable this behavior on specific pages you may use the following additional classes:
        ul
          li
            p <code>keep-bars-on-scroll</code> - to keep Navbar and Toolbar on page scroll
          li
            p <code>keep-navbar-on-scroll</code> - to keep Navbar on page scroll
          li
            p <code>keep-toolbar-on-scroll</code> - to keep Toolbar on page scroll
          li
            p <code>keep-tabbar-on-scroll</code> - to keep Tab bar on page scroll (only for Tab Bar app layout)
      .device-spacer(style="height:100px")
      h3(data-device-preview="../docs-demos/hide-bars.html") Demo
      pre
        code
          | ...
          | &lt;div class="page"&gt;
          |   &lt;div class="navbar"&gt;
          |     &lt;div class="navbar-inner"&gt;
          |       &lt;div class="left"&gt;&lt;/div&gt;
          |       &lt;div class="center"&gt;Hide Bars On Scroll&lt;/div&gt;
          |       &lt;div class="right"&gt;&lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;!-- "hide-bars-on-scroll" class to hide both Navbar and Toolbar --&gt;
          |   &lt;div class="page-content hide-bars-on-scroll"&gt;
          |     &lt;div class="content-block"&gt;
          |       &lt;p&gt;Scroll page down&lt;/p&gt;
          |       &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at nibh felis. Nunc consequat diam et tellus tempor gravida. Donec hendrerit aliquet risus, ut tempor purus dictum sit amet. Integer sit amet lacus eget ipsum pulvinar interdum. Proin semper turpis sed placerat dapibus. Sed iaculis id nibh a viverra. Sed vitae tellus sed purus lacinia dignissim. Aenean sagittis interdum leo in molestie. Aliquam sodales in diam eu consectetur. Sed posuere a orci id imperdiet.&lt;/p&gt;
          |       ...
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="toolbar"&gt;
          |     &lt;div class="toolbar-inner"&gt;
          |       &lt;a href="#" class="link"&gt;Hello&lt;/a&gt;
          |       &lt;a href="#" class="link"&gt;World&lt;/a&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | ...
      .device-spacer(style="height:30px").stop-scroll-device
      .full-width
        .important-note
          p If you don't want your Navbar/Toolbar become visible when scroll reaches end of the page, then you need to disable <b>showBarsOnPageScrollEnd</b> parameter on <a href="init-app.html">App initialization</a>
        .important-note
          p If you don't want your Navbar/Toolbar become visible when you scroll to top, then you need to disable <b>showBarsOnPageScrollTop</b> parameter on <a href="init-app.html">App initialization</a>. In this case they will become visible only on the most top scroll position, in the beginning of the page
      