extends ../_docs-template

block vars
  - var title = 'Framework7 Documentation';

block content
  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Framework7 Documentation
    p Start creating awesome iOS & Android apps with Framework7.
    p Before you start we highly recommend you to read the <a href="installation.html">Installation</a> guide on how to download/install Framework7 and look at its basic layout.
    p Framework7's learning curve is pretty easy. If you know HTML, CSS and a bit of JavaScript - you almost know how to create apps with Framework7.
    p So, let's start from basic <a href="app-layout.html">App HTML Layout</a>
