extends ../_docs-template

block vars
  - var title = 'Introduction to Framework7 | Framework7 Documentation';

block content
  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Introduction
    p Framework7 - is a free and open source mobile HTML framework to develop hybrid mobile apps or web apps with iOS & Android native look and feel. It is also an indispensable prototyping apps tool to show working app prototype as soon as possible in case you need to.

    p The main approach of the Framework7 is to give you an opportunity to create iOS & Android apps with HTML, CSS and JavaScript easily and clear. Framework7 is full of freedom. It doesn't limit your imagination or offer ways of any solutions somehow. Framework7 gives you freedom!

    p Framework7 is not compatible with all platforms. It is focused only on iOS and Google Material design to bring the best experience and simplicity.

    p It is highly recommended to be familiar with basics of HTML, CSS and JavaScript to start creating apps with Framework7.

    p Current documentation currently doesn't cover process of compilation of Framework7 app to Cordova app. It is about Framework7 and how to use all of its components. To learn more about how to compile Framework7 app to hybrid Cordova app that can be released at iOS and Google Play store refer to <a href="http://cordova.apache.org/docs/en/latest/" target="_blank">Official Cordova Documentation</a>

    p Framework7 <a href="kitchen-sink.html">Kitchen Sink</a> is also a great place to get started, it has a lot examples for all Framework7 components and covers most of aspects.

    p Ok, so first of all we need to learn <a href="installation.html">how to install Framework7</a>

