extends ../_docs-template

block vars
  - var title = 'Kitchen Sink | Framework7 Documentation';

block content
  include ../_docs-demo-device
  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Kitchen Sink
    ul.docs-index
    .with-device(data-device-preview="../kitchen-sink/core/index.html?theme=ios")
      p Framework7 Kitchen Sink is a great place to get started, it has a lot of examples for all Framework7 components and covers most of aspects.
      p It is recommended to use Kitchen Sink as a reference during development.
      h2 Source Code
      p Core Kitchen Sink source code is located at <a href="https://github.com/framework7io/framework7/tree/master/kitchen-sink/core" target="_blank">GitHub repository</a>
      h2 Running Locally
      p To run Core Kitchen Sink locally we need:
      ol
        li
          p Download and unzip <a href="https://github.com/framework7io/framework7/" target="_blank">Framework7 GitHub repository</a> to a local folder
        li
          p Install <a href="http://nodejs.org/" target="_blank">Node.js</a> (if not installed)
        li
          p Now, we need to install required dependencies. Go to the folder with downloaded and unzipped Framework7 repository and execute in terminal:
          :code
            $ npm install
        li
          p We are ready to launch Core Kitchen Sink, just execute in terminal:
          :code
            $ npm run core
