extends ../_docs-template

block vars
  - var title = 'Lazy Load Images | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Lazy Load
    ul.docs-index
    p Lazy Load delays loading of images on page while they are outside of viewport until user scrolls to them.
    p It will make the page load faster, improve scrolling performance and also save traffic.
    .important-note
      p Note, that lazy images and elements should be inside of scrollable `<div class="page-content">` to work correctly
    h2 Usage
    h3 With Images
    p To use lazy load on images:
    ol
      li specify image source into `data-src` attribute instead of `src` attribute
      li add `lazy` class to the image
    :code(lang="html")
      <div class="page-content">
        ...
        <img data-src="path/to/image.jpg" class="lazy" />
        ...
      </div>
    .important-note After lazy image successfully loaded, <em>or in case of error loading the image file</em>, the `lazy` class will be replaced with `lazy-loaded` class.
    h3 With Background Images
    p It is also possible to use lazy load for background images, in this case:
    ol
      li specify element's background image source into `data-background`
      li add `lazy` class to element
    :code(lang="html")
      <div class="page-content">
        ...
        <div data-background="path/to/image.jpg" class="lazy">
            ...
        </div>
        ...
      </div>
    .important-note After lazy image successfully loaded, <em>or in case of error loading the image file</em>, the `lazy` class will be replaced with `lazy-loaded` class.

    h3 With Fade-in Effect
    p If you want to add fade-in effect when image is loaded, you need to add additional `lazy-fade-in` class to image/element:
    :code(lang="html")
      <div class="page-content">
        ...
        <img data-src="path/to/image.jpg" class="lazy lazy-fade-in" />
        <div data-background="path/to/image.jpg" class="lazy lazy-fade-in">
            ...
        </div>
        ...
      </div>
    h2 Lazy Load App Parameters
    p It is possible to control some default lazy loading behavior using global <a href="app.html#app-parameters">app parameters</a> by passing lazy loading related parameters under `lazy` parameter:
    table.params-table
      thead
        tr
          th Parameter
          th Type
          th Default
          th Description
      tbody
        tr
          td placeholder
          td string
          td
          td Lazy load image placeholder source to show while image is not yet loaded. By default it is 1x1 px image
        tr
          td threshold
          td number
          td 0
          td By default images are loaded when they appear on the screen. Use this parameter if you want to load images earlier. Setting it to 50 will load image when it 50 pixels before it appears on viewport
        tr
          td sequential
          td boolean
          td true
          td If enabled, then lazy images will be loaded one by one when they appear in viewport
        tr
          td observer
          td boolean
          td true
          td If enabled, it will use #[a(href="https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API" target="_blank") Intersection Observer] if it is supported by browser.
    p For example:
    :code(lang="js")
          var app = new Framework7({
            lazy: {
              threshold: 50,
              sequential: false,
            },
          });
    h2 Lazy Load App Methods
    p If you add lazy load images manually after page initialization (e.g. after Ajax request) then Lazy Load won't be initialized automatically and won't work as expected. In this case you need to init it manually using the following method:
    .method-wrap
      p
        span.method app.lazy.create(<span>pageEl</span>)
        span  - initialize lazy loading on page
      ul.method-parameters
        li
          span.parameter pageEl
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of page which contains lazy load images. Required.
    p And if you want to destroy/disable it later:
    .method-wrap
      p
        span.method app.lazy.destroy(<span>pageEl</span>)
        span  - destroy/disable lazy loading on page
      ul.method-parameters
        li
          span.parameter pageEl
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of page which contains lazy load images. Required.
    p If you want to force any lazy image/element to load you may use the following method:
    .method-wrap
      p
        span.method app.lazy.loadImage(<span>imageEl, callback</span>)
        span  - force to load lazy image
      ul.method-parameters
        li
          span.parameter imageEl
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of lazy image or element (element with `lazy` class). Required.
        li
          span.parameter callback
          |  - <span class="parameter-type">function</span> - callback function that will be executed when image file loaded or in case of error loading this file.
    h2 Lazy Load Events
    p Lazy load will fire the following DOM events on lazy element and events on app instance:
    h3 DOM Events
    table.events-table
      thead
        tr
          th Event
          th Target
          th Description
      tbody
        tr
          td lazy:load
          td Lazy Element<span>&lt;... class="lazy"&gt;</span>
          td Event will be triggered in the beginning of image file loading
        tr
          td lazy:loaded
          td Lazy Element<span>&lt;... class="lazy"&gt;</span>
          td Event will be triggered after image file successfully loaded
        tr
          td lazy:error
          td Lazy Element<span>&lt;... class="lazy"&gt;</span>
          td Event will be triggered in case of error loading image file
    h3 App Instance Events
    p Lazy load emits events on app instance as well.
    table.events-table
      thead
        tr
          th Event
          th Target
          th Arguments
          th Description
      tbody
        tr
          td lazyLoad
          td app
          td <span>lazyEl</span>
          td Event will be triggered in the beginning of image file loading. As an argument it receives lazy loading HTML element
        tr
          td lazyLoaded
          td app
          td <span>lazyEl</span>
          td Event will be triggered after image file successfully loaded. As an argument it receives lazy loading HTML element
        tr
          td lazyError
          td app
          td <span>lazyEl</span>
          td Event will be triggered in case of error loading image file. As an argument it receives lazy loading HTML element


    h2 Trigger Lazy Load Manually
    p It is possible to force lazy handler to check lazy images by triggering `lazy` event on lazy image/element. It is useful in case you have added lazy elements dynamically and want to check should them be loaded or not without scrolling the page. For example:
    :code(lang="js")
      $$('img.lazy').trigger('lazy');
      $$('div.lazy').trigger('lazy');
    .with-device
      h2(data-device-preview="../docs-demos/core/lazy-load.html") Examples
      include:coreSource ../docs-demos/core/lazy-load.f7.html
