extends ../_docs-template

block vars
  - var title = 'List Button | Framework7 Documentation';

block docs-index


block content
  .docs-nav
    include ../_docs-menu
  .docs-content
    .motion-docs-page-title
      h1 List Button
      script(async src="/js/motion/listbutton.js")
      f7-motion-listbutton(motion)
    h2 List Button Layout
    p List button is a simplified list link item, useful in case you need to trigger simple self-explaining actions:
    :code(lang="html")
      <li>
        <a class="list-button">List Button 1</a>
      </li>
      <li>
        <a class="list-button">List Button 2</a>
      </li>

    +cssVars('list')

    h2 Examples
    +examplePreview('core', 'list-button.html', 'list-button')
