extends ../_docs-template

block vars
  - var title = 'Menu | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Menu
    ul.docs-index

    p Menu component not so often seen in mobile apps. But it is proven to be extremely helpful when you need controls on top of the map, images, some text/code editor, etc.

    h2 Menu Layout
    p First of all let's look on Menu HTML layout:
    :code(lang="html")
      <!-- Menu container -->
      <div class="menu">
        <div class="menu-inner">
          <!-- Single menu item -->
          <a href="#" class="menu-item">
            <div class="menu-item-content">Item 1</div>
          </a>
          <a href="#" class="menu-item">
            <div class="menu-item-content">Item 2</div>
          </a>
          <!-- Menu item with icon only -->
          <a href="#" class="menu-item icon-only">
            <div class="menu-item-content">
              <i class="f7-icons">pencil</i>
            </div>
          </a>

          <!-- Menu item with dropdown -->
          <div class="menu-item menu-item-dropdown">
            <div class="menu-item-content">Left</div>
            <!-- Dropdown container -->
            <div class="menu-dropdown menu-dropdown-left">
              <!-- Dropdown content -->
              <div class="menu-dropdown-content">
                <!-- Dropdown link -->
                <a href="#" class="menu-dropdown-link menu-close">Menu Item 1</a>
                <a href="#" class="menu-dropdown-link menu-close">Menu Item 2</a>
                <a href="#" class="menu-dropdown-link menu-close">Menu Item 3</a>
                <a href="#" class="menu-dropdown-link menu-close">Menu Item 4</a>
                <!-- Dropdown divider -->
                <div class="menu-dropdown-divider"></div>
                <a href="#" class="menu-dropdown-link menu-close">Menu Item 5</a>
                <a href="#" class="menu-dropdown-link menu-close">Menu Item 6</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    p Where
      ul
        li `menu` - main Menu container
          ul
            li `menu-inner` - addition internal wrapper
              ul
                li `menu-item` - single menu item element. It can be both link (`<a>`) and div
                  ul
                    li `menu-item-content` - menu item content for text, icons and whetever else required.
                li `menu-item-dropdown` - additional class to be set on `menu-item` when it contains dropdown
                  ul
                    li `menu-dropdown` - menu item's dropdown container
                    li `menu-dropdown-left` - additonal class to tell dropdown position relatively to menu item. Can be also `menu-dropddown-center` and `menu-dropddown-right`
                    ul
                      li `menu-dropdown-link` - dropdown link item
                      li `menu-close` - additional class on element to close dropdown on such element click
                      li `menu-dropdown-divider` - dropdown divider element

    h2 Menu App Methods
    p Let's look at related App methods to work with Menu:
    .method-wrap
      p
        span.method app.menu.open(<span>el</span>)
        | - opens Menu dropdown
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). Menu item with dropdown to open.
    .method-wrap
      p
        span.method app.menu.close(<span>el</span>)
        | - closes Menu dropdown
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). Menu item with dropdown to close.

    h2 Control Menu With Links
    p It is possible to close Menu dropdown (if you have them in DOM) using special classes:
    .important-note
      ul
        li
          p To close Menu dropdown we need to add "<b>menu-close</b>" class to any HTML element (prefered to link)

    h2 Menu Events
    p Menu will fire the following DOM events on menu dropdown element and events on app instance:
    h3 DOM Events
    table.events-table
      thead
        tr
          th Event
          th Target
          th Description
      tbody
        tr
          td menu:opened
          td Menu Dropdown Item<span>&lt;div class="menu-item-dropdown"&gt;</span>
          td Event will be triggered right after menu dropdown will be opened
        tr
          td menu:closed
          td Menu Dropdown Item<span>&lt;div class="menu-item-dropdown"&gt;</span>
          td Event will be triggered right after menu dropdown will be closed
    h3 App Instance Events
    table.events-table
      thead
        tr
          th Event
          th Arguments
          th Description
      tbody
        tr
          td menuOpened
          td <span>(el)</span>
          td Event will be triggered right after menu dropdown will be opened. As an argument event handler receives menu dropdown item element
        tr
          td menuClosed
          td <span>(el)</span>
          td Event will be triggered right after menu dropdown will be closed. As an argument event handler receives menu dropdown item element

    +cssVars('menu')

    .with-device
      h2(data-device-preview="../docs-demos/core/menu.html") Examples
      include:coreSource ../docs-demos/core/menu.f7.html
