extends ../_internal-template

block vars
  - var activeLink = 'docs';
  - var title = 'Dynamic Pages | Framework7 Documentation';

block content
  .docs-wrap
    .docs-nav
      include ../_docs-menu
    .docs-content
      h1 Dynamic Pages
      p Framework7 also allows to create Dynamic pages and load them on the fly, without making any additional Ajax request.
      p This is only possible with using <a href="router-api.html">Router API</a>.
      p Everything that concerns loaded page structure, disabling swipe back for loaded page and going back in navigation, is the same as for usual <a href="pages-ajax.html">Ajax Pages</a>.
      p So to load Dynamic page we need to use View's <code>.router.loadContent</code> method where we need to pass HTML content of new page:
      pre
        code
          | // Init app
          | var myApp = new Framework7();
          | 
          | // Init main view
          | var mainView = myApp.addView('.view-main');
          | 
          | // HTML Content of new page:
          | var newPageContent = '&lt;div class="page" data-page="my-page"&gt;' +
          |                         '&lt;div class="page-content"&gt;' +
          |                           '&lt;p&gt;Here comes new page&lt;/p&gt;' +
          |                         '&lt;/div&gt;' +
          |                       '&lt;/div&gt;';
          | 
          | //Load new content as new page
          | mainView.router.loadContent(newPageContent);
          | 
          | // OR using .load method if need more options
          | mainView.router.load({
          |   content: newPageContent,
          |   animatePages: false
          | });
      p It is not very convenient to write multiline JavaScript, so if we use it often we may store Dynamic pages in script templates in index.html file:
      pre
        code.js
          | &lt;script type="text/template" id="myPage"&gt;
          |     &lt;div class="navbar"&gt;
          |         &lt;div class="navbar-inner"&gt;
          |             &lt;div class="center"&gt;My Page&lt;/div&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          |     &lt;div class="page" data-page="my-page"&gt;
          |         &lt;div class="page-content"&gt;
          |             &lt;p&gt;Here comes page content&lt;/p&gt;
          |         &lt;/div&gt;
          |     &lt;/div&gt;
          | &lt;/script&gt;  
      p And in JavaScript:
      pre
        code.js
          | mainView.router.loadContent($('#myPage').html());
      h2 Dynamic Pages URL
      p By default, dynamic page url follows this rule: <code>#content-{{index}}</code>, where {{index}} will be replaced with page index number in navigation history. This rule can be changed by changin <code>dynamicPageUrl</code> parameter on <a href="init-app.html">App initialization</a>