extends ../_docs-template

block vars
  - var title = 'Panel / Side Panels | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Panel / Side Panels
    ul.docs-index
    h2 Panel Layout
    p Let's look how to add Side Panels to our App. We may include up to 2 panels to our App, one on left side and another one on right side. We should add panels' HTML right in the beginning of the app root element (or &lt;body&gt; in case there is no root element in use):
    :code(lang="html")
          <body>
            <!-- App root element -->
            <div id="#app">
              <!-- Left panel -->
              <div class="panel panel-left">
                  ... panel content goes here ...
              </div>

              <!-- Right panel -->
              <div class="panel panel-right">
                  ... panel content goes here ...
              </div>

              ...
            </div>
          </body>
    h2 Panel Effect
    p After we added panels we need to choose opening effect for each panel. There could be one of two effects: <b>"Reveal"</b> (when panel moves out whole app's content) or <b>"Cover"</b> (when panel overlays app's content). If you want to use "Reveal" effect you should add additional <code><b>panel-reveal</b></code> class to Panel, or <code><b>panel-cover</b></code> for cover effect:
    :code(lang="html")
          <body>
            <!-- App root element -->
            <div id="#app">
              <!-- Left panel, let it be with reveal effect -->
              <div class="panel panel-left panel-reveal">
                  ... panel content goes here ...
              </div>

              <!-- Right panel, with cover effect -->
              <div class="panel panel-right panel-cover">
                  ... panel content goes here ...
              </div>

              ...
            </div>
          </body>
    h2 Panel App Parameters
    p It is possible to control some default panels behavior using global <a href="app.html#app-parameters">app parameters</a> by passing panels related parameters under <code>panel</code> parameter:
    table.params-table
      thead
        tr
          th Parameter
          th Type
          th Default
          th Description
      tbody
        tr
          td leftBreakpoint
          td number
          td
          td Minimal app width (in px) when left panel becomes always visible
        tr
          td rightBreakpoint
          td number
          td
          td Minimal app width (in px) when right panel becomes always visible
        tr
          td swipe
          td string
          td
          td Disabled by default. If you want to enable ability to open/close side panels with swipe you can pass here <code>left</code> (for left panel) or <code>right</code> (for right panel) or <code>both</code> (for both panels).
        tr
          td swipeActiveArea
          td number
          td 0
          td Width (in px) of invisible edge from the screen that triggers swipe panel
        tr
          td swipeCloseOpposite
          td boolean
          td true
          td This parameter gives ability to close opposite panel by swipe. For example, if your swipePanel is "left", then you could close "right" panel also with swipe.
        tr
          td swipeOnlyClose
          td boolean
          td false
          td This parameter allows to close (but not open) panels with swipes
        tr
          td swipeNoFollow
          td boolean
          td false
          td Fallback option for potentially better performance on old/slow devices. If you enable it, then side panel will not follow your finger during touch, it will be automatically opened/closed on swipe left/right.
        tr
          td swipeThreshold
          td number
          td 0
          td Panel will not move with swipe if "touch distance" will be less than this value (in px).
        tr
          td closeByBackdropClick
          td boolean
          td true
          td Enable/disable ability to close panel by clicking outside of panel (on panel's backdrop)
    p For example:
    :code(lang="js")
          var app = new Framework({
            panel: {
              swipe: 'left',
              leftBreakpoint: 768,
              rightBreakpoint: 1440,
            }
          });
    h2 Panel App Methods
    p Let's look at related App methods to work with Panel:
    .method-wrap
      p
        span.method app.panel.open(<span>side, animate</span>)
        | - open panel
      ul.method-parameters
        li
          span.parameter side
          |  - <span class="parameter-type">string</span>. Panel to open: "left" or "right". Required in case you have two panels.
        li
          span.parameter animate
          |  - <span class="parameter-type">boolean</span>. Should it be opened with animation or not. Optional, by default is <code>true</code>
    .method-wrap
      p
        span.method app.panel.close(<span>side, animate</span>)
        | - close panel
      ul.method-parameters
        li
          span.parameter side
          |  - <span class="parameter-type">string</span>. Panel to close. Optional, by default will close any opened panel.
        li
          span.parameter animate
          |  - <span class="parameter-type">boolean</span>. Should it be opened with animation or not. Optional, by default is <code>true</code>
    .method-wrap
      p
        span.method app.panel.create(<span>parameters</span>)
        | - create new panel instance
      ul.method-parameters
        li
          span.parameter parameters
          |  - <span class="parameter-type">object</span>. Object with panel parameters.
      p.method-returns Method returns created Panel instance
      .important-note Use this method only in case you have added panel to DOM after app initialization. Otherwise it will be created automatically
    .method-wrap
      p
        span.method app.panel.get(<span>side</span>)
        | - get Panel instance by specified side
      ul.method-parameters
        li
          span.parameter side
          |  - <span class="parameter-type">string</span>. Panel to get
      p.method-returns Method returns Panel instance
    .method-wrap
      p
        span.method app.panel.enableSwipe(<span>side</span>)
        | - enable swipes for panel (swipe-to-close and swipe-to-open)
      ul.method-parameters
        li
          span.parameter side
          |  - <span class="parameter-type">string</span>. Panel to enable swipe actions on
    .method-wrap
      p
        span.method app.panel.disableSwipe(<span>side</span>)
        | - disable swipes for panel (swipe-to-close and swipe-to-open)
      ul.method-parameters
        li
          span.parameter side
          |  - <span class="parameter-type">string</span>. Panel to disable swipe actions on
    .method-wrap
      p
        span.method app.panel.left
        | - left panel instance
    .method-wrap
      p
        span.method app.panel.right
        | - right panel instance
    h2 Panel Parameters
    p If we create Panel manually using <code>app.panel.create</code> method we need to pass object with panel parameters:
    table.params-table
      thead
        tr
          th Parameter
          th Type
          th Default
          th Description
      tbody
        tr
          td el
          td HTMLElement
          td
          td Panel element
        tr
          td side
          td string
          td
          td Can be <code>left</code> or <code>right</code>. If not passed then will be determined based on <code>panel-left</code> or <code>panel-right</code> element classes
        tr
          td effect
          td string
          td
          td Can be <code>cover</code> or <code>reveal</code>. If not passed then will be determined based on <code>panel-cover</code> or <code>panel-reveal</code> element classes
    p For example:
    :code(lang="js")
          var panel = app.panel.create({
            el: '.panel-left',
          })

    h2 Panel Methods & Properties
    p After we created Panel instance (by calling <code>app.panel.create</code>) or after we got Panel instance (by calling <code>app.panel.get</code>) we may use its useful methods and properties:
    table.methods-table
      tbody
        tr
          th(colspan="2") Properties
        tr
          td panel.app
          td Link to global app instance
        tr
          td panel.side
          td String with panel side: <code>left</code> or <code>right</code>
        tr
          td panel.effect
          td String with panel effect: <code>cover</code> or <code>reveal</code>
        tr
          td panel.opened
          td Boolean property indicating whether it is opened or not
        tr
          td panel.el
          td Panel HTML element
        tr
          td panel.$el
          td Dom7 instance with panel HTML element
        tr
          td panel.backdropEl
          td Backdrop HTML element
        tr
          td panel.$backdropEl
          td Dom7 instance with backdrop HTML element
        tr
          td panel.params
          td Popup parameters
        tr
          th(colspan="2") Methods
        tr
          td panel.open(<span>animate</span>)
          td Open panel. Where
            ul.method-parameters
              li
                span.parameter animate
                |  - <span class="parameter-type">boolean</span> (by default <code>true</code>) - defines whether it should be opened with animation or not
        tr
          td panel.close(<span>animate</span>)
          td Close panel. Where
            ul.method-parameters
              li
                span.parameter animate
                |  - <span class="parameter-type">boolean</span> (by default <code>true</code>) - defines whether it should be closed with animation or not
        tr
          td panel.destroy()
          td Destroy panel instance
        tr
          td panel.on(<span>event</span>, <span>handler</span>)
          td Add event handler
        tr
          td panel.once(<span>event</span>, <span>handler</span>)
          td Add event handler that will be removed after it was fired
        tr
          td panel.off(<span>event</span>, <span>handler</span>)
          td Remove event handler
        tr
          td panel.off(<span>event</span>)
          td Remove all handlers for specified event
        tr
          td panel.emit(<span>event</span>, <span>...args</span>)
          td Fire event on instance
    h2 Control Panel With Links
    p It is possible to open and close required panel (if you have them in DOM) using special classes and data attributes on links:
    .important-note
      ul
        li
          p To open panel we need to add <code><b>panel-open</b></code> class to any HTML element (prefered to link)
        li
          p To close panel we need to add <code><b>panel-close</b></code> class to any HTML element (prefered to link)
        li
          p If you have two panels in app, such link will open/close Left panel by default
        li
          p If you want to specify which panel should opened/closed, then it could be done via additional <code><b>data-panel="left</b></code> attribute on this HTML element
    p According to above note:
    :code(lang="html")
          <body>
            <div id="app">
              <!-- Left Panel with Reveal effect -->
              <div class="panel panel-left panel-reveal">
                <div class="content-block">
                  ...
                  <!-- Clicking on link with "panel-close" class will close panel -->
                  <p><a href="#" class="panel-close">Close me</a></p>
                  <!-- Click on link with "panel-open" and data-panel="right" attribute will open Right panel -->
                  <p><a href="#" data-panel="right" class="panel-close">Open Right Panel</a></p>
                </div>
              </div>

              <!-- Right Panel with Cover effect -->
              <div class="panel panel-right panel-cover">
                <div class="content-block">
                  ...
                  <!-- Click on link with "panel-close" class will close panel -->
                  <p><a href="#" class="panel-close">Close me</a></p>
                  <!-- Click on link with "panel-open" and data-panel="left" attribute will open Left panel -->
                  <p><a href="#" data-panel="left" class="panel-open">Open Left Panel</a></p>
                </div>
              </div>

              ...
              <div class="page-content">
                <div class="content-block">
                  <!-- If no data-panel attribute, Left panel will be opened by default -->
                  <p><a href="#" class="panel-open">Open Left Panel</a></p>
                  <!-- Click on link with "panel-open" and data-panel="right" attribute will open Right panel -->
                  <p><a href="#" data-panel="right" class="panel-open">Open Right Panel</a></p>
                </div>
              </div>
            </div>
            ...
          </body>
    h2 Routable Panels
    .important-note
      p
        b Routable Panels available from Framework7 version 3.2.0.
    p Panels can also be routable with same features as for routable modals and pages:
    ul
      li it provides opportunity to open Panel by usual links instead of so called special links or API,
      li with enabled Push State, the same Panel will be opened when you refresh browser, navigate back and forward in history,
      li with routable Panels you can load Panel itself and its content in the same ways as for pages and modals, i.e. using <code>url</code>, <code>content</code>, <code>template</code>, <code>templateUrl</code>, <code>component</code> or <code>componentUrl</code>
    :code(lang="js")
          routes = [
            ...
            // Creates Panel from passed HTML string
            {
              path: '/left-panel/',
              panel: {
                content: `
                  <div class="panel panel-left panel-cover">
                    <div class="view">
                      <div class="page">
                        ...
                      </div>
                    </div>
                  </div>
                `
              }
            },
            // Load Panel from file via Ajax
            {
              path: '/right-panel-ajax/',
              panel: {
                url: './right-panel.html',
                /* right-panel.html contains:
                <div class="panel panel-right panel-reveal">
                  <div class="view">
                    <div class="page">
                      ...
                    </div>
                  </div>
                </div>
                */
              },
            },
            // Load Panel from component file
            {
              path: '/panel-component/',
              panel: {
                componentUrl: './panel-component.html',
                /* panel-component.html contains:
                <template>
                  <div class="panel panel-left panel-cover">
                    <div class="view">
                      <div class="page">
                        ...
                      </div>
                    </div>
                  </div>
                </template>
                <style>...</style>
                <script>...</script>
                */
              },
            },
          ]
    p According to example above:
    ul
      li when you click on link with <code>/left-panel/</code> href attribute it will open Panel from specified string content,
      li when you click on link with <code>/right-panel-ajax/</code> href attribute it will perform Ajax request to <code>right-panel.html</code> file and open it as a Right Panel,
      li when you click on link with <code>/panel-component/</code> href attribute it will perform Ajax request to <code>panel-component.html</code> file, parse it as a Router Component and open it as a Panel,
    .important-note
      p Note that <b>routable Panels can't be mixed with static Panels</b>. So if you have static left panel in the app, then only right panel can be loaded as routable panel.
    h2 Panel Events
    p Panel will fire the following DOM events on panel element and events on app and panel instance:
    h3 DOM Events
    table.events-table
      thead
        tr
          th Event
          th Target
          th Description
      tbody
        tr
          td panel:open
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered when Panel starts its opening animation
        tr
          td panel:opened
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered after Panel completes its opening animation
        tr
          td panel:close
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered when Panel starts its closing animation
        tr
          td panel:closed
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered after Panel completes its closing animation
        tr
          td panel:backdrop-click
          td Panel Overlay Element<span>&lt;div class="panel-backdrop"&gt;</span></td>
          td Event will be triggered when the panel overlay is clicked
        tr
          td panel:swipeopen
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered in the very beginning of opening it with swipe
        tr
          td panel:swipe
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered for swipe panel during touch swipe action
        tr
          td panel:breakpoint
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered when it becomes visible/hidden when app width matches its breakpoint
        tr
          td panel:beforedestroy
          td Panel Element<span>&lt;div class="panel"&gt;</span>
          td Event will be triggered right before Panel instance will be destroyed
    h3 App and Panel Instance Events
    p Panel instance emits events on both self instance and app instance. App instance events has same names prefixed with <code>panel</code>.
    table.events-table.double-events-table
      thead
        tr
          th Event
          th Target
          th Arguments
          th Description
      tbody
        tr
          td open
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered when Panel starts its opening animation. As an argument event handler receives panel instance
        tr
          td panelOpen
          td app
          td <span>(panel)</span>
        tr
          td opened
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered when Panel completes its opening animation. As an argument event handler receives panel instance
        tr
          td panelOpened
          td app
          td <span>(panel)</span>
        tr
          td close
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered when Panel starts its closing animation. As an argument event handler receives panel instance
        tr
          td panelClose
          td app
          td <span>(panel)</span>
        tr
          td closed
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered when Panel completes its closing animation. As an argument event handler receives panel instance
        tr
          td panelClosed
          td app
          td <span>(panel)</span>
        tr
          td backdropClick
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered when the panel backdrop is clicked. As an argument event handler receives panel instance
        tr
          td panelBackdropClick
          td app
          td <span>(panel)</span>
        tr
          td swipeOpen
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered in the very beginning of opening it with swipe. As an argument event handler receives panel instance
        tr
          td panelSwipeOpen
          td app
          td <span>(panel)</span>
        tr
          td swipe
          td panel
          td <span>(panel, progress)</span>
          td(rowspan="2") Event will be triggered for swipe panel during touch swipe action. As an argument event handler receives panel instance and opened progress (from 0 to 1)
        tr
          td panelSwipe
          td app
          td <span>(panel, progress)</span>
        tr
          td breakpoint
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered when it becomes visible/hidden when app width matches its breakpoint. As an argument event handler receives panel instance
        tr
          td panelBreakpoint
          td app
          td <span>(panel)</span>
        tr
          td beforeDestroy
          td panel
          td <span>(panel)</span>
          td(rowspan="2") Event will be triggered right before Panel instance will be destroyed
        tr
          td panelBeforeDestroy
          td app
          td <span>(panel)</span>
    .with-device
      h2(data-device-preview="../docs-demos/core/panel.html") Examples
      :code(lang="html")
            <body>
              <div id="app">
                <div class="panel panel-left panel-reveal">
                  <div class="block">
                    <p>Left Panel content here</p>
                    <p><a class="panel-close" href="#">Close me</a></p>
                    <p><a class="panel-open" href="#" data-panel="right">Open Right Panel</a></p>
                  </div>
                </div>
                <div class="panel panel-right panel-cover">
                  <div class="block">
                    <p>Right Panel content here</p>
                    <p><a class="panel-close" href="#">Close me</a></p>
                    <p><a class="panel-open" href="#" data-panel="left">Open Left Panel</a></p>
                  </div>
                </div>
                <div class="view view-main view-init">
                  <div class="page">
                    <div class="navbar">
                      <div class="navbar-inner">
                        <div class="left"></div>
                        <div class="title">Panels</div>
                        <div class="right"></div>
                      </div>
                    </div>
                    <div class="page-content">
                      <div class="block">
                        <p><a class="panel-open" href="#">Open Left Panel</a></p>
                        <p><a class="panel-open" href="#" data-panel="right">Open Right Panel</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </body>
      :code(lang="js")
            var app = new Framework7();

            var $$ = Dom7;

            // Dom Events
            $$('.panel-left').on('panel:open', function () {
              console.log('Panel left: open');
            });
            $$('.panel-left').on('panel:opened', function () {
              console.log('Panel left: opened');
            });

            // Instance Events
            var panelRight = app.panel.right;
            panelRight.on('open', function () {
              console.log('Panel right: open');
            });
            panelRight.on('opened', function () {
              console.log('Panel right: opened');
            });

            // App Events
            app.on('panelClose', function (panel) {
              console.log('Panel ' + panel.side + ': close');
            });
            app.on('panelClosed', function (panel) {
              console.log('Panel ' + panel.side + ': closed');
            });





