extends ../_docs-template

block vars
  - var title = 'Pull To Refresh | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Pull To Refresh
    ul.docs-index
    p Pull to refresh is a special component that can be used to initiate the refreshing of a page’s contents.
    h2 Pull To Refresh Layout
    p Let's look on how to integrate pull to refresh to page:
    :code(lang="html")
          <div class="page">
            <!-- Page content must have additional "ptr-content" class -->
            <div class="page-content ptr-content" data-ptr-distance="55">
              <!-- Default pull to refresh preloader-->
              <div class="ptr-preloader">
                <div class="preloader"></div>
                <div class="ptr-arrow"></div>
              </div>

              <!-- usual content below -->
              <div class="list">
                ...
              </div>
            </div>
          </div>
    p Where:
      ul
        li <code><b>ptr-content</b></code> class. This is required to enable pull to refresh
        li <code><b>div class="ptr-preloader"</b></code> hidden layer with pull to refresh visual elements: preloader and arrow
        li <code>data-ptr-distance="55"</code> additional attribute that allows to set custom pull to refresh trigger distance. By default (if not specified) it is 44px
    h2 Pull To Refresh Sequence
    p When user starts to pull <b>ptr-content</b> down, then <b>ptr-preloader</b> will receive additional <code><b>ptr-pull-down</code></b> class.
    p When user pulls down <b>ptr-content</b> on a distance more than 44px (when <b>ptr-preloader</b> will be fully visible), then <b>ptr-preloader</b> will receive additional <code><b>ptr-pull-up</code></b> class which changes arrow rotation to notify user about refresh action on release.
    p When user release pull to refresh content when it is in "ptr-pull-up" state, then <b>ptr-preloader</b> will receive additional <code><b>ptr-refreshing</code></b> class. In "refreshing" state arrow will be hidden and user will see preloader indicator. On this stage you probably need to do Ajax request and refresh page content.
    h2 Pull To Refresh App Methods
    p There are few App's methods that can be used with pull to refresh container:
    .method-wrap
      p
        span.method app.ptr.create(<span>el</span>)
        span - initialise PTR on specified HTML element container.
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS selector) - PTR element (<code>ptr-content</code>). Required.
      p.method-returns Method returns created PTR instance
      .important-note Use this method only in case you have added ptr content after page init or if you want to enable it later. Otherwise if there is "ptr-content" element on page init it will be created automatically
    .method-wrap
      p
        span.method app.ptr.destroy(<span>el</span>)
        span - remove PTR event listeners from the specified HTML element
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS selector) - PTR element (<code>ptr-content</code>). Required.
    .method-wrap
      p
        span.method app.ptr.get(<span>el</span>)
        | - get PTR instance by HTML element
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). PTR element (<code>ptr-content</code>).
      p.method-returns Method returns PTR instance
    .method-wrap
      p
        span.method app.ptr.done(<span>el</span>)
        | - reset PTR state on specified PTR content element
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). PTR element (<code>ptr-content</code>). Required.
    .method-wrap
      p
        span.method app.ptr.refresh(<span>el</span>)
        | - trigger PTR on specified PTR content element
      ul.method-parameters
        li
          span.parameter el
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector). PTR element (<code>ptr-content</code>). Required.
    h2 Pull To Refresh Methods & Properties
    p If we created PTR manually or used <code>app.ptr.get</code> method we will PTR initialized instance with useful methods and properties:
    :code(lang="js")
          // init ptr manually
          var ptr = app.ptr.create('.ptr-content');

          // or using get to retreive already created instance
          var ptr = app.ptr.get('.ptr-content');
    table.methods-table
      tbody
        tr
          th(colspan="2") Properties
        tr
          td ptr.app
          td Link to global app instance
        tr
          td ptr.el
          td PTR HTML element (<code>ptr-content</code>)
        tr
          td ptr.$el
          td Dom7 instance with PTR HTML element (<code>ptr-content</code>)
        tr
          th(colspan="2") Methods
        tr
          td ptr.done()
          td Reset PTR state
        tr
          td ptr.refresh()
          td Trigger PTR
        tr
          td ptr.destroy()
          td Destroy PTR instance and remove PTR event listeners from the specified HTML element
    h2 Pull To Refresh Events
    p PTR will fire the following DOM events on popup element and events on app and popup instance:
    h3 DOM Events
    table.events-table
      thead
        tr
          th Event
          th Target
          th Description
      tbody
        tr
          td ptr:pullstart
          td Pull To Refresh content<span>&lt;div class="ptr-content"&gt;</span>
          td Event will be triggered when you start to move pull to refresh content
        tr
          td ptr:pullmove
          td Pull To Refresh content<span>&lt;div class="ptr-content"&gt;</span>
          td Event will be triggered during you move pull to refresh content
        tr
          td ptr:pullend
          td Pull To Refresh content<span>&lt;div class="ptr-content"&gt;</span>
          td Event will be triggered when you release pull to refresh content
        tr
          td ptr:refresh
          td Pull To Refresh content<span>&lt;div class="ptr-content"&gt;</span>
          td Event will be triggered when pull to refresh enters in "refreshing" state. <code>event.detail</code> contain <code>ptr.done</code> method to reset its state after loading completed
        tr
          td ptr:done
          td Pull To Refresh content<span>&lt;div class="ptr-content"&gt;</span>
          td Event will be triggered after pull to refresh is done and it is back to initial state (after calling <code>ptr.done</code> method)
        tr
          td ptr:beforedestroy
          td Pull To Refresh content<span>&lt;div class="ptr-content"&gt;</span>
          td Event will be triggered right before PTR instance will be destroyed
    h3 App and Pull To Refresh Instance Events
    p PTR instance emits events on both self instance and app instance. App instance events has same names prefixed with <code>ptr</code>.
    table.events-table.double-events-table
      thead
        tr
          th Event
          th Target
          th Arguments
          th Description
      tbody
        tr
          td pullStart
          td ptr
          td <span>(el)</span>
          td(rowspan="2") Event will be triggered when you start to move pull to refresh content. As an argument event handler receives ptr element
        tr
          td ptrPullStart
          td app
          td <span>(el)</span>

        tr
          td pullMove
          td ptr
          td <span>(el, data)</span>
          td(rowspan="2") Event will be triggered when you start to move pull to refresh content. As an argument event handler receives ptr element and ptr data containing the following properties:
            ul
              li <code>event</code> - touchmove event
              li <code>scrollTop</code> - current scroll top position
              li <code>translate</code> - current translateY offset
              li <code>touchesDiff</code> - touches difference (in px)
        tr
          td ptrPullMove
          td app
          td <span>(el, data)</span>

        tr
          td pullEnd
          td ptr
          td <span>(el, data)</span>
          td(rowspan="2") Event will be triggered when you release pull to refresh content. As an argument event handler receives ptr element
        tr
          td ptrPullEnd
          td app
          td <span>(el, data)</span>

        tr
          td refresh
          td ptr
          td <span>(el, done)</span>
          td(rowspan="2") Event will be triggered when pull to refresh enters. As an argument event handler receives ptr element and <code>done</code> function to reset PTR state
        tr
          td ptrRefresh
          td app
          td <span>(el, done)</span>

        tr
          td done
          td ptr
          td <span>(el)</span>
          td(rowspan="2") Event will be triggered right before PTR instance will be destroyed. As an argument event handler receives ptr element
        tr
          td ptrDone
          td app
          td <span>(el)</span>

        tr
          td beforeDestroy
          td ptr
          td <span>(ptr)</span>
          td(rowspan="2") Event will be triggered right before PTR instance will be destroyed. As an argument event handler receives PTR instance
        tr
          td ptrBeforeDestroy
          td app
          td <span>(ptr)</span>
    .with-device
      h2(data-device-preview="../docs-demos/core/pull-to-refresh.html") Example
      :code(lang="html")
            <div class="page-content ptr-content">
              <div class="ptr-preloader">
                <div class="preloader"></div>
                <div class="ptr-arrow"></div>
              </div>
              <div class="list media-list">
                <ul>
                  <li class="item-content">
                    <div class="item-media"><img src="http://lorempixel.com/88/88/abstract/1" width="44"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Yellow Submarine</div>
                      </div>
                      <div class="item-subtitle">Beatles</div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><img src="http://lorempixel.com/88/88/abstract/2" width="44"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Don't Stop Me Now</div>
                      </div>
                      <div class="item-subtitle">Queen</div>
                    </div>
                  </li>
                  <li class="item-content">
                    <div class="item-media"><img src="http://lorempixel.com/88/88/abstract/3" width="44"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Billie Jean</div>
                      </div>
                      <div class="item-subtitle">Michael Jackson</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
      :code(lang="js")
            var app = new Framework7();

            var $$ = Dom7;

            // Dummy Content
            var songs = ['Yellow Submarine', 'Don\'t Stop Me Now', 'Billie Jean', 'Californication'];
            var authors = ['Beatles', 'Queen', 'Michael Jackson', 'Red Hot Chili Peppers'];
            // Pull to refresh content
            var $ptrContent = $$('.ptr-content');
            // Add 'refresh' listener on it
            $ptrContent.on('ptr:refresh', function (e) {
              // Emulate 2s loading
              setTimeout(function () {
                var picURL = 'http://lorempixel.com/88/88/abstract/' + Math.round(Math.random() * 10);
                var song = songs[Math.floor(Math.random() * songs.length)];
                var author = authors[Math.floor(Math.random() * authors.length)];
                var itemHTML =
                  '<li class="item-content">' +
                    '<div class="item-media"><img src="' + picURL + '" width="44"/></div>' +
                    '<div class="item-inner">' +
                      '<div class="item-title-row">' +
                        '<div class="item-title">' + song + '</div>' +
                      '</div>' +
                      '<div class="item-subtitle">' + author + '</div>' +
                    '</div>' +
                  '</li>';
                // Prepend new list element
                $ptrContent.find('ul').prepend(itemHTML);
                // When loading done, we need to reset it
                app.ptr.done(); // or e.detail();
              }, 2000);
            });
