extends ../_docs-template

block vars
  - var title = 'Support | Framework7 Documentation';

block content

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Support
    p Framework7 also comes with features detection library.
    p It is available as a `support` property of Framework7 class (`Framework7.support`) and same property on initialized app instance (`app.support`):
    :code(lang="js")
      // If we need it in place where we don't have access to app instance or before we init the app
      if (!Framework7.support.touch) {
        console.log('No touch support');
      }


      // After we init the app we can access it as app instance property
      var app = new Framework7({ /*...*/ });

      if (!app.support.touch) {
        console.log('No touch support');
      }

    h2 `getSupport`
    p When we use Framework7 with ES modules, we need to use `getSupport` util instead:
    ```js
      import { getSupport } from 'framework7';

      const support = getSupport();

      if (!support.touch) {
        console.log('No touch support');
      }
    ```

    h2 Support Properties
    table.methods-table
      tr
        td touch
        td Touch events support (touchstart, touchmove, touchend)
      tr
        td pointerEvents
        td Pointer events support
      tr
        td intersectionObserver
        td Intersection Observer support
      tr
        td passiveListener
        td Passive event listener support
