extends ../_docs-template

block vars
  - var title = 'Swiper Slider | Framework7 Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Swiper Slider
    ul.docs-index
    p Framework7 comes with powerful and most modern touch slider ever - <a href="http://www.idangero.us/swiper/">Swiper Slider</a> with super flexible configuration and lot, lot of features.
    h2 Swiper Slider HTML Layout
    p Swiper HTML layout is pretty simple:
    :code(lang="html")
          &lt;!-- Slider container --&gt;
          &lt;div class="swiper-container"&gt;
              &lt;!-- Slides wrapper --&gt;
              &lt;div class="swiper-wrapper"&gt;
                  &lt;!-- Slides --&gt;
                  &lt;div class="swiper-slide"&gt;Slide 1&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 2&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 3&lt;/div&gt;
                  ... other slides ...
              &lt;/div&gt;
              &lt;!-- Pagination, if required --&gt;
              &lt;div class="swiper-pagination"&gt;&lt;/div&gt;
          &lt;/div&gt;
    p Where:
    ul
      li
        p <code>swiper-container</code> - main slider container with slides and paginations. Required element
        ul
          li
            p <code>swiper-wrapper</code> - additional wrapper for slides. Required element
            ul
              li
                p <code>swiper-slide</code> - single slide element. Could contain any HTML inside
          li
            p <code>swiper-pagination</code> - container with pagination bullets. Note, that pagination bullets will be created automatically. Optional element

    h2 Swiper App Methods
    p Now, when we have Swiper' HTML, we need to initialize it. We need to use related App's method:
    .method-wrap
      p
        span.method app.swiper.create(<span>swiperEl</span>, <span>parameters</span>)
        span - initialize slider with options
      ul.method-parameters
        li
          span.parameter swiperEl
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of swiper container HTML element. Required.
        li
          span.parameter parameters
          |  - <span class="parameter-type">object</span> - object with Swiper parameters. Optional.

        li.method-returns Method returns initialized Swiper instance
    .method-wrap
      p
        span.method app.swiper.destroy(<span>swiperEl</span>)
        span - destroy Swiper instance
      ul.method-parameters
        li
          span.parameter swiperEl
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of swiper container HTML element. Required.
    .method-wrap
      p
        span.method app.swiper.get(<span>swiperEl</span>)
        span - get Swiper instance by HTML element
      ul.method-parameters
        li
          span.parameter swiperEl
          |  - <span class="parameter-type">HTMLElement</span> or <span class="parameter-type">string</span> (with CSS Selector) of swiper container HTML element. Required.

    p For example:
    :code(lang="js")
          var swiper = app.swiper.create('.swiper-container', {
              speed: 400,
              spaceBetween: 100
          });
    h2 Swiper API (Parameters, Methods And Properties)
    p Сheck out <a href="http://www.idangero.us/swiper/api/#parameters" target="_blank">Swiper API Website</a> for the most relevant API parameters and methods.
    .important-note
      p Note that Framework7's version of Swiper doesn't contain <b>Keyboard, History, Hash Navigation and Mousewheel</b> modules as they are desktop only things
    h2 Swiper Auto Initialization
    p If you don't need to use Swiper API and your Swiper is inside of the page and <b>presented in DOM on moment of page initialization</b> then it can be auto initialized with just adding additional <code>swiper-init</code> class:
    :code(lang="html")
          &lt;!-- swiper-init to initialize swiper automatically --&gt;
          &lt;div class="swiper-container swiper-init"&gt;
              &lt;div class="swiper-wrapper"&gt;
                  &lt;div class="swiper-slide"&gt;Slide 1&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 2&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 3&lt;/div&gt;
                  ... other slides ...
              &lt;/div&gt;
          &lt;/div&gt;
    p In this case if you need to access created Swiper instance you can use the <code>app.swiper.get</code> app method:
    :code(lang="js")
          var swiper = app.swiper.get('.swiper-container');

          swiper.slideNext();
    p But what about Swiper parameters. In this case we need to pass them in <code>data-</code> attributes.
    .important-note
      p Parameters that used in camelCase, for example <code>slidesPerView</code>, in data- attributes should be used as kebab-case as <b>data-slides-per-view</b>
    :code(lang="html")
          &lt;!-- swiper properties in data- attributes --&gt;
          &lt;div class="swiper-container swiper-init" data-speed="400" data-space-between="40"&gt;
              &lt;div class="swiper-wrapper"&gt;
                  &lt;div class="swiper-slide"&gt;Slide 1&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 2&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 3&lt;/div&gt;
                  ... other slides ...
              &lt;/div&gt;
          &lt;/div&gt;
    p Or we can pass all Swiper parameters in <strong>valid JSON format</strong> in <code>data-swiper</code> attribute:
    :code(lang="html")
          &lt;!-- swiper properties in JSON format in data-swiper attribute --&gt;
          &lt;div class="swiper-container swiper-init" data-swiper="{'speed':'400', 'spaceBetween':'40'}"&gt;
              &lt;div class="swiper-wrapper"&gt;
                  &lt;div class="swiper-slide"&gt;Slide 1&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 2&lt;/div&gt;
                  &lt;div class="swiper-slide"&gt;Slide 3&lt;/div&gt;
                  ... other slides ...
              &lt;/div&gt;
          &lt;/div&gt;
    .with-device
      h2(data-device-preview="../docs-demos/core/swiper.html") Examples
      :code(lang="css")
            /* A bit of demo styles */;
            .demo-swiper .swiper-slide {
              font-size: 25px;
              font-weight: 300;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #fff;
              color: #000;
            }
            .demo-swiper .swiper-slide {
              box-sizing: border-box;
              border: 1px solid #ddd;
              background: #fff;
            }
            .demo-swiper {
              margin: 0px 0 35px;
              font-size: 18px;
              height: 120px;
            }
            .demo-swiper.demo-swiper-auto .swiper-slide {
              width: 85%;
            }
            .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
              width: 70%;
            }
            .demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
              width: 30%;
            }
      h4 Default
      :code(lang="html")
            <div class="swiper-container swiper-init demo-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>
      h4 1 Slide Per View, 50px Between
      :code(lang="html")
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>
      h4 2 Slides Per View, 20px Between
      :code(lang="html")
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="20" data-slides-per-view="2" class="swiper-container swiper-init demo-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>
      h4 3 Slides Per View, 10px Between
      :code(lang="html")
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="3" class="swiper-container swiper-init demo-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>
      h4 Auto Slides Per View + Centered
      :code(lang="html")
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="auto" data-centered-slides="true" class="swiper-container swiper-init demo-swiper demo-swiper-auto">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>
      h4 Vertical, 10px Between
      :code(lang="html")
            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-direction="vertical" class="swiper-container swiper-init demo-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
              </div>
            </div>
      h4 Slow speed
      :code(lang="html")
            <div data-speed="900" data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
              <div class="swiper-pagination"></div>
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>
