extends ../_docs-template

block vars
  - var title = 'Template7 | Framework7 Documentation';

block content

  .docs-nav
    include ../_docs-menu
  .docs-content
    +improveDocsLink
    h1 Template7
    p Template7 is a mobile-first JavaScript template engine with <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>-like syntax.
    p It is ultra lightweight (around 1KB minified and gzipped) and blazing fast (up to 3 times faster than Handlebars in mobile Safari!) and it is already included in Framework7. So you don't need to include any additional scripts.
    h2 Usage & API
    p Сheck out <a href="http://www.idangero.us/template7/" target="_blank">Template7 Website</a> for the most relevant guide and API. But skip the part about downloading, it is already included into Framework7.

    h2 Performance Tips
    p Template7 is fast and you can make it works even faster in your apps. The slowest part (but still very fast in T7) in all this compilation/rendering process is the compilation from string to pure JS function when you do <code>Template7.compile()</code>. So don't compile the same templates multiple times, one time will be enough:
    :code(lang="js")
          // Initialize app
          var app = new Framework7();

          var $$ = Dom7;

          // Compile templates once on app load/init
          var searchTemplate = $$('script#search-template').html();
          var compiledSearchTemplate = Template7.compile(searchTemplate);

          var listTemplate = $$('script#list-template').html();
          var compiledListTemplate = Template7.compile(listTemplate);

          // That is all, now and further just execute compiled templates with required context
          app.on('pageInit', function (page) {
              // Just execute compiled search template with required content:
              var html = compiledSearchTemplate({/*...some data...*/});

              // Do something with html...
          });
    h2 Using Template7 Outside
    p Template7 could be used as a standalone library without Framework7. You will need to download it at
      a(href="https://github.com/nolimits4web/Template7", target="_blank") Template7 GitHub repo
