extends ../_docs-template

block vars
  - var activeLink = 'docs';
  - var title = 'Video Intelligence (vi) | Framework7 Documentation';

block content
  include _docs-demo-device

  .docs-nav
    include ../_docs-menu
  .docs-content
    h1 Video Intelligence (vi)
    .docs-index

