extends ../_docs-template

block vars
  - var activeLink = 'svelte';
  - var title = 'App Svelte Component | Framework7 Svelte Documentation';

block content

  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    +improveDocsLink
    h1 App Svelte Component
    ul.docs-index
    p App Svelte component is the main Framework7 app component where all the <a href="../docs/app.html">Framework7 core initialization</a> happens and where you pass all main Framework7 parameters.
    h2 App Components
    p There are following components included:
    ul
      li `App`
    h2 App Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          td params
          td object
          td
          td Object with <a href="../docs/app.html#app-parameters">Framework7 parameters</a>
        tr
          td routes
          td array
          td
          td Array with default routes for all views. Same as `params.routes` so you can use this one if you feel more comfortable with such approach
        tr
          td id
          td string
          td
          td App element ID attribute
    h2 Examples
    p Passing all parameters in `params` prop
    :code(lang="svelte")
      <App params={f7params}>
        ...
      </App>
      <script>
        import { App } from 'framework7-svelte';
        import AboutPage from './about.svelte';
        import ServicesPage from './services.svelte';

        const f7params = {
          name: 'My App',
          id: 'com.myapp.test',
          // routes
          routes: [
            {
              path: '/about/',
              component: AboutPage,
            },
            {
              path: '/services/',
              component: ServicesPage,
            },
          ],
          // ... other params
        }
      </script>
    p Passing routes in separate prop:
    :code(lang="svelte")
      <App params={f7params} routes={routes}>
        ...
      </App>
      <script>
        import { App } from 'framework7-svelte';
        import routes from './routes';

        const f7params = {
          name: 'My App',
          id: 'com.myapp.test',
          // ... other params
        };
      </script>
