extends ../_docs-template

block vars
  - var activeLink = 'svelte';
  - var title = 'Autocomplete Svelte Component | Framework7 Svelte Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    .motion-docs-page-title
      h1 Autocomplete Svelte Component
      script(async src="/js/motion/autocomplete.js")
      f7-motion-autocomplete(motion)
    p There is no specific Autocomplete Svelte component, you need to use core <a href="../docs/autocomplete.html">Autocomplete component</a>.
    h2 Examples
    +examplePreview('svelte', 'autocomplete.svelte', 'autocomplete')
