extends ../_docs-template

block vars
  - var activeLink = 'svelte';
  - var title = 'Data Table Svelte Component | Framework7 Svelte Documentation';

block docs-index

block content
  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    .motion-docs-page-title
      h1 Data Table Svelte Component
      script(async src="/js/motion/datatable.js")
      f7-motion-datatable(motion)
    p There is no specific Data Table Svelte component, you need to use core <a href="../docs/data-table.html">Data Table component</a>.
    h2 Examples
    +examplePreview('svelte', 'data-table.svelte', 'data-table')
