extends ../_docs-template

block vars
  - var activeLink = 'svelte';
  - var title = 'Framework7 Svelte';

block content
  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    h1 Framework7 Svelte
    p Bring components-syntax, structured data and data bindings to Framework7 with power and simplicity of Svelte
    :code(lang="svelte")
      <App>

        <Panel left cover themeDark>
          <Navbar title="Left Panel" />
          <Block>Left panel content</Block>
        </Panel>

        <Panel right reveal>
          <Navbar title="Right Panel" />
          <Block>Right panel content</Block>
        </Panel>

        <View main>
          <Page>
            <Navbar title="My App" />
            <Block>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend, elit vitae scelerisque vulputate, tortor velit tempus dui, et luctus tellus justo nec velit. Duis scelerisque in tellus et pretium. Ut faucibus fringilla risus, ut dapibus nunc vehicula sit amet. Donec posuere nunc non fermentum commodo.</p>
            </Block>
            <Block>
              <Segmented>
                <Button panelOpen="left">Left Panel</Button>
                <Button panelOpen="right">Right Panel</Button>
              </Segmented>
            </Block>
            <List>
              {#each [1, 2, 3] as n}
                <ListItem title={`Item ${n}`} />
              {/each}
            </List>
          </Page>
        </View>

      </App>
    p.docs-start-button
      a(href="introduction.html") Get Started
