extends ../_docs-template

block vars
  - var title = 'Framework7 Svelte Package Structure | Framework7 Documentation';

block content
  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    +improveDocsLink
    h1 Framework7 Svelte Package Structure
    ul.docs-index
    h2 Package
    p Framework7 Svelte package contains the following files and folders:
    :code(lang="html")
      framework7-svelte/
          bundle/
          cjs/
            components/
              accordion.js
              accordion-content.js
              ...
            framework7-svelte.js
          components/
              accordion/
                package.json
              accordion-item/
                package.json
              ...
          esm/
            components/
              accordion.js
              accordion-content.js
              ...
            framework7-svelte.js

    h2 Svelte Plugin
    p Framework7 Svelte plugin provided as ES/CJS module:
    :code(lang="js")
      // Import Framework7 Core
      import Framework7 from 'framework7/lite';
      /*
      Or import bundle with all components:
      import Framework7 from 'framework7/lite-bundle';
      */

      // Import Framework7 Svelte
      import Framework7Svelte from 'framework7-svelte';

      // Init plugin
      Framework7.use(Framework7Svelte)

    .important-note
      p
        b By default it exports only Framework7-Svelte plugin without any Svelte components. To import components separately, we need to use named import:
      :code(lang="svelte")
        <App>
          <View>
            ...
          </View>
        </App>
        <script>
          import { App, View } from 'framework7-svelte';
        </script>
