extends ../_docs-template

block vars
  - var activeLink = 'svelte';
  - var title = 'Radio Svelte Component | Framework7 Svelte Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    +improveDocsLink
    h1 Radio Svelte Component
    ul.docs-index
    p Radio Svelte component represents <a href="../docs/radio.html">Radio</a> component.
    h2 Radio Components
    p There are following components included:
    ul
      li `Radio`
    h2 Radio Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;Radio&gt; properties
        tr
          td checked
          td boolean
          td
          td Defines whether the radio input is checked or not
        tr
          td name
          td string<br>number
          td
          td Radio input name
        tr
          td value
          td string<br>number<br>boolean
          td
          td Radio input value
        tr
          td disabled
          td boolean
          td
          td Defines whether the radio input is disabled
        tr
          td readonly
          td boolean
          td
          td Defines whether the radio input is readonly
    h2 Radio Events
    table.events-table
      thead
        tr
          th Event
          th Description
      tbody
        tr
          th(colspan="2") &lt;Radio&gt; events
        tr
          td change
          td Event will be triggered when radio input state changed
    h2 Radios List
    p Radios List is not a separate component, but just a particular case of using <a href="list-view.html">`<List>`</a>, <a href="list-item.html">`<ListItem>`</a>.
    :code(lang="svelte")
      <List>
        <!-- Additional "radio" prop to enable radio list item -->
        <ListItem radio value="check_1" name="demo-radio" checked title="Radio 1" />
        <ListItem radio value="check_2" name="demo-radio" title="Radio 2" />
      </List>

    .with-device
      h2(data-device-preview="../docs-demos/svelte/radio.html") Examples
      include:svelteSource ../docs-demos/svelte/radio.svelte
