extends ../_docs-template

block vars
  - var activeLink = 'svelte';
  - var title = 'Skeleton Svelte Component | Framework7 Svelte Documentation';

block content
  include ../_docs-demo-device

  .docs-nav
    include ../_docs-menu-svelte
  .docs-content
    +improveDocsLink
    h1 Skeleton Svelte Component
    ul.docs-index
    p Skeleton elements (aka UI Skeletons, Skeleton Screens, Ghost Elements) are basically "gray box" representations of UI that will be available soon. They are designed to improve perceived performance.
    p Skeleton Svelte component represents <a href="../docs/skeleton.html">Skeleton</a> component.
    h2 Skeleton Components
    p There are following components included:
    ul
      li `SkeletonBlock`
      li `SkeletonText`
    h2 Skeleton Properties
    table.params-table
      thead
        tr
          th Prop
          th Type
          th Default
          th Description
      tbody
        tr
          th(colspan="4") &lt;SkeletonBlock&gt; properties
        tr
          td width
          td string<br>number
          td
          td Skeleton block width
        tr
          td height
          td string<br>number
          td
          td Skeleton block height
        tr
          td tag
          td string
          td div
          td Skeleton block tag. Can be `div` or `span`

        tr
          th(colspan="4") &lt;SkeletonText&gt; properties
        tr
          td width
          td string<br>number
          td
          td Skeleton text element width
        tr
          td height
          td string<br>number
          td
          td Skeleton text element height
        tr
          td tag
          td string
          td span
          td Skeleton text element tag. Can be `div` or `span`

    .with-device
      h2(data-device-preview="../docs-demos/svelte/skeleton.html") Examples
      include:svelteSource ../docs-demos/svelte/skeleton.svelte
